Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Add changelog
  changelog.d/20260824_112602_aleksey.zinovyev_new_interval_actions.md
Due: none

Adjust tests
  tests/cypress/e2e/audio_workspace/case_audio_09_delete_via_sidebar.js
  tests/cypress/e2e/audio_workspace/case_audio_15_region_details_content.js
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
  tests/cypress/support/commands_audio.js
Due: none

Use Ctrl for object selection toggles
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/utils/multi-selection.ts
  multiselection-architecture.excalidraw
Due: cvat-ui

fix calls
  tests/cypress/support/commands_audio.js
Due: none

fix calls
  tests/cypress/support/commands_audio.js
  tests/cypress/support/utils.cy.js
Due: none

Use black border for selection box
  cvat-canvas/src/scss/canvas.scss
Due: cvat-ui

use audio commands to delete annos
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
Due: none

Add selection lock and pin actions
  cvat-core/src/annotations-collection.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Fix raw validation for number attributes
  cvat-ui/src/components/labels-editor/common.ts
Due: cvat-ui

hide a private audio util
  tests/cypress/support/commands_audio.js
  tests/cypress/support/utils.cy.js
Due: none

Add regression test for number attribute validation
  tests/cypress/e2e/features/raw_number_attribute_validation.js
Due: none

Restore object selection through history
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/enums.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Defer cloud storage client creation during data deletion
  cvat/apps/engine/signals.py
Due: cvat-server

added changelog entry
  changelog.d/20260824_095204_sekachev.bs_fixed_memory_leak.md
Due: none

add vis checks to audio wrapper
  tests/cypress/support/commands_audio.js
Due: none

Increase opacity of selected objects
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Revert "add vis checks to audio wrapper"
  tests/cypress/support/commands_audio.js
Due: none

e2e `audio_workspace`: use generic annotation saving logic (#11055)
  tests/cypress/e2e/audio_workspace/case_audio_19_save_persists.js
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_audio.js
Due: none

Remove `AnnotationGuide.is_public`
  cvat/apps/engine/admin.py
  cvat/apps/engine/migrations/0107_remove_annotationguide_is_public.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
Due: cvat-server

Cover the number attribute range in the existing raw labels e2e spec
  tests/cypress/e2e/issues_prs2/issue_11034_number_attribute_raw_editor.js
  tests/cypress/e2e/issues_prs2/issue_1498_message_ui_raw_labels_wrong.js
Due: none

Add range and select-all object selection
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

Share the number range checks between both label editors
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

Apply label shortcuts to object selections
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
Due: cvat-ui

Remove `AnnotationGuide.is_public` (#11001)
  cvat/apps/engine/admin.py
  cvat/apps/engine/migrations/0107_remove_annotationguide_is_public.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
Due: cvat-server

refactor(sdk-examples): embed scripts via Hugo shortcode instead of copying them
  .gitignore
  site/build_docs.py
  site/content/en/docs/api_sdk/sdk/_index.md
  site/content/en/docs/api_sdk/sdk/examples/_index.md
  site/content/en/docs/api_sdk/sdk/examples/authentication.md
  site/content/en/docs/api_sdk/sdk/examples/cloud-storage.md
  site/content/en/docs/api_sdk/sdk/examples/jobs.md
  site/content/en/docs/api_sdk/sdk/examples/projects.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
  site/layouts/shortcodes/include-code.html
Due: none

Hotfix
  site/build_docs.py
Due: none

Hotfix CI
  site/build_docs.py
Due: none

Defer cloud storage client creation during data deletion (#11078)
  changelog.d/20260824_095204_sekachev.bs_fixed_memory_leak.md
  cvat/apps/engine/signals.py
Due: cvat-server

Adjust README.md file
  site/README.md
Due: none

Raise the number range errors instead of returning them
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

Remove redundant logic
  site/README.md
  site/build_docs.py
Due: none

initial docs
  site/content/en/docs/qa-analytics/auto-qa.md
  site/content/en/images/honeypot01.webp
  site/content/en/images/honeypot02.webp
  site/content/en/images/honeypot03.webp
  site/content/en/images/honeypot10.webp
Due: none

Extracted icons as svg, added margin between groups
  cvat-ui/src/assets/play-range-icon.svg
  cvat-ui/src/assets/seek-to-end-icon.svg
  cvat-ui/src/assets/seek-to-start-icon.svg
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-actions.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-play-icon.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-playback-icon.tsx
  cvat-ui/src/icons.tsx
Due: cvat-ui

feat(sdk-examples): add domain-organized SDK examples (#11049)
  .gitignore
  changelog.d/20260814_211211_sdk_domain_examples.md
  cvat-sdk/examples/README.md
  cvat-sdk/examples/auth_cli.py
  cvat-sdk/examples/auth_profile.py
  cvat-sdk/examples/auth_token.py
  cvat-sdk/examples/cloud_storage_register.py
  cvat-sdk/examples/job_assign.py
  cvat-sdk/examples/job_list.py
  cvat-sdk/examples/job_workflow.py
  cvat-sdk/examples/project_backup.py
  cvat-sdk/examples/project_create_and_list.py
  cvat-sdk/examples/project_export_dataset.py
  cvat-sdk/examples/project_restore.py
  cvat-sdk/examples/task_create_from_cloud.py
  cvat-sdk/examples/task_inspect_and_export.py
  cvat-sdk/examples/tasks_bulk_from_cloud.py
  site/README.md
  site/build_docs.py
  site/content/en/docs/api_sdk/sdk/_index.md
  site/content/en/docs/api_sdk/sdk/examples/_index.md
  site/content/en/docs/api_sdk/sdk/examples/authentication.md
  site/content/en/docs/api_sdk/sdk/examples/cloud-storage.md
  site/content/en/docs/api_sdk/sdk/examples/jobs.md
  site/content/en/docs/api_sdk/sdk/examples/projects.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
  site/layouts/shortcodes/include-code.html
  tests/python/sdk/test_examples.py
Due: cvat-server

Cover the remaining number range branches
  tests/cypress/e2e/issues_prs2/issue_1498_message_ui_raw_labels_wrong.js
Due: none

Add selection lock and pin shortcuts
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

comment fixes
  cvat-core/src/quality/index.ts
  cvat-core/src/quality/quality-requirement-utils.ts
  cvat-core/src/quality/server-response-types.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-utils.ts
  cvat-ui/src/components/quality-control/styles.scss
  tests/cypress/e2e/features2/quality_requirements_ui.js
Due: cvat-ui

Fix validation of numerical attributes in the raw label editor (#11047)
  changelog.d/20260814_132543_parman_fix_11034.md
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/label-form.tsx
  tests/cypress/e2e/issues_prs2/issue_1498_message_ui_raw_labels_wrong.js
Due: cvat-ui

Change default shortcuts
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-regions-list.tsx
  tests/cypress/e2e/audio_workspace/case_audio_37_interval_actions.js
Due: cvat-ui

Consistent icon sizes
  cvat-ui/src/assets/play-range-icon.svg
  cvat-ui/src/assets/seek-to-end-icon.svg
  cvat-ui/src/assets/seek-to-start-icon.svg
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-actions.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_interval-header.scss
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
