Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

bugfix with tmp tests for 3D annotation (like 2D test_annotation)
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/tests/test_annotation_3D.py
Due: cvat-server

Update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Use commit from the develop branch
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Update changelog
  changelog.d/20251226_181106_mzhiltsov_optimize_yolo_classification_import.md
Due: none

Use pathlib for manifest paths
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
  utils/dataset_manifest/core.py
  utils/dataset_manifest/create.py
Due: cvat-server

Use pathlib for manifest paths (#10164)
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
  utils/dataset_manifest/core.py
  utils/dataset_manifest/create.py
Due: cvat-server

Refactor code
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/views.py
Due: cvat-server

linters
  cvat/apps/dataset_manager/tests/test_annotation_3D.py
Due: cvat-server

Optimize ultralytics yolo classification import (#10163)
  changelog.d/20251226_181106_mzhiltsov_optimize_yolo_classification_import.md
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

changelog
  changelog.d/20251229_140724_grigorio714_annotations_download_error.md
Due: none

Extract rq job manager into separate file
  cvat/apps/quality_control/manager.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/views.py
Due: cvat-server

Extract annotation matching and report contents into separate files
  cvat/apps/consensus/intersect_merge.py
  cvat/apps/consensus/merging_manager.py
  cvat/apps/quality_control/annotation_matching.py
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/utils.py
Due: cvat-server

Refactor quality control app layout
  cvat/apps/consensus/intersect_merge.py
  cvat/apps/consensus/merging_manager.py
  cvat/apps/quality_control/annotation_matching.py
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/manager.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/utils.py
  cvat/apps/quality_control/views.py
Due: cvat-server

Rename rq job manager class
  cvat/apps/quality_control/queue_manager.py
  cvat/apps/quality_control/views.py
Due: cvat-server

test
  cvat/apps/dataset_manager/tests/test_annotation_3D.py
Due: cvat-server

t
  cvat/apps/consensus/models.py
  cvat/apps/quality_control/annotation_matching.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/views.py
Due: cvat-server

tests
  tests/python/rest_api/test_tasks.py
Due: none

linters
  tests/python/rest_api/test_tasks.py
Due: none

Unify docker images for pytorch models
  docker-compose.dev.yml
  serverless/Dockerfile-pytorch-unified
  serverless/Dockerfile-pytorch-unified-base
  serverless/pytorch/anomalib/Dockerfile-gpu
  serverless/pytorch/glass/nuclio/Dockerfile
  serverless/pytorch/glass/nuclio/function-gpu-cuda12.8.yaml
  serverless/pytorch/u2net/nuclio/Dockerfile
  serverless/pytorch/u2net/nuclio/function-gpu-cuda12.8.yaml
  startup-gpu-cuda12.8-optimized.sh
Due: none

Prevent potential text overflow on Requests page
  cvat-ui/src/components/requests-page/styles.scss
Due: cvat-ui

reducing the exception scope
  cvat/apps/engine/task.py
Due: cvat-server

align manifest order to sort order in task creation
  cvat/apps/engine/task.py
Due: cvat-server

Update cvat/apps/engine/task.py
  cvat/apps/engine/task.py
Due: cvat-server

update comments
  tests/python/rest_api/test_tasks.py
Due: none

Add the tesk case for manifest order mismatch
  tests/python/rest_api/test_tasks.py
Due: none

Feat AutoClassify mode for AI tools
  cvat-core/src/enums.ts
  cvat-core/src/lambda-manager.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/model-runner-modal/auto-classifier-runner.tsx
  cvat-ui/src/components/models-page/actions-menu.tsx
  cvat-ui/src/components/models-page/models-page.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/models-reducer.ts
  cvat/apps/lambda_manager/models.py
  cvat/apps/lambda_manager/views.py
  serverless/pytorch/ultralytics/function-gpu.yaml
  serverless/pytorch/ultralytics/main.py
  serverless/pytorch/ultralytics/model_handler.py
  serverless/pytorch/ultralytics/weights/README.md
Due: cvat-ui, cvat-server

Fix AI tools UI
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

docs: 添加从头扫描的待汉化清单
  components/analytics/grafana_conf.yml
  cvat-ui/src/components/header/header.tsx
  docker-compose.yml
  docs/待汉化清单_从头扫描.md
Due: cvat-ui

Fix select bug
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

update doc about handle
  serverless/pytorch/ultralytics/main.py
Due: none

Initial implementation
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/object-state.ts
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/webpack.config.js
  cvat/apps/consensus/intersect_merge.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/migrations/0096_add_annotation_score_field.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

docker: fix CRLF in entry configs
  Dockerfile
Due: none

docs: add Chinese local Docker usage guide
  docs/使用说明_本地Docker启动与使用.md
Due: none

docs: add admin reset after down -v
  docs/使用说明_本地Docker启动与使用.md
Due: none

docs: add deployment export notes and CVAT labeling guide
  docs/使用说明_CVAT标注功能入门.md
  docs/使用说明_本地Docker启动与使用.md
Due: none

chore: cleanup dev artifacts and enforce LF
  .gitattributes
  .gitignore
  cvat-page-2026-01-05T16-15-09-411Z.png
  cvat-ui/dist/favicon.ico
Due: cvat-ui

docs: add handoff guide
  docs/交付与接力指南.md
  docs/使用说明_本地Docker启动与使用.md
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
