Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Support audio task backup import
  cvat/apps/engine/backup.py
Due: cvat-server

Remove extra code
  cvat/apps/engine/backup.py
Due: cvat-server

Add missing annotation score in backups
  cvat/apps/engine/backup.py
Due: cvat-server

Fix annotation.json date
  cvat/apps/engine/backup.py
Due: cvat-server

Add tests
  tests/python/rest_api/test_tasks.py
Due: none

Update changelog
  changelog.d/20260402_192119_mzhiltsov_fix_backups.md
Due: none

Format code
  cvat/apps/engine/backup.py
Due: cvat-server

Add missing list prefetches
  cvat/apps/engine/serializers.py
Due: cvat-server

Now supervisord writes logs only to stdout, not to files in the /home/django/logs/ directory (#10437)
  changelog.d/20260402_171923_andrey_container_logging.md
  supervisord/reusable/supervisord.conf
Due: none

Validate that viewsets with organization parameters actually apply an organization filter
  cvat/apps/engine/views.py
  cvat/apps/iam/filters.py
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/utils.rego
  cvat/apps/quality_control/views.py
Due: cvat-server

Enable Traefik dashboard and configure entry points in docker-compose
  docker-compose.yml
Due: none

Add CSRF and CORS configuration options to docker-compose
  docker-compose.yml
Due: none

Apply rotation to the points
  cvat-canvas/src/typescript/shared.ts
Due: cvat-ui

Init version
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/annotations-actions/polygon-simplify-action.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Add changelog
  changelog.d/20260403_073653_klakhov_fix_snap_with_rotation.md
Due: none

Refactor polygon simplify control
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
Due: cvat-ui

Add tooltip, improve styles
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Add shortcut, improve polyline usage
  cvat-core/src/annotations-actions/polygon-simplify-action.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Fix shortcts and default setting
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Update icon
  cvat-ui/src/assets/simplify-icon.svg
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/icons.tsx
Due: cvat-ui

Removed GT COMPLETED,ACCEPTANCE req
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/queue_manager.py
  tests/python/rest_api/test_quality_control.py
Due: cvat-server

Update docker-compose to use dynamic versioning for Nuclio and Postgres images
  components/serverless/docker-compose.serverless.yml
  docker-compose.yml
Due: none

Fixed some empty-mask issues
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/lambda-manager.ts
  cvat-core/src/object-utils.ts
  cvat-core/src/rle-utils.ts
  cvat-ui/plugins/sam/src/ts/index.tsx
Due: cvat-ui

removed deletion of /usr/bin/infocmp as it was fixed in base image
  ai-models/agents_deployment/sam2/Dockerfile
  ai-models/agents_deployment/transformers/Dockerfile
  ai-models/agents_deployment/yolo/Dockerfile
Due: none

Update ai-models/agents_deployment/sam2/docker-compose.yaml
  ai-models/agents_deployment/sam2/docker-compose.yaml
Due: none

refactor gpu agent to extend cpu agent
  ai-models/agents_deployment/transformers/.env
  ai-models/agents_deployment/transformers/docker-compose.yaml
  ai-models/agents_deployment/yolo/docker-compose.yaml
Due: none

Applied comments
  cvat-core/src/lambda-manager.ts
  cvat-ui/plugins/sam/src/ts/index.tsx
Due: cvat-ui

Slightly renamed
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

Add changelog entry
  changelog.d/20260403_171717_roman_rm_organization_filter.md
Due: none

Improve comment
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Remove extra assignment and rename variable
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Update docker-compose to use environment variable for CVAT_POSTGRES_HOST and add healthcheck for cvat_server
  docker-compose.yml
Due: none

Update healthcheck endpoint for cvat_server service in docker-compose
  docker-compose.yml
Due: none

Fix invalid CSS selector in skeleton setupEdge with quoted node IDs
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Update implementation
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/polygon-simplify-action.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/approximation-accuracy.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/utils/opencv-wrapper/object-cv-utils.ts
Due: cvat-ui

Rename
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/utils/opencv-wrapper/object-cv-utils.ts
Due: cvat-ui

Solve opencv deps problem
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/annotations-actions/polygon-simplify.ts
  cvat-core/src/object-utils.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/polygon-simplify-control.tsx
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

Removed old default req
  cvat/apps/quality_control/quality_calculators.py
Due: cvat-server

[DEV-831] update helm chart for GPU support + topology features
  ai-models/agents_deployment/helm/templates/deployment.yaml
  ai-models/agents_deployment/helm/templates/helpers.tpl
  ai-models/agents_deployment/helm/templates/job.yaml
  ai-models/agents_deployment/helm/templates/job_cleanup.yaml
  ai-models/agents_deployment/helm/test_template
  ai-models/agents_deployment/helm/values.yaml
Due: none

added volume
  ai-models/agents_deployment/helm/templates/deployment.yaml
  ai-models/agents_deployment/helm/templates/job.yaml
  ai-models/agents_deployment/helm/values.yaml
Due: none
