Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

a
  .github/workflows/main.yml
Due: none

Removed print
  tests/python/rest_api/test_tasks.py
Due: none

d
  .github/workflows/main.yml
Due: none

wording
  site/content/en/docs/manual/advanced/formats/_index.md
Due: none

Updated three.js v126 -> v156
  cvat-canvas3d/package.json
  cvat-canvas3d/src/typescript/canvas3dView.ts
  cvat-canvas3d/src/typescript/cuboid.ts
  yarn.lock
Due: none

formats update
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-cityscapes.md
Due: none

fixed import in models actions
  cvat-ui/src/actions/models-actions.ts
Due: cvat-ui

Add test for mouseover mask/skeleton (#6828)
  tests/cypress/e2e/actions_tasks2/case_111_settings_text_size_position_label_content.js
  tests/cypress/e2e/features/masks_basics.js
  tests/cypress/support/commands.js
Due: none

White points
  cvat-canvas3d/src/typescript/canvas3dView.ts
Due: none

Update cvat-data/src/ts/cvat-data.ts
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Include cloud storage manifest file to selected files
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

Keep sequence of files when directories were specified in server_files
  cvat/apps/engine/task.py
Due: cvat-server

Add test
  tests/python/rest_api/test_tasks.py
Due: none

Fix black issue
  tests/python/rest_api/test_tasks.py
Due: none

small fixes
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-kitti.md
  site/content/en/docs/manual/advanced/formats/format-mot.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Do not reload the page when changing job state
  cvat-core/src/session-implementation.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/actions/jobs-actions.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/containers/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

rework helm tests pipeline
  .github/workflows/helm.yml
  .github/workflows/main.yml
  helm-chart/test.values.yaml
Due: none

rest_api tests for task creation: refresh cache each before each test
  tests/python/rest_api/test_tasks.py
Due: none

reduce size of test assets
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
Due: none

remove print
  tests/python/rest_api/test_tasks.py
Due: none

Do not log server-related errors
  cvat-core/src/download.worker.js
  cvat-core/src/server-proxy.ts
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Abort extra change
  tests/cypress/e2e/actions_tasks3/case_107_connected_file_share.js
Due: none

Enabled logging for all the errors
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Skip test for now
  tests/python/rest_api/test_tasks.py
Due: none

Fixed couple of tests
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-point-context-menu.tsx
  tests/cypress/e2e/actions_objects/case_34_drawing_with_predefined_number_points.js
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: cvat-ui

v1.56.1
  cvat-ui/package.json
Due: cvat-ui

Removed unnecessary exception class
  cvat-core/src/api.ts
  cvat-core/src/exceptions.ts
  cvat-core/src/plugins.ts
  cvat-ui/src/utils/git-utils.ts
Due: cvat-ui

Fixed path
  cvat-core/src/plugins.ts
Due: cvat-ui

Update cvat-ui/src/components/file-manager/remote-browser.tsx
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

removed public plugin
  cvat-core/src/lambda-manager.ts
  cvat-ui/src/actions/plugins-actions.ts
  cvat-ui/src/reducers/plugins-reducer.ts
  cvat-ui/src/utils/lambda-utils.ts
Due: cvat-ui

Extended error logging (#6844)
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/api.ts
  cvat-core/src/download.worker.js
  cvat-core/src/exceptions.ts
  cvat-core/src/plugins.ts
  cvat-core/src/server-proxy.ts
  cvat-data/src/ts/cvat-data.ts
  cvat-data/src/ts/unzip_imgs.worker.js
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-point-context-menu.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/utils/git-utils.ts
  tests/cypress/e2e/actions_objects/case_34_drawing_with_predefined_number_points.js
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: cvat-ui

passed action creators to plugins
  cvat-ui/src/components/plugins-entrypoint.tsx
  yarn.lock
Due: cvat-ui

supported model item top bar plugins
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/components/models-page/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

changed empty preview to `null`
  cvat-core/src/ml-model.ts
Due: cvat-ui

Some refactoring applied
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/jobs-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/containers/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Added test to check rotated tif image (#6842)
  tests/mounted_file_share/images/exif_rotated/tif_left.tif
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
Due: none

fixed eslint
  cvat-core/src/server-proxy.ts
Due: cvat-ui
