Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Hotfix: correct consensus score is missing (#10247)
  changelog.d/20260202_134350_klakhov_consensus_hotfix.md
  cvat/apps/engine/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_consensus.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
Due: cvat-server

Implement playback speed selector and update frame speed settings
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/player-buttons.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/components/header/settings-modal/player-settings.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
  tests/cypress/e2e/actions_tasks3/case_50_settings_player_speed.js
Due: cvat-ui

Update changelog
  CHANGELOG_DIGITALSENSE.md
Due: none

Added documentation about disabling registration/login (#10251)
  site/content/en/docs/account_management/disable-basic-authentication.md
  site/content/en/docs/administration/enterprise/kubernetes.md
Due: none

Applied fixes
  changelog.d/20250205_223039_15961653+arianizadi.md
  cvat-ui/src/assets/background-icon.svg
  cvat-ui/src/assets/foreground-icon.svg
  cvat-ui/src/assets/next-layer-icon.svg
  cvat-ui/src/assets/previous-layer-icon.svg
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  site/content/en/docs/annotation/annotation-editor/objects-sidebar.md
  tests/cypress/e2e/actions_objects2/case_16_z_order_features.js
Due: cvat-ui

Applied fixes
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Applied fixes
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Applied fixes
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/icons.tsx
Due: cvat-ui

Applied fixes
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

Fix lightweight backups
  cvat/apps/engine/backup.py
  cvat/apps/engine/task.py
  utils/dataset_manifest/__init__.py
Due: cvat-server

Support creating video tasks directly from cloud storage
  cvat/apps/engine/cache.py
  cvat/apps/engine/task.py
Due: cvat-server

Create a generic `Data.get_openable` method
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Fix heavyweight backups
  cvat/apps/engine/backup.py
Due: cvat-server

Add the possibility to export tasks to a server path
  cvat-core/src/enums.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/storage.ts
  cvat-ui/src/components/storage/storage-field.tsx
  cvat/apps/engine/background.py
  cvat/apps/engine/location.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/models.py
  cvat/apps/engine/utils.py
Due: cvat-ui, cvat-server

mount server path
  docker-compose.override.yml
Due: none

Enhance Annotation Layer Changes: Relative zOrder Updates (#9063)
  changelog.d/20250205_223039_15961653+arianizadi.md
  cvat-ui/src/assets/background-icon.svg
  cvat-ui/src/assets/next-layer-icon.svg
  cvat-ui/src/assets/previous-layer-icon.svg
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/icons.tsx
  site/content/en/docs/annotation/annotation-editor/objects-sidebar.md
  tests/cypress/e2e/actions_objects2/case_16_z_order_features.js
Due: cvat-ui

Bump the skip threshold
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

dedicated serializer for event logging
  cvat/apps/engine/serializers.py
  cvat/apps/events/handlers.py
  cvat/schema.yml
Due: cvat-server

fixing schema
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

Apply suggestions from code review
  cvat-ui/src/components/common/cvat-tag.tsx
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

small fixes
  cvat-ui/src/components/common/cvat-tag.tsx
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/task-page/jobs-filter-configuration.ts
Due: cvat-ui

small fixes
  changelog.d/20260126_133853_dmitrii.lavrukhin_flatten_job_list.md
  cvat/apps/engine/serializers.py
  tests/cypress/e2e/features2/consensus.js
Due: cvat-server

Blacken engine/task.py
  cvat/apps/engine/task.py
  pyproject.toml
Due: cvat-server

Blacken `engine/task.py` (#10258)
  cvat/apps/engine/task.py
  pyproject.toml
Due: cvat-server

bulk new actions
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
Due: cvat-ui

removing useResourceFilteringQuery
  cvat-ui/src/components/resource-sorting-filtering/hooks.ts
  cvat-ui/src/components/resource-sorting-filtering/index.ts
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Add SAM model
  serverless/Dockerfile-pytorch-unified
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu-cuda12.8.yaml
Due: none

Keep the interactor active after selectin one object
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

replacing has_replicas field with replicas_count
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/annotations.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session.ts
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat/apps/engine/serializers.py
  cvat/schema.yml
  tests/python/shared/assets/jobs.json
Due: cvat-ui, cvat-server

fix
  cvat-core/src/session.ts
Due: cvat-ui

Add support for path objects in some cloud storage methods
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
Due: cvat-server

Add support for path objects in some cloud storage methods (#10259)
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
Due: cvat-server

Add SAM to nuclio models
  serverless/Dockerfile-pytorch-unified
  serverless/gpu_functions.txt
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu-cuda12.8.yaml
  serverless/pytorch/glass/nuclio/function-gpu-cuda12.8.yaml
  serverless/pytorch/u2net/nuclio/function-gpu-cuda12.8.yaml
Due: none

Update Changelog
  CHANGELOG_DIGITALSENSE.md
Due: none

Update Changelog
  CHANGELOG_DIGITALSENSE.md
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

Improve typing of `{import,export}_resource_{from,to}_cloud_storage`
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
