Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

pylint && typo
  cvat/apps/engine/background.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

squash repeated YOLO ifs, same annos for MOT and YOLO Detection Track
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

handle COCO Keypoints and YOLO Pose together (skeletons)
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

remove polygons from OpenImage testing
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

update quality settings not to use FieldUpdateTrigger
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

Refactor QualityControlPage to use custom hooks for instance type and ID; remove deprecated instance-helper functions
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/utils/instance-helper.ts
Due: cvat-ui

Refactor server-proxy to replace fetchAggregatedResource with individual async functions for tasks, jobs, quality settings, and reports
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Refactor job filter configuration by removing the base filter file and integrating fields directly into job and task filter configurations
  cvat-ui/src/components/common/filters/job-filter-configuration-base.ts
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
  cvat-ui/src/components/quality-control/task-quality/jobs-filter-configuration.ts
  cvat-ui/src/components/resource-sorting-filtering/filtering.tsx
  cvat-ui/src/components/task-page/jobs-filter-configuration.ts
Due: cvat-ui

Rename tab classes for Consensus and Quality Control pages to improve specificity and maintainability
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/consensus-management-page/styles.scss
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/styles.scss
Due: cvat-ui

Refactor QualitySettings save method to directly use transformed data and remove unnecessary field filtering
  cvat-core/src/quality-settings.ts
Due: cvat-ui

fix LFW, put tags to tags
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

fix 3D formats; todo fix/report KITTI Raw bad order of shapes
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Refactor QualityControlPage to simplify instance type handling and improve error management
  cvat-ui/src/components/quality-control/quality-control-page.tsx
Due: cvat-ui

Refactor QualitySettingsTab to improve import organization and handle jobFilter with nullish coalescing
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
Due: cvat-ui

Refactor QualityControlPage to use nullish coalescing and include childrenSettings in dependency array
  cvat-ui/src/components/quality-control/quality-control-page.tsx
Due: cvat-ui

Fix 500 code && do not use __class__
  cvat/apps/consensus/permissions.py
  cvat/apps/engine/permissions.py
  cvat/apps/events/permissions.py
  cvat/apps/iam/permissions.py
  cvat/apps/lambda_manager/permissions.py
  cvat/apps/log_viewer/permissions.py
  cvat/apps/organizations/permissions.py
  cvat/apps/quality_control/permissions.py
  cvat/apps/webhooks/permissions.py
Due: cvat-server

fix test
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

resource -> target
  cvat/apps/consensus/merging_manager.py
  cvat/apps/engine/background.py
  cvat/apps/engine/views.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/redis_handler/background.py
Due: cvat-server

Remove queue_name arg for the validate_request_id method
  cvat/apps/engine/background.py
  cvat/apps/events/export.py
  cvat/apps/redis_handler/background.py
Due: cvat-server

streaming import in YOLO and COCO formats (#9265)
  changelog.d/20250331_120240_dmitrii.lavrukhin_streaming_import.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/transformations.py
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
  cvat/apps/dataset_manager/tests/utils.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  tests/python/sdk/util.py
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Add return type for the build_meta method
  cvat/apps/redis_handler/background.py
Due: cvat-server

kitti suspected bug + improve logging
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

linted, blacked, refactored
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/mot.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

fix source in element attributes
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

fix misspelled kitti
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

3D tests now ignore 'source', reuse compare_objects to check annos
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

isort
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

minor refactor for sonar
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

change register
  tests/cypress/e2e/features/consensus.js
Due: none

Update AI tools documentation and replace outdated images with PNG formats
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
  site/content/en/docs/manual/basics/vocabulary.md
  site/content/en/images/image242.jpg
  site/content/en/images/tracker_indication_detrac.jpg
  site/content/en/images/tracker_indication_detrac.png
  site/content/en/images/tracker_mil_action.png
  site/content/en/images/tracker_mil_control.png
  site/content/en/images/tracker_pop-up_window.png
  site/content/en/images/tracker_switcher.jpg
  site/content/en/images/tracker_switcher.png
Due: none

Apply comments
  cvat/apps/consensus/merging_manager.py
  cvat/apps/consensus/rq.py
  cvat/apps/engine/background.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/rq.py
  cvat/apps/events/export.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/rq.py
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/background.py
  cvat/apps/redis_handler/rq.py
  cvat/apps/redis_handler/serializers.py
  cvat/apps/redis_handler/views.py
  cvat/settings/base.py
Due: cvat-server

Update service name cvat_utils to cvat_worker_utils in docker-compose.external_db.yml
  docker-compose.external_db.yml
Due: none

Add some REST API tests to check legacy rq_id format usage
  cvat/apps/consensus/merging_manager.py
  cvat/apps/engine/rq.py
  cvat/apps/redis_handler/rq.py
  tests/python/rest_api/test_requests.py
Due: cvat-server

sn/make-aws-anon-access-explicit
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

less ram on export to cvat
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

fix imports
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

changelog entry
  changelog.d/20250422_230912_dmitrii.lavrukhin_memory_optimize_cvat_export.md
Due: none

Move RequestStatus into redis_handler
  cvat/apps/engine/models.py
  cvat/apps/redis_handler/serializers.py
  cvat/apps/redis_handler/views.py
  cvat/settings/base.py
Due: cvat-server

Add REQUEST_ID_SUBCLASSES
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/rq.py
  cvat/apps/redis_handler/serializers.py
  cvat/apps/redis_handler/views.py
Due: cvat-server

Add size controls and search modal for object items in the 3d annotation workspace
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
