Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Move BytesIO handling back into VideoReader/ZipReader
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Update pylint (#10235)
  .pylintrc
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/datumaro.py
  cvat/apps/dataset_manager/formats/icdar.py
  dev/requirements.txt
Due: cvat-server

Rearrange engine models to avoid some indirect references
  cvat/apps/engine/models.py
Due: cvat-server

Rearrange engine models to avoid some indirect references (#10236)
  cvat/apps/engine/models.py
Due: cvat-server

Update IMediaReader subclasses to use `Path`s/`Openable`s (#10224)
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  utils/dataset_manifest/core.py
  utils/dataset_manifest/create.py
  utils/dataset_manifest/utils.py
Due: cvat-server

Show checkpoints available for each model in the interface
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/lambda-manager.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
  cvat/apps/lambda_manager/permissions.py
  cvat/apps/lambda_manager/views.py
  serverless/onnx/NYC-DOT/yolov11-streetlight/nuclio/main.py
  serverless/onnx/NYC-DOT/yolov11/nuclio/main.py
  serverless/onnx/WongKinYiu/yolov7/nuclio/main.py
  serverless/onnx/yolov8/nuclio/main.py
  serverless/pytorch/anomalib/models/nuclio/cfa/main.py
  serverless/pytorch/anomalib/models/nuclio/cflow/main.py
  serverless/pytorch/anomalib/models/nuclio/csflow/main.py
  serverless/pytorch/anomalib/models/nuclio/draem/main.py
  serverless/pytorch/anomalib/models/nuclio/dsr/main.py
  serverless/pytorch/anomalib/models/nuclio/efficient_ad/main.py
  serverless/pytorch/anomalib/models/nuclio/fastflow/main.py
  serverless/pytorch/anomalib/models/nuclio/fre/main.py
  serverless/pytorch/anomalib/models/nuclio/padim/main.py
  serverless/pytorch/anomalib/models/nuclio/patchcore/main.py
  serverless/pytorch/anomalib/models/nuclio/reverse_distillation/main.py
  serverless/pytorch/anomalib/models/nuclio/stfpm/main.py
  serverless/pytorch/anomalib/models/nuclio/uflow/main.py
  serverless/pytorch/glass/nuclio/main.py
  serverless/pytorch/u2net/nuclio/main.py
Due: cvat-ui, cvat-server

Update changelog
  CHANGELOG_DIGITALSENSE.md
Due: none

Update python dependencies
  cvat/requirements/base.txt
Due: cvat-server

Add Sort by Label option to the annotations side bar (#9738)
  changelog.d/20250819_195419_genaronadile_sort_by_label_annotations.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/states-ordering-selector.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

Update python dependencies (#10238)
  cvat/requirements/base.txt
Due: cvat-server

Add Clahe and sharpen to opencv filters
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/utils/image-processing.tsx
  cvat-ui/src/utils/opencv-wrapper/clahe.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
  cvat-ui/src/utils/opencv-wrapper/sharpen.ts
Due: cvat-ui

Add heatmap and gamma correction to opencv filters
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/utils/image-processing.tsx
  cvat-ui/src/utils/opencv-wrapper/heatmap.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-gamma.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
Due: cvat-ui

docs: Create CHANGELOG fragment
  changelog.d/20260130_152930_jackylamhk_helm_deployment_strategy.md
Due: none

fix(helm): Deploy server/frontend using RollingUpdate
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_frontend/deployment.yml
Due: none

fix: Make strategy configurable
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_frontend/deployment.yml
  helm-chart/values.yaml
Due: none

docs: Update CHANGELOG fragment
  changelog.d/20260130_152930_jackylamhk_helm_deployment_strategy.md
Due: none

style: Fix indent spaces
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_utils/deployment.yml
Due: none

Improve type annotations for cloud storage objects
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

ssl for inmem redis
  changelog.d/20260130_212756_vj_redis_ssl_support.md
  cvat/settings/base.py
  helm-chart/templates/_helpers.tpl
  helm-chart/values.yaml
Due: cvat-server

Add text prompt input for promptable detectors
  changelog.d/20260131_013717_son-hai.nguyen_feat_promptable_detectors.md
  cvat-core/src/core-types.ts
  cvat-core/src/ml-model.ts
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
  cvat/apps/lambda_manager/serializers.py
  cvat/apps/lambda_manager/views.py
  site/content/en/docs/annotation/auto-annotation/ai-tools.md
  site/content/en/docs/guides/serverless-tutorial.md
Due: cvat-ui, cvat-server

GUI elements changed to CVDLINK
  cvat-ui/dist/favicon.ico
  cvat/apps/engine/static/logo.svg
  cvat/apps/engine/static/logo_cvat.png
  cvat/apps/engine/static/logo_cvat.svg
  cvat/settings/base.py
  site/assets/icons/logo.svg
  site/assets/icons/logo_original.svg
  site/static/favicons/favicon-16x16.png
  site/static/favicons/favicon-16x16_cvat.png
  site/static/favicons/favicon-32x32.png
  site/static/favicons/favicon-32x32_cvat.png
  site/static/favicons/favicon.ico
  site/static/favicons/favicon_cvat.ico
Due: cvat-ui, cvat-server

fix(helm): Add individual ingress annotations (#10231)
  changelog.d/20260128_191716_jackylamhk_helm_ingress_annotations.md
  helm-chart/templates/analytics/ingress.yaml
  helm-chart/templates/ingress.yaml
  helm-chart/values.yaml
Due: none

Updated documentation
  site/content/en/docs/annotation/manual-annotation/utilities/filter.md
  site/content/en/docs/qa-analytics/auto-qa.md
  site/content/en/docs/qa-analytics/consensus.md
  site/content/en/images/consensus-score-votes.png
  site/content/en/images/consensus-settings.png
Due: none

Updated tests
  tests/python/rest_api/test_consensus.py
Due: none

Raw fix for score in serializer
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

UI: mark AUTO annotations as SEMI-AUTO on label change
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Improve type annotations for cloud storage objects (#10240)
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Revert fix
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Revert read-only
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

Fix linters
  tests/python/rest_api/test_consensus.py
Due: none

Update annotation comparisons in tests
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
Due: none

Update consensus annotation tests
  tests/python/rest_api/test_consensus.py
Due: none

Reduced size of img (5 times)
  site/content/en/images/consensus-score-votes.png
Due: none

Consensus hotfix - tests (#10249)
  tests/python/rest_api/test_consensus.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
Due: none

Consensus UX: update documentation (#10246)
  site/content/en/docs/annotation/manual-annotation/utilities/filter.md
  site/content/en/docs/qa-analytics/auto-qa.md
  site/content/en/docs/qa-analytics/consensus.md
  site/content/en/images/consensus-score-votes.png
  site/content/en/images/consensus-settings.png
Due: none

Added documentation about disabling registration/login
  site/content/en/docs/account_management/disable-basic-authentication.md
  site/content/en/docs/administration/enterprise/kubernetes.md
Due: none

Reduced one line
  site/content/en/docs/administration/enterprise/kubernetes.md
Due: none

Add changelog
  changelog.d/20260202_134350_klakhov_consensus_hotfix.md
Due: none

Implement playback speed selector and update frame speed settings
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/player-buttons.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/components/header/settings-modal/player-settings.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
  tests/cypress/e2e/actions_tasks3/case_50_settings_player_speed.js
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
