Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Rename section
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
Due: none

Update wording
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
Due: none

Update golang builder base image
  Dockerfile
Due: none

Update h11 python package
  cvat/requirements/production.txt
Due: cvat-server

Make sure all accesses to _potential_work_per_category are serialized
  cvat-cli/src/cvat_cli/_internal/agent.py
Due: cvat-server

t
  tests/python/rest_api/test_quality_control.py
Due: none

Improve response schema && remove unnecessary exception handlers
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

[aws] Improve exception message when bucket host/region is incorrect
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Update server schema
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

wip: orderless comparison
  .vscode/launch.json
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Make response readable
  cvat/apps/engine/views.py
Due: cvat-server

Fix polling in the absence of events
  cvat-cli/src/cvat_cli/_internal/agent.py
Due: cvat-server

Update test assets
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: none

SDK: Deprecate server URL scheme autodetection (#9384)
  changelog.d/20250501_200258_roman_deprecate_schema_autodetection.md
  cvat-cli/src/cvat_cli/_internal/common.py
  cvat-sdk/cvat_sdk/core/client.py
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/api_sdk/sdk/highlevel-api.md
  site/content/en/docs/api_sdk/sdk/pytorch-adapter.md
Due: cvat-server

Upgrade remark
  .remarkrc.js
  package.json
  yarn.lock
Due: none

Fix issues identified by new remark
  CHANGELOG.md
  README.md
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
  site/content/en/docs/administration/advanced/webhooks.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
  site/content/en/docs/contributing/bug-reports.md
  site/content/en/docs/contributing/running-tests.md
  site/content/en/docs/enterprise/immediate-feedback.md
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
  site/content/en/docs/enterprise/social-accounts-configuration.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/consensus.md
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/docs/manual/advanced/contextual-images.md
  site/content/en/docs/manual/advanced/dataset_manifest.md
  site/content/en/docs/manual/advanced/delete-frame.md
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/shortcuts.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/create-annotation-task.md
  site/content/en/docs/manual/basics/create-multi-tasks.md
  site/content/en/docs/manual/basics/requests-page.md
  site/content/en/docs/manual/basics/settings.md
Due: none

Update dependencies (#9392)
  Dockerfile
  cvat/requirements/production.txt
Due: cvat-server

Use selectorLabels helper for matchLabels in helm (#9358)
  changelog.d/20250423_093422_justinehlert_fix_match_labels.md
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_chunks/deployment.yml
  helm-chart/templates/cvat_backend/worker_consensus/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
  helm-chart/templates/cvat_frontend/deployment.yml
  helm-chart/templates/cvat_kvrocks/statefulset.yml
  helm-chart/templates/cvat_opa/deployment.yml
Due: none

Add Google Analytics tag
  site/config.toml
Due: none

Update Measurement ID for GA
  site/config.toml
Due: none

Upgrade remark to the latest version (#9394)
  .remarkrc.js
  CHANGELOG.md
  README.md
  package.json
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
  site/content/en/docs/administration/advanced/webhooks.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
  site/content/en/docs/contributing/bug-reports.md
  site/content/en/docs/contributing/running-tests.md
  site/content/en/docs/enterprise/immediate-feedback.md
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
  site/content/en/docs/enterprise/social-accounts-configuration.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/consensus.md
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/docs/manual/advanced/contextual-images.md
  site/content/en/docs/manual/advanced/dataset_manifest.md
  site/content/en/docs/manual/advanced/delete-frame.md
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/shortcuts.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/create-annotation-task.md
  site/content/en/docs/manual/basics/create-multi-tasks.md
  site/content/en/docs/manual/basics/requests-page.md
  site/content/en/docs/manual/basics/settings.md
  yarn.lock
Due: none

Size controls for cuboid items in the 3d workspace (#9356)
  changelog.d/20250430_162104_klakhov_add_cuboid_size_controls.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Docs: fix broken internal links and replace all such links with `ilink`
  site/content/en/docs/administration/advanced/cvat-architecture.md
  site/content/en/docs/enterprise/subscription-management.md
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/advanced/formats/format-smask.md
  site/content/en/docs/manual/advanced/single-shape.md
  site/content/en/docs/manual/advanced/skeletons.md
  site/content/en/docs/manual/basics/3d-object-annotation.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/navbar.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
Due: none

Refactor shortcut conflict resolution and improve settings restoration logic
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/utils/conflict-detector.ts
Due: cvat-ui

Added changelog
  changelog.d/20250506_125453_klakhov_fix_enable_tracking.md
Due: none

Refactor fetchAnnotations calls to ensure they are executed after state updates
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Docs: fix broken internal links and replace all such links with `ilink` (#9396)
  site/content/en/docs/administration/advanced/cvat-architecture.md
  site/content/en/docs/enterprise/subscription-management.md
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/advanced/formats/format-smask.md
  site/content/en/docs/manual/advanced/single-shape.md
  site/content/en/docs/manual/advanced/skeletons.md
  site/content/en/docs/manual/basics/3d-object-annotation.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/navbar.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
Due: none

Remove unused import
  tests/python/rest_api/test_tasks.py
Due: none

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

update server schema
  cvat/schema.yml
Due: cvat-server

fix test
  tests/python/rest_api/test_tasks.py
Due: none

making ellipse to masks transformation for a lot of formats
  cvat/apps/dataset_manager/formats/camvid.py
  cvat/apps/dataset_manager/formats/cityscapes.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/icdar.py
  cvat/apps/dataset_manager/formats/kitti.py
  cvat/apps/dataset_manager/formats/mask.py
  cvat/apps/dataset_manager/formats/mots.py
  cvat/apps/dataset_manager/formats/openimages.py
  cvat/apps/dataset_manager/formats/pascal_voc.py
  cvat/apps/dataset_manager/formats/transformations.py
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

Reduce the number of cron job runs per day
  cvat/settings/base.py
Due: cvat-server

Raise BackgroundRequestException when creating a task using SDK
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  tests/python/rest_api/test_tasks.py
  tests/python/sdk/test_tasks.py
Due: cvat-server

Add changelog
  changelog.d/20250507_101308_maria_fix_handling_deferred_jobs.md
Due: none

Automatically set a keyframe when enabling a previously disabled tracker (#9376)
  changelog.d/20250506_125453_klakhov_fix_enable_tracking.md
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Docs: add cuboid orientation and size input features for 3D annotation
  site/content/en/docs/manual/advanced/3d-object-annotation-advanced.md
  site/content/en/images/cuboid_orientation.gif
  site/content/en/images/cuboid_size_input.gif
Due: none

Fixed linter
  site/content/en/docs/manual/advanced/3d-object-annotation-advanced.md
Due: none

Add project quality report in test assets
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

sync with upstream chnages
  cvat/rq_patching.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
