Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Enabled nginx proxy buffering (#6991)
  changelog.d/20231012_113210_andrey_update_nginx_config.md
  cvat/nginx.conf
Due: cvat-server

Add changelog fragment
  changelog.d/20231012_145036_maria_fix_getting_cs_content_when_s3_contains_empty_dirs.md
Due: none

Added X-Frame-Options: deny (#6992)
  changelog.d/20231012_123219_andrey_x_frame_options.md
  cvat-ui/react_nginx.conf
  cvat/nginx.conf
Due: cvat-ui, cvat-server

Allow to upload tracks from COCO formats (#6969)
  changelog.d/20231011_153117_sizow.k.d_fix_coco_tracks_uploading.md
  cvat/apps/dataset_manager/bindings.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Set autorestart=true for all workers (#6945)
  changelog.d/20231012_181301_andrey_fix_worker_restart.md
  helm-chart/Chart.yaml
  helm-chart/test.values.yaml
  helm-chart/values.yaml
  supervisord/server.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: none

removed need help link from about modal
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/config.tsx
Due: cvat-ui

Updated for AI tools
  cvat-core/src/api.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Updated version & changelog
  changelog.d/20231013_095118_boris_optimize_masks.md
  cvat-canvas/package.json
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

Fixed minor bug from develop branch
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

Update cvat-ui/src/components/create-cloud-storage-page/styles.scss
  cvat-ui/src/components/create-cloud-storage-page/styles.scss
Due: cvat-ui

disable zookeeper
  helm-chart/Chart.yaml
  helm-chart/values.yaml
Due: none

updated changelog
  changelog.d/20231013_110048_klakhov_remove_need_help.md
Due: none

remove manual CHANGELOG entry
  CHANGELOG.md
Due: none

Add new Changelog
  changelog.d/20231013_104143_jonashiltl2003_secret_key_length.md
Due: none

Do not fetch all organization when UI opened
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/organization-actions.ts
  cvat-ui/src/components/create-task-page/project-subset-field.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/header/organizations-search.tsx
  cvat-ui/src/components/task-page/user-selector.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/reducers/organizations-reducer.ts
Due: cvat-ui

Fix getting CS content when S3 bucket contains created manually directories (#6997)
  changelog.d/20231012_145036_maria_fix_getting_cs_content_when_s3_contains_empty_dirs.md
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Significant memory optimization when working with masks (#6996)
  changelog.d/20231013_095118_boris_optimize_masks.md
  cvat-canvas/package.json
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/groupHandler.ts
  cvat-canvas/src/typescript/interactionHandler.ts
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-core/package.json
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/api.ts
  cvat-core/src/exceptions.ts
  cvat-core/src/object-utils.ts
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Add tests
  tests/python/rest_api/test_labels.py
Due: none

Update test deps
  tests/python/requirements.txt
Due: none

Removed `Need help` gitter link (#7002)
  changelog.d/20231013_110048_klakhov_remove_need_help.md
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/config.tsx
Due: cvat-ui

Update changelog.d/20231013_104143_jonashiltl2003_secret_key_length.md
  changelog.d/20231013_104143_jonashiltl2003_secret_key_length.md
Due: none

Fix missed logger arg
  cvat/apps/events/export.py
Due: cvat-server

Use redis lock when create job and queue it
  cvat/apps/engine/backup.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Fix rq id for dependent job
  cvat/apps/engine/utils.py
Due: cvat-server

Add a GitHub workflow for finalizing a release
  .github/workflows/finalize-release.yml
  .github/workflows/prepare-release.yml
  dev/gh_release_notes.sh
Due: none

Minor code fixes
  cvat-core/src/api-implementation.ts
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Aborted client changes
  cvat-core/src/api-implementation.ts
  cvat-core/src/project.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

Remote tests for content v1 endpoint
  tests/python/rest_api/test_cloud_storages.py
  tests/python/rest_api/test_tasks.py
Due: none

t
  tests/python/rest_api/test_cloud_storages.py
Due: none

Add changelog
  changelog.d/20231013_152455_maria_remove_get_cs_content_v1_endpoint.md
Due: none

Remove unused import
  tests/python/rest_api/test_cloud_storages.py
Due: none

Fix CHANGELOG
  CHANGELOG.md
Due: none

[GCS] Skip manually created dirs
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Fixed issues
  changelog.d/20231013_135447_boris_disable_fetch_all_orgs.md
  cvat-core/src/api.ts
  cvat-core/src/config.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/organization-actions.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/watchers/organization-watcher.tsx
Due: cvat-ui

fixed changelog
  CHANGELOG.md
Due: none

Fix: linter fix. remove whitespace
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

prepare to new version
  cvat-cli/requirements/base.txt
  cvat-cli/src/cvat_cli/version.py
  cvat-sdk/gen/generate.sh
  cvat/__init__.py
  cvat/schema.yml
  docker-compose.yml
  helm-chart/values.yaml
Due: cvat-server

Added alert
  cvat-ui/src/components/file-manager/remote-browser.tsx
  cvat-ui/src/components/file-manager/styles.scss
Due: cvat-ui

Better message
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

Some refactoring
  cvat-core/src/api.ts
  cvat-core/src/config.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/cvat-app.tsx
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
