Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

cvat extractor should be iterated only once
  cvat/apps/dataset_manager/tests/utils.py
Due: cvat-server

cvat extractor does not generate too many items
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

fixes
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

black fixes
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

fixing tests
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Refactor gt job tests
  tests/python/rest_api/test_tasks.py
Due: none

Apply suggestions from code review
  cvat-ui/src/components/select-cloud-storage/select-cloud-storage.tsx
  cvat-ui/src/components/task-page/cloud-storage-editor.tsx
  cvat-ui/src/components/task-page/task-page.tsx
Due: cvat-ui

fixing ui
  cvat-ui/src/components/file-manager/cloud-storages-tab.tsx
  cvat-ui/src/components/select-cloud-storage/select-cloud-storage.tsx
  cvat-ui/src/components/storage/storage-field.tsx
  cvat-ui/src/components/task-page/task-page.tsx
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-ui, cvat-server

removing cloud storage colon
  cvat-ui/src/components/select-cloud-storage/select-cloud-storage.tsx
Due: cvat-ui

margin between rows
  cvat-ui/src/components/task-page/details.tsx
Due: cvat-ui

Limit deleted frames in job meta to the job segment only (#9690)
  changelog.d/20250731_200356_mzhiltso_fix_deleted_frames_in_jobs.md
  cvat/apps/engine/views.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/tasks/utils.py
Due: cvat-server

Rename column
  components/analytics/clickhouse/001-add_api_token.cmf
Due: none

Update vector config
  components/analytics/clickhouse/README.md
  components/analytics/vector/vector.toml
Due: none

Fix uploading and downloading in sdk
  cvat-sdk/cvat_sdk/core/downloading.py
  cvat-sdk/cvat_sdk/core/uploading.py
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
Due: cvat-server

extend test eslint to perfkit, override for k6
  tests/.eslintrc.js
  tests/package.json
  tests/perf/scripts/tests/regression/tasks.js
  tests/yarn.lock
Due: none

autofix glaring eslint issues
  tests/.eslintrc.js
  tests/perf/scripts/tests/regression/tasks.js
Due: none

Add pat auth tests
  cvat/apps/api_tokens/rules/api_tokens.rego
  tests/python/rest_api/test_auth.py
  tests/python/shared/assets/api_tokens.json
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/fixtures/data.py
Due: cvat-server

ignore perfkit egg
  .gitignore
Due: none

WIP
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/transformations.py
  cvat/apps/dataset_manager/task.py
Due: cvat-server

AnnotationIR.shapes can be a list or a Callable that returns Generator
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/backup.py
Due: cvat-server

LazyFrame class
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Remove delay inbetween requests
  cvat-ui/src/utils/preview-queue.ts
Due: cvat-ui

un-update datumaro and tests for shape generation
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
  cvat/apps/dataset_manager/tests/utils.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Remove incorrect conversion to number for models
  cvat-ui/src/components/models-page/deployed-models-list.tsx
Due: cvat-ui

black fix
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

Optimization: fetch previews one by one (#9692)
  changelog.d/20250801_112748_klakhov.md
  cvat-ui/src/components/common/preview.tsx
  cvat-ui/src/utils/preview-queue.ts
Due: cvat-ui

Explicit validators registration, removing resources from empty organizations
  cvat/apps/engine/user_deletion.py
Due: cvat-server

Fixed unused imports
  cvat/apps/engine/user_deletion.py
Due: cvat-server

updated comment
  cvat/apps/engine/user_deletion.py
Due: cvat-server

fix semi rule
  tests/.eslintrc.js
Due: none

remove set version berry
  .github/workflows/eslint.yml
  .github/workflows/full.yml
  .github/workflows/main.yml
  .github/workflows/remark.yml
  .github/workflows/stylelint.yml
  Dockerfile.ui
  site/content/en/docs/contributing/development-environment.md
  site/content/en/docs/contributing/running-tests.md
Due: none

add changelog
  changelog.d/20250806_120729_oleg.valiulin_fix_test_yarn_issue.md
Due: none

fix changelog type
  changelog.d/20250806_120729_oleg.valiulin_fix_test_yarn_issue.md
Due: none

is_stream property for CommonData and AnnotationIR
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

fixing test
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

add more eslint rules
  tests/.eslintrc.js
  tests/perf/scripts/tests/warmup.js
Due: none

fix remaining linting issues
  tests/perf/scripts/libs/api/auth.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/tests/regression/tasks.js
  tests/perf/scripts/tests/warmup.js
  tests/perf/scripts/variables/variables.js
Due: none

Add basic tests for api tokens
  cvat/apps/api_tokens/models.py
  cvat/apps/api_tokens/permissions.py
  cvat/apps/api_tokens/rules/api_token_plugin.users.rego
  cvat/apps/api_tokens/views.py
  tests/python/rest_api/test_api_tokens.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/utils/config.py
Due: cvat-server

Improve json filter errors
  cvat/apps/engine/filters.py
Due: cvat-server
