Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Merge commit from fork
  changelog.d/20251106_144127_roman_dont_accept_storage.md
  cvat/apps/engine/backup.py
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

removed unnecessary redirects
  site/content/en/docs/annotation/annotation-editor/3d-task-workspace.md
  site/content/en/docs/annotation/tools/3d-object-annotation.md
  site/content/en/docs/annotation/tools/attribute-annotation-mode-basics.md
  site/content/en/docs/annotation/tools/shape-mode-basics.md
  site/content/en/docs/annotation/tools/shapes-converter.md
  site/content/en/docs/annotation/tools/standard-3d-mode-basics.md
  site/content/en/docs/annotation/tools/track-mode-basics.md
  site/content/en/docs/annotation/tools/types-of-shapes.md
Due: none

deleted unnecessary font file
  site/static/fonts/Sora/Sora-VariableFont_wght.ttf
Due: none

one more lint fix
  site/content/en/docs/workspace/tasks-page.md
Due: none

Drop using of outdated authentification method in Cypress tests
  tests/cypress/e2e/actions_objects/count_objects.js
  tests/cypress/e2e/actions_objects/test_annotations_saving.js
  tests/cypress/e2e/actions_projects_models/case_116_creating_project_by_inserting_labels_from_task.js
  tests/cypress/e2e/actions_projects_models/case_117_backup_restore_project_to_various_storages.js
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/e2e/actions_projects_models/registration_involved/base_actions_project_task_user.js
  tests/cypress/e2e/actions_tasks/case_117_paste_labels_from_another_task.js
  tests/cypress/e2e/actions_tasks/navigate_specific_frame.js
  tests/cypress/e2e/actions_tasks/registration_involved/case_39_issue_2572_rename_task.js
  tests/cypress/e2e/actions_tasks/registration_involved/case_69_filters_sorting_jobs.js
  tests/cypress/e2e/actions_tasks/task_rectangles_only.js
  tests/cypress/e2e/actions_tasks2/fit_image_different_res.js
  tests/cypress/e2e/actions_tasks3/case_118_multi_tasks.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_113_use_default_project_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_114_use_default_task_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_115_use_custom_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/test_default_attribute.js
  tests/cypress/e2e/actions_users/issue_2524_2633_issue_not_reset_after_change_task_issue_point_firefox.js
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/cypress/e2e/actions_users/registration_involved/issue_1599_ch_user_registration.js
  tests/cypress/e2e/actions_users/registration_involved/issue_1599_pl_user_registration.js
  tests/cypress/e2e/features/annotations_actions.js
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/e2e/features/masks_basics.js
  tests/cypress/e2e/features/single_object_annotation.js
  tests/cypress/e2e/features/skeletons_pipeline.js
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/e2e/features/webhooks.js
  tests/cypress/e2e/issues_prs2/issue_1568_cuboid_dump_annotation.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_organizations.js
  tests/cypress/support/commands_projects.js
Due: none

fixed a few more redirects, plus issues from sonarqube
  site/assets/scss/_styles_project.scss
  site/content/en/docs/annotation/_index.md
  site/content/en/docs/annotation/annotation-editor/settings.md
  site/content/en/docs/annotation/tools/annotation-with-cuboids/_index.md
  site/content/en/docs/annotation/tools/annotation-with-points/_index.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/_index.md
  site/layouts/partials/navbar.html
Due: none

CI: fix broken linter version printing
  .github/workflows/linters.yml
Due: none

Fixed base url
  tests/cypress/plugins/index.js
Due: none

fixed more missing aliases
  site/content/en/docs/annotation/tools/annotation-with-cuboids/creating-the-cuboid.md
  site/content/en/docs/annotation/tools/annotation-with-cuboids/editing-the-cuboid.md
  site/content/en/docs/annotation/tools/annotation-with-points/liner-interpolation-with-one-point.md
  site/content/en/docs/annotation/tools/annotation-with-points/points-in-shape-mode.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/automatic-borders.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/creating-mask.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/edit-polygon.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/manual-drawing.md
  site/content/en/docs/annotation/tools/annotation-with-polygons/track-mode-with-polygons.md
  site/content/en/docs/annotation/tools/dataset_manifest.md
  site/content/en/docs/dataset_management/formats/_index.md
  site/content/en/docs/dataset_management/formats/format-camvid.md
  site/content/en/docs/dataset_management/formats/format-cityscapes.md
  site/content/en/docs/dataset_management/formats/format-coco-keypoints.md
  site/content/en/docs/dataset_management/formats/format-coco.md
  site/content/en/docs/dataset_management/formats/format-cvat.md
  site/content/en/docs/dataset_management/formats/format-datumaro.md
  site/content/en/docs/dataset_management/formats/format-icdar.md
  site/content/en/docs/dataset_management/formats/format-imagenet.md
  site/content/en/docs/dataset_management/formats/format-kitti.md
  site/content/en/docs/dataset_management/formats/format-labelme.md
  site/content/en/docs/dataset_management/formats/format-lfw.md
  site/content/en/docs/dataset_management/formats/format-market1501.md
  site/content/en/docs/dataset_management/formats/format-mot.md
  site/content/en/docs/dataset_management/formats/format-mots.md
  site/content/en/docs/dataset_management/formats/format-openimages.md
  site/content/en/docs/dataset_management/formats/format-smask.md
  site/content/en/docs/dataset_management/formats/format-vggface2.md
  site/content/en/docs/dataset_management/formats/format-voc.md
  site/content/en/docs/dataset_management/formats/format-widerface.md
  site/content/en/docs/dataset_management/formats/format-yolo-ultralytics-classification.md
  site/content/en/docs/dataset_management/formats/format-yolo-ultralytics.md
  site/content/en/docs/dataset_management/formats/format-yolo.md
  site/content/en/docs/guides/serverless-tutorial.md
  site/content/en/docs/guides/workflow-org.md
Due: none

Added x-csrftoken header
  tests/cypress/plugins/index.js
Due: none

Added logout
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

engine: accept contextual images from file share in path validator
  cvat/apps/engine/cache.py
Due: cvat-server

fix assertion: last used is always updaed on use
  tests/cypress/e2e/actions_users/registration_involved/case_2_user_profile_page.js
Due: none

Fix issue #9978: Support related images from local file share
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
Due: cvat-server

fix: improve path validation error handling
  cvat/apps/engine/cache.py
Due: cvat-server

Updated more tests
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/cypress/e2e/remove_users_tasks_projects_organizations.js
  tests/cypress/support/commands.js
Due: none

Fixed headers
  tests/cypress/support/commands.js
Due: none

supported headless requests via node
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
Due: none

Refactored and simplified some code
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
Due: none

Applied new fix
  cvat-ui/src/components/cloud-storages-page/cloud-storage-item.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/models-page/actions-menu.tsx
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/styles.scss
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/requests-page/actions-menu.tsx
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/components/webhooks-page/actions-menu.tsx
  cvat-ui/src/components/webhooks-page/webhook-item.tsx
  cvat-ui/src/utils/context-menu-helper.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

added missing alias
  site/content/en/docs/qa-analytics/_index.md
Due: none

Added logging
  tests/cypress/plugins/index.js
Due: none

added content-type
  tests/cypress/plugins/index.js
Due: none

Fixed some tests
  tests/cypress/plugins/index.js
Due: none

add list of forbidden endpoints
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

revert deleted line
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

CI: fix broken linter version printing (#9982)
  .github/workflows/linters.yml
Due: none

[PoC] Use orjson for rendering JSON documents
  cvat/apps/engine/renderers.py
Due: cvat-server

[PoC] Add caching for /api/schema
  cvat/apps/engine/drf_spectacular.py
  cvat/settings/base.py
Due: cvat-server

update date entry class name
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

update expiry date entry's class name
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

action -> actions in class name
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

remove comment
  tests/cypress/support/commands.js
Due: none

remark and stylelint fixes
  site/assets/scss/_styles_project.scss
  site/assets/scss/_variables_project.scss
  site/content/en/docs/account_management/_index.md
  site/content/en/docs/annotation/annotation-editor/_index.md
  site/content/en/docs/annotation/annotation-editor/navbar.md
  site/content/en/docs/annotation/annotation-editor/objects-sidebar.md
  site/content/en/docs/annotation/auto-annotation/_index.md
  site/content/en/docs/annotation/tools/annotation-with-ellipses.md
  site/content/en/docs/dataset_management/_index.md
  site/content/en/docs/dataset_management/formats/format-voc.md
  site/content/en/docs/getting_started/overview.md
  site/content/en/docs/guides/_index.md
  site/content/en/docs/guides/workflow-org.md
  site/content/en/docs/workspace/projects.md
Due: none

Drop using of outdated authentication method in Cypress tests (#9981)
  tests/cypress/e2e/actions_objects/count_objects.js
  tests/cypress/e2e/actions_objects/test_annotations_saving.js
  tests/cypress/e2e/actions_projects_models/case_116_creating_project_by_inserting_labels_from_task.js
  tests/cypress/e2e/actions_projects_models/case_117_backup_restore_project_to_various_storages.js
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/e2e/actions_projects_models/registration_involved/base_actions_project_task_user.js
  tests/cypress/e2e/actions_tasks/case_117_paste_labels_from_another_task.js
  tests/cypress/e2e/actions_tasks/navigate_specific_frame.js
  tests/cypress/e2e/actions_tasks/registration_involved/case_39_issue_2572_rename_task.js
  tests/cypress/e2e/actions_tasks/registration_involved/case_69_filters_sorting_jobs.js
  tests/cypress/e2e/actions_tasks/task_rectangles_only.js
  tests/cypress/e2e/actions_tasks2/fit_image_different_res.js
  tests/cypress/e2e/actions_tasks3/case_118_multi_tasks.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_113_use_default_project_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_114_use_default_task_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_115_use_custom_storage_for_import_export_annotations.js
  tests/cypress/e2e/actions_tasks4/test_default_attribute.js
  tests/cypress/e2e/actions_users/issue_2524_2633_issue_not_reset_after_change_task_issue_point_firefox.js
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/cypress/e2e/actions_users/registration_involved/issue_1599_ch_user_registration.js
  tests/cypress/e2e/actions_users/registration_involved/issue_1599_pl_user_registration.js
  tests/cypress/e2e/features/annotations_actions.js
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/e2e/features/masks_basics.js
  tests/cypress/e2e/features/single_object_annotation.js
  tests/cypress/e2e/features/skeletons_pipeline.js
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/e2e/features/webhooks.js
  tests/cypress/e2e/issues_prs2/issue_1568_cuboid_dump_annotation.js
  tests/cypress/e2e/remove_users_tasks_projects_organizations.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_organizations.js
  tests/cypress/support/commands_projects.js
Due: none

fixed the last remark issues
  site/content/en/docs/annotation/_index.md
  site/content/en/docs/annotation/annotation-editor/navbar.md
  site/content/en/docs/getting_started/overview.md
  site/content/en/docs/guides/workflow-org.md
Due: none

fixed css error
  site/assets/scss/_styles_project.scss
Due: none

fixed hugo lint issue
  site/assets/scss/_styles_project.scss
Due: none

Fix excessive user requets from user selector component
  cvat-ui/src/components/task-page/user-selector.tsx
Due: cvat-ui
