Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

updated tag order to fix position of manual tag annotations
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/frame-tags.tsx
Due: cvat-ui

Fix missing result url for exported backups
  cvat/apps/engine/backup.py
Due: cvat-server

Handle redis exceptions
  cvat/apps/engine/views.py
Due: cvat-server

Upgrade Node 16 => 20 (#7766)
  Dockerfile.ci
  site/content/en/docs/contributing/development-environment.md
Due: none

Remove unused IAM test config (#7746)
  cvat/apps/iam/rules/tests/configs/auth.csv
Due: cvat-server

introduced updated_time as sorting field
  cvat/apps/engine/migrations/0079_attributespec_updated_time.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
Due: cvat-server

fixed transform
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Update site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

Update cvat-core/src/lambda-manager.ts
  cvat-core/src/lambda-manager.ts
Due: cvat-ui

revert: tools-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Clean up code && fix small bugs
  cvat-core/src/server-proxy.ts
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Added button to request analytics report manually
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat-ui/src/components/analytics-page/styles.scss
Due: cvat-ui

[cvat-ui:request-card] Add delete/cancel actions && fix time format
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

add understandable classname to menu-button and refactor test
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: cvat-ui

update nuclio version and faster_rcnn_inception_v2_coco function deps
  components/serverless/docker-compose.serverless.yml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function-gpu.yaml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function.yaml
Due: none

update saic-vul runtime python ver
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
Due: none

added a new property of highlight in label attributes
  cvat-core/src/labels.ts
Due: cvat-ui

tag will not be passed to highlight canvas instance and will be highlighted here itself
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/frame-tags.tsx
Due: cvat-ui

Create postcreate command
  .devcontainer/cvat_server_init.sh
  .devcontainer/local/Dockerfile
  .devcontainer/local/devcontainer.json
  .devcontainer/local/docker-compose.yml
  .devcontainer/local/postcreate.sh
Due: none

Update cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Add test virtual environment to PATH
  .devcontainer/local/Dockerfile
Due: none

add test for element with gap for coco keypoints
  tests/python/rest_api/test_tasks.py
Due: none

removed effect from `more` icon
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Updated code
  cvat-core/src/server-proxy.ts
Due: cvat-ui

refactor test
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

revomoved dep, added own func
  cvat/apps/engine/log.py
  cvat/apps/engine/utils.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Remove unused prefetch_related && set iterator chunk_size 2000
  cvat/apps/dataset_manager/task.py
Due: cvat-server

added env varibale
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/settings/base.py
  docker-compose.yml
Due: cvat-server

fix get button selector
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

update mask_rcnn deps
  serverless/tensorflow/matterport/mask_rcnn/nuclio/function-gpu.yaml
  serverless/tensorflow/matterport/mask_rcnn/nuclio/function.yaml
Due: none

fixed logging in container
  cvat/apps/engine/utils.py
  docker-compose.yml
Due: cvat-server

linter fix
  cvat/apps/engine/utils.py
Due: cvat-server

updates aligned with comments
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/add-vat.jpg
Due: none
