Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fixed UI crash on project page when task is creating in the project (#8187)
  changelog.d/20240718_085228_boris_fixed_undefined_value.md
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/reducers/projects-reducer.ts
Due: cvat-ui

Add chnagelog
  changelog.d/20240718_092642_maria_fix_permissions.md
Due: none

[Hotfix] Fix scope defining (#8185)
  changelog.d/20240718_092642_maria_fix_permissions.md
  cvat/apps/engine/permissions.py
Due: cvat-server

Minimized changes
  cvat/apps/engine/migrations/0082_alter_labeledimage_job_alter_labeledshape_job_and_more.py
  cvat/apps/engine/migrations/0082_alter_labeledimageattributeval_image_and_more.py
  cvat/apps/engine/models.py
Due: cvat-server

changed yellow quality color
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/utils/quality-color.ts
Due: cvat-ui

Implemented updating annotations in a job
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/migrations/0082_alter_labeledimage_job_alter_labeledshape_job_and_more.py
  cvat/apps/engine/migrations/0082_alter_labeledimage_job_and_more.py
  cvat/apps/engine/models.py
Due: cvat-server

Aborted extra change
  cvat/apps/engine/models.py
Due: cvat-server

Minor refactoring
  cvat/apps/engine/views.py
Due: cvat-server

Added chunks
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Removed unused import
  cvat/apps/engine/models.py
Due: cvat-server

Fixed ValueError: operands could not be broadcast together with shapes (X, ) (Y, ) (#8179)
  changelog.d/20240717_125734_boris_fixed_export_skeletons.md
  cvat-core/src/annotations-objects.ts
  cvat/apps/dataset_manager/task.py
Due: cvat-ui, cvat-server

Some refactoring
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/models.py
Due: cvat-server

renamed queryset
  cvat/apps/engine/models.py
Due: cvat-server

Refactoring
  cvat/apps/engine/models.py
Due: cvat-server

store disabled state in app state
  cvat-ui/src/actions/requests-actions.ts
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/requests-reducer.ts
Due: cvat-ui

Minor refactoring
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/models.py
  cvat/apps/engine/utils.py
Due: cvat-server

Optimized task/project removing
  cvat/apps/engine/models.py
Due: cvat-server

when consensus jobs are merged the parent job goes in `NEW` state
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

Fixed: cancel button is not visible when removing a label/attribute
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Returned disabled
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

Added changelog
  changelog.d/20240718_164741_boris_fixed_delete_label_button.md
Due: none

improved links in markdown
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/common/cvat-markdown.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
  cvat-ui/src/styles.scss
Due: cvat-ui

Remove before remove
  cvat/apps/engine/models.py
Due: cvat-server

gave everyone assigned to that Task permission to view the Consensus Report
  cvat/apps/consensus/permissions.py
Due: cvat-server

Fixed: cancel button is not visible when removing a label/attribute (#8196)
  changelog.d/20240718_164741_boris_fixed_delete_label_button.md
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Implement export and cleanup retries via rq_scheduler
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/views.py
Due: cvat-server

Update changelog
  changelog.d/20240718_202907_mzhiltso_fix_export_job_retries.md
Due: none

Remove extra imports
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

changed the term `normal job` to `regular job`
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/serializers.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-ui, cvat-server

shifted the consensus based annotation tag below the details of task
  cvat-ui/src/components/task-page/details.tsx
Due: cvat-ui

changed the term `normal job` to `regular job`
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/migrations/0079_job_parent_job_id_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-ui, cvat-server

showing all kinds of job on jobs page
  cvat-ui/src/components/jobs-page/jobs-content.tsx
Due: cvat-ui

added a filter field for job type in jobs page
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
Due: cvat-ui

updated the `schema.yml` with `regular job` instead of `normal job`
  cvat/schema.yml
Due: cvat-server

changed the some leftover usage of `normal job` to `regular job`
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/containers/actions-menu/actions-menu.tsx
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/consensus/models.py
Due: cvat-ui, cvat-server

after merging consensus jobs regular job's state is marked as COMPLETE
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

changed button name for mergeing consensus jobs
  cvat-ui/src/components/consensus/consensus-modal.tsx
Due: cvat-ui

added dots
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Enable Smokescreen proxy for annotation worker, same as for export worker
  supervisord/worker.annotation.conf
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
