Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Rename draw shape mode
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-shape-popover.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
Due: cvat-ui

Fixed height of list with labels mapping (#11045)
  changelog.d/20260814_082117_sekachev.bs_fixed_10228.md
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

Improve import error messages (#11029)
  changelog.d/20260812_195128_mzhiltsov_fix_import_error_chain.md
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/tests/test_util.py
  cvat/apps/dataset_manager/util.py
Due: cvat-server

Fix dropdown flake in organization pipeline (#11022)
  tests/cypress/support/commands_organizations.js
Due: none

Improve multi-object selection interactions
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Workaround pytest-cases fixture scope + parametrize conflict (#11015)
  tests/python/conftest.py
Due: none

remove setup specs from second e2e cmdline
  .github/workflows/schedule.yml
Due: none

virtual_group for points fix
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/tests/test_annotation_matching.py
  cvat/apps/quality_control/tests/test_quality_handlers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Deduplicate setup specs from second e2e cmdline in schedule.yml (#11046)
  .github/workflows/schedule.yml
Due: none

Improve multi-object selection UX
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/utils/multi-selection.ts
Due: cvat-ui

changelog
  changelog.d/20260814_173453_grigorii_generalized_quality.md
Due: none

Support focusing on GT annotations by job url
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-context-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/containers/annotation-page/annotation-page.tsx
  cvat-ui/src/containers/annotation-page/canvas/canvas-context-menu.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/utils/object-url.ts
  tests/cypress/e2e/features2/ground_truth_jobs.js
Due: cvat-ui

Fix validation of numerical attributes in the raw label editor
  changelog.d/20260814_132543_parman_fix_11034.md
  cvat-ui/src/components/labels-editor/common.ts
  tests/cypress/e2e/issues_prs2/issue_11034_number_attribute_raw_editor.js
Due: cvat-ui

feat(sdk-examples): add domain-organized SDK examples, CI tests, and docs
  changelog.d/20260814_211211_sdk_domain_examples.md
  cvat-sdk/examples/README.md
  cvat-sdk/examples/__init__.py
  cvat-sdk/examples/_auth.py
  cvat-sdk/examples/authentication.py
  cvat-sdk/examples/cloud_storage.py
  cvat-sdk/examples/job_management.py
  cvat-sdk/examples/project_management.py
  cvat-sdk/examples/task_management.py
  site/content/en/docs/api_sdk/sdk/examples/_index.md
  site/content/en/docs/api_sdk/sdk/examples/authentication.md
  site/content/en/docs/api_sdk/sdk/examples/cloud-storage.md
  site/content/en/docs/api_sdk/sdk/examples/jobs.md
  site/content/en/docs/api_sdk/sdk/examples/projects.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
  tests/python/sdk/test_examples.py
Due: cvat-server

feat(sdk): adjust documentation
  site/content/en/docs/api_sdk/sdk/examples/jobs.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
Due: none

Fix linter
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-attribute-rules.tsx
Due: cvat-ui

Add changelog
  changelog.d/20260817_112148_klakhov_generalized_quality_ui.md
Due: none

Update webhooks docs for request completion events
  .remarkrc.js
  site/content/en/docs/administration/community/advanced/webhooks.md
  site/content/en/images/webhook_form_organization.png
  site/content/en/images/webhook_form_project.png
  site/content/en/images/webhook_form_project_org.jpg
Due: none

Fix test
  tests/cypress/e2e/audio_workspace/case_audio_30_recording_lifecycle.js
  tests/cypress/e2e/audio_workspace/case_audio_31_interval_playback.js
  tests/cypress/e2e/audio_workspace/case_audio_32_navigation_and_overlap.js
  tests/cypress/e2e/audio_workspace/case_audio_33_change_label_defaults.js
  tests/cypress/e2e/audio_workspace/case_audio_36_region_drag_auto_scroll.js
Due: none

Make code more readable
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
Due: cvat-ui

Audio workspace: single unified Cursor mode for selection and editing (#11031)
  changelog.d/20260813_150513_aleksey.zinovyev_remove_edit_mode.md
  cvat-core/src/annotations-objects/audio-interval-state.ts
  cvat-core/src/annotations-objects/audio-interval.ts
  cvat-core/src/annotations-objects/drawn.ts
  cvat-core/src/annotations-objects/pinnable.ts
  cvat-core/src/annotations-objects/scored.ts
  cvat-core/src/annotations-objects/types.ts
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/assets/interval-edit-icon.svg
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list-header.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/edit-region-control.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/icons.tsx
  cvat-ui/src/reducers/audio-reducer.ts
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/audio_workspace/case_audio_10_edit_mode_hotkey.js
  tests/cypress/e2e/audio_workspace/case_audio_11_edit_mode_cancel_esc.js
  tests/cypress/e2e/audio_workspace/case_audio_12_cancel_returns_cursor.js
  tests/cypress/e2e/audio_workspace/case_audio_22_workspace_default_for_1d.js
  tests/cypress/e2e/audio_workspace/case_audio_30_recording_lifecycle.js
  tests/cypress/e2e/audio_workspace/case_audio_31_interval_playback.js
  tests/cypress/e2e/audio_workspace/case_audio_32_navigation_and_overlap.js
  tests/cypress/e2e/audio_workspace/case_audio_33_change_label_defaults.js
  tests/cypress/e2e/audio_workspace/case_audio_36_region_drag_auto_scroll.js
Due: cvat-ui

use generic save, which is much more stable
  tests/cypress/e2e/audio_workspace/case_audio_19_save_persists.js
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_audio.js
Due: none

replace last ref
  tests/cypress/support/commands_audio.js
Due: none

rename allow_cache{true,off} to static_cache{on,off}
  .github/workflows/main.yml
Due: none

Adjust bulk editing trigger
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-bulk-boundaries-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-selection.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-regions.ts
Due: cvat-ui

use saveJob with annotations
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_audio.js
  tests/cypress/support/utils.cy.js
Due: none

lint
  tests/cypress/support/commands_audio.js
  tests/cypress/support/utils.cy.js
Due: none

feat(sdk-examples): copy-and-run recipes with subprocess CI harness
  changelog.d/20260814_211211_sdk_domain_examples.md
  cvat-sdk/examples/README.md
  cvat-sdk/examples/auth_connect.py
  cvat-sdk/examples/auth_profiles.py
  cvat-sdk/examples/cloud_storage_register.py
  cvat-sdk/examples/job_list_and_assign.py
  cvat-sdk/examples/job_workflow.py
  cvat-sdk/examples/project_backup_restore.py
  cvat-sdk/examples/project_create_and_list.py
  cvat-sdk/examples/project_export_dataset.py
  cvat-sdk/examples/project_status_report.py
  cvat-sdk/examples/task_create_from_cloud.py
  cvat-sdk/examples/task_create_from_images.py
  cvat-sdk/examples/task_inspect_and_export.py
  site/content/en/docs/api_sdk/sdk/examples/_index.md
  site/content/en/docs/api_sdk/sdk/examples/authentication.md
  site/content/en/docs/api_sdk/sdk/examples/cloud-storage.md
  site/content/en/docs/api_sdk/sdk/examples/jobs.md
  site/content/en/docs/api_sdk/sdk/examples/projects.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
  tests/python/sdk/test_examples.py
Due: cvat-server

CI: rename `allow_cache{true,off}` to `static_cache{on,off}` (#11056)
  .github/workflows/main.yml
Due: none

Keep selection control highlighted
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/select-control.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
Due: cvat-ui

Refine canvas multi-selection feedback
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Align selected object sidebar styling
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

wait for progress wrapper before requests
  tests/cypress/e2e/features/bulk_actions.js
Due: none

Allow partial movement of object selections
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Update webhooks docs for request completion events (#11054)
  .remarkrc.js
  site/content/en/docs/administration/community/advanced/webhooks.md
  site/content/en/images/webhook_form_organization.png
  site/content/en/images/webhook_form_project.png
  site/content/en/images/webhook_form_project_org.jpg
Due: none

Apply comments
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/drawHandler.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-shape-popover.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/change-object-orientation.ts
Due: cvat-ui

Rename saveIntervals to bulkSave
  cvat-core/src/annotations-collection.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/audio-actions.ts
Due: cvat-ui
