Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Fix(uvicorn): use --uds instead of --fd 0 to enable multi-worker support
  supervisord/server.conf
Due: none

add keep-data flag to pytest
  site/content/en/docs/contributing/running-tests.md
  tests/python/shared/fixtures/init.py
Due: none

lint
  tests/python/shared/fixtures/init.py
Due: none

Fix task creation for non audio
  cvat/apps/engine/task.py
Due: cvat-server

Format code
  cvat/apps/engine/task.py
Due: cvat-server

removed debug comment
  ai-models/agents_deployment/transformers/docker-compose.yaml
Due: none

lint again
  tests/python/shared/fixtures/init.py
Due: none

add keep-data for k8
  tests/python/shared/fixtures/init.py
Due: none

Remove review generation from waveform, disable segments, reuse input file for chunks when possible
  cvat/apps/engine/assets/audio_default_preview.png
  cvat/apps/engine/assets/pcd_default_preview.jpeg
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/media_providers/audio_provider.py
  cvat/apps/engine/task.py
Due: cvat-server

kube startup with keep_data
  tests/python/shared/fixtures/init.py
Due: none

Fix preview formats
  cvat/apps/engine/assets/pcd_default_preview.png
  cvat/apps/engine/cache.py
Due: cvat-server

wait for dropdown disappear after label change
  tests/cypress/e2e/canvas3d_functionality_2/case_78_canvas3d_functionality_cuboid_label.js
Due: none

conflicts
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/migrations/0014_annotationconflict_attribute_names.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

linters
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Use raw distance parameter in the action
  cvat-core/src/annotations-actions/actions-worker.ts
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/annotations-actions/poly-simplify.ts
  cvat-core/src/opencv/opencv-interface.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/annotations-actions/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/poly-simplify-control.tsx
Due: cvat-ui

Added typescript check
  .github/workflows/linters.yml
  cvat-data/tsconfig.json
Due: cvat-ui

run prettifier
  .github/workflows/linters.yml
Due: none

Added spaces
  .github/workflows/linters.yml
Due: none

Reduced code duplication
  .github/actions/setup-yarn/action.yml
  .github/workflows/linters.yml
Due: none

added empty lines
  .github/workflows/linters.yml
Due: none

Aborted some style changes
  .github/workflows/linters.yml
Due: none

Support moving tasks with no manifest to backing cloud storage
  cvat/apps/engine/models.py
Due: cvat-server

Rename variable
  tests/python/rest_api/_test_base.py
Due: none

Add cvat-canvas for type checks
  .github/workflows/linters.yml
  cvat-canvas/src/typescript/interactionHandler.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-canvas/tsconfig.json
  package.json
Due: cvat-ui

Run both type checks always
  package.json
Due: none

Added canvas3d
  package.json
Due: none

Fixed command
  package.json
Due: none

add test for snapping first point, skip it refactor polygon creation to use two draw methods
  tests/cypress/e2e/actions_objects/snap_tool_feature.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
  tests/cypress/support/utils.cy.js
Due: none

Fixed typescript errors and enabled linter for cvat-core
  .vscode/settings.json
  cvat-canvas/tsconfig.json
  cvat-canvas3d/src/typescript/index.ts
  cvat-canvas3d/tsconfig.json
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/api.ts
  cvat-core/src/common.ts
  cvat-core/src/consensus-settings.ts
  cvat-core/src/plugins.ts
  cvat-core/src/project-implementation.ts
  cvat-core/src/project.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/server-schema.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-core/src/user.ts
  cvat-core/src/validation-layout.ts
  cvat-core/tsconfig.json
  package.json
Due: cvat-ui

Fix empty spaces
  cvat-data/tsconfig.json
Due: cvat-ui

Fixed user/register issues
  cvat-core/src/api-implementation.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/user.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/register-page/register-form.tsx
  cvat-ui/src/reducers/auth-reducer.ts
Due: cvat-ui

Fixed user/register issues
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

revert test code
  tests/cypress/e2e/actions_objects/snap_tool_feature.js
Due: none

Remove unnecessary public fields
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
Due: cvat-ui

Fix events local db file
  cvat/settings/base.py
  supervisord/server.conf
Due: cvat-server

fixed command to create task headless
  tests/cypress/support/commands.js
Due: none

bunch of fixes with updating labels and assignee
  cvat-core/src/session-implementation.ts
Due: cvat-ui

Rename fieds
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Support migrating multiple tasks at once
  cvat/apps/engine/management/commands/movetaskfrombackingcs.py
  cvat/apps/engine/management/commands/movetasktobackingcs.py
  cvat/apps/engine/management/utils.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server
