Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Extract media saving
  cvat/apps/engine/task.py
Due: cvat-server

Split annotation types into more specific ones
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Update schema
  cvat/schema.yml
Due: cvat-server

Add cache read events and update Grafana cache throughput panel
  components/analytics/grafana/dashboards/monitoring.json
  cvat/apps/engine/cache.py
  cvat/apps/engine/cache_signals.py
  cvat/apps/engine/signals.py
  cvat/apps/events/handlers.py
Due: cvat-server

Fix linter
  cvat/apps/engine/signals.py
Due: cvat-server

Inline S3 status client config
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

draft test simplify polygons
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
Due: none

refactor
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
  tests/cypress/support/commands.js
  tests/cypress/support/utils.cy.js
Due: none

remove import
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
Due: none

add comment
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
Due: none

Skeleton keypoint
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Revert DB change
  cvat/apps/engine/migrations/0101_disallow_null_annotation_group_and_source.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Rename Targets to Requirements
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Docs/images fix (#10537)
  site/content/en/docs/guides/compose-agents-userguide.md
  site/content/en/docs/guides/helm-agents-userguide.md
Due: none

tests/python: enable strict xfail behavior (#10539)
  tests/python/pytest.ini
Due: none

Minor improvements in SAM2 documentation (#10541)
  site/content/en/docs/annotation/auto-annotation/segment-anything-2-tracker.md
  site/content/en/docs/guides/compose-agents-userguide.md
Due: none

Docs for polygon join (#10534)
  site/content/en/docs/annotation/annotation-editor/controls-sidebar.md
  site/content/en/docs/annotation/manual-annotation/utilities/slice-and-join.md
  site/content/en/images/joining-tool-03.gif
Due: none

Updated documentation to install SAM2 tracker (#10540)
  site/content/en/docs/annotation/auto-annotation/segment-anything-2-tracker.md
Due: none

support audio task creation
  Dockerfile
  cvat/apps/engine/background.py
  cvat/apps/engine/field_validation.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/migrations/0102_alter_default_chunk_type.py
  cvat/apps/engine/migrations/0103_add_audio_support.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/schema.yml
  cvat/settings/base.py
  tests/mounted_file_share/audio/sample1.mp3
  tests/python/conftest.py
  tests/python/rest_api/test_audio_support.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/tasks.json
  tests/python/shared/fixtures/data.py
  tests/python/shared/fixtures/s3.py
  tests/python/shared/fixtures/util.py
  tests/python/shared/utils/config.py
Due: cvat-server

Update changelog
  changelog.d/20260429_204945_mzhiltsov_audio_task_creation.md
Due: none

Fixes
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/migrations/0103_add_audio_support.py
  tests/python/rest_api/test_audio_support.py
Due: cvat-server

rebase
  .vscode/launch.audio.env
  .vscode/launch.json
  cvat-core/src/frames.ts
  cvat-core/src/quality-conflict.ts
  cvat-core/src/quality-report.ts
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/audio-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/utils/opencv-wrapper/annotations-actions/tracker-mil.ts
  cvat/apps/quality_control/migrations/0012_annotationconflict_attributes_and_more.py
  cvat/settings/base.py
  cvat/settings/development.py
  docker-compose.dev.yml
  docker-compose.yml
Due: cvat-ui, cvat-server

Revert api change, deprecate
  changelog.d/20260429_204945_mzhiltsov_audio_task_creation.md
  cvat/apps/engine/serializers.py
  tests/python/shared/assets/tasks.json
Due: cvat-server

Backend: harden chunk job errors and S3 status timeouts (#10495)
  changelog.d/20260418_160500_nmanovic_backend_timeout_and_chunk_failures.md
  cvat/apps/engine/cache.py
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

docs: update images
  site/content/en/docs/guides/compose-agents-userguide.md
  site/content/en/images/cvat_helm_action_is_running.webp
  site/content/en/images/cvat_helm_run_annotation_function.webp
  site/content/en/images/cvat_helm_track_14_frames.webp
  site/content/en/images/cvat_helm_tracking_worked.webp
  site/content/en/images/sam2-agent-ai-tracker.jpeg
  site/content/en/images/sam2-agent-ai-tracker.webp
  site/content/en/images/sam2-agent-polygon.jpeg
  site/content/en/images/sam2-agent-polygon.webp
  site/content/en/images/sam2-agent-result.webp
Due: none

docs: update images for agentic guides (#10553)
  site/content/en/docs/guides/compose-agents-userguide.md
  site/content/en/images/cvat_helm_action_is_running.webp
  site/content/en/images/cvat_helm_run_annotation_function.webp
  site/content/en/images/cvat_helm_track_14_frames.webp
  site/content/en/images/cvat_helm_tracking_worked.webp
  site/content/en/images/sam2-agent-ai-tracker.jpeg
  site/content/en/images/sam2-agent-ai-tracker.webp
  site/content/en/images/sam2-agent-polygon.jpeg
  site/content/en/images/sam2-agent-polygon.webp
  site/content/en/images/sam2-agent-result.webp
Due: none

Fix failing tests
  cvat/apps/engine/background.py
  cvat/apps/engine/tests/test_rest_api.py
  tests/python/rest_api/test_task_data.py
  tests/python/rest_api/utils.py
Due: cvat-server

add skeleton for audio
  cvat-ui/src/components/annotation-page/audio-workspace/audio-canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/audio-workspace/audio-workspace.tsx
  cvat-ui/src/components/annotation-page/audio-workspace/skeleton/audio-canvas-skeleton.tsx
  cvat-ui/src/components/annotation-page/audio-workspace/skeleton/audio-controls-sidebar-skeleton.tsx
  cvat-ui/src/components/annotation-page/audio-workspace/skeleton/audio-regions-list-skeleton.tsx
  cvat-ui/src/components/annotation-page/audio-workspace/styles.scss
  cvat-ui/src/components/annotation-page/audio-workspace/styles/_skeleton.scss
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
  cvat-ui/src/containers/annotation-page/audio-workspace/audio-workspace.tsx
Due: cvat-ui

Default req
  cvat/apps/quality_control/signals.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Linters
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-server

Fix #9647: validate remote_files use http(s) scheme
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Fix #9647: return meaningful error when remote_files download fails
  cvat/apps/engine/task.py
  tests/python/rest_api/test_remote_url.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

Tests: add --no-services option for externally managed stack
  cvat/settings/base.py
  cvat/settings/development.py
  tests/python/shared/fixtures/init.py
Due: cvat-server

Log exception details for remote_files download failures
  cvat/apps/engine/task.py
Due: cvat-server

feat: created hook for history
  cvat-ui/src/components/projects-page/projects-page.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

fix: Fix duplicate shapes in saveAnnotationsAsync pipeline
  changelog.d/20260430_120000_fix_duplicate_shapes_save_pipeline.md
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

use area and number of points as test metrics; add middle state
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
Due: none

Update patch
  changelog.d/20260117_182041_122prathamesh6002_9165.md
  cvat-core/src/annotations-filter.ts
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/filters-modal.tsx
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
