Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

remove unused
  cvat/apps/events/export.py
Due: cvat-server

Add 'export-dataset' and 'import-dataset' for Project entity in CVAT CLI
  changelog.d/20260519_141058_andrei_project_dataset_cli.md
  cvat-cli/README.md
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  site/content/en/docs/api_sdk/cli/_index.md
  tests/python/cli/test_cli_projects.py
Due: cvat-server

Track is online
  cvat-ui/src/cvat-logger.ts
Due: cvat-ui

Improve boundary checking
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/audio_tsv.py
  cvat/apps/dataset_manager/task.py
  tests/python/rest_api/test_audio_support.py
Due: cvat-server

fix(ui): use URL-derived updatedQuery for setQuery and remove unused imports/destructuring (tasks, projects)
  cvat-ui/src/components/projects-page/projects-page.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
Due: cvat-ui

improved condition
  cvat-ui/src/cvat-logger.ts
Due: cvat-ui

renamed
  cvat/apps/engine/serializers.py
Due: cvat-server

Updated settings
  cvat/settings/testing_rest.py
  helm-chart/test.values.yaml
Due: cvat-server

Track navigator.onLine when network error with code 0 happens (#10637)
  cvat-ui/src/cvat-logger.ts
Due: cvat-ui

Use None instead of the none_type alias in generated SDK type annotations
  changelog.d/20260520_120000_asishkumar_sdk_none_type_annotations.md
  cvat-sdk/gen/postprocess.py
Due: cvat-server

Add ThreadPoolWorker observability counters and per-job heartbeat refresh
  cvat/apps/django_rq_ext/TODO.md
  cvat/apps/django_rq_ext/apps.py
  cvat/apps/django_rq_ext/default_settings.py
  cvat/apps/django_rq_ext/mixins.py
  cvat/apps/django_rq_ext/worker.py
Due: cvat-server

Validate label attribute name conflicts before updating (#10625)
  changelog.d/20260519_103538_sekachev.bs.md
  cvat/apps/engine/serializers.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Address Codex review on preview Prefer handling
  cvat/apps/engine/views.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Audio interval annotations, backups, and TSV dataset format (#10583)
  changelog.d/20260511_193100_mzhiltsov_audio_interval_annotations.md
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/audio_tsv.py
  cvat/apps/dataset_manager/formats/registry.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_annotation.py
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/background.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/migrations/0106_add_interval_annotations.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/schema.yml
  tests/python/rest_api/test_access_tokens.py
  tests/python/rest_api/test_audio_support.py
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: cvat-server

Simplify tests
  tests/python/cli/test_cli_misc.py
  tests/python/cli/test_cli_projects.py
  tests/python/cli/test_cli_tasks.py
Due: none

Align ThreadPoolWorker job-handling with upstream rq.Worker
  cvat/apps/django_rq_ext/TODO.md
  cvat/apps/django_rq_ext/mixins.py
  cvat/apps/django_rq_ext/utils.py
  cvat/apps/django_rq_ext/worker.py
  rq_ext/AGENT_CONTEXT.md
Due: cvat-server

Audio quality estimation
  changelog.d/20260511_193200_mzhiltsov_audio_quality.md
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/migrations/0012_audio_quality_support.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/views.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
  cvat/schema.yml
  cvat/settings/base.py
  tests/python/rest_api/test_audio_support.py
Due: cvat-server

Fix requested changes
  changelog.d/20260519_141058_andrei_project_dataset_cli.md
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  site/content/en/docs/api_sdk/cli/_index.md
  tests/python/cli/test_cli_projects.py
Due: cvat-server

Add 'backup' and 'create-from-backup' methods into CLI for Project entity (#10618)
  changelog.d/20260519_112209_andrei_project_backup_cli.md
  cvat-cli/README.md
  cvat-cli/developer_guide.md
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  site/content/en/docs/api_sdk/cli/_index.md
  tests/python/cli/test_cli_projects.py
  tests/python/cli/test_cli_tasks.py
Due: cvat-server

Extend ThreadPoolWorker observability and consolidate app docs
  cvat/apps/django_rq_ext/README.md
  cvat/apps/django_rq_ext/TODO.md
  cvat/apps/django_rq_ext/mixins.py
  cvat/apps/django_rq_ext/worker.py
  rq_ext/AGENT_CONTEXT.md
Due: cvat-server

updated style
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

added changelog
  changelog.d/20260520_125238_sekachev.bs_updated_styles.md
Due: none

Fix requested change
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
Due: cvat-server

Fix linters
  changelog.d/20260519_141058_andrei_project_dataset_cli.md
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
Due: cvat-server

Fix label name truncation in annotation sidebar (#10641)
  changelog.d/20260520_125238_sekachev.bs_updated_styles.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Make sure 100% test coverage
  tests/python/cli/test_cli_misc.py
Due: none

Cache cloud storage client instances per process
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/default_settings.py
Due: cvat-server

Add tests for cloud storage instance caching
  cvat/apps/engine/tests/test_cloud_provider_caching.py
Due: cvat-server

updated implementation
  cvat-core/src/annotations-collection.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  tests/cypress/e2e/actions_objects2/case_16_z_order_features.js
Due: cvat-ui

applied comments
  backend_entrypoint.sh
  cvat/apps/engine/middleware.py
  cvat/settings/base.py
  docker-compose.yml
  helm-chart/templates/_helpers.tpl
  helm-chart/test.values.yaml
  helm-chart/values.yaml
Due: cvat-server

Simplify cloud storage caching tests
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/tests/test_cloud_provider_caching.py
Due: cvat-server

fixed linter
  cvat/settings/base.py
Due: cvat-server

updated implementation
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

updated
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

Update cvat/settings/testing_rest.py
  cvat/settings/testing_rest.py
Due: cvat-server

Add TTL to cloud storage client cache and per-role size defaults
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/default_settings.py
  cvat/apps/engine/tests/test_cloud_provider_caching.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

refactor(eslint): replace compat configs
  .eslintrc.cjs
  cvat-canvas/.eslintrc.cjs
  cvat-canvas/eslint.config.mjs
  cvat-canvas3d/.eslintrc.cjs
  cvat-canvas3d/eslint.config.mjs
  cvat-core/.eslintrc.cjs
  cvat-core/eslint.config.mjs
  cvat-data/.eslintrc.cjs
  cvat-data/eslint.config.mjs
  cvat-ui/.eslintrc.cjs
  cvat-ui/eslint.config.mjs
  eslint.config.mjs
  package.json
  tests/.eslintrc.js
  tests/eslint.config.mjs
  yarn.lock
Due: cvat-ui

Drop OrderedDict from botocore JSON loader to cut cached-client RSS
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/default_settings.py
  docker-compose.yml
Due: cvat-server

Add py-spy + ptrace + NUMPROCS=1 for debug builds
  Dockerfile
  docker-compose.dev.yml
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
