Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Apply comments
  cvat/apps/engine/cache.py
Due: cvat-server

unified cache item structure for context images
  cvat/apps/engine/cache.py
  cvat/apps/engine/views.py
Due: cvat-server

apply comments
  cvat/apps/engine/cache.py
  cvat/apps/engine/views.py
Due: cvat-server

Update cvat/apps/engine/cache.py
  cvat/apps/engine/cache.py
Due: cvat-server

Added workaround for corrupted zip chunks (#7243)
  changelog.d/20231208_152516_andrey_workarround_cache_corrupted_data.md
  cvat/apps/engine/cache.py
  cvat/apps/engine/views.py
Due: cvat-server

squashed commits
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/support/commands.js
Due: none

removed blur
  tests/cypress/support/commands.js
Due: none

Recreate a chunk in case of UnpicklingError
  cvat/apps/engine/cache.py
Due: cvat-server

update changelog
  changelog.d/20231208_152516_andrey_workarround_cache_corrupted_data.md
  cvat/apps/engine/cache.py
Due: cvat-server

Revert "Update keydb to 6.3.4 (#7118)" (#7236)
  changelog.d/20231207_143832_roman_revert_keydb.md
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/values.yaml
Due: none

Update changelog.d/20231208_152516_andrey_workarround_cache_corrupted_data.md
  changelog.d/20231208_152516_andrey_workarround_cache_corrupted_data.md
Due: none

fix pylint
  cvat/apps/engine/cache.py
Due: cvat-server

Recreate a chunk in case of UnpicklingError (#7251)
  changelog.d/20231208_152516_andrey_workarround_cache_corrupted_data.md
  cvat/apps/engine/cache.py
Due: cvat-server

Remove extra code
  cvat/apps/iam/permissions.py
Due: cvat-server

removed throwing error before opa call, fixed `users.rego`
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/users.rego
Due: cvat-server

Fix GCS bucket name validation (#7227)
  changelog.d/20231205_204101_jootten_fix_validation.md
  cvat/apps/engine/serializers.py
Due: cvat-server

added tests
  cvat/apps/iam/rules/tests/configs/users.csv
Due: cvat-server

Fix compatibility with older versions of Docker Compose (#7170)
  changelog.d/20231123_141337_roman_fix_docker_compose_compat.md
  docker-compose.yml
Due: none

added `nullable` to expired
  cvat/apps/organizations/serializers.py
  cvat/schema.yml
Due: cvat-server

call `new_user` only if dummy_user does not exist
  cvat/apps/iam/serializers.py
Due: cvat-server

renamed reject to decline everywhere
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/tests/mocks/server-proxy.mock.cjs
  cvat-ui/src/actions/invitations-actions.ts
  cvat-ui/src/components/invitations-page/invitation-item.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/invitations.rego
  cvat/apps/iam/rules/utils.rego
  cvat/apps/organizations/views.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

generated test, updated changelog
  changelog.d/20231214_131931_klakhov_remove_opa_injection.md
  cvat/apps/iam/rules/tests/configs/users.csv
  cvat/apps/iam/rules/tests/generators/users_test.gen.rego.py
Due: cvat-server

added newline
  changelog.d/20231214_131931_klakhov_remove_opa_injection.md
Due: none

fix import for multilabel widerface dataset
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Simplify the dev environment setup instructions by reusing Compose files
  docker-compose.ci.yml
  docker-compose.dev.yml
  site/content/en/docs/contributing/development-environment.md
Due: none

updated test gen, uses.csv
  cvat/apps/iam/rules/tests/configs/users.csv
  cvat/apps/iam/rules/tests/generators/users_test.gen.rego.py
Due: cvat-server

updated changelog
  changelog.d/20231120_134843_klakhov_improve_invite_users.md
Due: none

fixed linter problem
  changelog.d/20231120_134843_klakhov_improve_invite_users.md
Due: none

Removed `PermissionDenied` error thrown before OPA call (#7259)
  changelog.d/20231214_131931_klakhov_remove_opa_injection.md
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/tests/configs/users.csv
  cvat/apps/iam/rules/tests/generators/users_test.gen.rego.py
  cvat/apps/iam/rules/users.rego
Due: cvat-server

Apply comments
  cvat/apps/iam/permissions.py
Due: cvat-server

Update Clickhouse to the latest version
  changelog.d/20231214_203449_roman_update_clickhouse.md
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  docker-compose.yml
  helm-chart/Chart.yaml
Due: cvat-server

Update Clickhouse to the latest version (#7268)
  changelog.d/20231214_203449_roman_update_clickhouse.md
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  docker-compose.yml
  helm-chart/Chart.yaml
Due: cvat-server

Simplify the dev environment setup instructions by reusing Compose files (#7254)
  docker-compose.ci.yml
  docker-compose.dev.yml
  site/content/en/docs/contributing/development-environment.md
Due: none

Use separate services for storing job queues and cache
  Dockerfile
  changelog.d/20231215_165536_roman_split_redis.md
  cvat/settings/base.py
  docker-compose.dev.yml
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/cvat-redis-secret.yml
  helm-chart/values.yaml
  site/content/en/docs/contributing/development-environment.md
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
  tests/python/rest_api/test_queues.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/init.py
  wait_for_deps.sh
Due: cvat-server

Use OPA from the Docker image for testing
  .github/workflows/full.yml
  .github/workflows/main.yml
Due: none

added throwing an error if email backend is not configured
  cvat/apps/organizations/serializers.py
Due: cvat-server

Use OPA from the Docker image for testing (#7273)
  .github/workflows/full.yml
  .github/workflows/main.yml
Due: none

Remove deprecated VS Code settings (#7244)
  .vscode/settings.json
Due: none
