Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Minor fix
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Added missing type
  cvat-canvas/src/typescript/canvasModel.ts
Due: cvat-ui

Update 20240606_194542_sekachev.bs_fixed_error.md
  changelog.d/20240606_194542_sekachev.bs_fixed_error.md
Due: none

Minor fix
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Minor fix
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

name of job changes based on whether it's consensus or normal job in multiple annotator mode
  cvat-ui/src/components/job-item/job-item.tsx
Due: cvat-ui

Refactored root cvat components
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/notifications.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/utils/environment.ts
Due: cvat-ui

Minor improvements
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/notifications-watcher.tsx
  cvat-ui/src/index.tsx
Due: cvat-ui

added collapsing consensus jobs while viewing specific task
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/task-page/job-list.tsx
Due: cvat-ui

task name has the information about annotation mode
  cvat-ui/src/components/task-page/details.tsx
Due: cvat-ui

corrected how consensus_job_per_segment and agreement_score_threshold passed from frontend to backend
  cvat-core/src/session-implementation.ts
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Two corner cases
  cvat-core/src/frames.ts
Due: cvat-ui

One more corner case
  cvat-core/src/frames.ts
Due: cvat-ui

Refactoring
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/reducers/server-api-reducer.ts
  cvat-ui/src/reducers/useragreements-reducer.ts
Due: cvat-ui

Avoid extra requests
  cvat-ui/src/components/logout-component.tsx
  cvat-ui/src/reducers/about-reducer.ts
  cvat-ui/src/reducers/formats-reducer.ts
Due: cvat-ui

tmp
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/logout-component.tsx
Due: cvat-ui

Fixed login with token without next parameter
  cvat-ui/src/components/login-with-token/login-with-token.tsx
Due: cvat-ui

Added changelog
  changelog.d/20240607_120601_sekachev.bs_fixed_login_with_token.md
Due: none

Update 20240607_120601_sekachev.bs_fixed_login_with_token.md
  changelog.d/20240607_120601_sekachev.bs_fixed_login_with_token.md
Due: none

Refactored notifications
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/login-with-token/login-with-token.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/utils/platform-checker.ts
Due: cvat-ui

Minor refactoring
  cvat-ui/src/components/cvat-app.tsx
Due: cvat-ui

Update login-with-token.tsx
  cvat-ui/src/components/login-with-token/login-with-token.tsx
Due: cvat-ui

Removed extra plugin entrypoint
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

fix: Generate secret key in initContainer instead of python code
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/values.yaml
Due: none

Updated documentation (one item was missing in the list of events saving triggers)
  site/content/en/docs/administration/advanced/analytics.md
Due: none

Update datumaro format description (#7992)
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-datumaro.md
Due: none

Fixed ImageBitmap memory leak (#7995)
  changelog.d/20240606_134734_boris_bitmap_memoryleak.md
  cvat-canvas/package.json
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/package.json
  cvat-core/src/frames.ts
  cvat-data/package.json
  cvat-data/src/ts/cvat-data.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Updated documentation (one item was missing in the list of events saving triggers) (#8001)
  site/content/en/docs/administration/advanced/analytics.md
Due: none

consensus_job_per_segment and agreement_score_threshold included in the task bacup
  cvat/apps/engine/backup.py
Due: cvat-server

Comment of while exporting task dataset only normal jobs data is exported not gt or consensus jobs
  cvat/apps/dataset_manager/task.py
Due: cvat-server

added a parent_job_id as a filter field to quickly get consensus jobs through the parent_job_id
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

added server side validation for consensus configurations of a task
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-server

consensus_job_per_segment can't be edited once task is created
  cvat/apps/engine/serializers.py
Due: cvat-server

Add new API to export project/task/job dataset/backup
  cvat-core/src/server-proxy.ts
  cvat/apps/engine/background_operations.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/filters.py
  cvat/apps/engine/location.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/view_utils.py
  cvat/apps/engine/views.py
  cvat/apps/events/handlers.py
  tests/python/shared/utils/resource_import_export.py
Due: cvat-ui, cvat-server

feat: Update the existing storage, Add Dummy conflict detector, Module level shortcut registeration
  cvat-ui/src/actions/shortcuts-actions.ts
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/reducers/shortcuts-reducer.ts
  cvat-ui/src/utils/mousetrap-react.tsx
Due: cvat-ui

fixed polygon editing
  cvat-canvas/src/typescript/editHandler.ts
Due: cvat-ui

Remove unnecessary fields from the `/api/lambda/functions` response
  cvat-core/src/core-types.ts
  cvat-core/src/ml-model.ts
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
  serverless/onnx/WongKinYiu/yolov7/nuclio/function-gpu.yaml
  serverless/onnx/WongKinYiu/yolov7/nuclio/function.yaml
  serverless/openvino/dextr/nuclio/function.yaml
  serverless/openvino/omz/intel/face-detection-0205/nuclio/function.yaml
  serverless/openvino/omz/intel/person-reidentification-retail-0277/nuclio/function.yaml
  serverless/openvino/omz/intel/semantic-segmentation-adas-0001/nuclio/function.yaml
  serverless/openvino/omz/intel/text-detection-0004/nuclio/function.yaml
  serverless/openvino/omz/public/faster_rcnn_inception_resnet_v2_atrous_coco/nuclio/function.yaml
  serverless/openvino/omz/public/mask_rcnn_inception_resnet_v2_atrous_coco/nuclio/function.yaml
  serverless/openvino/omz/public/yolo-v3-tf/nuclio/function.yaml
  serverless/pytorch/dschoerk/transt/nuclio/function-gpu.yaml
  serverless/pytorch/dschoerk/transt/nuclio/function.yaml
  serverless/pytorch/facebookresearch/detectron2/retinanet_r101/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/detectron2/retinanet_r101/nuclio/function.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
  serverless/pytorch/mmpose/hrnet32/nuclio/function.yaml
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/function-gpu.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/function.yaml
  serverless/pytorch/shiyinzhang/iog/nuclio/function.yaml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function-gpu.yaml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function.yaml
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Due: cvat-ui, cvat-server

add test to check creating task with params
  tests/python/rest_api/test_tasks.py
Due: none

rename kvrocks port
  helm-chart/templates/cvat_kvrocks/service.yml
  helm-chart/templates/cvat_kvrocks/statefulset.yml
Due: none

Remove `ModelKind.CLASSIFIER`
  cvat-core/src/core-types.ts
  cvat-core/src/enums.ts
  cvat-core/src/ml-model.ts
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
  cvat-ui/src/components/model-runner-modal/model-runner-dialog.tsx
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/components/models-page/deployed-models-list.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/models-reducer.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
