Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

set shape type as rectangle if length of points array is 4
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Update datumaro version (#8262)
  changelog.d/20240806_130856_36469655+Bobronium_update_datumaro_version.md
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

fix: tag annotation mode now working with local storage, restore default fixed, independent of reload
  cvat-ui/src/actions/shortcuts-actions.ts
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/shortcuts-select.tsx
  cvat-ui/src/components/header/settings-modal/settings-modal.tsx
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/shortcuts-reducer.ts
Due: cvat-ui

chore: change all to global
  cvat-ui/src/components/customizable-components/index.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/utils/enums.tsx
Due: cvat-ui

CI: Add a step to verify that no migrations are missing
  .github/workflows/full.yml
  .github/workflows/main.yml
Due: none

fixed that `count` param wasn't considering `consensus jobs` in Task JobsSummary
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

removed unwanted comments
  tests/python/rest_api/test_tasks.py
Due: none

count param in `tasks.json` for testing updated
  tests/python/shared/assets/tasks.json
Due: none

fixing link in docs
  site/content/en/docs/manual/advanced/formats/format-smask.md
Due: none

Segment Anything: supported bounding box input
  cvat-canvas/src/typescript/interactionHandler.ts
  cvat-core/src/core-types.ts
  cvat-core/src/ml-model.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/cvat-canvas-wrapper.ts
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat/apps/lambda_manager/views.py
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
Due: cvat-ui, cvat-server

Added changelog
  changelog.d/20240807_113114_boris_support_sam_rect.md
Due: none

Minor fixes
  cvat-canvas/src/typescript/interactionHandler.ts
  cvat-ui/plugins/sam/src/ts/index.tsx
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
Due: cvat-ui

Update chunk requests in UI
  cvat-core/src/frames.ts
Due: cvat-ui

Update cache indices in FrameDecoder, enable video play
  cvat-core/src/frames.ts
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Fix frame retrieval for video
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Accelerated patching job on task page
  cvat-ui/src/components/task-page/task-page.tsx
Due: cvat-ui

initial fix
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/common/go-back-button.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

v1.64.2
  cvat-ui/package.json
Due: cvat-ui

Accelerated patching job on task page (#8273)
  cvat-ui/package.json
  cvat-ui/src/components/task-page/task-page.tsx
Due: cvat-ui

Fix frame reading in updated dynamic cache building
  cvat/apps/engine/cache.py
Due: cvat-server

A little increased debounce value in user search
  cvat-ui/src/components/task-page/user-selector.tsx
Due: cvat-ui

v1.64.3
  cvat-ui/package.json
Due: cvat-ui

Set to 500
  cvat-ui/src/components/task-page/user-selector.tsx
Due: cvat-ui

A little increased debounce value when search users (#8274)
  cvat-ui/package.json
  cvat-ui/src/components/task-page/user-selector.tsx
Due: cvat-ui

Optimize job viewset requests
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
Due: cvat-server

Optimize project requests further
  cvat/apps/engine/serializers.py
Due: cvat-server

Avoid occasional org retrieval on field access
  cvat/apps/iam/permissions.py
Due: cvat-server

Remove extra fields from jobs query
  cvat/apps/engine/views.py
Due: cvat-server

Move some select_related to prefetch_related
  cvat/apps/engine/views.py
Due: cvat-server

Fixed sublabels mapping
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
Due: cvat-ui

Updated code
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

Fixed css
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

[GSoC'24] Registeration of Shortcuts via modules and dummy conflict detector (#8007)
  cvat-ui/src/actions/shortcuts-actions.ts
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/issue-control.tsx
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/group-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/join-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/merge-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/slice-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/split-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/shortcuts-select.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/tag-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-buttons.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/src/components/customizable-components/index.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
  cvat-ui/src/components/layout-grid/layout-grid.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/cvat-store.ts
  cvat-ui/src/reducers/shortcuts-reducer.ts
  cvat-ui/src/utils/component-subkeymap.ts
  cvat-ui/src/utils/enums.tsx
  cvat-ui/src/utils/mousetrap-react.tsx
Due: cvat-ui

Minor fix with useSelector
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
Due: cvat-ui

Minor fix with useSelector (#8278)
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
Due: cvat-ui

Enhanced labels mapping on client (#8251)
  changelog.d/20240801_154204_boris_enhanced_labels_mapping.md
  cvat-core/src/annotations-collection.ts
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

Stabilized cypress test features/ground_truth_jobs.js
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/task-page/user-selector.tsx
  tests/cypress/support/commands.js
Due: cvat-ui

The same for user input field
  tests/cypress/e2e/actions_users/issue_2440_value_must_be_a_user_instance.js
  tests/cypress/support/commands_projects.js
  tests/cypress/support/commands_review_pipeline.js
Due: none

Fixed server code 500 -> 400 when user input is not correct
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
