Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Try to fix tests
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
Due: cvat-server

Add missed changelog notes
  changelog.d/20250109_183137_andrey_update_changelog.md
Due: none

Update changelog.d/20250109_183137_andrey_update_changelog.md
  changelog.d/20250109_183137_andrey_update_changelog.md
Due: none

Add missed changelog notes (#8917)
  changelog.d/20250109_183137_andrey_update_changelog.md
Due: none

os.replace -> shutil.move
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
Due: cvat-server

Fix webhooks worker not restarting
  changelog.d/20250109_195116_roman_restart_webhooks.md
  supervisord/worker.webhooks.conf
Due: none

Suppress warnings in remaining wildcard imports
  cvat-sdk/cvat_sdk/models.py
  cvat/apps/engine/__init__.py
  cvat/settings/development.py
  cvat/settings/email_settings.py
  cvat/settings/production.py
  cvat/settings/testing.py
  cvat/settings/testing_rest.py
  serverless/pytorch/foolwood/siammask/nuclio/model_handler.py
  tests/python/cli/conftest.py
  tests/python/conftest.py
  tests/python/sdk/conftest.py
Due: cvat-server

Apply isort to updated files
  cvat/settings/development.py
  cvat/settings/email_settings.py
  cvat/settings/production.py
  cvat/settings/testing.py
  cvat/settings/testing_rest.py
  serverless/pytorch/foolwood/siammask/nuclio/model_handler.py
Due: cvat-server

Fix webhooks worker not restarting (#8921)
  changelog.d/20250109_195116_roman_restart_webhooks.md
  supervisord/worker.webhooks.conf
Due: none

tests/python/requirements.txt: bump boto3
  tests/python/requirements.txt
Due: none

Write to self.stdout
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/management/commands/exportcachecleanup.py
Due: cvat-server

wip
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  cvat-ui/src/utils/opencv-wrapper/tracker-mil.ts
  tests/cypress/e2e/issues_prs2/issue_8894_OpenCV_TrackerMIL_tracking_error_with_many_moving_objects.js
  tests/cypress/plugins/imageGenerator/addPlugin.js
  tests/cypress/plugins/imageGenerator/imageGeneratorCommand.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands_canvas3d.js
  yarn.lock
Due: cvat-ui

format_python_code.sh: format the repo root instead of the current directory
  dev/format_python_code.sh
Due: none

update default specs validation params to match swagger docs
  tests/cypress/support/default-specs.js
Due: none

Fix imports in siammask
  serverless/pytorch/foolwood/siammask/nuclio/model_handler.py
Due: none

tests/python/requirements.txt: bump boto3 (#8920)
  tests/python/requirements.txt
Due: none

TEST workflows with Ubuntu 24.04
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/finalize-release.yml
  .github/workflows/full.yml
  .github/workflows/hadolint.yml
  .github/workflows/helm.yml
  .github/workflows/isort.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-artifacts.yml
  .github/workflows/pylint.yml
  .github/workflows/regallint.yml
  .github/workflows/remark.yml
  .github/workflows/schedule.yml
  .github/workflows/search-cache.yml
  .github/workflows/stylelint.yml
  .github/workflows/trigger-dependent-repo-update.yml
  .github/workflows/update-yarn-lock.yml
Due: none

Ignore bandit warning
  serverless/pytorch/foolwood/siammask/nuclio/model_handler.py
Due: none

yolo docs - import with tracks
  site/content/en/docs/manual/advanced/formats/format-yolo-ultralytics.md
Due: none

Make test_export_with_non_default_frame_step compatible with Python 3.11+
  tests/python/rest_api/test_tasks.py
Due: none

updating requirements
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

adding cargo to Dockerfile
  Dockerfile
Due: none

[draft] Add MigrationLoader
  cvat/apps/__init__.py
  cvat/apps/engine/management/commands/migrateredis.py
  cvat/apps/engine/migrations/0087_redismigration_redismigration_migration_name_unique.py
  cvat/apps/engine/models.py
Due: cvat-server

Reduce max lifetime of tmp files/dirs
  cvat/settings/base.py
Due: cvat-server

fixing test
  cvat/apps/dataset_manager/tests/test_formats.py
Due: cvat-server

Suppress exception
  cvat/apps/dataset_manager/management/commands/exportcachecleanup.py
Due: cvat-server

Update doc
  site/content/en/docs/administration/advanced/upgrade_guide.md
Due: none

more docs
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-yolo-ultralytics.md
Due: none

yolo docs - import with tracks (#8926)
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-yolo-ultralytics.md
Due: none

add test for tracking error, mark it as skipped
  tests/cypress/e2e/issues_prs2/issue_8894_OpenCV_TrackerMIL_tracking_error_with_many_moving_objects.js
Due: none

renamed file
  tests/cypress/e2e/issues_prs2/issue_8894_OpenCV_TrackerMIL_tracking_error_with_big_resolution.js
Due: none

update requirements
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

on import from cloud, save resource to disk, without keeping it in memory
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

fixing isort
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

B320 and B410 removed in bandit 1.8.1
  .bandit
Due: none

ubuntu-latest is now 24.04, which has python 3.12 by default, which is not supported by pylint 2.14.5
  .github/workflows/pylint.yml
Due: none

add suggested testing changes
  tests/python/sdk/test_projects.py
Due: none

update datumaro (#8923)
  Dockerfile
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/formats/icdar.py
  cvat/apps/dataset_manager/formats/market1501.py
  cvat/apps/dataset_manager/formats/mots.py
  cvat/apps/dataset_manager/formats/velodynepoint.py
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

Allow calling cron_export_cache_cleanup via runperiodicjob
  cvat/apps/dataset_manager/cron.py
  cvat/apps/engine/management/commands/runperiodicjob.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
