Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Review suggestions
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
Due: none

Moved SVGs to the main images directory
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
  site/content/en/images/clear-filter-button.svg
  site/content/en/images/export-button.svg
  site/content/en/images/fetch-data-button.svg
  site/content/en/images/menu-button-vertical.svg
  site/content/en/images/search-button.svg
Due: none

Rm unused images
  site/content/en/images/performance_dashboard.jpg
  site/content/en/images/viewanalytics.jpg
Due: none

Linter fix
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
Due: none

Update Changelog + Keybindings
  changelog.d/20250205_223039_15961653+arianizadi.md
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
Due: cvat-ui

Remove Wait
  tests/cypress/e2e/actions_objects2/case_18_z_order_buttons.js
Due: none

Add Point Cloud Point Sizing Slider
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/appearance-block.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Add Slider
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/appearance-block.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Fix Option Chaining + Changelog
  changelog.d/20250525_233516_arianizadi_point_cloud_slider.md
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
Due: cvat-ui

Applied comments
  cvat/apps/engine/backup.py
  cvat/apps/engine/management/commands/initcontentsize.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/utils.py
Due: cvat-server

Applied comments
  cvat/apps/engine/migrations/0089_asset_content_size_data_content_size.py
  cvat/apps/engine/models.py
  cvat/apps/engine/utils.py
Due: cvat-server

Removed unused import
  cvat/apps/engine/serializers.py
Due: cvat-server

Fixed unused import
  cvat/apps/engine/management/commands/initcontentsize.py
Due: cvat-server

Fix linter issues
  site/content/en/docs/enterprise/sso.md
Due: none

uddated documentation
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/navbar.md
  site/content/en/images/navigation_controls.png
  site/content/en/images/navigation_search_icon.png
Due: none

Unify structure && fix typos
  site/content/en/docs/enterprise/sso.md
Due: none

Add event aggregation explanation
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
Due: none

Use platform name instead of service name && small improvments
  site/content/en/docs/enterprise/sso.md
Due: none

Updated serializer
  cvat/apps/engine/backup.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

added extra validation
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove comment
  site/content/en/docs/enterprise/sso.md
Due: none

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
Due: cvat-server

add suggestions for object comparison
  cvat/apps/engine/tests/utils.py
Due: cvat-server

update annotation comparison with some cases
  cvat/apps/engine/tests/utils.py
Due: cvat-server

removed unused functions
  cvat/apps/engine/tests/utils.py
Due: cvat-server

removed group from optional_fields
  cvat/apps/engine/tests/utils.py
Due: cvat-server

adding new filter_dict, removed the unnecessary logic
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Modified startup file to suppor folder mounting with docker-compose.override
  startup.sh
Due: none

Updated changelog
  CHANGELOG_DIGITALSENSE.md
Due: none

Fix testing formats in TaskAnnotationAPI test suite (#9346)
  changelog.d/20250501_231631_oleg.valiulin_fix_test_annotation_api_stops_early.md
  cvat-canvas/src/typescript/shared.ts
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/mot.py
  cvat/apps/engine/migrations/0089_alter_labeledimage_source_alter_labeledshape_source_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/engine/tests/utils.py
Due: cvat-ui, cvat-server

blacken merged changes to cvat/engine/tests
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

format dataset manager tests
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  pyproject.toml
Due: cvat-server

Add SiamMask model
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
Due: none

Add TransT tracker
  serverless/pytorch/dschoerk/transt/nuclio/function-gpu.yaml
  serverless/pytorch/dschoerk/transt/nuclio/function.yaml
Due: none

Add vscode configuration changes
  .gitignore
  .vscode/launch.json
Due: none

Update CHANGELOG
  CHANGELOG_DIGITALSENSE.md
Due: none

Documentation: Analytics (#9420)
  site/content/en/docs/getting_started/workflow-org.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
  site/content/en/images/clear-filter-button.svg
  site/content/en/images/export-button.svg
  site/content/en/images/fetch-data-button.svg
  site/content/en/images/menu-button-vertical.svg
  site/content/en/images/performance_dashboard.jpg
  site/content/en/images/search-button.svg
  site/content/en/images/viewanalytics.jpg
Due: none

Initial changes
  site/content/en/docs/administration/advanced/analytics.md
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
Due: none

Update changelog.d/20250523_011940_dmitrii.lavrukhin_yolo_import_fix.md
  changelog.d/20250523_011940_dmitrii.lavrukhin_yolo_import_fix.md
Due: none
