Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Fix type annotation
  cvat-sdk/gen/templates/openapi-generator/rest.mustache
Due: cvat-server

Support tags in detection functions (#9671)
  changelog.d/20250724_141058_roman_aa_tags.md
  cvat-cli/src/cvat_cli/_internal/agent.py
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/torchvision_classification.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

local docker-compose before merging v2.41.0
  docker-compose.yml
Due: none

Remove duplicated checks
  cvat/apps/engine/filters.py
Due: cvat-server

fix
  tests/python/rest_api/test_tasks.py
Due: none

remove duplicated command
  tests/cypress/support/commands_projects.js
Due: none

add a 1pic task for testing of projects
  tests/mounted_file_share/smallArchive.zip
Due: none

Fixing tests for lightweight backup (#9725)
  tests/python/rest_api/test_tasks.py
Due: none

CI: run bandit on all files, not just changed ones
  .github/workflows/bandit.yml
  dev/requirements.txt
  serverless/openvino/dextr/nuclio/export.py
  serverless/pytorch/shiyinzhang/iog/nuclio/model_handler.py
Due: none

Improve json filter errors (#9703)
  changelog.d/20250815_191324_mzhiltso_improve_json_filter_errors.md
  cvat/apps/engine/filters.py
Due: cvat-server

Simplify sending custom requests with ApiClient
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
  cvat-sdk/gen/templates/openapi-generator/rest.mustache
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
  tests/python/rest_api/utils.py
  tests/python/sdk/test_api_client.py
Due: cvat-server

Update changelog
  changelog.d/20250818_171014_simplify_custom_requests_in_sdk.md
Due: none

Remove extra change
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
Due: cvat-server

CI: run bandit on all files, not just changed ones (#9726)
  .github/workflows/bandit.yml
  dev/requirements.txt
  serverless/openvino/dextr/nuclio/export.py
  serverless/pytorch/shiyinzhang/iog/nuclio/model_handler.py
Due: none

Deduplicate yarn packages
  tests/yarn.lock
  yarn.lock
Due: none

Add support for exporting with server filename in sdk/cli
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  cvat-sdk/cvat_sdk/core/downloading.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/utils.py
  tests/python/cli/test_cli_tasks.py
  tests/python/sdk/test_tasks.py
Due: cvat-server

Update changelog
  changelog.d/20250818_193005_mzhiltso_sdk_export_with_server_filename.md
Due: none

setup routine for bulk actions
  tests/cypress/e2e/features/bulk_actions.js
  tests/cypress/support/default-specs.js
Due: none

Deduplicate yarn packages (#9731)
  tests/yarn.lock
  yarn.lock
Due: none

Fixed couple of found issues
  cvat-ui/src/actions/bulk-actions.ts
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

Added changelog
  changelog.d/20250819_103930_sekachev.bs_org_transfer_bulk.md
Due: none

Update test scenarios for tasks endpoint
  tests/perf/scripts/libs/api/auth.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/libs/fixtures/tasks.js
  tests/perf/scripts/tests/regression/tasks.js
  tests/perf/scripts/tests/warmup.js
  tests/perf/scripts/utils/validation.js
  tests/perf/scripts/variables/constants.js
Due: none

Refactored function to tranfer
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

Simplified some code
  cvat-ui/src/components/projects-page/actions-menu.tsx
Due: cvat-ui

do not set db_data.storage to LOCAL for static cache
  cvat/apps/engine/task.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

update archive to have 2 pics
  tests/mounted_file_share/smallArchive.zip
Due: none

finish setup routine: p1,p2->t1->j1,t2->j1,j2
  tests/cypress/e2e/features/bulk_actions.js
  tests/cypress/support/default-specs.js
Due: none

making backup correctly
  cvat/apps/engine/backup.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Added redirect from details page
  cvat-ui/src/components/move-task-modal/move-task-modal.tsx
  cvat-ui/src/components/project-page/details.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/project-page/top-bar.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/task-page.tsx
  cvat-ui/src/components/task-page/top-bar.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

Do not run bulk logic with one object
  cvat-ui/src/actions/bulk-actions.ts
Due: cvat-ui

docs: simplify the setting overrides for using an external data volume
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
Due: none

remove test code
  tests/cypress/support/default-specs.js
Due: none

change tasks in project page
  tests/cypress/e2e/features/bulk_actions.js
Due: none

finish testing project page
  tests/cypress/e2e/features/bulk_actions.js
Due: none

finish bulk-change state co
  tests/cypress/e2e/features/bulk_actions.js
Due: none

finish bulk change of jobs
  tests/cypress/e2e/features/bulk_actions.js
Due: none

remove index.d.ts
  tests/cypress/e2e/features/bulk_actions.js
Due: none

Adds tests for new sort
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: none

Adds sort by label to the annotations bar and starts e2e tests
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/states-ordering-selector.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

Adds fragment for the changelog
  changelog.d/20250819_195419_genaronadile_sort_by_label_annotations.md
Due: none
