Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

dropping deleted frames from track in get_interpolated_shapes
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

/api/events endpoint can be used to receive events not only from client (#8799)
  changelog.d/20241216_210737_dmitrii.lavrukhin_events_endpoint.md
  cvat/apps/events/serializers.py
Due: cvat-server

Apply suggestions from code review
  cvat/apps/engine/serializers.py
Due: cvat-server

Rename variable
  cvat/apps/engine/serializers.py
Due: cvat-server

Add named arg in function call
  cvat/apps/engine/serializers.py
Due: cvat-server

Add notes on remove_segment_chunks api
  cvat/apps/engine/cache.py
Due: cvat-server

Fix cache removal log messages
  cvat/apps/engine/cache.py
Due: cvat-server

Add a model property for active validation frames
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Update tests
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/background.py
Due: cvat-server

Add changelog
  changelog.d/20241218_120228_maria_fix_export_job_lock_releasing.md
Due: none

Rename settings
  cvat/apps/dataset_manager/default_settings.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/views.py
Due: cvat-server

Move settings into engine
  cvat/apps/dataset_manager/default_settings.py
  cvat/apps/engine/default_settings.py
Due: cvat-server

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Fix formatting
  cvat/apps/engine/default_settings.py
Due: cvat-server

Update test_concurrent_export_and_cleanup
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Update changelog.d/20241218_120228_maria_fix_export_job_lock_releasing.md
  changelog.d/20241218_120228_maria_fix_export_job_lock_releasing.md
Due: none

Fix formatting
  changelog.d/20241218_120228_maria_fix_export_job_lock_releasing.md
Due: none

Fixed Issue-#8709
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
Due: cvat-ui

ignore deleted frames when converting tracks to shapes (#8834)
  changelog.d/20241216_211239_dmitrii.lavrukhin_deleted_track_keyframe.md
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/tests/test_formats.py
Due: cvat-server

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Restored Indentations
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
Due: cvat-ui

removed using of contains command to close notifications
  tests/cypress/e2e/features/requests_page.js
Due: none

function for closing all notifications
  tests/cypress/e2e/features/requests_page.js
Due: none

add middleware
  tests/cypress/e2e/issues_prs2/issue_8785_Cannot_read_properties_of_undefined_reading_getUpdated.js
Due: none

added condition
  tests/cypress/e2e/features/requests_page.js
Due: none

move yield inside ctx to work with the same client later
  tests/python/rest_api/test_tasks.py
Due: none

reworked fix: try to wait for notification to dissapear
  tests/cypress/e2e/features/requests_page.js
Due: none

run ci: 1
  tests/cypress/e2e/features/requests_page.js
Due: none

Remove accumulating media cache
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove extra variables
  cvat/apps/engine/serializers.py
Due: cvat-server

updating datumaro (#8838)
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

fix closure, draft test
  tests/cypress/e2e/issues_prs2/issue_8785_Cannot_read_properties_of_undefined_reading_getUpdated.js
Due: none

run ci: 2
  tests/cypress/e2e/features/requests_page.js
Due: none

DATASET_CACHE_TTL -> EXPORT_CACHE_TTL
  cvat/apps/dataset_manager/default_settings.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/default_settings.py
Due: cvat-server

run ci: 3
  tests/cypress/e2e/features/requests_page.js
Due: none

run ci: 4
  tests/cypress/e2e/features/requests_page.js
Due: none

run ci: 5
  tests/cypress/e2e/features/requests_page.js
Due: none

Remove dataset_manager/default_settings.py
  cvat/apps/dataset_manager/apps.py
  cvat/apps/dataset_manager/default_settings.py
  cvat/apps/engine/default_settings.py
Due: cvat-server

Fix missing warnings
  cvat/apps/dataset_manager/apps.py
  cvat/apps/engine/default_settings.py
Due: cvat-server

wip
  tests/cypress/e2e/issues_prs2/issue_8785_Cannot_read_properties_of_undefined_reading_getUpdated.js
Due: none
