Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Tighten saveJobAnnotations intercept in mask bbox Cypress test
  tests/cypress/e2e/features/masks_basics.js
Due: none

Prevent RQ worker Redis socket timeouts
  cvat/settings/base.py
Due: cvat-server

Fix missing
  tests/python/sdk/test_auth_helpers.py
Due: none

feat(sdk): AuthStore profile CRUD, default profile, default server (#10819)
  cvat-sdk/cvat_sdk/core/auth.py
  tests/python/sdk/test_auth_store.py
Due: cvat-server

socket_timeout none with other timeouts
  cvat/settings/base.py
Due: cvat-server

Change skeleton control points to be visually distinguishable from annotation
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  tests/cypress/e2e/features/skeletons_pipeline.js
Due: cvat-ui

Add changelog
  changelog.d/20260708_151521_aleksey.zinovyev_skeleton_cp_visual_change.md
Due: none

Fix typo
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Wrap other dynamic texts with ellipsis
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

Adjust more tests
  tests/cypress/e2e/actions_objects2/case_108_rotated_bounding_boxes.js
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
Due: none

Add PR link to each bullet in changelog
  changelog.d/20260706_171148_aleksey.zinovyev_audio_workspace_minors.md
Due: none

Use grid-unit-size as a base for spacing and sizes
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_context-menu.scss
Due: cvat-ui

Simplify function signature, use more clear name for context menu open handler
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas-wrapper.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-context-menu.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/audio-interval.ts
Due: cvat-ui

hiding attributes with possible value automatic in rabbit mode
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
Due: cvat-ui

Fix request card layout (#10862)
  changelog.d/20260702_171804_aleksey.zinovyev_request_card_layout.md
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

Use end of audio track as end of intervals without explicit stop value
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas-wrapper.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-region-details.tsx
Due: cvat-ui

Use public Popover API in favor of the internal one
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-context-menu-component.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_context-menu.scss
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/color-picker.tsx
Due: cvat-ui

hiding attributes with automatic in possible values, also in canvas
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/shared.ts
Due: cvat-ui

More contextMenu to contextMenuOpen renaming
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-context-menu-component.tsx
Due: cvat-ui

Remove visible in favor of clientId in interval context menu
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas-wrapper.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-context-menu.tsx
  cvat-ui/src/reducers/audio-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Add comments to effects
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-context-menu-component.tsx
Due: cvat-ui

Convert container to modern approach
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-context-menu-component.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-workspace.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_context-menu.scss
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-context-menu-wrapper.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-context-menu.tsx
Due: cvat-ui

Warn about unsaved changes in annotation guide editor when leaving/closing/refreshing the page
  cvat-ui/src/components/md-guide/annotation-guide-page.tsx
Due: cvat-ui

revert other timeouts
  cvat/settings/base.py
Due: cvat-server

add comment to the rq workaround
  cvat/settings/base.py
Due: cvat-server

refactor(cli): move profile helpers to utils module
  cvat-cli/src/cvat_cli/_internal/commands_profile.py
  cvat-cli/src/cvat_cli/_internal/utils.py
  tests/python/cli/test_cli_profile.py
Due: cvat-server

docs: document CLI/SDK persistent authentication
  site/content/en/docs/api_sdk/access_tokens.md
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/highlevel-api.md
Due: none

Code refactoring
  cvat-cli/src/cvat_cli/_internal/commands_profile.py
  cvat-cli/src/cvat_cli/_internal/utils.py
Due: cvat-server

style: apply black formatting and fix W0404 reimport in utils
  cvat-cli/src/cvat_cli/_internal/commands_profile.py
  cvat-cli/src/cvat_cli/_internal/utils.py
  tests/python/cli/test_cli_profile.py
Due: cvat-server

feat(cli): 'profile create --file' with plain-token and JSON-envelope import
  changelog.d/20260709_000000_andrei_cli_profile_create_file.md
  cvat-cli/src/cvat_cli/_internal/commands_profile.py
  tests/python/cli/test_cli_profile.py
Due: cvat-server

add new comment
  cvat/settings/base.py
Due: cvat-server

fix timeouts in rq rest api tests (#10877)
  cvat/settings/base.py
Due: cvat-server

retry e2e tests on server image download fail
  .github/workflows/main.yml
Due: none

dbg: introduce error
  .github/workflows/main.yml
Due: none

add timeouts in case of infra outage
  .github/workflows/main.yml
Due: none

Helper configs to run backend in docker for ui development
  cvat/settings/ui_development.py
  docker-compose.local_ui.yml
Due: cvat-server

Cover beforeunload and router blocking functions with tests
  .gitignore
  tests/cypress.base.config.js
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
Due: none

Revert "add timeouts in case of infra outage"
  .github/workflows/main.yml
Due: none

Revert "dbg: introduce error"
  .github/workflows/main.yml
Due: none
