Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

SDK: remove imports that were deprecated in Python 3.9
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/torchvision_detection.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/torchvision_keypoint_detection.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/core/client.py
  cvat-sdk/cvat_sdk/core/downloading.py
  cvat-sdk/cvat_sdk/core/helpers.py
  cvat-sdk/cvat_sdk/core/progress.py
  cvat-sdk/cvat_sdk/core/proxies/annotations.py
  cvat-sdk/cvat_sdk/core/proxies/issues.py
  cvat-sdk/cvat_sdk/core/proxies/jobs.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat-sdk/cvat_sdk/core/uploading.py
  cvat-sdk/cvat_sdk/core/utils.py
  cvat-sdk/cvat_sdk/datasets/caching.py
  cvat-sdk/cvat_sdk/datasets/common.py
  cvat-sdk/cvat_sdk/datasets/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/common.py
  cvat-sdk/cvat_sdk/pytorch/project_dataset.py
  cvat-sdk/cvat_sdk/pytorch/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/transforms.py
Due: cvat-server

added logging to ensuresuperuser.py
  cvat/apps/engine/management/commands/ensuresuperuser.py
Due: cvat-server

Use UV to manage dependencies
  Dockerfile
  cvat/requirements/README.md
  cvat/requirements/README.txt
  cvat/requirements/all.in
  cvat/requirements/all.txt
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.in
  cvat/requirements/development.txt
  cvat/requirements/production.in
  cvat/requirements/production.txt
  cvat/requirements/testing.in
  cvat/requirements/testing.txt
  dev/make_requirements.py
  pyproject.toml
  site/content/en/docs/contributing/development-environment.md
Due: cvat-server

Add uv.lock
  uv.lock
Due: none

Fixed tooltip
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
Due: cvat-ui

Fix formatting
  dev/make_requirements.py
Due: none

Export venv path in env stage
  Dockerfile
Due: none

added test
  tests/cypress/e2e/features/masks_basics.js
Due: none

applied comments
  cvat-ui/src/components/annotation-page/annotation-page.tsx
  cvat-ui/src/components/common/not-found.tsx
  cvat-ui/src/components/create-job-page/create-job-page.tsx
  cvat-ui/src/components/create-job-page/job-form.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/task-page/task-page.tsx
  cvat-ui/src/components/update-cloud-storage-page/update-cloud-storage-page.tsx
Due: cvat-ui

Ignore subprocess vulnerability
  dev/make_requirements.py
Due: none

Add a quality setting for avoiding using bbox in point group matching
  cvat/apps/quality_control/migrations/0004_qualitysettings_use_image_space_for_point_group_comparisons.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
Due: cvat-server

Update make_requirements.py
  cvat/requirements/all.txt
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  cvat/requirements/testing.txt
  dev/make_requirements.py
Due: cvat-server

Fix invalid syntax on PATH definition
  Dockerfile
Due: none

Update ui
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
Due: cvat-ui

Update changelog
  changelog.d/20241101_140759_mzhiltso_compare_point_groups_in_image_space.md
Due: none

Use venv bin in PATH variable
  Dockerfile
Due: none

Fixed missing keybind in tooltip (#8632)
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
Due: cvat-ui

Update schema
  cvat/schema.yml
Due: cvat-server

tmp
  cvat-core/src/lambda-manager.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/models-actions.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Predefined number of points in single shape mode disabled by default
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
Due: cvat-ui

Add setuptools to dependencies
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  cvat/requirements/testing.txt
  pyproject.toml
  uv.lock
Due: cvat-server

Install libglib2.0-0 explicitly
  Dockerfile
Due: none

Fix nosec typo
  dev/make_requirements.py
Due: none

Reformat dev scripts with black
  dev/check_changelog_fragments.py
  dev/format_python_code.sh
  dev/make_requirements.py
  dev/update_version.py
Due: none

SDK: remove imports that were deprecated in Python 3.9 (#8626)
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/torchvision_detection.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/torchvision_keypoint_detection.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/core/client.py
  cvat-sdk/cvat_sdk/core/downloading.py
  cvat-sdk/cvat_sdk/core/helpers.py
  cvat-sdk/cvat_sdk/core/progress.py
  cvat-sdk/cvat_sdk/core/proxies/annotations.py
  cvat-sdk/cvat_sdk/core/proxies/issues.py
  cvat-sdk/cvat_sdk/core/proxies/jobs.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat-sdk/cvat_sdk/core/uploading.py
  cvat-sdk/cvat_sdk/core/utils.py
  cvat-sdk/cvat_sdk/datasets/caching.py
  cvat-sdk/cvat_sdk/datasets/common.py
  cvat-sdk/cvat_sdk/datasets/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/common.py
  cvat-sdk/cvat_sdk/pytorch/project_dataset.py
  cvat-sdk/cvat_sdk/pytorch/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/transforms.py
Due: cvat-server

Use shorter name
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/migrations/0004_qualitysettings_use_bbox_size_for_points.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Update test assets
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: none

Predefined number of points in single shape mode disabled by default (#8635)
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
Due: cvat-ui

Do not pass traceback from the server
  cvat-core/src/server-proxy.ts
  cvat/apps/engine/views.py
  cvat/apps/lambda_manager/views.py
Due: cvat-ui, cvat-server

Remove deprecated typing imports from generated SDK sources
  cvat-sdk/gen/postprocess.py
  cvat-sdk/gen/templates/openapi-generator/api.mustache
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
  cvat-sdk/gen/templates/openapi-generator/configuration.mustache
Due: cvat-server

minor updates
  cvat-core/src/lambda-manager.ts
  cvat/apps/lambda_manager/views.py
Due: cvat-ui, cvat-server

Show error
  cvat-core/src/lambda-manager.ts
  cvat-ui/src/components/tasks-page/automatic-annotation-progress.tsx
Due: cvat-ui

Avoid passing traceback in corner cases
  cvat/apps/engine/serializers.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Removed unused import
  cvat/apps/engine/serializers.py
Due: cvat-server

Fixed propagate in ground truth tasks with sparsed frames (#8550)
  changelog.d/20241016_133802_sekachev.bs_fixed_propagation.md
  cvat-core/src/annotations-actions.ts
  cvat-core/src/frames.ts
  cvat-core/src/object-utils.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/standard-workspace/propagate-confirm.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

added a couple of documentation lines
  site/content/en/docs/manual/advanced/annotation-with-brush-tool.md
  site/content/en/images/brushing_tool_menu.png
  site/content/en/images/brushing_tools_hide.png
Due: none

Fix `random_per_job` option on create job page (#8623)
  changelog.d/20241031_152803_klakhov_fix_create_job.md
  cvat-core/src/session.ts
  cvat-ui/package.json
  cvat-ui/src/actions/jobs-actions.ts
  cvat-ui/src/components/annotation-page/annotation-page.tsx
  cvat-ui/src/components/common/not-found.tsx
  cvat-ui/src/components/create-job-page/create-job-page.tsx
  cvat-ui/src/components/create-job-page/job-form.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/task-page/task-page.tsx
  cvat-ui/src/components/update-cloud-storage-page/update-cloud-storage-page.tsx
Due: cvat-ui

initial refactoring
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/support/commands.js
Due: none

Extend quality test
  tests/python/rest_api/test_quality_control.py
Due: none

Refactor all of CLI
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/__init__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands.py
  cvat-cli/src/cvat_cli/_internal/common.py
  cvat-cli/src/cvat_cli/_internal/parsers.py
  cvat-cli/src/cvat_cli/_internal/utils.py
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
