Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Missing code
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Removed not relevant test
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
Due: none

Updated test
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
Due: none

added `parent_id` to Consensus Reports
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/consensus/models.py
  cvat/apps/consensus/serializers.py
  cvat/apps/consensus/views.py
Due: cvat-server

used `parent_id` in ConsensusConflictsViewSet also
  cvat/apps/consensus/views.py
Due: cvat-server

updated `schama.yml` with `parent_id`
  cvat/schema.yml
Due: cvat-server

Apply comments
  .github/workflows/trigger-dependent-repo-update.yml
Due: none

Removed extra fetch from storage
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
Due: cvat-ui

Minor refactoring
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
Due: cvat-ui

Display the ID for non-system models (#8412)
  cvat-ui/package.json
  cvat-ui/src/components/models-page/deployed-model-item.tsx
Due: cvat-ui

Rename and move `LambdaType`
  cvat/apps/lambda_manager/models.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Removed legacy component to setup shortcuts (#8416)
  changelog.d/20240908_224722_sekachev.bs_removed_legacy_component_to_setup_shortcuts.md
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/label-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/label-key-selector-popover.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/label-item.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
Due: cvat-ui

Rename and move `LambdaType` (#8418)
  cvat/apps/lambda_manager/models.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

added tests for merging consensus and reports
  tests/python/rest_api/test_consensus.py
Due: none

added task for merge consensus and updated the json dump
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/consensus_assignee_reports.json
  tests/python/shared/assets/consensus_conflicts.json
  tests/python/shared/assets/consensus_reports.json
  tests/python/shared/assets/consensus_settings.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: none

fixed indentation in `test_tasks.py`
  tests/python/rest_api/test_tasks.py
Due: none

added endpoints for consensus objects for accessing them in test cases
  tests/python/shared/fixtures/data.py
Due: none

moved server health check while starting test container in try for slow hardware
  tests/python/shared/fixtures/init.py
Due: none

added consensus json dumps into `dump_objects.py`
  tests/python/shared/utils/dump_objects.py
Due: none

improved the `Use Cases` section's Ground Truth part
  site/content/en/docs/manual/advanced/consensus.md
Due: none

added details about working of merging algorithm
  site/content/en/docs/manual/advanced/consensus.md
Due: none

fixed typo from `basket hound` to `basset hound`
  site/content/en/docs/manual/advanced/consensus.md
  site/content/en/images/basset_hound_ear_covered.jpeg
  site/content/en/images/basset_hound_ear_not_covered.jpeg
Due: none

fixed formatting in `Use Cases` part
  site/content/en/docs/manual/advanced/consensus.md
Due: none

Grammatical fixes
  site/content/en/docs/manual/advanced/consensus.md
Due: none

fixed grammatical and spelling errors
  site/content/en/docs/manual/advanced/consensus.md
Due: none

fixed the return type of `_get_error_type`
  cvat/apps/consensus/consensus_reports.py
Due: cvat-server

renamed conflict rules in consensus to `consensus_conflicts`
  cvat/apps/consensus/rules/conflicts.rego
Due: cvat-server

reduced lines having error of 120 word limit
  site/content/en/docs/manual/advanced/consensus.md
Due: none

removed duplicated consensus endpoints in `data.py` for tests
  tests/python/shared/fixtures/data.py
Due: none

Add backward compatibility for chunk "number" in GT jobs, remove placeholder frames from "index" response
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Update UI to support job chunks with non-sequential frame ids
  cvat-core/src/frames.ts
  cvat-data/src/ts/cvat-data.ts
  cvat/apps/engine/cache.py
Due: cvat-ui, cvat-server

Updated styles on long tables
  cvat-ui/src/components/quality-control/styles.scss
Due: cvat-ui

Fix job frame retrieval
  cvat/apps/engine/views.py
Due: cvat-server

fixed black lint in `data.py`
  tests/python/shared/fixtures/data.py
Due: none

Fix 3d task chunk writing
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
