Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added tests for annotations actions (#7358)
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/e2e/actions_tasks2/case_111_settings_text_size_position_label_content.js
  tests/cypress/e2e/actions_tasks2/fit_image_different_res.js
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
  tests/cypress/e2e/features/analytics_pipeline.js
  tests/cypress/e2e/features/annotations_actions.js
  tests/cypress/e2e/features/masks_basics.js
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/e2e/issues_prs/issue_7176_opacity_reset.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_annotations_actions.js
  tests/cypress/support/e2e.js
Due: cvat-ui

added history restriction on remove underlying pixels
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-history.ts
  cvat-core/src/enums.ts
Due: cvat-ui

moved check empty to updateBrushTools
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

renamed check function
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

Fix defining renderChangePasswordItem
  cvat-ui/src/components/header/header.tsx
Due: cvat-ui

fixed remark
  changelog.d/20240112_123610_klakhov_remove_empty_masks.md
Due: none

Update site/content/en/docs/getting_started/overview.md
  site/content/en/docs/getting_started/overview.md
Due: none

Update faq.md
  site/content/en/docs/faq.md
Due: none

Documentation: Introduction to CVAT (#7229)
  site/content/en/docs/getting_started/introduction-to-cvat-and-datumaro.md
  site/content/en/docs/getting_started/overview.md
  site/content/en/docs/getting_started/workflow-org.md
Due: none

Fixed context menu for skeleton elements (#7362)
  changelog.d/20240117_093145_boris_fixed_ui_fail.md
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-context-menu.tsx
Due: cvat-ui

apply comment
  helm-chart/templates/cvat_kvrocks/statefulset.yml
Due: none

Enhanced errors notifications
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat/apps/iam/serializers.py
Due: cvat-ui, cvat-server

Added changelog
  changelog.d/20240118_100807_boris_better_errors_messaging.md
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Some code reduced
  cvat-core/src/server-proxy.ts
Due: cvat-ui

XMem and polygon tracking
  .vscode/launch.json
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  docker-compose.dev.yml
  serverless/pytorch/omerferhatt/xmem/nuclio/function-gpu.yaml
  serverless/pytorch/omerferhatt/xmem/nuclio/function.yaml
  serverless/pytorch/omerferhatt/xmem/nuclio/main.py
  serverless/pytorch/omerferhatt/xmem/nuclio/model_handler.py
  xmem.patch
Due: cvat-ui

Fixed operator
  cvat-ui/src/components/cvat-app.tsx
Due: cvat-ui

Enhanced message when cloud storage is not available
  cvat-core/src/download.worker.ts
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Added one more general field
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Replace keydb with kvrocks (#7339)
  changelog.d/20240115_172625_andrey_switch_to_kvrocks.md
  cvat/settings/base.py
  docker-compose.dev.yml
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/cvat-keydb-secret.yml
  helm-chart/templates/cvat_kvrocks/secret.yml
  helm-chart/templates/cvat_kvrocks/service.yml
  helm-chart/templates/cvat_kvrocks/statefulset.yml
  helm-chart/values.yaml
  tests/python/shared/fixtures/init.py
Due: cvat-server

fixed package json
  cvat-core/package.json
Due: cvat-ui

applied code style comments
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
Due: cvat-ui

General updates
  serverless/pytorch/omerferhatt/xmem/nuclio/function-gpu.yaml
  serverless/pytorch/omerferhatt/xmem/nuclio/function.yaml
  serverless/pytorch/omerferhatt/xmem/nuclio/main.py
  serverless/pytorch/omerferhatt/xmem/nuclio/model_handler.py
Due: none

adjusted check number of points
  cvat-core/src/object-utils.ts
Due: cvat-ui

fixed undo/redo
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-history.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/enums.ts
Due: cvat-ui

fixed colon
  cvat-canvas/src/typescript/canvasModel.ts
Due: cvat-ui

reverted a couple of header changes
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-history.ts
Due: cvat-ui

Remove empty masks (#7295)
  changelog.d/20240112_123610_klakhov_remove_empty_masks.md
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-core/.eslintrc.cjs
  cvat-core/package.json
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/api.ts
  cvat-core/src/config.ts
  cvat-core/src/index.ts
  cvat-core/src/object-utils.ts
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-toolbox-styles.scss
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
  package.json
  yarn.lock
Due: cvat-ui

Better filtering python traceback
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Handling ValidationError('test')
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Fix excessive memory usage when exporting projects with multiple video tasks
  changelog.d/20240118_030702_roman_project_export_memory_consumption.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/camvid.py
  cvat/apps/dataset_manager/formats/cityscapes.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/datumaro.py
  cvat/apps/dataset_manager/formats/icdar.py
  cvat/apps/dataset_manager/formats/imagenet.py
  cvat/apps/dataset_manager/formats/kitti.py
  cvat/apps/dataset_manager/formats/labelme.py
  cvat/apps/dataset_manager/formats/lfw.py
  cvat/apps/dataset_manager/formats/market1501.py
  cvat/apps/dataset_manager/formats/mask.py
  cvat/apps/dataset_manager/formats/mot.py
  cvat/apps/dataset_manager/formats/mots.py
  cvat/apps/dataset_manager/formats/openimages.py
  cvat/apps/dataset_manager/formats/pascal_voc.py
  cvat/apps/dataset_manager/formats/pointcloud.py
  cvat/apps/dataset_manager/formats/tfrecord.py
  cvat/apps/dataset_manager/formats/velodynepoint.py
  cvat/apps/dataset_manager/formats/vggface2.py
  cvat/apps/dataset_manager/formats/widerface.py
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Enhanced errors notifications (#7371)
  changelog.d/20240118_100807_boris_better_errors_messaging.md
  cvat-core/src/download.worker.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat/apps/iam/serializers.py
Due: cvat-ui, cvat-server

fix: cvat/requirements/base.txt to reduce vulnerabilities
  cvat/requirements/base.txt
Due: cvat-server

Revert changes
  cvat-ui/src/reducers/server-api-reducer.ts
Due: cvat-ui

Refactor state management in attribute editor for enhanced UI responsiveness
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
Due: cvat-ui

added base tests
  tests/cypress/e2e/features/masks_basics.js
Due: none

added remve underlying pixels test
  tests/cypress/e2e/features/masks_basics.js
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
