Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

wip: project export test
  tests/python/rest_api/test_projects.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

finish test with tags in removed images
  tests/python/rest_api/test_projects.py
Due: none

blacken
  tests/python/rest_api/test_projects.py
  tests/python/shared/fixtures/data.py
Due: none

debug: where json
  tests/python/rest_api/test_projects.py
Due: none

use data attr (json is not found)
  tests/python/rest_api/test_projects.py
Due: none

Added changelog
  changelog.d/20251114_113608_klakhov_fix_double_menu_2.md
Due: none

Updated development guide
  site/content/en/docs/contributing/development-environment.md
Due: none

Updated development guide (#10003)
  site/content/en/docs/contributing/development-environment.md
Due: none

set trace_python_allocators=True
  cvat/asgi.py
Due: cvat-server

restapi test tags in removed images on project export (#10002)
  tests/python/README.md
  tests/python/rest_api/test_projects.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
  tests/python/shared/fixtures/data.py
Due: none

Fixed a few issues from previous PR + updated the getting started grid.
  site/assets/scss/_styles_project.scss
  site/content/en/docs/_index.md
  site/content/en/docs/administration/basics/REST_API_guide.md
  site/content/en/docs/api_sdk/api/_index.md
  site/content/en/docs/dataset_management/export-datasets.md
  site/content/en/docs/dataset_management/formats/_index.md
  site/content/en/docs/dataset_management/formats/format-cvat.md
  site/content/en/docs/dataset_management/formats/format-xml.md
  site/content/en/docs/dataset_management/import-datasets.md
  site/content/en/docs/getting_started/overview.md
  site/layouts/shortcodes/card.html
Due: none

Azure and Google Cloud Fix
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Remove extra code
  cvat/apps/engine/mixins.py
Due: cvat-server

Support pagination without precise count reporting
  cvat/apps/engine/default_settings.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/pagination.py
  cvat/apps/engine/serializers.py
Due: cvat-server

t
  cvat/apps/engine/views.py
Due: cvat-server

Fix typos in some files
  cvat-canvas/src/typescript/mergeHandler.ts
Due: cvat-ui

Shrink chapter menu icon.
  cvat-ui/src/components/annotation-page/styles.scss
Due: cvat-ui

Add header to fix service worker installation
  cvat-ui/react_nginx.conf
Due: cvat-ui

linters
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Fix double action menu (#9986)
  changelog.d/20251114_113608_klakhov_fix_double_menu_2.md
  cvat-ui/src/components/cloud-storages-page/cloud-storage-item.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/models-page/actions-menu.tsx
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/styles.scss
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/requests-page/actions-menu.tsx
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/components/webhooks-page/actions-menu.tsx
  cvat-ui/src/components/webhooks-page/webhook-item.tsx
  cvat-ui/src/utils/context-menu-helper.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Small clean-up
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/webpack.config.js
Due: cvat-ui

Remove code to back up the contents of the task directory (#10001)
  changelog.d/20251112_174932_roman_no_task_dir_backup.md
  cvat/apps/engine/backup.py
Due: cvat-server

set native_traces=True
  cvat/asgi.py
Due: cvat-server

pylint fix
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Upgrade traefik to resolve "404 not found" at http://localhost:8080
  docker-compose.yml
Due: none

Create 20251117_105205_EchoLynx.md
  changelog.d/20251117_105205_EchoLynx.md
Due: none

Fix logs and response for Cloud Storage Status
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

Update Django to 4.2.26
  cvat/requirements/base.txt
Due: cvat-server

format linters
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/views.py
  tests/python/rest_api/test_cloud_storages.py
Due: cvat-server

black linter
  tests/python/rest_api/test_cloud_storages.py
Due: none

Update Django to 4.2.26 (#10016)
  cvat/requirements/base.txt
Due: cvat-server

Update Traefik to 3.6.1
  docker-compose.yml
  helm-chart/Chart.yaml
Due: none

ex deletion
  cvat/apps/engine/cloud_provider.py
  manage.py
Due: cvat-server

rollback space
  manage.py
Due: none

linter fix
  cvat/apps/engine/cloud_provider.py
  manage.py
Due: cvat-server

Add changelog
  changelog.d/20251118_164651_andrey_update_traefik.md
Due: none

Update site/content/en/docs/api_sdk/api/_index.md
  site/content/en/docs/api_sdk/api/_index.md
Due: none
