Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Update 20240429_145914_boris_fixed_incorrect_cs_request.md
  changelog.d/20240429_145914_boris_fixed_incorrect_cs_request.md
Due: none

Modernize Rego syntax
  .github/workflows/regallint.yml
  cvat/apps/analytics_report/rules/analytics_reports.rego
  cvat/apps/engine/rules/annotationguides.rego
  cvat/apps/engine/rules/cloudstorages.rego
  cvat/apps/engine/rules/comments.rego
  cvat/apps/engine/rules/issues.rego
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/labels.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/server.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/rules/tests/generators/annotationguides_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/cloudstorages_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/comments_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/issues_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/jobs_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/projects_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/server_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/tasks_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/users_test.gen.rego.py
  cvat/apps/engine/rules/users.rego
  cvat/apps/events/rules/events.rego
  cvat/apps/events/rules/tests/generators/events_test.gen.rego.py
  cvat/apps/iam/rules/utils.rego
  cvat/apps/lambda_manager/rules/lambda.rego
  cvat/apps/lambda_manager/rules/tests/generators/lambda_test.gen.rego.py
  cvat/apps/log_viewer/rules/analytics.rego
  cvat/apps/log_viewer/rules/tests/generators/analytics_test.gen.rego.py
  cvat/apps/organizations/rules/invitations.rego
  cvat/apps/organizations/rules/memberships.rego
  cvat/apps/organizations/rules/organizations.rego
  cvat/apps/organizations/rules/tests/generators/invitations_test.gen.rego.py
  cvat/apps/organizations/rules/tests/generators/memberships_test.gen.rego.py
  cvat/apps/organizations/rules/tests/generators/organizations_test.gen.rego.py
  cvat/apps/quality_control/rules/conflicts.rego
  cvat/apps/quality_control/rules/quality_reports.rego
  cvat/apps/quality_control/rules/quality_settings.rego
  cvat/apps/webhooks/rules/tests/generators/webhooks_test.gen.rego.py
  cvat/apps/webhooks/rules/webhooks.rego
Due: cvat-server

Use CPU PyTorch for testing the SDK
  .github/workflows/full.yml
  .github/workflows/main.yml
Due: none

Fixed infinite requests from update CS page when CS does not exist
  changelog.d/20240430_115445_boris_fixed_infinite_loading_nonexisting_cs.md
  cvat-ui/src/components/update-cloud-storage-page/update-cloud-storage-page.tsx
Due: cvat-ui

Update 20240430_115445_boris_fixed_infinite_loading_nonexisting_cs.md
  changelog.d/20240430_115445_boris_fixed_infinite_loading_nonexisting_cs.md
Due: none

.patch file removed
  xmem.patch
Due: none

Revert docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

Fixed incorrect Cloud Storage request by ID (#7823)
  changelog.d/20240429_145914_boris_fixed_incorrect_cs_request.md
  cvat-core/src/server-proxy.ts
Due: cvat-ui

EOF fix
  serverless/pytorch/omerferhatt/xmem/nuclio/model_handler.py
Due: none

change depricated method
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/model_loader.py
Due: none

remove package version define
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function-gpu.yaml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function.yaml
Due: none

Opening update CS page sends infinite requests when CS id does not exist (#7828)
  changelog.d/20240430_115445_boris_fixed_infinite_loading_nonexisting_cs.md
  cvat-ui/src/components/update-cloud-storage-page/update-cloud-storage-page.tsx
Due: cvat-ui

Fixed duration of 'change:frame' event (#7817)
  changelog.d/20240429_110227_boris_fixed_change_frame_duration.md
  cvat-ui/package.json
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

add addition condition to check result
  tests/cypress/plugins/index.js
Due: none

Save video if test failed (#7807)
  .github/workflows/main.yml
  tests/cypress.config.js
  tests/cypress/plugins/index.js
Due: none

Base images updated, pip installation order fixed and body size increased
  serverless/pytorch/omerferhatt/xmem/nuclio/function-gpu.yaml
  serverless/pytorch/omerferhatt/xmem/nuclio/function.yaml
Due: none

Update launch.json to remove unused debug configuration
  .vscode/launch.json
Due: none

Update serverless/pytorch/omerferhatt/xmem/nuclio/main.py
  serverless/pytorch/omerferhatt/xmem/nuclio/main.py
Due: none

Update serverless/pytorch/omerferhatt/xmem/nuclio/model_handler.py
  serverless/pytorch/omerferhatt/xmem/nuclio/model_handler.py
Due: none

Fix bug in ToolsControlComponent for tracking rectangles
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Enhanced tus protocol, by using retries
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Added changelog, updated version
  changelog.d/20240430_172649_boris_enable_tus_retries.md
  cvat-core/package.json
Due: cvat-ui

Update changelog.d/20240430_172649_boris_enable_tus_retries.md
  changelog.d/20240430_172649_boris_enable_tus_retries.md
Due: none

Modernize Rego syntax (#7824)
  .github/workflows/regallint.yml
  cvat/apps/analytics_report/rules/analytics_reports.rego
  cvat/apps/engine/rules/annotationguides.rego
  cvat/apps/engine/rules/cloudstorages.rego
  cvat/apps/engine/rules/comments.rego
  cvat/apps/engine/rules/issues.rego
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/labels.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/server.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/rules/tests/generators/annotationguides_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/cloudstorages_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/comments_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/issues_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/jobs_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/projects_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/server_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/tasks_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/users_test.gen.rego.py
  cvat/apps/engine/rules/users.rego
  cvat/apps/events/rules/events.rego
  cvat/apps/events/rules/tests/generators/events_test.gen.rego.py
  cvat/apps/iam/rules/utils.rego
  cvat/apps/lambda_manager/rules/lambda.rego
  cvat/apps/lambda_manager/rules/tests/generators/lambda_test.gen.rego.py
  cvat/apps/log_viewer/rules/analytics.rego
  cvat/apps/log_viewer/rules/tests/generators/analytics_test.gen.rego.py
  cvat/apps/organizations/rules/invitations.rego
  cvat/apps/organizations/rules/memberships.rego
  cvat/apps/organizations/rules/organizations.rego
  cvat/apps/organizations/rules/tests/generators/invitations_test.gen.rego.py
  cvat/apps/organizations/rules/tests/generators/memberships_test.gen.rego.py
  cvat/apps/organizations/rules/tests/generators/organizations_test.gen.rego.py
  cvat/apps/quality_control/rules/conflicts.rego
  cvat/apps/quality_control/rules/quality_reports.rego
  cvat/apps/quality_control/rules/quality_settings.rego
  cvat/apps/webhooks/rules/tests/generators/webhooks_test.gen.rego.py
  cvat/apps/webhooks/rules/webhooks.rego
Due: cvat-server

Update changelog.d/20240429_124319_jackylamhk_patch_2.md
  changelog.d/20240429_124319_jackylamhk_patch_2.md
Due: none

Optimized analytics requests to ClickHouse (#7804)
  .vscode/settings.json
  changelog.d/20240426_101506_boris_requests_clickhouse_optimization.md
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/__init__.py
  cvat/apps/analytics_report/report/derived_metrics/base.py
  cvat/apps/analytics_report/report/primary_metrics/__init__.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/base.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/apps/analytics_report/views.py
Due: cvat-server

Added requests optimization, using timestamps
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/base.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
Due: cvat-server

Minor refactoring
  cvat/apps/analytics_report/report/primary_metrics/objects.py
Due: cvat-server

Applied linters
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/base.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
Due: cvat-server

Applied linters
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/base.py
Due: cvat-server

Applied linters
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
Due: cvat-server

Added changelog entry
  changelog.d/20240501_095709_boris_requests_clickhouse_optimization.md
Due: none

Fixed: Cannot read properties of undefined (reading 'addClass')
  cvat-canvas/src/typescript/canvasModel.ts
Due: cvat-ui

Added changelog
  changelog.d/20240501_111444_boris_reworked_empty_first_frame_fix.md
Due: none

Updated version
  cvat-canvas/package.json
Due: cvat-ui

Fixed use-case with empty project
  cvat/apps/analytics_report/report/create.py
Due: cvat-server

applied linter
  cvat/apps/analytics_report/report/create.py
Due: cvat-server

Removed extra code
  cvat-canvas/src/typescript/canvasModel.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
