Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

remove finalized_tracks
  cvat/apps/dataset_manager/bindings.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Update changelog.d/20240412_013221_jbargav025_related_imgs_in_export.md
  changelog.d/20240412_013221_jbargav025_related_imgs_in_export.md
Due: none

[GSoC2024] fix cvat-ui error when open a job with issue (#7600)
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

remove element_keyframe
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

changelog added
  changelog.d/20240412_213101_umangapatel123_ui_error_job_with_issues.md
Due: none

added sly dump check
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

double the maximum length of attribute values
  cvat/apps/engine/migrations/0079_alter_attributespec_values.py
  cvat/apps/engine/models.py
Due: cvat-server

add changelog fragment
  changelog.d/20240413_031652_ritikraj2699_attribute_text_length_limited_for_adding_values.md
Due: none

only add keyframe true to non-outside first shape
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Switch back to release version for js-debug extension
  .devcontainer/local/devcontainer.json
Due: none

Remove depreciated version declaration in devcontainer docker compose file
  .devcontainer/local/docker-compose.yml
Due: none

Mirror common changes to codespace devcontainer
  .devcontainer/codespaces/Dockerfile
  .devcontainer/codespaces/devcontainer.json
  .devcontainer/codespaces/dist.env
  .devcontainer/codespaces/docker-compose.yml
  .devcontainer/codespaces/init.sh
  .devcontainer/local/Dockerfile
  .devcontainer/local/devcontainer.json
  .devcontainer/local/docker-compose.yml
  .gitignore
  site/content/en/docs/contributing/development-environment.md
Due: none

Update documentation
  site/content/en/docs/contributing/development-environment.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add notifications queue listen for rq worker debug process
  .vscode/launch.json
Due: none

resolved issue#7762
  cvat-ui/src/components/models-page/models-page.tsx
Due: cvat-ui

resolved issue#7762
  changelog.d/20240414_114237_kavikumarceo_resolved_issue_7762.md
  cvat-ui/src/components/models-page/models-page.tsx
Due: cvat-ui

Enable run serverless deployments from the devcontainer
  .devcontainer/codespaces/Dockerfile
  .devcontainer/codespaces/devcontainer.json
  .devcontainer/codespaces/docker-compose.yml
  .devcontainer/codespaces/poststart.sh
  .devcontainer/docker-compose.nuclio.yml
  .devcontainer/local/Dockerfile
  .devcontainer/local/devcontainer.json
  .devcontainer/local/docker-compose.yml
  .devcontainer/local/poststart.sh
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Update documentation for running tests
  site/content/en/docs/contributing/running-tests.md
Due: none

Fix typo
  site/content/en/docs/contributing/development-environment.md
Due: none

Update docs for using VS Code Insiders
  site/content/en/docs/contributing/development-environment.md
Due: none

Lock devcontainer features and enable updates via dependabot
  .devcontainer/codespaces/devcontainer-lock.json
  .devcontainer/local/devcontainer-lock.json
  .github/dependabot.yml
Due: none

Status API done
  cvat/apps/engine/migrations/0084_job_ai_audio_annotation_status_and_more.py
  cvat/apps/engine/migrations/0085_alter_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0086_rename_ai_audio_annotation_task_id_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0087_alter_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0088_remove_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0089_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0090_alter_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0091_job_ai_audio_annotation_error_msg.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

wip
  cvat/apps/engine/migrations/0084_job_ai_audio_annotation_error_msg_and_more.py
  cvat/apps/engine/migrations/0085_alter_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0086_rename_ai_audio_annotation_task_id_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0087_alter_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0088_remove_job_ai_audio_annotation_background_task_id.py
  cvat/apps/engine/migrations/0089_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0090_alter_job_ai_audio_annotation_task_id.py
  cvat/apps/engine/migrations/0091_job_ai_audio_annotation_error_msg.py
Due: cvat-server

bug fix
  cvat/apps/engine/views.py
Due: cvat-server

handle last track with outside true or keyframe true
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Add OPA package to devcontainer
  .devcontainer/local/Dockerfile
  .devcontainer/local/docker-compose.yml
Due: none

Upgrade node
  Dockerfile.ci
  site/content/en/docs/contributing/development-environment.md
Due: none

Improved admin panel for engine models
  cvat/apps/engine/admin.py
Due: cvat-server

Added changelog entry
  changelog.d/20240415_122324_boris_fixed_admin_504.md
Due: none

Optimized fetching resources on admin page (organizations app)
  cvat/apps/organizations/admin.py
Due: cvat-server

Updated changelog
  changelog.d/20240415_124543_boris_fixed_504_organization.md
Due: none

Update admin.py
  cvat/apps/organizations/admin.py
Due: cvat-server

minor fix
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

only append shapes with keyframe equals to true
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Merge
  changelog.d/20240415_124543_boris_fixed_504_organization.md
Due: none

Update 20240415_122324_boris_fixed_admin_504.md
  changelog.d/20240415_122324_boris_fixed_admin_504.md
Due: none

Update cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Fix difficulty dragging two point polylines
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui
