Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

reverted json dump
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

added demo task id for multiple jobs
  tests/python/rest_api/test_quality_control.py
Due: none

added swap functionality
  .vscode/launch.json
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

allowed button click for relevant values
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

json dump after test added
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

added filter to not include gt_job when the test intends to create one.
  tests/python/rest_api/test_jobs.py
Due: none

fix: Dockerfile.ui to reduce vulnerabilities
  Dockerfile.ui
Due: none

Added headers to nginx.conf
  cvat/nginx.conf
Due: cvat-server

Added headers to react_nginx.conf
  cvat-ui/react_nginx.conf
Due: cvat-ui

added test for constructing label when empty label
  tests/cypress/e2e/actions_tasks2/case_118_create_label_with_empty_label_name.js
Due: none

modified test for constructing label with existing label
  tests/cypress/e2e/actions_tasks2/case_43_create_label_with_existing_label_name.js
Due: none

modified error message when label is not unique
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

added form validation for empty labels, displaying error messages
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

update helm documentation
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
Due: none

computed quality report through api and added dumped JSON
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

quality_control: factor out duplicate annotation summary creation logic
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

added check to if specific frames are requested then there shouldn't be a gt_job
  tests/python/rest_api/test_jobs.py
Due: none

images one under the other
  README.md
Due: none

removed width
  README.md
Due: none

reveted data.json dump after updating test database
  tests/python/shared/assets/cvat_db/data.json
Due: none

added frame wise check of confusion matrix in tests
  tests/python/rest_api/test_quality_control.py
Due: none

updated error message; updated header with correct year
  tests/cypress/e2e/actions_tasks2/case_118_create_label_with_empty_label_name.js
Due: none

refactor label name input validation to use existing 'required' rule
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

added fix to CHANGELOG.md
  CHANGELOG.md
Due: none

updated the data.json dump by just removing the mentioned parts
  tests/python/shared/assets/cvat_db/data.json
Due: none

added efficient accumulation of confusion matrix across jobs
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

added changelog fragment
  changelog.d/20240318_195644_mann.compi_labels_constructor_issue_5729.md
Due: none

removed changelog modification
  CHANGELOG.md
Due: none

Update launch.json to use new python debugger
  .vscode/launch.json
Due: none

resolved issue #7620
  changelog.d/20240318_203856_kavikumarceo.md
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/jobs-page/styles.scss
Due: cvat-ui

Update python debugger configuration
  .vscode/launch.json
Due: none

updated match_frame_fuzzy
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/coco.py
Due: cvat-server

restoring testing database to original state after each test
  tests/python/rest_api/test_jobs.py
Due: none

linted tests
  tests/python/rest_api/test_jobs.py
Due: none

Defined better Content Security Policy in react_nginx.conf
  cvat-ui/react_nginx.conf
Due: cvat-ui

Defined better Content Security Policy in nginx.conf
  cvat/nginx.conf
Due: cvat-server

added changelog fragment
  changelog.d/20240319_014508_mann.compi.md
Due: none

updated the json dump and the testing database after computing quality_report through API call
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

Migrate to dj-rest-auth==5.0.2
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  cvat/settings/base.py
  utils/dataset_manifest/requirements.txt
Due: cvat-server

resolved issue #7636
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
