Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix spurious failures in `case_17_lock_hide_features.js` (#7742)
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/issues_prs/issue_2485_navigation_empty_frames.js
  tests/cypress/support/commands.js
Due: none

added tests
  changelog.d/20240411_000812_krishavrajsingh_CountAnnotations.md
Due: none

updated changlelog
  changelog.d/20240411_000812_krishavrajsingh_CountAnnotations.md
Due: none

fixed changelog
  changelog.d/20240405_091941_klakhov_rar_support.md
Due: none

tests added
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: none

[GSoC2024] - fixed attribute rename issue (#7670)
  .gitignore
  changelog.d/20240410_095637_ritikraj2699_attribute_rename_fix.md
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

applied comments
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Apply suggestions from code review
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

Apply suggestions from code review
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Add missing type annotation
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

update openpolicyagent/opa version
  .github/workflows/schedule.yml
  docker-compose.yml
  helm-chart/values.yaml
  site/content/en/docs/contributing/running-tests.md
Due: none

fix comments
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

remove unused import
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Updated nginx.conf
  cvat/nginx.conf
Due: cvat-server

Updated react_nginx.conf
  cvat-ui/react_nginx.conf
Due: cvat-ui

Update 20240319_014508_mann.compi.md
  changelog.d/20240319_014508_mann.compi.md
Due: none

use OPA from the docker image for testing
  .github/workflows/schedule.yml
Due: none

update python version for gpu
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
Due: none

add autogenerated OPA tests
  .github/workflows/schedule.yml
Due: none

use ending_tracks to track last frame with outside true
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/util.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Added support for `.rar` and some other archives (#7729)
  Dockerfile
  changelog.d/20240405_091941_klakhov_rar_support.md
  cvat/apps/engine/media.mimetypes
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/tests/assets/test_rar.rar
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

fix: add run and call types
  cvat-core/src/lambda-manager.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Update cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Mask stays pixelated during editing (#7747)
  changelog.d/20240410_160047_boris_pixelated_masks_layer.md
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

change to_boolean to to_bool
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/util.py
Due: cvat-server

rearrage tracks into finalized_tracks
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Test: Add tests for attribute rename.
  tests/python/rest_api/test_labels.py
Due: none

corrected dumping function - Datumaro
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

added in logs
  changelog.d/20240412_013221_jbargav025_related_imgs_in_export.md
Due: none

Create separate tests for renaming attribute
  tests/python/rest_api/test_labels.py
Due: none

minor changes
  tests/python/rest_api/test_labels.py
Due: none

[GSoC2024] resolved issue #7443 (navigate over unresolved issues) (#7653)
  changelog.d/20240321_205232_kavikumarceo_resolved_issue_7443.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: cvat-ui

revert nuclio update
  components/serverless/docker-compose.serverless.yml
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
  site/content/en/docs/administration/advanced/installation_automatic_annotation.md
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Due: none

Updating packages with vulnerabilities (#7713)
  .github/workflows/schedule.yml
  cvat-cli/requirements/base.txt
  cvat-sdk/requirements/base.txt
  cvat/requirements/base.in
  docker-compose.yml
  helm-chart/values.yaml
  site/content/en/docs/contributing/running-tests.md
  tests/python/requirements.txt
  utils/dataset_manifest/requirements.in
  utils/dicom_converter/requirements.txt
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
