Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Revert "resolved issue #7636"
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Resolved Issue #7620
  changelog.d/20240318_203856_kavikumarceo.md
  cvat-ui/src/components/jobs-page/styles.scss
Due: cvat-ui

Migrate to django-allauth>=0.56.0,<0.58.0
  cvat/apps/iam/serializers.py
Due: cvat-server

fixed config update
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
Due: cvat-ui

Resolved Issue #7620
  cvat-ui/src/components/jobs-page/styles.scss
Due: cvat-ui

quality_control: factor out duplicate annotation summary creation logic (#7632)
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

added request.addfinalizer to remove created gt_jobs
  tests/python/rest_api/test_jobs.py
Due: none

quality_control: correct the per-class accuracy formula
  changelog.d/20240319_183656_roman_accuracy_jaccard.md
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

made testing db revert to original state after running TestGetGtJobData
  tests/python/rest_api/test_jobs.py
Due: none

fixed linting
  tests/python/rest_api/test_jobs.py
Due: none

changelog & package
  changelog.d/20240319_142812_klakhov_fix_remove_underlying_pixels.md
  cvat-ui/package.json
Due: cvat-ui

[GSoC24] Resolved Issue #7620 (Changed the alignment of the empty component in job page) (#7621)
  changelog.d/20240318_203856_kavikumarceo.md
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/jobs-page/styles.scss
Due: cvat-ui

Update settings
  cvat/settings/base.py
Due: cvat-server

Allow dj-rest-auth compatible releases
  cvat/requirements/base.in
Due: cvat-server

Package & changelog
  changelog.d/20240320_125513_klakhov_event_for_logged_out_user.md
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

added timeout config
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/config.tsx
Due: cvat-ui

updated button
  site/content/en/images/cvat-readme-button-tr-bg.png
Due: none

Update installation.md
  site/content/en/docs/administration/basics/installation.md
Due: none

revert wrong propagated
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

don't drop end_frame if it's key
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

add tests for cross >2 jobs scenario
  tests/python/rest_api/test_tasks.py
Due: none

update changelog
  changelog.d/20240315_183623_avaicode.md
Due: none

reformatted function name of helper method
  tests/python/rest_api/test_jobs.py
Due: none

split the get and create gt job function into two separate functions and refactored code accordingly
  tests/python/rest_api/test_jobs.py
Due: none

refactored the name change of delete gt job method
  tests/python/rest_api/test_jobs.py
Due: none

removed raised warnings depened on the presence of gt_job in task
  tests/python/rest_api/test_jobs.py
Due: none

removed the unwanted job list call while creating a gt_job
  tests/python/rest_api/test_jobs.py
Due: none

Decode uploaded filename from request header
  cvat/apps/engine/views.py
Due: cvat-server

Create changelog fragment
  changelog.d/20240320_174524_andrew.yunxiang.md
Due: none

Fix missing RegisterSerializerEx fields in server schema
  cvat/apps/iam/serializers.py
  cvat/apps/iam/views.py
  cvat/schema.yml
Due: cvat-server

update tasks and comments
  tests/python/rest_api/test_tasks.py
Due: none

revert propagate
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Reimplement RegisterView::perform_create method to fix missing user auth token creation
  cvat/apps/iam/views.py
Due: cvat-server

resolved issue #7443
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
Due: cvat-ui

resolved issue #7443
  changelog.d/20240321_150549_kavikumarceo.md
Due: none

add test for check disabling button while creating gt job
  tests/cypress/e2e/issues_prs2/issue_7540_disable_submit_button_while_creating_gt_job.js
Due: none

Apply suggestions from code review
  tests/python/rest_api/test_jobs.py
Due: none

[GSoC2024] added filter to not include gt_job when the test intends to create one. (#7623)
  tests/python/rest_api/test_jobs.py
Due: none

Update tests
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

Redump the test data
  tests/python/shared/assets/cvat_db/data.json
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
