Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added CHANGELOG
  changelog.d/20231011_162748_nikita_fix_perf_issues.md
Due: none

Fixed Siammask tracker error on grayscale images (#6982)
  changelog.d/20231011_153251_andrey_fix_siammask.md
  serverless/pytorch/foolwood/siammask/nuclio/main.py
Due: none

fixed geometry listener context
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

Override EditorConfig settings for YAML files (#6980)
  .editorconfig
Due: none

plan name changed to solo documentation
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/bank_transfer_payment.jpg
  site/content/en/images/cancel_pro.gif
  site/content/en/images/cancel_solo.gif
  site/content/en/images/update_payment_pro.png
  site/content/en/images/update_payment_solo.png
Due: none

Fix tracks splitting for tracks that have sub-tracks (#6968)
  changelog.d/20231010_113810_sizow.k.d_fix_tracks_splitting.md
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/task.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Update lowlevel-api.md
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
Due: none

Updated asset for 3d tests (added nan values to one of them) (#6981)
  tests/cypress/e2e/canvas3d_functionality/assets/test_canvas3d.zip
Due: none

fixed remove event listener
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

reverted newline
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

added independent test
  tests/cypress/e2e/actions_tasks2/case_26_canvas_color_settings_feature.js
Due: none

added line to changelog
  changelog.d/20231012_095633_klakhov_fix_memory.md
Due: none

remove debug lines
  tests/python/rest_api/test_tasks.py
Due: none

Update changelog.d/20231012_095633_klakhov_fix_memory.md
  changelog.d/20231012_095633_klakhov_fix_memory.md
Due: none

enabled nginx proxy buffering
  cvat/nginx.conf
Due: cvat-server

Added changelog entry
  changelog.d/20231012_105902_sekachev.bs_fixed_crash.md
Due: none

Restrict supported drf-spectacular version
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Fixed object states memory leak (#6984)
  changelog.d/20231012_095633_klakhov_fix_memory.md
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

Added persist image filters test (#6978)
  tests/cypress/e2e/actions_tasks2/case_26_canvas_color_settings_feature.js
Due: none

Update bindings.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

update changleog
  changelog.d/20231012_113210_andrey_update_nginx_config.md
  cvat/nginx.conf
Due: cvat-server

disabled translation the page causing the issues
  cvat-ui/src/index.html
Due: cvat-ui

Use the last created job as a job on which another one depends
  cvat/apps/engine/utils.py
Due: cvat-server

plan name changed to solo documentation (#6985)
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/bank_transfer_payment.jpg
  site/content/en/images/cancel_pro.gif
  site/content/en/images/cancel_solo.gif
  site/content/en/images/update_payment_pro.png
  site/content/en/images/update_payment_solo.png
Due: none

added X-Frame-Options: deny
  cvat-ui/react_nginx.conf
  cvat/nginx.conf
Due: cvat-ui, cvat-server

update changelog
  changelog.d/20231012_123219_andrey_x_frame_options.md
Due: none

tab->space
  cvat-ui/react_nginx.conf
Due: cvat-ui

reduce values
  cvat/nginx.conf
Due: cvat-server

Added changelog
  changelog.d/20231012_131418_sekachev.bs_fixed_google_translator.md
Due: none

Fixed crash related to issue tries to mount to not existing parent (#6977)
  changelog.d/20231012_105902_sekachev.bs_fixed_crash.md
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Forward version url to version docs build
  site/build_docs.py
  site/layouts/home.html
Due: none

added proxy_temp_path
  cvat/nginx.conf
Due: cvat-server

Up to 10x memory optimization
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/groupHandler.ts
  cvat-canvas/src/typescript/interactionHandler.ts
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Check chunk in the test
  tests/python/rest_api/test_tasks.py
Due: none

Update imports
  tests/python/rest_api/test_tasks.py
Due: none

Disabled translation the page causing the issues (#6993)
  changelog.d/20231012_131418_sekachev.bs_fixed_google_translator.md
  cvat-ui/src/index.html
Due: cvat-ui

Filter keys from empty directories
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

add resource limits
  helm-chart/Chart.yaml
  helm-chart/test.values.yaml
  helm-chart/values.yaml
Due: none

changelog
  changelog.d/20231012_181301_andrey_fix_worker_restart.md
Due: none

Optimized algorithms, fixed some issues
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/exceptions.ts
  cvat-core/src/object-utils.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
