Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Added extras and csv export
  cvat-ui/src/components/common/cvat-table.tsx
Due: cvat-ui

Custom table used in quality control frames management
  cvat-ui/src/components/common/cvat-table.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-table-header.tsx
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: cvat-ui

Removed extra scss classes
  cvat-ui/src/components/quality-control/styles.scss
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: cvat-ui

applied comments
  cvat/apps/dataset_manager/tracks_counter.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/events/handlers.py
Due: cvat-server

applied linter
  cvat/apps/dataset_manager/tracks_counter.py
  cvat/apps/dataset_manager/util.py
Due: cvat-server

Fixed comment
  cvat/apps/dataset_manager/tracks_counter.py
Due: cvat-server

Fixed test
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

Bump python version in workflows
  .github/workflows/full.yml
  .github/workflows/main.yml
  .github/workflows/schedule.yml
Due: none

Applied comment
  cvat/apps/dataset_manager/util.py
Due: cvat-server

Removed code duplication and unset event listeners
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/utils/location-utils.ts
Due: cvat-ui

do not init from db existing tasks on import to project
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/project.py
Due: cvat-server

SAM CPU wait from 10 sec to 30 sec
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
Due: none

only streaming yolo for tasks
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

updated changelog
  changelog.d/20250325_154046_klakhov_improve_actions_menu.md
Due: none

fixing openimages
  cvat/apps/dataset_manager/formats/openimages.py
Due: cvat-server

Fix inference YOLO model on grayscale images
  serverless/onnx/WongKinYiu/yolov7/nuclio/main.py
Due: none

fixed typo, improved tooltip styles
  cvat-ui/src/base.scss
  cvat-ui/src/components/common/cvat-card.tsx
  cvat-ui/src/components/consensus-management-page/task-consensus/consensus-settings-form.tsx
Due: cvat-ui

Drop tmp_file from import-specific metadata
  cvat/apps/engine/background.py
  cvat/apps/engine/rq.py
Due: cvat-server

fixing (and accelerating) yolo pose import
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

Fix AbstractExporter
  cvat/apps/engine/background.py
  cvat/apps/events/export.py
  cvat/apps/redis_handler/background.py
Due: cvat-server

fixing test_dataset_root
  cvat/apps/dataset_manager/tests/test_formats.py
Due: cvat-server

streaming import for coco
  cvat/apps/dataset_manager/formats/coco.py
Due: cvat-server

Remove a few more Black exceptions
  cvat/apps/engine/apps.py
  cvat/apps/engine/handlers.py
  cvat/apps/engine/location.py
  cvat/apps/engine/log.py
  cvat/apps/engine/middleware.py
  cvat/apps/engine/plugins.py
  cvat/apps/engine/renderers.py
  cvat/apps/engine/schema.py
  cvat/apps/engine/signals.py
  cvat/apps/engine/urls.py
  pyproject.toml
Due: cvat-server

Remove a few more Black exceptions (#9242)
  cvat/apps/engine/apps.py
  cvat/apps/engine/handlers.py
  cvat/apps/engine/location.py
  cvat/apps/engine/log.py
  cvat/apps/engine/middleware.py
  cvat/apps/engine/plugins.py
  cvat/apps/engine/renderers.py
  cvat/apps/engine/schema.py
  cvat/apps/engine/signals.py
  cvat/apps/engine/urls.py
  pyproject.toml
Due: cvat-server

wip: testing for width and height
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

Move rq job owner check into rego
  cvat/apps/quality_control/permissions.py
  cvat/apps/redis_handler/permissions.py
  cvat/apps/redis_handler/rules/requests.rego
Due: cvat-server

Update events REST API tests
  cvat/apps/redis_handler/serializers.py
  tests/python/rest_api/test_analytics.py
  tests/python/rest_api/test_consensus.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/utils.py
Due: cvat-server

use separate task name in task creation
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

Update server schema
  cvat/schema.yml
Due: cvat-server

Optimize webhooks
  cvat/apps/webhooks/models.py
  cvat/apps/webhooks/serializers.py
Due: cvat-server

break the chain to give more time for organization member checks
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

replaced labels with with instance ids
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

fix webpack.config
  cvat-ui/webpack.config.js
Due: cvat-ui

updated schema
  cvat/schema.yml
Due: cvat-server

Update test db
  tests/python/shared/assets/cvat_db/data.json
Due: none

Update test assets
  tests/python/shared/assets/quality_reports.json
  tests/python/shared/assets/quality_settings.json
Due: none

Remove analytics traces
  cvat/apps/analytics_report/schema.py
  cvat/settings/base.py
Due: cvat-server

Refactor utils
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/view_utils.py
Due: cvat-server

Removed code duplication and unset event listeners (#9262)
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/utils/location-utils.ts
Due: cvat-ui
