Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

chore: add changelog for HiDPI mask canvas fix
  changelog.d/20260830_015412_YzYhhhstudy_fix_mask_hidpi.md
Due: none

fix(engine): export to cloud storage respects the storage's configured prefix
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/tests/test_cloud_provider.py
Due: cvat-server

docs: add changelog fragment for #11112
  changelog.d/20260831_063617_adhavan18_export_cloud_storage_prefix.md
Due: none

Audio: adjust import and export annotations dialogs for 1D (#11081)
  changelog.d/20260826_120153_aleksey.zinovyev_1d_import_export_opts.md
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
  tests/cypress/e2e/audio_workspace/case_audio_39_export_dialog_options.js
Due: cvat-ui

Disable audio quality
  cvat-ui/src/audio/components/create-task-page/audio-create-task-content.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

Apply more comments
  site/content/en/docs/qa-analytics/auto-qa.md
  site/content/en/images/requirement-form.webp
Due: none

Revert version change
  _typos.toml
  cvat-core/src/opencv/intelligent-scissors.ts
  cvat-core/src/worker-utils.ts
  cvat-ui/src/assets/opencv_4.8.0.js
  cvat-ui/src/assets/opencv_5.0.0.js
  cvat-ui/src/config.tsx
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
Due: cvat-ui

Revert "add unit test for cache policy"
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Improve changelog
  changelog.d/20260820_122241_klakhov_rotated_shapes_by_points.md
Due: none

Fix webpack
  cvat-ui/webpack.config.js
Due: cvat-ui

Support search when selecting an audio label
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-actions.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-header.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-label-selector.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-interval-more-actions.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-region-details.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_interval-header.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_region-label-popover.scss
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/label-selector/label-selector.tsx
  tests/cypress/e2e/audio_workspace/case_audio_09_delete_via_sidebar.js
  tests/cypress/e2e/audio_workspace/case_audio_15_region_details_content.js
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
  tests/cypress/support/commands_audio.js
Due: cvat-ui

Add changelog
  changelog.d/20260831_164623_aleksey.zinovyev_audio_label_search.md
Due: none

Fix tests
  tests/cypress/e2e/actions_objects2/case_14_appearance_features.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/features2/quality_control.js
  tests/cypress/support/commands.js
Due: none

feat(sdk): make ctypes OpenH264 adapter production-ready
  cvat-video-openh264/.gitignore
  cvat-video-openh264/src/cvat_video_openh264/reader.py
  cvat-video-openh264/src/cvat_video_openh264/utils/decoder.py
  cvat-video-openh264/tests/test_decoder_discovery.py
  cvat-video-openh264/tests/test_reader_integrity.py
Due: none

feat: add filter frames and filter annotations options
  changelog.d/9956_frame_filter_toggle.md
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/filters-modal.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

fix: correct changelog category
  changelog.d/9956_frame_filter_toggle.md
Due: none

fix: respect filterAnnotations flag in all renderData updates
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/filters-modal.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

test: add e2e coverage for annotation filter toggles (issue #9956)
  changelog.d/9956_frame_filter_toggle.md
  tests/cypress/e2e/actions_tasks3/case_119_filter_toggle_functionality.js
Due: none

fix: update changelog PR reference
  changelog.d/9956_frame_filter_toggle.md
Due: none

fix(sdk): harden OpenH264 adapter ABI gate, handle release, and tests
  .github/workflows/cvat-video-openh264.yml
  cvat-video-openh264/src/cvat_video_openh264/reader.py
  cvat-video-openh264/src/cvat_video_openh264/utils/__init__.py
  cvat-video-openh264/src/cvat_video_openh264/utils/decoder.py
  cvat-video-openh264/tests/test_artifact_checks.py
  cvat-video-openh264/tests/test_ctypes_abi.py
  cvat-video-openh264/tests/test_decoder_discovery.py
  cvat-video-openh264/tests/test_decoder_native_boundary.py
Due: none

feat(sdk): make ctypes OpenH264 adapter production-ready
  .github/workflows/cvat-video-openh264.yml
Due: none

Preserve object selections during canvas updates
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-canvas/src/typescript/selectHandler.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Keep multi-selection moves within frame bounds
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Reflect multi-selection drag availability
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

fix lints
  cvat-video-openh264/src/cvat_video_openh264/utils/decoder.py
  cvat-video-openh264/src/cvat_video_openh264/utils/mp4.py
  cvat-video-openh264/tests/test_artifact_checks.py
  cvat-video-openh264/tests/test_decoder_native_boundary.py
Due: none

Align multi-selection controls with object controls
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/selection-attributes-editor.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-attribute.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/utils/multi-selection.ts
Due: cvat-ui

Reuse object shortcuts for multi-selection
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

Unify copy placement for objects and selections
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-history.ts
  cvat-core/src/annotations-objects/annotation-common.ts
  cvat-core/src/annotations-objects/cuboid-shape.ts
  cvat-core/src/annotations-objects/cuboid-track.ts
  cvat-core/src/annotations-objects/drawn.ts
  cvat-core/src/annotations-objects/ellipse-shape.ts
  cvat-core/src/annotations-objects/ellipse-track.ts
  cvat-core/src/annotations-objects/index.ts
  cvat-core/src/annotations-objects/mask-shape.ts
  cvat-core/src/annotations-objects/rectangle-shape.ts
  cvat-core/src/annotations-objects/rectangle-track.ts
  cvat-core/src/annotations-objects/skeleton-shape.ts
  cvat-core/src/annotations-objects/skeleton-track.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

fix(video-decoder): remove unreachable frame-count mismatch check
  cvat-video-openh264/src/cvat_video_openh264/reader.py
  cvat-video-openh264/tests/test_reader_integrity.py
Due: none

Update Traefik to 3.7
  .github/workflows/main.yml
  changelog.d/20260806_130322_roman.md
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/test.values.yaml
  helm-chart/values.yaml
  site/content/en/docs/administration/community/advanced/k8s_deployment_with_helm.md
Due: none

fix lints
  cvat-video-openh264/src/cvat_video_openh264/utils/decoder.py
  cvat-video-openh264/tests/test_decoder_discovery.py
Due: none

Remove excessive test
  tests/cypress/e2e/features2/quality_control.js
Due: none

Improve drawing performance for brush tool
  changelog.d/20260831_223649_jonas_3875_drawing_perf_many_polygon.md
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

docs(sdk-examples): index the ground truth and dataset recipe pages
  cvat-sdk/examples/dataset_bulk_export.py
  cvat-sdk/examples/dataset_incremental_download.py
  cvat-sdk/examples/project_data_lint.py
  cvat-sdk/examples/task_add_gt_frames.py
  cvat-sdk/examples/task_create_subtasks.py
  cvat-sdk/examples/task_create_with_validation.py
  site/content/en/docs/api_sdk/sdk/examples/_index.md
  site/content/en/docs/api_sdk/sdk/examples/cloud-storage.md
  site/content/en/docs/api_sdk/sdk/examples/webhooks.md
Due: cvat-server

Clear playback range on entering draw/record mode
  cvat-ui/src/reducers/audio-reducer.ts
Due: cvat-ui

fix
  cvat/apps/quality_control/tests/test_views.py
  cvat/apps/quality_control/views.py
Due: cvat-server

black
  cvat/apps/quality_control/tests/test_views.py
Due: cvat-server

Allow full responses for initial chunk range requests
  changelog.d/20260901_081900_sekachev.bs_fix_response_code.md
  cvat-core/src/download.worker.ts
Due: cvat-ui
