Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

use ellipses in quality reports
  cvat/apps/quality_control/quality_reports.py
  tests/python/rest_api/test_quality_control.py
Due: cvat-server

initial implementation
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/annotation-page.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Add fetching state management to quality control page
  cvat-ui/src/components/quality-control/quality-control-page.tsx
Due: cvat-ui

Add changelog fragment
  changelog.d/20250429_101431_maria_fix_scope_defining_when_check_permissions.md
  cvat/apps/iam/permissions.py
Due: cvat-server

Added changelog
  changelog.d/20250429_100052_sekachev.bs_optimized_lazy_list.md
Due: none

Update 20250429_100052_sekachev.bs_optimized_lazy_list.md
  changelog.d/20250429_100052_sekachev.bs_optimized_lazy_list.md
Due: none

Declare process_job signature && reduce code duplication
  cvat/apps/consensus/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/engine/redis_migrations/001_cleanup_scheduled_jobs.py
  cvat/apps/engine/redis_migrations/002_update_meta_in_export_related_jobs.py
  cvat/apps/engine/redis_migrations/003_migrate_to_key_value_id_format.py
  cvat/apps/events/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/quality_control/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/redis_handler/redis_migrations/__init__.py
  cvat/apps/redis_handler/redis_migrations/utils.py
Due: cvat-server

Refactor CVATTable component to allow dynamic filtering component logic
  cvat-ui/src/components/common/cvat-table.tsx
Due: cvat-ui

Update changelog
  changelog.d/20250429_131148_mzhiltso_optimize_permission_checks.md
Due: none

ellipses in consensus
  cvat/apps/consensus/intersect_merge.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/data.json
Due: cvat-server

Use deprecate_response func
  cvat/apps/engine/view_utils.py
  cvat/apps/engine/views.py
  cvat/apps/events/export.py
  cvat/apps/quality_control/views.py
Due: cvat-server

Optimized lazy list implementation (#9359)
  changelog.d/20250429_100052_sekachev.bs_optimized_lazy_list.md
  cvat/apps/engine/lazy_list.py
Due: cvat-server

fixing sonarqube issues
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

CLI: don't prompt for the password until arguments are parsed
  changelog.d/20250429_164556_roman_cli_password_prompt.md
  cvat-cli/src/cvat_cli/_internal/common.py
Due: cvat-server

Update TrackerMIL documentation (#9351)
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
  site/content/en/docs/manual/basics/vocabulary.md
  site/content/en/images/image242.jpg
  site/content/en/images/tracker_indication_detrac.jpg
  site/content/en/images/tracker_indication_detrac.png
  site/content/en/images/tracker_mil_action.png
  site/content/en/images/tracker_mil_control.png
  site/content/en/images/tracker_pop-up_window.png
  site/content/en/images/tracker_switcher.jpg
  site/content/en/images/tracker_switcher.png
Due: none

Remove return_request_id arg
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/utils.py
Due: none

Remove ParsedExportFilenameWithConstructedId class
  cvat/apps/dataset_manager/util.py
Due: cvat-server

update changelog
  changelog.d/20250429_163951_maria_reusable_requests_functionality.md
Due: none

fix kitti check, add link to issue
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

remove kitti raw format check
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

refactor source check + minor style fixes
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

refactor shape comparisons
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

revert log to avoid spamming, revert key_info to previous logic
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Revert "change register"
  tests/cypress/e2e/features/consensus.js
Due: none

Grammar, style, and list fixes
  site/content/en/docs/manual/basics/3d-object-annotation.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/attribute-annotation-mode-basics.md
  site/content/en/docs/manual/basics/cloud-storages.md
  site/content/en/docs/manual/basics/create-annotation-task.md
  site/content/en/docs/manual/basics/create-multi-tasks.md
  site/content/en/docs/manual/basics/jobs-page.md
  site/content/en/docs/manual/basics/quality-control.md
  site/content/en/docs/manual/basics/registration.md
  site/content/en/docs/manual/basics/requests-page.md
  site/content/en/docs/manual/basics/settings.md
  site/content/en/docs/manual/basics/shape-mode-basics.md
  site/content/en/docs/manual/basics/standard-3d-mode-basics.md
  site/content/en/docs/manual/basics/task-details.md
  site/content/en/docs/manual/basics/tasks-page.md
  site/content/en/docs/manual/basics/track-mode-basics.md
  site/content/en/docs/manual/basics/types-of-shapes.md
Due: none

Add search bar image and update documentation for search and filters (#9341)
  site/content/en/docs/manual/advanced/search.md
  site/content/en/images/image100_detrac.jpg
  site/content/en/images/search-bar.png
Due: none

Enhance frame search modal with improved styling and debounced search functionality
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
Due: cvat-ui

Fix Remark linter warnings
  site/content/en/docs/getting_started/overview.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/navbar.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/create-annotation-task.md
  site/content/en/docs/manual/basics/settings.md
  site/content/en/docs/manual/basics/task-details.md
Due: none

Add shortcut for searching frames by name in the player navigation
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

Fix Remark linter warnings
  site/content/en/docs/manual/basics/task-details.md
Due: none

fixing types
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Added placeholder for analytics, added raw events export (#9293)
  changelog.d/20250401_140322_sekachev.bs_analytics_placeholder.md
  cvat-core/src/analytics-report.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/type-utils.ts
  cvat-ui/src/actions/requests-async-actions.ts
  cvat-ui/src/components/analytics-report/analytics-page-header.tsx
  cvat-ui/src/components/analytics-report/analytics-report-content.tsx
  cvat-ui/src/components/analytics-report/analytics-report-page.tsx
  cvat-ui/src/components/analytics-report/index.ts
  cvat-ui/src/components/analytics-report/styles.scss
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/paid-feature-placeholder/styles.scss
  cvat-ui/src/components/plugins-entrypoint.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
  cvat-ui/src/config.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
  cvat/apps/events/permissions.py
  tests/cypress/support/commands.js
  tests/cypress/support/commands_organizations.js
Due: cvat-ui, cvat-server

Fix org permission checks in quality settings api, remove unsupported post method
  cvat/apps/quality_control/views.py
  cvat/schema.yml
Due: cvat-server

Add Shortcuts link, headings
  site/content/en/docs/manual/basics/settings.md
Due: none

Newline in the end
  site/content/en/docs/manual/basics/settings.md
Due: none

update migrations
  cvat/apps/consensus/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/engine/redis_migrations/003_migrate_to_key_value_id_format.py
  cvat/apps/events/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/quality_control/redis_migrations/001_migrate_to_key_value_id_format.py
  cvat/apps/redis_handler/redis_migrations/__init__.py
Due: cvat-server

Optimize permission checks in jobs list (#9275)
  changelog.d/20250429_131148_mzhiltso_optimize_permission_checks.md
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
  cvat/apps/quality_control/models.py
  cvat/schema.yml
Due: cvat-server

Refactor frame search modal to use AutoComplete for improved search experience and styling
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
Due: cvat-ui

Rename search modal references to 'SearchFramesModal' for clarity and consistency
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/annotation-page.tsx
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
