Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Update changelog
  changelog.d/20251120_184216_mzhiltsov_refactor_quality_settings.md
Due: none

Status test AVAILABLE
  tests/python/rest_api/test_cloud_storages.py
Due: none

Added changelog entry
  changelog.d/20251121_091756_sekachev.bs_updated_permissions.md
Due: none

fixed md
  changelog.d/20251121_091756_sekachev.bs_updated_permissions.md
Due: none

docs: add comprehensive CLAUDE.md guide for AI assistants
  CLAUDE.md
Due: none

stylint fixes
  site/content/en/docs/annotation/annotation-editor/objects-sidebar.md
  site/content/en/docs/qa-analytics/analytics.md
  site/content/en/docs/workspace/tasks-page.md
Due: none

docs: add Google Drive Model Registry integration design
  docs/google-drive-model-registry-design.md
Due: none

added volumeAttributesClassName support for kvrocks PVC
  helm-chart/templates/cvat_kvrocks/statefulset.yml
  helm-chart/values.yaml
Due: none

changelog
  changelog.d/20251121_131725_petr.iosipov_DEV_763.md
Due: none

redirect fixes
  site/content/en/docs/annotation/annotation-editor/settings.md
  site/content/en/docs/annotation/auto-annotation/ai-tools.md
  site/content/en/docs/annotation/manual-annotation/shapes/annotation-with-brush-tool.md
  site/content/en/docs/annotation/manual-annotation/shapes/annotation-with-cuboids/editing-the-cuboid.md
  site/content/en/docs/annotation/manual-annotation/shapes/annotation-with-polygons/track-mode-with-polygons.md
  site/content/en/docs/faq/_index.md
  site/content/en/docs/getting_started/overview.md
Due: none

inter test
  tests/python/rest_api/test_cloud_storages.py
  tests/python/shared/assets/cloudstorages.json
  tests/python/shared/assets/cvat_db/data.json
Due: none

Support context image plugin
  cvat-core/src/frames.ts
  cvat-core/src/index.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
Due: cvat-ui

feat(cloud-storage): add Google Drive provider support
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/utils/enums.tsx
  cvat/apps/engine/models.py
Due: cvat-ui, cvat-server

fix(cloud-storage): complete oauth_token credential handling
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
Due: cvat-ui

test: add comprehensive frontend unit testing framework
  cvat-ui/jest.config.js
  cvat-ui/package.json
  cvat-ui/src/__mocks__/fileMock.ts
  cvat-ui/src/__mocks__/handlers.ts
  cvat-ui/src/__mocks__/server.ts
  cvat-ui/src/__mocks__/test-utils.tsx
  cvat-ui/src/__tests__/example-integration.test.tsx
  cvat-ui/src/setupTests.ts
  docs/google-drive-model-registry-frontend-tests.md
Due: cvat-ui

test(e2e): add comprehensive Google Drive Model Registry E2E tests
  docs/google-drive-model-registry-e2e-tests.md
  tests/cypress/e2e/features/google_drive_model_registry/error_handling.js
  tests/cypress/e2e/features/google_drive_model_registry/model_upload_discovery.js
  tests/cypress/support/commands_google_drive_models.js
Due: none

fix(cypress): register Google Drive model commands in e2e setup
  tests/cypress/support/e2e.js
Due: none

test(regression): add comprehensive regression testing suite for Google Drive Model Registry
  .github/workflows/google-drive-regression-tests.yml
  docs/google-drive-model-registry-regression-tests.md
  tests/cypress/e2e/regression/google_drive_model_registry/edge_cases.js
  tests/cypress/e2e/regression/google_drive_model_registry/historical_bugs.js
  tests/cypress/e2e/regression/google_drive_model_registry/smoke_tests.js
Due: none

feat(models): add Google Drive Model Registry backend
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/google_drive_service.py
  cvat/apps/engine/migrations/0096_add_model_registry.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/requirements/base.in
Due: cvat-server

feat(api): add REST API endpoints for Google Drive Model Registry
  cvat/apps/engine/models.py
  cvat/apps/engine/urls.py
  cvat/apps/engine/views.py
Due: cvat-server

fix(models): add permissions and organization scoping for Model Registry
  cvat/apps/engine/permissions.py
  cvat/apps/engine/views.py
Due: cvat-server

feat(models): add caching layer for Google Drive model listings
  cvat/apps/engine/views.py
Due: cvat-server

feat(models): add OPA authorization policies for Model Registry
  cvat/apps/engine/rules/models.rego
Due: cvat-server

feat(inference): add Automated Inference Microservice backend infrastructure
  cvat/apps/inference_manager/__init__.py
  cvat/apps/inference_manager/apps.py
  cvat/apps/inference_manager/migrations/0001_initial.py
  cvat/apps/inference_manager/migrations/__init__.py
  cvat/apps/inference_manager/models.py
  cvat/apps/inference_manager/permissions.py
  cvat/apps/inference_manager/rules/__init__.py
  cvat/apps/inference_manager/rules/inference_services.rego
  cvat/apps/inference_manager/serializers.py
  cvat/apps/inference_manager/service_manager.py
  cvat/apps/inference_manager/signals.py
  cvat/apps/inference_manager/tests/__init__.py
  cvat/apps/inference_manager/urls.py
  cvat/apps/inference_manager/views.py
  cvat/requirements/base.in
  cvat/settings/base.py
  cvat/urls.py
Due: cvat-server

fix(inference): use timezone.now() instead of time.time() for DateTimeFields
  cvat/apps/inference_manager/service_manager.py
Due: cvat-server

fix(inference): add organization scoping to log and prediction ViewSets
  cvat/apps/inference_manager/views.py
Due: cvat-server

feat(augmentation): add Data Augmentation Suite backend infrastructure
  cvat/apps/augmentation_manager/__init__.py
  cvat/apps/augmentation_manager/apps.py
  cvat/apps/augmentation_manager/augmentation_processor.py
  cvat/apps/augmentation_manager/drive_uploader.py
  cvat/apps/augmentation_manager/migrations/0001_initial.py
  cvat/apps/augmentation_manager/migrations/__init__.py
  cvat/apps/augmentation_manager/models.py
  cvat/apps/augmentation_manager/permissions.py
  cvat/apps/augmentation_manager/rules/__init__.py
  cvat/apps/augmentation_manager/rules/augmentation_configs.rego
  cvat/apps/augmentation_manager/rules/augmentation_jobs.rego
  cvat/apps/augmentation_manager/serializers.py
  cvat/apps/augmentation_manager/signals.py
  cvat/apps/augmentation_manager/tests/__init__.py
  cvat/apps/augmentation_manager/urls.py
  cvat/apps/augmentation_manager/views.py
  cvat/requirements/base.in
  cvat/settings/base.py
  cvat/urls.py
Due: cvat-server

fix(augmentation): fix critical bugs in augmentation processor and Drive uploader
  cvat/apps/augmentation_manager/augmentation_processor.py
  cvat/apps/augmentation_manager/drive_uploader.py
Due: cvat-server

Fix: Issue #9225 Solved
  cvat-ui/src/components/common/not-found.tsx
Due: cvat-ui

Add Google Drive cloud storage mounting support
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/utils/enums.tsx
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/requirements/base.in
Due: cvat-ui, cvat-server

Fix browser compatibility issue with toSorted() - Issue #10027
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
Due: cvat-ui

Add Inference Engine infrastructure for model-assisted annotation
  cvat/apps/inference_engine/__init__.py
  cvat/apps/inference_engine/apps.py
  cvat/apps/inference_engine/metadata.py
  cvat/apps/inference_engine/models.py
Due: cvat-server

Added volumeAttributesClassName support for kvrocks (#10026)
  changelog.d/20251121_131725_petr.iosipov_DEV_763.md
  helm-chart/templates/cvat_kvrocks/statefulset.yml
  helm-chart/values.yaml
Due: none

fix with dump_objects
  tests/python/shared/assets/cloudstorages.json
Due: none

linters
  tests/python/rest_api/test_cloud_storages.py
Due: none

pylint fix
  tests/python/rest_api/test_cloud_storages.py
Due: none

removed changelog
  changelog.d/20251121_091756_sekachev.bs_updated_permissions.md
Due: none

t
  cvat/apps/quality_control/signals.py
Due: cvat-server

Deleted create method for cloud storage and remove unused should_be_created arg
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/serializers.py
Due: cvat-server
