Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix bandit false positives
  cvat-sdk/gen/postprocess.py
Due: cvat-server

Fix unstable test
  tests/python/rest_api/test_tasks.py
Due: none

Fix formatting
  cvat/apps/engine/cache.py
Due: cvat-server

Refactor all of CLI (#8614)
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/__init__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands.py
  cvat-cli/src/cvat_cli/_internal/common.py
  cvat-cli/src/cvat_cli/_internal/parsers.py
  cvat-cli/src/cvat_cli/_internal/utils.py
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
Due: cvat-server

Remove deprecated typing imports from generated SDK sources (#8637)
  cvat-sdk/gen/postprocess.py
  cvat-sdk/gen/templates/openapi-generator/api.mustache
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
  cvat-sdk/gen/templates/openapi-generator/configuration.mustache
Due: cvat-server

CLI: remove imports that were deprecated in Python 3.9
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands.py
  cvat-cli/src/cvat_cli/_internal/parsers.py
Due: cvat-server

fixed clash of `conflict` name in common for `ConsensusConflict` and `QualityConflict`
  cvat/apps/consensus/permissions.py
  cvat/apps/consensus/rules/consensus_conflicts.rego
  cvat/apps/consensus/urls.py
Due: cvat-server

making `id` of `AssigneeConsensusReport` visible to user through api swagger page
  cvat/apps/consensus/serializers.py
  cvat/schema.yml
Due: cvat-server

CLI: remove imports that were deprecated in Python 3.9 (#8640)
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands.py
  cvat-cli/src/cvat_cli/_internal/parsers.py
Due: cvat-server

Remove gratuitous non-ASCII characters
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/approximation-accuracy.tsx
  cvat-ui/src/index.html
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat/apps/iam/permissions.py
  tests/cypress/e2e/actions_objects/case_99_save_filtered_object_in_AAM.js
  tests/cypress/e2e/actions_objects2/case_16_z_order_features.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/actions_tasks3/case_44_changing_default_value_for_attribute.js
Due: cvat-ui, cvat-server

tests: remove imports that were deprecated in Python 3.9
  tests/python/cli/example_function.py
  tests/python/cli/example_parameterized_function.py
  tests/python/cli/util.py
  tests/python/rest_api/test_analytics_reports.py
  tests/python/rest_api/test_issues.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_labels.py
  tests/python/rest_api/test_memberships.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/test_remote_url.py
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
  tests/python/sdk/fixtures.py
  tests/python/sdk/test_auto_annotation.py
  tests/python/sdk/test_client.py
  tests/python/sdk/test_datasets.py
  tests/python/sdk/test_issues_comments.py
  tests/python/sdk/test_jobs.py
  tests/python/sdk/test_organizations.py
  tests/python/sdk/test_projects.py
  tests/python/sdk/test_pytorch.py
  tests/python/sdk/test_tasks.py
  tests/python/sdk/test_users.py
  tests/python/sdk/util.py
  tests/python/shared/fixtures/data.py
  tests/python/shared/fixtures/init.py
  tests/python/shared/utils/config.py
  tests/python/shared/utils/helpers.py
  tests/python/shared/utils/resource_import_export.py
Due: none

Fix unstable honeypot reroll test (#8639)
  cvat/apps/engine/cache.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

more refactoring
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/support/commands.js
  tests/cypress/support/dummy-data.js
Due: none

Introduce new option included_jobs
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

updated the testing assets for covering more scenarios for testing
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/consensus_assignee_reports.json
  tests/python/shared/assets/consensus_conflicts.json
  tests/python/shared/assets/consensus_reports.json
  tests/python/shared/assets/consensus_settings.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/webhooks.json
Due: none

updated demo task id
  tests/python/rest_api/test_consensus.py
Due: none

Add server support for empty frame matching
  cvat/apps/quality_control/migrations/0005_qualitysettings_match_empty.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-server

Add ui
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
Due: cvat-ui

log level set to info, bugfix in logging
  cvat/apps/engine/management/commands/ensuresuperuser.py
Due: cvat-server

Fixed: Cannot read properties of undefined (reading 'push')
  changelog.d/20241106_095739_sekachev.bs_fixed_exception_1.md
  cvat-core/src/requests-manager.ts
Due: cvat-ui

Update 20241106_095739_sekachev.bs_fixed_exception_1.md
  changelog.d/20241106_095739_sekachev.bs_fixed_exception_1.md
Due: none

Run in microtask
  cvat-core/src/requests-manager.ts
Due: cvat-ui

Fixed: Re-newed import/export request failed immediately if the previous failed
  changelog.d/20241106_112907_sekachev.bs_fixed_exception_2.md
  cvat-ui/src/actions/export-actions.ts
  cvat-ui/src/actions/import-actions.ts
  cvat-ui/src/actions/requests-actions.ts
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

Added test and docs for hide mask feature (#8633)
  site/content/en/docs/manual/advanced/annotation-with-brush-tool.md
  site/content/en/images/brushing_tool_menu.png
  site/content/en/images/brushing_tools_hide.png
  tests/cypress/e2e/features/masks_basics.js
Due: none

set email from username if valid address, formatted code
  cvat/apps/engine/management/commands/ensuresuperuser.py
Due: cvat-server

added tests for task quality form
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/support/commands.js
  tests/cypress/support/dummy-data.js
Due: none

Fix comments
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/settings/base.py
Due: cvat-server

Rename
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/migrations/0005_qualitysettings_match_empty.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: cvat-ui, cvat-server

tests: remove imports that were deprecated in Python 3.9 (#8643)
  tests/python/cli/example_function.py
  tests/python/cli/example_parameterized_function.py
  tests/python/cli/util.py
  tests/python/rest_api/test_analytics_reports.py
  tests/python/rest_api/test_issues.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_labels.py
  tests/python/rest_api/test_memberships.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/test_remote_url.py
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
  tests/python/sdk/fixtures.py
  tests/python/sdk/test_auto_annotation.py
  tests/python/sdk/test_client.py
  tests/python/sdk/test_datasets.py
  tests/python/sdk/test_issues_comments.py
  tests/python/sdk/test_jobs.py
  tests/python/sdk/test_organizations.py
  tests/python/sdk/test_projects.py
  tests/python/sdk/test_pytorch.py
  tests/python/sdk/test_tasks.py
  tests/python/sdk/test_users.py
  tests/python/sdk/util.py
  tests/python/shared/fixtures/data.py
  tests/python/shared/fixtures/init.py
  tests/python/shared/utils/config.py
  tests/python/shared/utils/helpers.py
  tests/python/shared/utils/resource_import_export.py
Due: none

t
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Update quality report numbers, extend setting description
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  tests/python/rest_api/test_quality_control.py
Due: cvat-server

Update changelog
  changelog.d/20241106_170626_mzhiltso_match_empty_frames.md
Due: none

Ignore not relevant tasks/projects/jobs responses
  cvat-ui/src/actions/jobs-actions.ts
  cvat-ui/src/actions/projects-actions.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/containers/tasks-page/task-item.tsx
  cvat-ui/src/containers/tasks-page/tasks-list.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/jobs-reducer.ts
  cvat-ui/src/reducers/projects-reducer.ts
  cvat-ui/src/reducers/tasks-reducer.ts
Due: cvat-ui

Fixed incorrect imports
  cvat-ui/src/components/common/preview.tsx
  cvat-ui/src/components/project-page/top-bar.tsx
  cvat-ui/src/components/projects-page/project-list.tsx
Due: cvat-ui

Update parameter
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/migrations/0004_qualitysettings_point_size_base.py
  cvat/apps/quality_control/migrations/0004_qualitysettings_use_bbox_size_for_points.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: cvat-ui, cvat-server

fix tests
  tests/python/cli/test_cli.py
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/test_tasks.py
Due: none

Update ensuresuperuser.py
  cvat/apps/engine/management/commands/ensuresuperuser.py
Due: cvat-server

Fix tests
  tests/python/rest_api/test_tasks.py
Due: none

Bump the patch version after each release, not the minor (#7179)
  .github/workflows/finalize-release.yml
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
