Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

fixed test
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

Bump actions/checkout and actions/setup-node to v4
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/full.yml
  .github/workflows/hadolint.yml
  .github/workflows/helm.yml
  .github/workflows/isort.yml
  .github/workflows/main.yml
  .github/workflows/publish-artifacts.yml
  .github/workflows/pylint.yml
  .github/workflows/remark.yml
  .github/workflows/schedule.yml
  .github/workflows/stylelint.yml
  .github/workflows/update-yarn-lock.yml
Due: none

tmp
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Unstable test
  tests/cypress/support/commands.js
  tests/cypress/support/commands_organizations.js
Due: none

Fixed test
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/control-visibility-observer.tsx
Due: cvat-ui

Fixed test
  tests/cypress/e2e/features/analytics_pipeline.js
Due: none

Bump actions/checkout and actions/setup-node to v4 (#7442)
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/full.yml
  .github/workflows/hadolint.yml
  .github/workflows/helm.yml
  .github/workflows/isort.yml
  .github/workflows/main.yml
  .github/workflows/publish-artifacts.yml
  .github/workflows/pylint.yml
  .github/workflows/remark.yml
  .github/workflows/schedule.yml
  .github/workflows/stylelint.yml
  .github/workflows/update-yarn-lock.yml
Due: none

Add an `application_name` PostgreSQL connection parameter
  cvat/settings/base.py
  supervisord/server.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: cvat-server

Updated test
  tests/cypress/e2e/features/analytics_pipeline.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_organizations.js
Due: none

Reduced number of requests
  cvat-core/src/annotations-saver.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/task-page/user-selector.tsx
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Updated workflow
  .github/workflows/main.yml
  tests/cypress.config.js
Due: none

Removed
  .github/workflows/main.yml
Due: none

Fixed tests
  tests/cypress/e2e/actions_tasks/task_changes_status_after_initial_save.js
Due: none

Updated test
  tests/cypress/e2e/actions_tasks2/test_annotations_export_hash.js
Due: none

Updated
  .github/workflows/main.yml
Due: none

Refactored tests
  tests/cypress/e2e/actions_objects/case_24_delete_unlock_lock_object.js
  tests/cypress/e2e/actions_tasks2/test_annotations_create_delete_update_save.js
  tests/cypress/e2e/actions_tasks2/test_annotations_export_hash.js
Due: none

Fixed test
  .github/workflows/main.yml
  tests/cypress.config.js
  tests/cypress/e2e/features/analytics_pipeline.js
Due: none

Updated license headers
  cvat-ui/src/actions/auth-actions.ts
  tests/cypress/e2e/actions_tasks/task_changes_status_after_initial_save.js
Due: cvat-ui

Aborted extra files
  cvat-core/src/annotations-saver.ts
  cvat-ui/src/components/task-page/user-selector.tsx
Due: cvat-ui

Add an `application_name` PostgreSQL connection parameter (#7275)
  cvat/settings/base.py
  supervisord/server.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: cvat-server

run actions documentation updated
  site/content/en/docs/enterprise/shapes-converter.md
  site/content/en/images/run-actions-menu.jpg
  site/content/en/images/shapes-converter-annotated-dataset.jpg
  site/content/en/images/shapes-converter-dialog.jpg
  site/content/en/images/shapes-converter-setup-filter.png
  site/content/en/images/shapes-coverter-action-run.jpg
Due: none

Send label update requests one by one
  cvat-core/src/session-implementation.ts
Due: cvat-ui

Updated test
  tests/cypress/e2e/actions_tasks2/test_annotations_create_delete_update_save.js
Due: none

Added initial users timeout
  cvat-ui/src/components/task-page/user-selector.tsx
  tests/cypress/e2e/actions_tasks/task_changes_status_after_initial_save.js
Due: cvat-ui

Added missing #
  tests/cypress/e2e/actions_tasks2/test_annotations_create_delete_update_save.js
Due: none

Reworkerd test
  tests/cypress/e2e/actions_objects/test_annotations_saving.js
Due: none

Returned removed file
  tests/cypress/e2e/actions_objects/case_24_delete_unlock_lock_object.js
Due: none

Do not ddos server by exceptions from client
  cvat-core/src/logger-storage.ts
  cvat-ui/src/components/global-error-boundary/global-error-boundary.tsx
  cvat-ui/src/index.tsx
Due: cvat-ui

fixed test
  cvat-core/tests/api/tasks.cjs
  cvat-core/tests/mocks/dummy-data.mock.cjs
Due: cvat-ui

Updated license headers
  cvat-core/src/logger-storage.ts
  cvat-core/src/session-implementation.ts
  cvat-ui/src/components/global-error-boundary/global-error-boundary.tsx
  cvat-ui/src/index.tsx
Due: cvat-ui

Fixed one more case
  cvat-core/src/logger-storage.ts
  cvat-ui/src/components/global-error-boundary/global-error-boundary.tsx
Due: cvat-ui

Show error by default
  cvat-ui/src/components/global-error-boundary/global-error-boundary.tsx
Due: cvat-ui

Update site/content/en/docs/enterprise/shapes-converter.md
  site/content/en/docs/enterprise/shapes-converter.md
Due: none

Updated mock data
  cvat-core/tests/mocks/dummy-data.mock.cjs
Due: cvat-ui

Aborted changes
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/session-implementation.ts
Due: cvat-ui

Fixed statistics
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

Some refactoring
  cvat-core/src/annotations-collection.ts
  cvat-core/src/session-implementation.ts
Due: cvat-ui

Some refactoring
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
