Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix job chunks naming
  cvat/apps/engine/cache.py
Due: cvat-server

pbar update
  cvat-core/package.json
  cvat-core/src/server-response-types.ts
  cvat-core/src/session.ts
  cvat/apps/engine/views.py
  cvat/settings/base.py
Due: cvat-ui, cvat-server

lint
  cvat-core/src/server-response-types.ts
  cvat-core/src/session.ts
Due: cvat-ui

subscription management update (#6307)
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/bank_transfer_payment.jpg
Due: none

Better cache for context images
  cvat-core/src/frames.ts
Due: cvat-ui

Better threads handling in context images
  cvat-core/src/frames.ts
Due: cvat-ui

Added clarification
  cvat-core/src/frames.ts
Due: cvat-ui

Fixed memory
  cvat-core/src/frames.ts
Due: cvat-ui

Remove redis queue cleanup script
  rqscheduler.py
  tests/python/shared/fixtures/init.py
Due: none

Analyics and performance documentation (#6594)
  site/content/en/docs/manual/advanced/analytics-and-monitoring/_index.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/annotation-quality.md
  site/content/en/images/openmenu.jpg
  site/content/en/images/performance_dashboard.jpg
  site/content/en/images/viewanalytics.jpg
Due: none

Using a separate event cache file for each process (#6590)
  cvat/settings/base.py
  cvat/settings/testing.py
  supervisord/server.conf
Due: cvat-server

Move the rq cleanup script to tests
  tests/docker-compose.test_extras.yml
  tests/extras/clear_rq.py
  tests/python/shared/fixtures/init.py
Due: none

Fix enum name
  cvat/apps/analytics_report/schema.py
  cvat/schema.yml
Due: cvat-server

Refactor permissions
  cvat/apps/iam/permissions.py
Due: cvat-server

Remove the YOLOv5 dependency from the YOLOv7 serverless function (#6619)
  serverless/onnx/WongKinYiu/yolov7/nuclio/function-gpu.yaml
  serverless/onnx/WongKinYiu/yolov7/nuclio/function.yaml
Due: none

Add test for duplicating settings
  tests/python/rest_api/test_quality_control.py
Due: none

Check CI
  .github/workflows/main.yml
Due: none

AEYE-132: skip to frame 90 on new video
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
Due: cvat-ui

Using proxy
  CHANGELOG.md
  cvat-core/src/frames.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
Due: cvat-ui

Applied comments
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Removed cycled dependencies, added enum
  cvat-core/src/frames.ts
  cvat-core/src/organization.ts
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Check CI
  .github/workflows/helm.yml
  .github/workflows/main.yml
  tests/python/shared/fixtures/init.py
Due: none

Check CI
  tests/docker-compose.test_extras.yml
Due: none

Add documentation for auto-annnotation in SDK/CLI (#6611)
  cvat-sdk/README.md
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
Due: cvat-server

Remove the predefined YOLOv8 function due to license incompatibility
  .github/workflows/full.yml
  .github/workflows/main.yml
  cvat-sdk/cvat_sdk/auto_annotation/functions/yolov8n.py
  cvat-sdk/gen/templates/openapi-generator/setup.mustache
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

added muggling on prod
  cvat-ui/webpack.config.js
Due: cvat-ui

Improved source maps
  cvat-ui/webpack.config.js
Due: cvat-ui

Added source maps token
  Dockerfile.ui
  cvat-ui/webpack.config.js
Due: cvat-ui

Fixed path
  cvat-ui/webpack.config.js
Due: cvat-ui

Aborted extra change
  cvat-ui/webpack.config.js
Due: cvat-ui

Removed extra arg
  cvat-ui/webpack.config.js
Due: cvat-ui

Drop Python 3.7 support in the SDK and CLI
  cvat-cli/setup.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/utils.py
  cvat-sdk/cvat_sdk/pytorch/transforms.py
  cvat-sdk/gen/generator-config.yml
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/_index.md
Due: cvat-server

Fix async error
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/containers/annotation-page/annotation-page.tsx
Due: cvat-ui

added base test
  cvat-ui/src/components/create-job-page/job-form.tsx
  tests/cypress/e2e/quality/ground_truth_jobs.js
  tests/cypress/support/commands.js
Due: cvat-ui

Remove VIEW_COMMITS scope
  cvat/apps/iam/rules/jobs.rego
Due: cvat-server

Optimized clickhouse query for `objects` metric (#6584)
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  cvat/requirements/testing.txt
Due: cvat-server

added quality page checks
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/quality/empty-job.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  tests/cypress/e2e/quality/ground_truth_jobs.js
  tests/cypress/support/commands.js
Due: cvat-ui

Bump SDK & CLI versions (#6576)
  cvat-cli/src/cvat_cli/version.py
  cvat-sdk/gen/generate.sh
Due: cvat-server

Support hidden source maps (#6634)
  Dockerfile.ui
  cvat-ui/webpack.config.js
Due: cvat-ui

added ground truth job navigation test
  cvat-ui/src/components/create-job-page/job-form.tsx
  tests/cypress/e2e/quality/ground_truth_jobs.js
  tests/cypress/support/commands.js
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
