Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Update changelog
  changelog.d/20231127_163524_mzhiltsov_fix_gt_settings_permissions.md
Due: none

Update changelog
  changelog.d/20231127_164552_mzhiltsov_fix_skeleton_comparison.md
Due: none

Fix linter
  changelog.d/20231127_164552_mzhiltsov_fix_skeleton_comparison.md
Due: none

Update failing tests
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/tasks.json
Due: none

Fix linter
  changelog.d/20231127_163524_mzhiltsov_fix_gt_settings_permissions.md
Due: none

Update hugo/docsy version (#6791)
  .github/workflows/main.yml
  .vscode/launch.json
  site/README.md
  site/assets/scss/_custom.scss
  site/build_docs.py
  site/config.toml
  site/content/en/docs/_index.md
  site/layouts/home.html
  site/layouts/partials/footer.html
  site/layouts/partials/head.html
  site/layouts/partials/navbar.html
  site/package-lock.json
  site/package.json
Due: none

skeletons update
  site/content/en/docs/manual/advanced/annotation-with-skeletons/_index.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/creating-the-skeleton.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/editing-the-skeleton.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/manual-skeletons.md
  site/content/en/images/auto-annot-sk-detectors.jpg
  site/content/en/images/auto-annot-sk.jpg
  site/content/en/images/image-draw-new-skeleton.gif
  site/content/en/images/image-draw-new-skeleton.jpg
  site/content/en/images/image-setup-skeleton-1.jpg
  site/content/en/images/image-skeleton-configurator-overview.jpg
  site/content/en/images/image-skeleton-drawn-example.jpg
  site/content/en/images/image-skeleton-point-setup.jpg
Due: none

updated doc
  site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/manual-skeletons.md
Due: none

Update auto-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
Due: none

typos
  site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/manual-skeletons.md
Due: none

run ci
  cvat/schema.yml
  tests/python/shared/assets/invitations.json
Due: cvat-server

fixed jest tests
  cvat-core/src/api-implementation.ts
Due: cvat-ui

added rejecting invitation classname
  cvat-ui/src/components/invitations-page/invitation-item.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/styles.scss
Due: cvat-ui

self request on register
  cvat-ui/src/reducers/auth-reducer.ts
Due: cvat-ui

updated test assets
  tests/python/shared/assets/cvat_db/data.json
Due: none

auto-accept invitaion only on ORG_INVITATION_CONFIRM=False
  cvat/apps/organizations/serializers.py
Due: cvat-server

wait for user id before loading invitations
  cvat-ui/src/components/cvat-app.tsx
Due: cvat-ui

fixed sending invitaion condition
  cvat/apps/organizations/serializers.py
Due: cvat-server

fixed linter
  cvat/apps/organizations/serializers.py
Due: cvat-server

Apply comments
  cvat/apps/engine/utils.py
  cvat/rq_patching.py
Due: cvat-server

updated slice and join documentation
  site/content/en/docs/manual/advanced/delete_frame.md
  site/content/en/docs/manual/advanced/slice-and-join.md
  site/content/en/docs/manual/basics/controls-sidebar.md
  site/content/en/images/join-masks-icon.jpg
  site/content/en/images/joining-tool-01.jpg
  site/content/en/images/joining-tool-02.gif
  site/content/en/images/slicing-tool-01.jpg
  site/content/en/images/slicing-tool-02.gif
  site/content/en/images/slicing-tool-icon.jpg
Due: none

linter update
  site/content/en/docs/manual/advanced/slice-and-join.md
Due: none

fixed changelog
  changelog.d/20231127_123423_klakhov_fix_opacity_reset.md
Due: none

Update changelog.d/20231110_183941_mzhiltsov_fix_gt_jobs.md
  changelog.d/20231110_183941_mzhiltsov_fix_gt_jobs.md
Due: none

reverted check on change frame
  cvat-ui/src/reducers/settings-reducer.ts
  cvat-ui/src/utils/clamp-opacity.ts
Due: cvat-ui

updated procedure
  site/content/en/docs/manual/advanced/slice-and-join.md
Due: none

Fix hidden points in skeleton comparison in quality checks (#7191)
  changelog.d/20231127_164552_mzhiltsov_fix_skeleton_comparison.md
  cvat/apps/quality_control/quality_reports.py
  tests/python/README.md
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
  tests/python/shared/assets/tasks.json
Due: cvat-server

Apply comments
  cvat/rq_patching.py
Due: cvat-server

Fix GT jobs creation (#7126)
  changelog.d/20231110_183941_mzhiltsov_fix_gt_jobs.md
  cvat/apps/engine/cache.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_jobs.py
Due: cvat-server

Add changelog entry
  changelog.d/20231129_112017_canyigitozen_helm_traefik_middleware.md
Due: none

Helm - install traefik middleware only when traefik is enabled in values
  helm-chart/templates/analytics/middlewares/forwardauth.yaml
  helm-chart/templates/analytics/middlewares/stripprefix.yaml
Due: none

Allow pre-release k8s versions in Chart.yaml to fix AWS EKS deployments
  helm-chart/Chart.yaml
Due: none

Add changelog entry
  changelog.d/20231129_112732_canyigitozen_helm_chart_kube_version.md
Due: none

Escape brackets in markdown
  changelog.d/20231129_112017_canyigitozen_helm_traefik_middleware.md
Due: none

Update site/content/en/docs/manual/advanced/annotation-with-skeletons/manual-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/manual-skeletons.md
Due: none

Fix opacity reset (#7186)
  changelog.d/20231127_123423_klakhov_fix_opacity_reset.md
  cvat-ui/src/reducers/settings-reducer.ts
  cvat-ui/src/utils/clamp-opacity.ts
Due: cvat-ui

Update site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/auto-skeletons.md
Due: none

Add support for json import in datumaro 3d format
  cvat/apps/dataset_manager/formats/datumaro.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
