Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

changelog & package
  changelog.d/20241210_120116_klakhov_improve_single_shape_save.md
  cvat-ui/package.json
Due: cvat-ui

Applied comments
  serverless/deploy_cpu.sh
  serverless/deploy_gpu.sh
Due: none

Update README.md on test run
  tests/python/README.md
Due: none

Fix merge conflict
  serverless/deploy_cpu.sh
  serverless/deploy_gpu.sh
Due: none

Update pip install for local packages
  site/content/en/docs/api_sdk/sdk/developer-guide.md
Due: none

Refactor code: extract common functions, add typing, change chunked_list to own take_by, add comments, remove serializer context uses
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
Due: cvat-server

Remove handling of impossible exceptions
  cvat/apps/engine/cache.py
Due: cvat-server

Fix request response and behavior in simultaneous deleted_frames and honeypot_real_frames updates
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Fix formatting
  cvat/apps/engine/serializers.py
Due: cvat-server

Nuclio functions in cvat network (#8777)
  docker-compose.yml
  serverless/deploy_cpu.sh
  serverless/deploy_gpu.sh
Due: none

Update README.md
  tests/python/README.md
Due: none

add dot-slash to pip install -e
  site/content/en/docs/api_sdk/sdk/developer-guide.md
Due: none

remove the redundant slashes
  site/content/en/docs/api_sdk/sdk/developer-guide.md
Due: none

Fix instructions for running tests (#8808)
  tests/python/README.md
Due: none

Update pip install command for local packages (#8809)
  site/content/en/docs/api_sdk/sdk/developer-guide.md
Due: none

Refactor a bit
  cvat/apps/dataset_manager/default_settings.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/background.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/settings/base.py
Due: cvat-server

Added support for boolean parameters in annotations actions (#8798)
  changelog.d/20241209_110126_sekachev.bs_support_boolean.md
  cvat-core/src/annotations-actions/base-action.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

Updated documentation: need to mount shared volume to cvat_worker_chunks
  site/content/en/docs/administration/basics/installation.md
  site/content/en/docs/faq.md
Due: none

Updated documentation: need to mount shared volume to cvat_worker_chunks (#8812)
  site/content/en/docs/administration/basics/installation.md
  site/content/en/docs/faq.md
Due: none

Fix test
  tests/python/rest_api/test_tasks.py
Due: none

Apply some comments
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/background.py
Due: cvat-server

Apply suggestions from code review
  changelog.d/20241207_024832_mzhiltso_disable_auto_quality_updates.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
Due: none

Update site/content/en/docs/administration/advanced/backup_guide.md
  site/content/en/docs/administration/advanced/backup_guide.md
Due: none

Remove outdated code
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/views.py
Due: cvat-server

Add todo comments
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
  cvat/apps/events/export.py
Due: cvat-server

Fix pylint issue
  cvat/apps/dataset_manager/util.py
Due: cvat-server

Disable auto quality updates (#8790)
  changelog.d/20241207_024832_mzhiltso_disable_auto_quality_updates.md
  cvat/apps/analytics_report/report/create.py
  cvat/apps/quality_control/apps.py
  cvat/apps/quality_control/default_settings.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/signals.py
  cvat/settings/development.py
  cvat/settings/testing_rest.py
  cvat/utils/background_jobs.py
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
Due: cvat-server

[doc] Fix clear spelling mistakes and change docstrings and comments to 'YOLO 1.1' instead of the non-existing 'YOLO ZIP 1.0' (#8754)
  cvat-cli/README.md
  cvat-cli/src/cvat_cli/_internal/commands.py
  cvat-sdk/cvat_sdk/core/proxies/jobs.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  site/content/en/docs/administration/advanced/analytics.md
  site/content/en/docs/administration/advanced/backup_guide.md
  site/content/en/docs/administration/advanced/custom_certificates.md
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/api_sdk/sdk/developer-guide.md
  site/content/en/docs/api_sdk/sdk/pytorch-adapter.md
  site/content/en/docs/enterprise/shapes-converter.md
  site/content/en/docs/enterprise/social-accounts-configuration.md
  site/content/en/docs/manual/advanced/annotation-with-polygons/creating-mask.md
  site/content/en/docs/manual/advanced/contextual-images.md
  site/content/en/docs/manual/advanced/formats/format-coco.md
  site/content/en/docs/manual/advanced/single-shape.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/controls-sidebar.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/navbar.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/create_an_annotation_task.md
  site/content/en/docs/manual/basics/registration.md
Due: cvat-server

Update cvat/apps/engine/serializers.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Make the CLI hierarchical
  cvat-cli/README.md
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_all.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  site/content/en/docs/api_sdk/cli/_index.md
Due: cvat-server

Make the --labels argument optional in project create
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  site/content/en/docs/api_sdk/cli/_index.md
Due: cvat-server

Update CLI tests to use hierarchical commands
  tests/python/cli/test_cli_misc.py
  tests/python/cli/test_cli_tasks.py
Due: none

`project create`: add options to import a dataset
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  site/content/en/docs/api_sdk/cli/_index.md
  tests/python/cli/conftest.py
  tests/python/cli/test_cli_projects.py
Due: cvat-server

Make argument descriptions more helpful
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
Due: cvat-server

Add basic project commands
  cvat-cli/src/cvat_cli/_internal/commands_all.py
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
Due: cvat-server

Factor out common code in task commands and `TaskRepo` to make it reusable
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
Due: cvat-server

Fix a bug with 'project create' labels being ignored
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  tests/python/cli/test_cli_projects.py
Due: cvat-server

Add changelog entry
  changelog.d/20241206_184906_roman_cli_hierarchy.md
Due: none

Add documentation for project commands
  cvat-cli/README.md
  site/content/en/docs/api_sdk/cli/_index.md
Due: cvat-server

Update the CLI introduction to mention command names
  cvat-cli/README.md
  site/content/en/docs/api_sdk/cli/_index.md
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
