Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Updated error message
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Updated message
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Stabilized cypress test features/ground_truth_jobs.js (#8279)
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/task-page/user-selector.tsx
  tests/cypress/e2e/actions_users/issue_2440_value_must_be_a_user_instance.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_projects.js
  tests/cypress/support/commands_review_pipeline.js
Due: cvat-ui

Update cvat/apps/engine/background.py
  cvat/apps/engine/background.py
Due: cvat-server

Apply suggestions from code review
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/tests/test_rest_api.py
  site/content/en/docs/manual/advanced/formats/format-yolov8.md
Due: cvat-server

fixes
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  site/content/en/docs/manual/advanced/formats/format-yolov8.md
  tests/python/rest_api/test_projects.py
Due: cvat-server

CI: Add a step to verify that no migrations are missing (#8267)
  .github/workflows/full.yml
  .github/workflows/main.yml
Due: none

supported using job card in plugin
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/jobs-page/jobs-content.tsx
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/plugins-entrypoint.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-component.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-magement-component.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/components/task-page/task-page.tsx
Due: cvat-ui

Fixed reset bug with `issue tool` (#8236)
  changelog.d/20240731_121418_klakhov_fix_issue_tool.md
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/actions/review-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/review/create-issue-dialog.tsx
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
  cvat-ui/src/containers/annotation-page/canvas/canvas-context-menu.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/review-reducer.ts
Due: cvat-ui

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

fixing pylint
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

Fixed server code 500 -> 400 when user input is not correct (#8280)
  cvat/apps/lambda_manager/views.py
Due: cvat-server

feat: attribute edition setup for shortcuts
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/shortcuts-select.tsx
Due: cvat-ui

fixing tests
  cvat/apps/dataset_manager/project.py
Due: cvat-server

added target param while filtering consensus report
  cvat/apps/consensus/views.py
Due: cvat-server

added target and assignee in consensus reports
  cvat/apps/consensus/serializers.py
Due: cvat-server

added consensus migrations
  cvat/apps/consensus/migrations/0001_initial.py
Due: cvat-server

reformatting and removed unused imports
  cvat/apps/consensus/apps.py
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/models.py
  cvat/apps/consensus/new_intersect_merge.py
  cvat/apps/consensus/permissions.py
  cvat/apps/consensus/signals.py
  cvat/apps/consensus/urls.py
Due: cvat-server

updated implementation of count of jobs in task details
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

updated shade of yellow color in quality and consensus color
  cvat-ui/src/utils/quality-color.ts
Due: cvat-ui

renamed QualityConflictsFilter to ConflictsFilter
  cvat-core/src/quality-conflict.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

added interface for Consensus Reports, Settings and Conflict
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

replace `jobName` change with a Tag
  cvat-ui/src/components/jobs-page/job-card.tsx
Due: cvat-ui

updated `schema.yml`
  cvat/schema.yml
Due: cvat-server

added tag to consensus job list in task view
  cvat-ui/src/components/job-item/job-item.tsx
Due: cvat-ui

removed settings reset button
  cvat-ui/src/components/consensus/consensus-settings-form.tsx
Due: cvat-ui

confirmation dialog before merging consensus jobs
  cvat-ui/src/components/actions-menu/actions-menu.tsx
Due: cvat-ui

added structure of consensus conflict and report
  cvat-core/src/consensus-conflict.ts
  cvat-core/src/consensus-report.ts
Due: cvat-ui

added consensus analytics page
  cvat-ui/src/components/analytics-page/consensus-analytics-page.tsx
  cvat-ui/src/components/analytics-page/task-consensus/assignee-list.tsx
  cvat-ui/src/components/analytics-page/task-consensus/consensus-conflicts.tsx
  cvat-ui/src/components/analytics-page/task-consensus/issues.tsx
  cvat-ui/src/components/analytics-page/task-consensus/job-list.tsx
  cvat-ui/src/components/analytics-page/task-consensus/mean-score.tsx
  cvat-ui/src/components/analytics-page/task-consensus/task-consensus-component.tsx
Due: cvat-ui

removed declaration of unused variable in consensus test case
  tests/python/rest_api/test_tasks.py
Due: none

reformat consensus settings form
  cvat-ui/src/components/consensus/consensus-settings-form.tsx
Due: cvat-ui

Do not block canvas navigation when frame is being fetched
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

v2.20.7
  cvat-canvas/package.json
Due: cvat-ui

v1.64.4
  cvat-ui/package.json
Due: cvat-ui

Added comment
  cvat-canvas/src/typescript/canvasModel.ts
Due: cvat-ui

Added changelog
  changelog.d/20240809_110106_boris_do_not_block_canvas.md
Due: none
