Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

added drafet user override
  cvat/apps/iam/serializers.py
Due: cvat-server

change log entry
  CHANGELOG.md
  changelog.d/20231113_202836_paul.khimyack_mediapipe.md
Due: none

move model initialize to handl() to pass threshold parameter
  serverless/tensorflow/mediapipe/nuclio/main.py
Due: none

helm-chart: make backend templates more uniform
  changelog.d/20231113_174833_roman_refactor_values.md
  helm-chart/templates/cvat_backend/initializer/job.yml
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_analyticsreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
Due: none

Removed not relevant code
  site/content/en/docs/faq.md
Due: none

Removed not relevant FAQ item (#7137)
  site/content/en/docs/faq.md
Due: none

Prevent possible cyclic dependencies
  cvat/apps/engine/backup.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
Due: cvat-server

Enqueue deferred jobs when their dependencies are moved to the failed job registry due to AbandonedJobError
  cvat/settings/base.py
Due: cvat-server

added function for checking dummy users
  cvat/apps/iam/serializers.py
  cvat/apps/iam/utils.py
Due: cvat-server

edited /accept endpoint
  cvat/apps/organizations/serializers.py
  cvat/apps/organizations/views.py
Due: cvat-server

added reject endpoint
  cvat/apps/organizations/views.py
Due: cvat-server

updated invitation link
  cvat/apps/organizations/templates/invitation/invitation_message.html
Due: cvat-server

Update CITATION.cff
  CITATION.cff
Due: none

Rebuild containers based on changed envs
  .github/workflows/main.yml
  tests/python/shared/fixtures/init.py
Due: none

Small improvement
  tests/python/rest_api/test_queues.py
Due: none

Update tests/python/README.md
  tests/python/README.md
Due: none

Update .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

Organization workflow guide
  site/content/en/docs/getting_started/_index.md
  site/content/en/docs/getting_started/introduction-to-cvat-and-datumaro.md
  site/content/en/docs/getting_started/product_tour/_index.md
  site/content/en/docs/getting_started/product_tour/cvat-intro.md
  site/content/en/docs/getting_started/workflow-org.md
  site/content/en/images/cvat-workflow-bpmn.png
Due: none

apply comments
  changelog.d/20231115_110934_andrey_update_helm.md
  helm-chart/Chart.yaml
  helm-chart/templates/analytics/ingress.yaml
  helm-chart/templates/ingress.yaml
  helm-chart/values.yaml
Due: none

Fix linter
  changelog.d/20231115_110934_andrey_update_helm.md
Due: none

Small refactoring
  cvat/rq_patching.py
  cvat/settings/base.py
Due: cvat-server

apply comments
  helm-chart/templates/ingress.yaml
Due: none

Update helm-chart/values.yaml
  helm-chart/values.yaml
Due: none

Update helm-chart/templates/ingress.yaml
  helm-chart/templates/ingress.yaml
Due: none

Update helm-chart/templates/analytics/ingress.yaml
  helm-chart/templates/analytics/ingress.yaml
Due: none

update changelog
  changelog.d/20231115_110934_andrey_update_helm.md
Due: none

tls
  changelog.d/20231115_110934_andrey_update_helm.md
  helm-chart/templates/analytics/ingress.yaml
  helm-chart/templates/ingress.yaml
  helm-chart/values.yaml
Due: none

helm-chart: make backend templates more uniform (#7127)
  changelog.d/20231113_174833_roman_refactor_values.md
  helm-chart/templates/cvat_backend/initializer/job.yml
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_analyticsreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
Due: none

apply comments
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
Due: cvat-server

autoformat
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
Due: cvat-server

updated auth query
  cvat-ui/src/components/login-page/login-form.tsx
  cvat-ui/src/components/register-page/register-form.tsx
  cvat-ui/src/components/reset-password-page/reset-password-form.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Update changelog.d/20231117_132419_andrey_fix_analytics.md
  changelog.d/20231117_132419_andrey_fix_analytics.md
Due: none

updated server invitations
  cvat/apps/iam/serializers.py
  cvat/apps/iam/utils.py
  cvat/apps/organizations/models.py
  cvat/apps/organizations/serializers.py
  cvat/apps/organizations/views.py
Due: cvat-server

added reject invitations and invitaion watcher
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/organization.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/invitation-watcher/invitation-watcher.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

t
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
Due: cvat-server

added information about prefix
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/create_an_annotation_task.md
Due: none

Update attach-cloud-storage.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
Due: none
