Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Add changelog
  changelog.d/20250911_171104_klakhov_profile_page.md
Due: none

Fix sonar issues
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/reducers/auth-reducer.ts
Due: cvat-ui

Allow creating tasks without specifying the labels
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_tasks.py
Due: cvat-ui, cvat-server

Fix related error messages
  cvat-ui/src/components/annotation-page/annotation-page.tsx
  cvat/apps/engine/serializers.py
  tests/cypress/e2e/actions_projects_models/case_57_project_label_deleting_feature.js
  tests/cypress/e2e/actions_tasks/case_58_task_label_deleting_feature.js
Due: cvat-ui, cvat-server

Add changelog entry
  changelog.d/20250911_182534_roman_task_create_without_labels.md
Due: none

Add an auto-annotation function for Hugging Face Transformers
  ai-models/detector/transformers/README.md
  ai-models/detector/transformers/func.py
  ai-models/detector/transformers/requirements.txt
Due: none

Set the value for fsGroup security context for CVAT backend and worker deployments, as well as Kvrocks sts.
  helm-chart/Chart.yaml
  helm-chart/templates/cvat_backend/initializer/job.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_chunks/deployment.yml
  helm-chart/templates/cvat_backend/worker_consensus/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
  helm-chart/templates/cvat_kvrocks/statefulset.yml
Due: none

User profile page (#9789)
  changelog.d/20250911_171104_klakhov_profile_page.md
  cvat-core/src/server-proxy.ts
  cvat-core/src/user.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/change-password-modal/change-password-modal.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/profile-page/change-password-form.tsx
  cvat-ui/src/components/profile-page/profile-content.tsx
  cvat-ui/src/components/profile-page/profile-page.tsx
  cvat-ui/src/components/profile-page/security-content.tsx
  cvat-ui/src/components/profile-page/styles.scss
  cvat-ui/src/reducers/auth-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/support/commands.js
Due: cvat-ui

Merge pull request #9778 from cvat-ai/add_info_for_local_docker_registry
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
Due: none

Remove the tuspy dependency
  changelog.d/20250912_194630_roman_no_tuspy.md
  cvat-sdk/cvat_sdk/core/uploading.py
  cvat-sdk/requirements/base.txt
  tests/python/sdk/test_tasks.py
Due: cvat-server

add verbose logs
  .github/workflows/schedule.yml
Due: none

Add headers for runs, set verbose logs
  .github/workflows/schedule.yml
Due: none

Replace some occurrences of `OrderedDict` with regular `dict` (#9643)
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/lambda_manager/tests/test_lambda.py
Due: cvat-server

Add full trace option to pytest commands
  .github/workflows/schedule.yml
Due: none

Use queue, reduce chunk size
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

fix import
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Update changelog
  changelog.d/20250915_143240_mzhiltso_optimize_cs_downloading.md
Due: none

changes
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

shapes are Iterable
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

see full logs of failed subproc in generate_manifest
  tests/python/shared/utils/helpers.py
Due: none

Revert chunk size change
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Revert chunk size change
  changelog.d/20250911_152042_mzhiltso_cs_context_images.md
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Update .github/workflows/trigger-dependent-repo-update.yml
  .github/workflows/trigger-dependent-repo-update.yml
Due: none

catch stdout with try-except instead
  .github/workflows/schedule.yml
  tests/python/shared/utils/helpers.py
Due: none

Apply comments
  helm-chart/Chart.yaml
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/values.yaml
Due: none

remove stderr arg
  tests/python/shared/utils/helpers.py
Due: none

return stderr
  tests/python/shared/utils/helpers.py
Due: none

stabilize assign project in UI
  tests/cypress/support/commands_projects.js
Due: none

add PATCH project intercept
  tests/cypress/support/commands_projects.js
Due: none

lint quotes
  tests/cypress/support/commands_projects.js
Due: none

fix printing
  tests/python/shared/utils/helpers.py
Due: none

correct wait order
  tests/cypress/support/commands_projects.js
Due: none

fix glob in PATCH projects/ intercept
  tests/cypress/support/commands_projects.js
Due: none

don't confuse types with built-in types during remote execution in generate_manifest
  utils/dataset_manifest/_types.py
  utils/dataset_manifest/core.py
Due: cvat-server

isort
  utils/dataset_manifest/core.py
Due: cvat-server

blacken helpers.py
  tests/python/shared/utils/helpers.py
Due: none

Draft implementation
  cvat-core/src/api-implementation.ts
  cvat-core/src/api-token.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/profile-page/api-token-form.tsx
  cvat-ui/src/components/profile-page/profile-page.tsx
  cvat-ui/src/components/profile-page/security-content.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/auth-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui
