Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Merge the notifications and cleaning workers
  changelog.d/20241108_202308_roman.md
  supervisord/utils.conf
Due: none

Fix: Progress on Requets page is displayed as `0..1` (#8668)
  changelog.d/20241108_115707_klakhov_fix_requests_progress.md
  cvat-core/src/request.ts
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

Merge the notifications and cleaning workers (#8672)
  changelog.d/20241108_202308_roman.md
  supervisord/utils.conf
Due: none

reset show gt on close job
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

added changelog
  changelog.d/20241111_142755_klakhov_fix_show_gt.md
Due: none

Allow matching empty frames in quality checks (#8652)
  changelog.d/20241106_170626_mzhiltso_match_empty_frames.md
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/migrations/0005_qualitysettings_match_empty.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: cvat-ui, cvat-server

quality_control: remove imports that were deprecated in Python 3.9
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

fixed comments
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/settings/base.py
Due: cvat-server

quality_control: remove imports that were deprecated in Python 3.9 (#8681)
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Remove the `quality` parameter from lambda function call endpoints
  changelog.d/20241111_195229_roman_remove_lambda_quality.md
  cvat/apps/lambda_manager/serializers.py
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
  cvat/schema.yml
Due: cvat-server

t
  cvat/apps/engine/cache.py
Due: cvat-server

fixed default shape type in single shape mode
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

changelog
  changelog.d/20241112_132508_klakhov_fix_remember_object.md
Due: none

revert configuration changes for utils
  helm-chart/test.values.yaml
Due: none

set NUMPROCS=1 for export and import workers
  helm-chart/test.values.yaml
Due: none

not prefetching images when not needed
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Disable some worker pods for helm testing workflow (#8671)
  helm-chart/test.values.yaml
Due: none

docs: fix gif in metadata
  ai4-metadata.yml
Due: none

docs: Update ai4-metadata.yml
  ai4-metadata.yml
Due: none

fixing tests
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Exclude build directories from VS Code analysis
  .vscode/settings.json
Due: none

Disable sticky sessions for backend service (#8659)
  changelog.d/20241107_162818_andrey_disable_traefik_sticky_sessions.md
  helm-chart/values.yaml
Due: none

minimizing payload for tags,tracks,shapes events
  cvat/apps/events/handlers.py
Due: cvat-server

use max safe integer
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

use get job success
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

events for webhooks
  cvat/apps/events/event.py
  cvat/apps/events/handlers.py
  cvat/apps/events/signals.py
Due: cvat-server

adding events for Membership and Invitation
  cvat/apps/events/event.py
  cvat/apps/events/handlers.py
  cvat/apps/events/signals.py
Due: cvat-server

black+isort for signals.py
  cvat/apps/events/signals.py
  dev/format_python_code.sh
Due: cvat-server

Bump rq, django-rq, rq-scheduler versions
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
Due: cvat-server

Remove rq patching
  cvat/rq_patching.py
  cvat/settings/base.py
Due: cvat-server

docs and changelog
  changelog.d/20241113_125531_dmitrii.lavrukhin_minimize_payload.md
  changelog.d/20241113_125732_dmitrii.lavrukhin_minimize_payload.md
  site/content/en/docs/administration/advanced/analytics.md
Due: none

changelog entry
  changelog.d/20241113_130658_dmitrii.lavrukhin_no_queryset_cache.md
Due: none

rq_job.get_status() now can throw an exception
  cvat/apps/analytics_report/report/create.py
  cvat/apps/engine/serializers.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Commit missed requirements file
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Fix: inconsistent `zOrder` on job open (#8669)
  changelog.d/20241108_135556_klakhov_fix_inconsistent_z_order.md
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Remove the `quality` parameter from lambda function call endpoints (#8683)
  changelog.d/20241111_195229_roman_remove_lambda_quality.md
  cvat/apps/lambda_manager/serializers.py
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
  cvat/schema.yml
Due: cvat-server

Exclude build directories from VS Code analysis (#8690)
  .vscode/settings.json
Due: none

Remove deprecated imports from a few more apps
  cvat/apps/events/tests/test_events.py
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/tests/generate_tests.py
  cvat/apps/iam/serializers.py
  cvat/apps/iam/utils.py
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Fixed several issues:
  cvat/apps/engine/cache.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Fix: Keybinds in UI allow drawing disabled shape types (#8685)
  changelog.d/20241112_132508_klakhov_fix_remember_object.md
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui
