Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Enhanced labels mapping on client
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

Added changelog
  changelog.d/20240801_154204_boris_enhanced_labels_mapping.md
Due: none

Fixed issue
  cvat-core/src/annotations-collection.ts
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
Due: cvat-ui

Refactored function
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
Due: cvat-ui

Attributes go first
  cvat-ui/src/components/model-runner-modal/labels-mapper.tsx
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

fixing import
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/assets/annotations.json
  cvat/apps/dataset_manager/tests/assets/tasks.json
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

returning accidentally removed yolo exporter
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

adding notes about [0,1] range to docs
  site/content/en/docs/manual/advanced/formats/format-yolov8.md
Due: none

Support static chunk building, fix av memory leak, add caching media iterator
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/models.py
  cvat/apps/engine/task.py
Due: cvat-server

Update API version used && support exporting to cloud
  cvat-sdk/cvat_sdk/core/downloading.py
  cvat-sdk/cvat_sdk/core/proxies/jobs.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  tests/python/sdk/test_tasks.py
Due: cvat-server

take labels from project meta if there is no task meta
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Refactor static chunk generation - extract function, revise threading
  cvat/apps/engine/task.py
Due: cvat-server

Refactor and fix task chunk creation from segment chunks, any storage
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/task.py
Due: cvat-server

implemented paid placeholder, management tab overload
  cvat-core/src/session.ts
  cvat-ui/src/assets/index.d.ts
  cvat-ui/src/assets/paid-feature.png
  cvat-ui/src/components/paid-feature-placeholder/paid-feature-placeholder.tsx
  cvat-ui/src/components/paid-feature-placeholder/styles.scss
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-component.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-magement-component.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

fixed `JobSummarySerializer` to include all types of Jobs in `TaskSummary`
  cvat/apps/engine/serializers.py
Due: cvat-server

added overview plugin
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-component.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

moved overview to plugin
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/gt-conflicts.tsx
  cvat-ui/src/components/quality-control/task-quality/issues.tsx
  cvat-ui/src/components/quality-control/task-quality/job-list.tsx
  cvat-ui/src/components/quality-control/task-quality/mean-quality.tsx
  cvat-ui/src/components/quality-control/utils/text-formatting.ts
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/utils/quality-color.ts
  cvat-ui/src/utils/quality.ts
Due: cvat-ui

Fix chunk number validation
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Enable formatting for updated components
  dev/format_python_code.sh
Due: none

Remove the checksum field
  cvat/apps/engine/frame_provider.py
Due: cvat-server

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

fixed a typo in project as peoject
  cvat-core/src/server-response-types.ts
Due: cvat-ui

added consensus score and assignee to consensus report
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/models.py
Due: cvat-server

added separate consensus merge and analytics button
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/task-page/top-bar.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/containers/actions-menu/actions-menu.tsx
Due: cvat-ui

Add nuclio function for cutie
  serverless/pytorch/redefine/cutie/nuclio/config/eval_config.yaml
  serverless/pytorch/redefine/cutie/nuclio/config/hydra/job_logging/custom-no-rank.yaml
  serverless/pytorch/redefine/cutie/nuclio/config/hydra/job_logging/custom.yaml
  serverless/pytorch/redefine/cutie/nuclio/config/model/base.yaml
  serverless/pytorch/redefine/cutie/nuclio/function-gpu.yaml
  serverless/pytorch/redefine/cutie/nuclio/function.yaml
  serverless/pytorch/redefine/cutie/nuclio/main.py
  serverless/pytorch/redefine/cutie/nuclio/model_handler.py
  serverless/pytorch/redefine/cutie/nuclio/sample/sample.jpg
Due: none

Add button for polygon tracking
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Be consistent about returned task chunk types (allow video chunks)
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Support iterator input in video chunk writing
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Fix type annotation
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Refactor video reader memory leak fix, add to reader with manifest
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Disable threading in video reading in frame provider
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Update datumaro version
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Fix keyframe search
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Return frames as generator in dynamic chunk creation
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Add changelog entry
  changelog.d/20240806_130856_36469655+Bobronium_update_datumaro_version.md
Due: none

Comply with Remark (shorten line length)
  changelog.d/20240806_130856_36469655+Bobronium_update_datumaro_version.md
Due: none

Remove scriv comment
  changelog.d/20240806_130856_36469655+Bobronium_update_datumaro_version.md
Due: none

Event Listener for when canvas is drawn on.
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

Lazy list for array field (#8229)
  cvat-cli/pyproject.toml
  cvat-sdk/pyproject.toml
  cvat/apps/analytics_report/pyproject.toml
  cvat/apps/engine/lazy_list.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_lazy_list.py
  cvat/apps/quality_control/pyproject.toml
  dev/format_python_code.sh
  pyproject.toml
Due: cvat-server

Lock requirements
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
