Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Apply comments
  changelog.d/20250613_110343_andrey_update_kvrocks.md
  cvat/apps/engine/cache.py
  cvat/apps/engine/views.py
  helm-chart/templates/cvat_kvrocks/statefulset.yml
Due: cvat-server

Fix linters
  cvat/apps/engine/cache.py
  cvat/apps/engine/views.py
Due: cvat-server

Upgrade pylint to 3.x
  .github/workflows/pylint.yml
  .pylintrc
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/registry.py
  cvat/apps/engine/background.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/schema.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
  cvat/apps/quality_control/quality_reports.py
  dev/requirements.txt
  serverless/pytorch/saic-vul/fbrs/nuclio/main.py
  serverless/pytorch/saic-vul/hrnet/nuclio/main.py
  serverless/pytorch/shiyinzhang/iog/nuclio/main.py
Due: cvat-server

Update pylintrc with most recent message names
  .pylintrc
Due: none

Upgrade pylint to 3.x (#9498)
  .github/workflows/pylint.yml
  .pylintrc
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/registry.py
  cvat/apps/engine/background.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/schema.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
  cvat/apps/quality_control/quality_reports.py
  dev/requirements.txt
  serverless/pytorch/saic-vul/fbrs/nuclio/main.py
  serverless/pytorch/saic-vul/hrnet/nuclio/main.py
  serverless/pytorch/shiyinzhang/iog/nuclio/main.py
Due: cvat-server

move setting to engine default
  cvat/apps/engine/default_settings.py
  cvat/settings/base.py
Due: cvat-server

Update the interface for tracker function calls to support non-rectangle shapes (#9517)
  changelog.d/20250610_122953_roman_non_rectangle_tracking.md
  cvat-core/src/core-types.ts
  cvat-core/src/lambda-manager.ts
  cvat-core/src/ml-model.ts
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat/apps/lambda_manager/tests/assets/functions.json
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
Due: cvat-ui, cvat-server

Sort enabled/disabled Pylint warning lists
  .pylintrc
Due: none

Show XY mouse coordinates on the image canvas (#3484)
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Cleaned sonarcube issues
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Fixed width of project field on setup webhook page
  cvat-ui/src/components/setup-webhook-pages/styles.scss
Due: cvat-ui

Added changelog
  changelog.d/20250615_142005_sekachev.bs_fixed_project_search_width.md
Due: none

Fixed incorrect width of project field on webhook setup page (#9534)
  changelog.d/20250615_142005_sekachev.bs_fixed_project_search_width.md
  cvat-ui/src/components/setup-webhook-pages/styles.scss
Due: cvat-ui

Move CSS in separate file
  site/assets/scss/_cookie-consent.scss
  site/assets/scss/_custom.scss
  site/layouts/partials/cookie-consent.html
Due: none

Move JS code to separate file
  site/assets/js/cookie-consent.js
  site/layouts/partials/cookie-consent.html
Due: none

Sort enabled/disabled Pylint warning lists (#9532)
  .pylintrc
Due: none

better backup dialog
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
Due: cvat-ui

Rm script element; run the code directly
  site/assets/js/cookie-consent.js
Due: none

Simplify environement detection logic: leveraging Hugo production check
  site/assets/js/cookie-consent.js
  site/layouts/partials/cookie-consent.html
Due: none

Add footer link to invoke consent banner; add clear cookie functionality
  site/assets/js/cookie-consent.js
  site/layouts/partials/cookie-consent.html
  site/layouts/partials/footer.html
Due: none

Fix linter warnings
  site/assets/scss/_cookie-consent.scss
  site/assets/scss/_custom.scss
  site/assets/scss/_variables_project.scss
  site/layouts/partials/cookie-consent.html
Due: none

Move setting to engine default
  cvat/apps/engine/cache.py
  cvat/apps/engine/default_settings.py
  cvat/settings/base.py
Due: cvat-server

Fix linter warning
  site/assets/scss/_cookie-consent.scss
Due: none

Fixed eslint
  .eslintrc.cjs
Due: none

tests for lightweight backup
  cvat/apps/engine/background.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

different caches for lightweight and fully fledged backups
  cvat/apps/dataset_manager/util.py
  cvat/apps/engine/backup.py
Due: cvat-server

Move GA tag to workflow variable
  .github/workflows/docs.yml
  site/assets/js/cookie-consent.js
  site/assets/scss/_cookie-consent.scss
  site/config.toml
  site/layouts/partials/cookie-consent.html
Due: none

remove
  cvat-core/src/enums.ts
Due: cvat-ui

black fix
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Change banner text: add Google analytics
  site/layouts/partials/cookie-consent.html
Due: none

Remove the coreapi dependency
  cvat/apps/engine/filters.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

wip: test splitting
  tests/python/pyproject.toml
  tests/python/rest_api/test_tasks.py
Due: none

added unified scrollbars to different pages
  cvat-ui/src/base.scss
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/jobs-page/styles.scss
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/projects-page/styles.scss
  cvat-ui/src/components/tasks-page/styles.scss
Due: cvat-ui

Update changelog.d/20250613_110343_andrey_update_kvrocks.md
  changelog.d/20250613_110343_andrey_update_kvrocks.md
Due: none

Added keyword parameter to backend payload for model inference
  cvat/apps/lambda_manager/serializers.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Changed front end to include checkpoint text box
  cvat-ui/src/components/model-runner-modal/detector-runner.tsx
Due: cvat-ui

Modified functions main.py files to get checkpoint path (keyword) from data and use to infer
  serverless/pytorch/anomalib/models/nuclio/cfa/main.py
  serverless/pytorch/anomalib/models/nuclio/patchcore/main.py
  serverless/pytorch/anomalib/models/nuclio/uflow/main.py
  serverless/pytorch/glass/nuclio/main.py
Due: none

Modified model_handler.py functions to take checkpoint path parameter and use it to infer
  serverless/pytorch/anomalib/models/nuclio/cfa/model_handler.py
  serverless/pytorch/anomalib/models/nuclio/patchcore/model_handler.py
  serverless/pytorch/anomalib/models/nuclio/uflow/model_handler.py
  serverless/pytorch/glass/nuclio/model_handler.py
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
