Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Refactor some code
  cvat/apps/engine/media_extractors.py
Due: cvat-server

set the `conflict_count` before accessing it even if no errors are there
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

Fix the legacy status endpoint
  cvat/apps/engine/views.py
Due: cvat-server

Refactor RQId / RQIdManager
  cvat/apps/engine/background_operations.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/models.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/rq_job_handler.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/settings/base.py
Due: cvat-server

uncommented consensus worker deployment .conf
  supervisord/worker.consensus.conf
Due: none

reworked fix: store navigation details in global state
  cvat-ui/src/actions/navigation-actions.ts
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/common/go-back-button.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/config.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/navigation-reducer.ts
  cvat-ui/src/reducers/root-reducer.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

fixed case with tab switching
  cvat-ui/src/reducers/navigation-reducer.ts
Due: cvat-ui

Refactor RQId / RQIdManager (#8306)
  cvat/apps/engine/background_operations.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/models.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/rq_job_handler.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/settings/base.py
Due: cvat-server

renamed `SettingsFilter` to `QualitySettingsFilter` and `ConsensusSettingsFilter` accordingly
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

increased weight of `MERGE_CONSENSUS_JOBS` action button from 55 to 60
  cvat-ui/src/components/actions-menu/actions-menu.tsx
Due: cvat-ui

made `_Serializable` public by removing `_`
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

optimised the consensus jobs fetching process to make fewer database calls
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

Remove duplicated tests
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Remove extra change
  cvat/apps/engine/task.py
Due: cvat-server

Fix method name, remove extra method
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Remove some shared code in tests, add temp data cleanup
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/lambda_manager/tests/test_lambda.py
Due: cvat-server

Add checks for successful task creation in tests
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/lambda_manager/tests/test_lambda.py
Due: cvat-server

Fix invalid variable access in test
  cvat/apps/engine/tests/test_rest_api_3D.py
Due: cvat-server

Update default cache location in test checks
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

added support for no assignee in `AssigneeConsensusReport`
  cvat/apps/consensus/models.py
Due: cvat-server

moved setting the default `quorum` where it's created as function call to reduce django calls to db for fetching task
  cvat/apps/consensus/models.py
  cvat/apps/consensus/signals.py
Due: cvat-server

assignee in assignee consensus report wouldn't be none
  cvat-core/src/assignee-consensus-report.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

replaced `assigneeID` with `assignee.id`
  cvat-core/src/assignee-consensus-report.ts
  cvat-ui/src/components/analytics-page/task-consensus/assignee-list.tsx
Due: cvat-ui

made the job type tag into ribbon in jobs page
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/jobs-page/styles.scss
Due: cvat-ui

added case for null assignee in `AssigneeConsensusReport`
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/consensus/models.py
Due: cvat-server

added function to create `assignee_consensus_report`
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

moved calc. `task_mean_consensus_score` out from `save_report`
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
Due: cvat-server

reformatted file and removed duplicated code
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

reformatted files
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

Update 20240731_000641_ruelj2.md
  changelog.d/20240731_000641_ruelj2.md
Due: none

small cleanup
  cvat-ui/src/components/common/go-back-button.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Update manifest validation logic, allow manifest input in any task data source
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

chore: update e2e test cases according to the new automatic bordering shortcut
  tests/cypress/e2e/actions_objects/case_59_edit_handler.js
  tests/cypress/e2e/actions_objects/case_60_autoborder_feature.js
Due: none

Add task chunk caching, refactor chunk building
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Update dependencies (#8308)
  Dockerfile
  Dockerfile.ui
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
Due: cvat-server

Refactor some code
  cvat/apps/engine/cache.py
Due: cvat-server

Refactor some code
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Improve parameter name
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Fix function call
  cvat/apps/engine/cache.py
Due: cvat-server

Add basic test set for meta, frames, and chunks reading in tasks
  cvat/apps/engine/frame_provider.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/init.py
  tests/python/shared/utils/helpers.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
