Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Add documentation page
  site/content/en/docs/api_sdk/access_tokens.md
  site/content/en/images/access_token_list_create_button.png
  site/content/en/images/access_token_new_dialog.png
  site/content/en/images/access_token_private_key.png
  site/content/en/images/access_token_revoke_button.png
  site/content/en/images/access_token_revoke_dialog.png
  site/content/en/images/user_menu_profile_nav.png
  site/content/en/images/user_page_security_nav.png
Due: none

Adopt upstream changes
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

Fix linter error
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

delete extra config
  .pre-commit-config.yaml
Due: none

refactoring
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

isort linter
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

update test
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

removing the assert
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

update pre-commit
  .pre-commit-config.yaml
Due: none

refactoring
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

do not need to generate frmaes to get length and subsets
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

streaming option for initializing projects from db and using it on project export
  cvat/apps/dataset_manager/project.py
Due: cvat-server

Fix some runtime warnings (#9907)
  cvat/apps/engine/tests/test_rest_api.py
  cvat/settings/base.py
  utils/dataset_manifest/core.py
Due: cvat-server

changing len
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Enhanced user invitation logic
  cvat/apps/organizations/models.py
  cvat/apps/organizations/templates/invitation/invitation_message.html
Due: cvat-server

Added changelog
  changelog.d/20251015_145410_sekachev.bs_enhanced_invitation_logic.md
Due: none

Add global limit on user tokens
  cvat/apps/access_tokens/default_settings.py
  cvat/apps/access_tokens/serializers.py
  cvat/apps/access_tokens/tests/test_token_logic.py
Due: cvat-server

reusing CommonData.group_by_frame in ProjectData
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Fixed projects transfer between orgs
  cvat/apps/engine/serializers.py
Due: cvat-server

Added changelog
  changelog.d/20251016_095420_sekachev.bs_fixed_proj_org_transfer.md
Due: none

Update 20251016_095420_sekachev.bs_fixed_proj_org_transfer.md
  changelog.d/20251016_095420_sekachev.bs_fixed_proj_org_transfer.md
Due: none

Added changelog entry
  changelog.d/20251016_100624_sekachev.bs_optimize_tracks_counting.md
Due: none

Introduce job limit per task (#9888)
  changelog.d/20251014_150201_denis_limit_of_jobs_per_task.md
  cvat/apps/engine/default_settings.py
  cvat/apps/engine/signals.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Optimized memory usage during tracks counting (#9903)
  changelog.d/20251016_100624_sekachev.bs_optimize_tracks_counting.md
  cvat/apps/dataset_manager/tracks_counter.py
Due: cvat-server

test
  cvat/apps/dataset_manager/tests/test_annotation.py
Due: cvat-server

fixing pylint
  cvat/apps/dataset_manager/tests/test_annotation.py
Due: cvat-server

Actualize limit information
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

Fix bold
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

Remove the django-compressor dependency
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/settings/base.py
Due: cvat-server

fixing lazyness
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

full streaming
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

fixing tests
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

fixing pylint
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
Due: cvat-server

Fixed projects transfer between orgs (#9912)
  changelog.d/20251016_095420_sekachev.bs_fixed_proj_org_transfer.md
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove the django-compressor dependency (#9897)
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/settings/base.py
Due: cvat-server

Update Django to 5.2.x
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Fix double menu by cancelling context menu event on dropdown
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/models-page/actions-menu.tsx
  cvat-ui/src/components/organization-page/actions-menu.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/requests-page/actions-menu.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
  cvat-ui/src/components/webhooks-page/actions-menu.tsx
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Slightly updated section appearance
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
  cvat-ui/src/components/profile-page/styles.scss
Due: cvat-ui
