Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Ignoring job issues when handling update (#10257)
  changelog.d/20260211_152614_dmitrii.lavrukhin_serializer_for_job_events.md
  cvat/apps/events/handlers.py
  cvat/apps/events/tests/test_handlers.py
Due: cvat-server

changelog entry about deprecated field
  changelog.d/20260213_124310_dmitrii.lavrukhin_flatten_job_list.md
Due: none

Update ai-models/agents_deployment/sam2/entrypoint.sh
  ai-models/agents_deployment/sam2/entrypoint.sh
Due: none

Update ai-models/agents_deployment/sam2/docker-compose.yaml
  ai-models/agents_deployment/sam2/docker-compose.yaml
Due: none

Update ai-models/agents_deployment/sam2/function_registration.sh
  ai-models/agents_deployment/sam2/function_registration.sh
Due: none

polishing
  ai-models/agents_deployment/sam2/.env
  ai-models/agents_deployment/sam2/entrypoint.sh
  ai-models/agents_deployment/sam2/function_registration.sh
Due: none

another export removed
  ai-models/agents_deployment/sam2/function_deregistration.sh
Due: none

pushed my key accidentally
  ai-models/agents_deployment/sam2/.env
  ai-models/agents_deployment/sam2/Dockerfile
Due: none

image_url_placeholder
  ai-models/agents_deployment/sam2/.env
Due: none

Update dependecies
  Dockerfile
  cvat/requirements/base.txt
Due: cvat-server

run as non root in docker
  ai-models/agents_deployment/sam2/.env
  ai-models/agents_deployment/sam2/Dockerfile
Due: none

Update dependecies (#10274)
  Dockerfile
  cvat/requirements/base.txt
Due: cvat-server

Fix empty related chunk generation for tasks in cloud storage
  changelog.d/20260213_182355_roman_fix_empty_related_chunk.md
  cvat/apps/engine/cache.py
  tests/python/rest_api/_test_base.py
Due: cvat-server

Fix engine migration 0097 for tasks using the mounted share
  cvat/apps/engine/migrations/0097_alter_relatedfile_path.py
Due: cvat-server

Extract function for cloud storage content filtering
  cvat/apps/engine/task.py
Due: cvat-server

fixed some comments
  ai-models/agents_deployment/sam2/entrypoint.sh
  ai-models/agents_deployment/sam2/function_deregistration.sh
  ai-models/agents_deployment/sam2/function_registration.sh
Due: none

Fix: respect cloud storage prefix when exporting a resource
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Fix: checkbox and filter frame behaviour
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/filters-modal.tsx
Due: cvat-ui

Extract function for cloud storage content filtering (#10278)
  cvat/apps/engine/task.py
Due: cvat-server

set predefined when query changes
  cvat-ui/src/components/resource-sorting-filtering/filtering.tsx
Due: cvat-ui

replica tag is now cyan
  cvat-ui/src/components/common/cvat-tag.tsx
Due: cvat-ui

Fix creating a task from combined directories and files from file share
  changelog.d/20260216_163231_roman_fix_share_dir_file.md
  cvat/apps/engine/task.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

Fix creating a task from combined directories and files from file share (#10281)
  changelog.d/20260216_163231_roman_fix_share_dir_file.md
  cvat/apps/engine/task.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

Fix engine migration 0097 for tasks using the mounted share (#10279)
  cvat/apps/engine/migrations/0097_alter_relatedfile_path.py
Due: cvat-server

Remove unnecessary variable
  cvat/apps/engine/cache.py
Due: cvat-server

Add domain and media type
  cvat/apps/engine/models.py
Due: cvat-server

Update readme
  site/content/en/docs/contributing/development-environment.md
Due: none

Update dockerfile
  Dockerfile
Due: none

Update dev env docs
  site/content/en/docs/contributing/development-environment.md
Due: none

t
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/models.py
Due: cvat-server

Update schema
  cvat/schema.yml
Due: cvat-server

Add type annotation
  cvat/apps/engine/task.py
Due: cvat-server

Update audio reader
  cvat/apps/engine/media_extractors.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
