Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix parent settings link
  cvat-ui/src/components/task-analytics-page/quality/quality-settings-modal.tsx
Due: cvat-ui

Clean up task quality page when no gt job
  cvat-ui/src/components/task-analytics-page/quality/empty-job.tsx
  cvat-ui/src/components/task-analytics-page/quality/task-quality-component.tsx
  cvat-ui/src/components/task-analytics-page/styles.scss
Due: cvat-ui

Close the modal on clicking the parent settings link
  cvat-ui/src/components/task-analytics-page/quality/quality-settings-modal.tsx
Due: cvat-ui

wip
  cvat/apps/analytics_report/migrations/0001_initial.py
  cvat/apps/analytics_report/migrations/0002_alter_analyticsreport_job_and_more.py
  cvat/apps/analytics_report/migrations/0002_rename_date_analyticsreport_created_date.py
  cvat/apps/analytics_report/models.py
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/__init__.py
  cvat/apps/analytics_report/report/derived_metrics/imetric.py
  cvat/apps/analytics_report/report/derived_metrics/total_annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/total_object_count.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/analytics_report/report/primary_metrics/__init__.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/imetric.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/apps/analytics_report/report/primary_metrics/utils.py
  cvat/apps/analytics_report/serializers.py
  cvat/apps/analytics_report/views.py
Due: cvat-server

Initialize project quality settings automatically
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/signals.py
Due: cvat-server

Remove old reports with gt job removal
  cvat/apps/quality_control/signals.py
Due: cvat-server

Fix object-fit
  cvat-ui/src/components/task-page/styles.scss
Due: cvat-ui

Add project quality estimation notice
  cvat-ui/src/components/project-analytics-page/quality/project-quality-component.tsx
  cvat-ui/src/components/task-analytics-page/quality/empty-job.tsx
Due: cvat-ui

Fix code formatting
  cvat-ui/src/components/project-analytics-page/quality/conflicts-summary.tsx
  cvat-ui/src/components/project-analytics-page/quality/coverage-summary.tsx
  cvat-ui/src/components/project-analytics-page/quality/project-quality-component.tsx
  cvat-ui/src/components/project-analytics-page/quality/quality-settings-modal.tsx
  cvat-ui/src/components/project-analytics-page/quality/task-list.tsx
Due: cvat-ui

Don't hide task quality settings button when no reports
  cvat-ui/src/components/task-analytics-page/quality/mean-quality.tsx
Due: cvat-ui

REB3-12022. Added line width to settings.
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/appearance-block.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Remove code coverage from full and schedule workflows
  .github/codecov.yml
  .github/workflows/full.yml
  .github/workflows/schedule.yml
Due: none

Applied comments
  site/content/en/docs/manual/advanced/specification.md
Due: none

Applied comments
  site/README.md
  site/content/en/docs/manual/advanced/specification.md
Due: none

Minor improvement
  cvat-ui/src/components/task-page/styles.scss
Due: cvat-ui

Annotators Guides documentation added (#6411)
  site/README.md
  site/content/en/docs/manual/advanced/specification.md
  site/content/en/images/editor_access_rights_1.jpg
  site/content/en/images/editor_access_rights_2.jpg
  site/content/en/images/editor_toolbar.jpg
  site/content/en/images/guide_icon.jpg
  site/content/en/images/markdown_editor.jpg
  site/content/en/images/project_spec.jpg
  site/content/en/images/task_spec.jpg
Due: none

Improved styles
  cvat-ui/src/styles.scss
Due: cvat-ui

Support missing project quality settings in ui transparently
  cvat-core/src/quality-settings.ts
  cvat-ui/src/components/project-analytics-page/quality/project-quality-component.tsx
  cvat-ui/src/components/project-analytics-page/quality/quality-settings-modal.tsx
Due: cvat-ui

Support missing task quality settings in ui transparently
  cvat-core/src/quality-settings.ts
  cvat-ui/src/actions/analytics-actions.ts
  cvat-ui/src/components/task-analytics-page/quality/quality-settings-modal.tsx
  cvat-ui/src/components/task-analytics-page/quality/task-quality-component.tsx
  cvat-ui/src/reducers/analytics-reducer.ts
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/serializers.py
Due: cvat-ui, cvat-server

Add job id sorting in job list
  cvat-ui/src/components/task-analytics-page/quality/job-list.tsx
Due: cvat-ui

Fix task preview styles (#6418)
  cvat-ui/src/components/task-page/styles.scss
Due: cvat-ui

Fix json filter
  cvat-core/src/organization.ts
Due: cvat-ui

Fix permissions
  cvat/apps/iam/rules/memberships.rego
Due: cvat-server

Reload the page after leaving the organization
  cvat-ui/src/actions/organization-actions.ts
Due: cvat-ui

Add emply line
  cvat/apps/iam/rules/memberships.rego
Due: cvat-server

Add border for quality settings icons
  cvat-ui/src/components/project-analytics-page/quality/quality-summary.tsx
  cvat-ui/src/components/project-analytics-page/styles.scss
  cvat-ui/src/components/task-analytics-page/quality/mean-quality.tsx
  cvat-ui/src/components/task-analytics-page/styles.scss
Due: cvat-ui

Add support for sharing task reports between project reports
  cvat/apps/quality_control/migrations/0002_qualityreport_project_qualitysettings_project_and_more.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/views.py
  cvat/schema.yml
Due: cvat-server

t
  cvat/apps/analytics_report/apps.py
  cvat/apps/analytics_report/default_settings.py
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/__init__.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_time.py
  cvat/apps/analytics_report/report/derived_metrics/imetric.py
  cvat/apps/analytics_report/report/derived_metrics/objects.py
  cvat/apps/analytics_report/report/derived_metrics/total_annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/total_object_count.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/analytics_report/report/mock_data.py
  cvat/apps/analytics_report/report/primary_metrics/__init__.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/imetric.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/apps/analytics_report/signals.py
  cvat/apps/analytics_report/urls.py
  cvat/apps/analytics_report/views.py
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/analytics_reports.rego
  cvat/settings/development.py
  cvat/settings/testing_rest.py
Due: cvat-server

t
  cvat-core/src/analytics-report.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/objects.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/iam/permissions.py
Due: cvat-ui, cvat-server

transformation data
  cvat-core/src/analytics-report.ts
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/imetric.py
  cvat/apps/analytics_report/serializers.py
Due: cvat-ui, cvat-server

Remove extra changes
  tests/python/shared/fixtures/init.py
Due: none

Fix space
  cvat-ui/src/components/task-analytics-page/quality/quality-settings-modal.tsx
Due: cvat-ui

queue
  .vscode/launch.json
  cvat/apps/analytics_report/report/create.py
  cvat/settings/base.py
  docker-compose.yml
  supervisord/worker.analytics_reports.conf
Due: cvat-server

Block task settings creation when in a project
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/serializers.py
Due: cvat-server

Fixes
  .github/workflows/main.yml
  tests/python/shared/fixtures/init.py
Due: none

squash migrations
  cvat/apps/analytics_report/migrations/0001_initial.py
  cvat/apps/analytics_report/migrations/0002_alter_analyticsreport_job_and_more.py
Due: cvat-server

Upgrade pytest-cov to 4.1.0
  .github/workflows/main.yml
  tests/python/requirements.txt
Due: none

Make settings buttons more interactive
  cvat-ui/src/components/project-analytics-page/quality/quality-summary.tsx
  cvat-ui/src/components/project-analytics-page/styles.scss
  cvat-ui/src/components/task-analytics-page/quality/mean-quality.tsx
  cvat-ui/src/components/task-analytics-page/styles.scss
Due: cvat-ui

added licence headers
  cvat/apps/analytics_report/default_settings.py
  cvat/apps/analytics_report/report/derived_metrics/__init__.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_time.py
  cvat/apps/analytics_report/report/derived_metrics/imetric.py
  cvat/apps/analytics_report/report/derived_metrics/objects.py
  cvat/apps/analytics_report/report/derived_metrics/total_annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/total_object_count.py
  cvat/apps/analytics_report/report/primary_metrics/__init__.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_time.py
  cvat/apps/analytics_report/report/primary_metrics/imetric.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/apps/analytics_report/report/primary_metrics/utils.py
  cvat/apps/analytics_report/views.py
  cvat/schema.yml
Due: cvat-server

REB3-12022. Fixed opencv in the editor.
  cvat/apps/opencv/views.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
