Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fixed layout on create cloud storage page (#7985)
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/components/create-cloud-storage-page/styles.scss
Due: cvat-ui

Added none check
  cvat/apps/engine/utils.py
Due: cvat-server

close error notification
  tests/cypress/e2e/actions_tasks3/case_105_cloud_storage.js
Due: none

Minor fixes
  cvat-ui/src/components/md-guide/guide-page.tsx
Due: cvat-ui

delete cloud storage after test
  tests/cypress/e2e/actions_tasks3/case_105_cloud_storage.js
Due: none

Server implementation
  changelog.d/20240605_154324_boris_fix_anno_guide.md
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/components/create-cloud-storage-page/styles.scss
  cvat-ui/src/components/md-guide/guide-page.tsx
  cvat/apps/engine/permissions.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Minor fixes
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Updated changelog
  changelog.d/20240605_154324_boris_fix_anno_guide.md
Due: none

Using copyfile
  cvat/apps/engine/views.py
Due: cvat-server

Fixed comment
  cvat-ui/src/components/md-guide/guide-page.tsx
Due: cvat-ui

Minor refactoring
  cvat-ui/src/components/annotation-page/top-bar/right-group.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/md-guide/annotation-guide-page.tsx
  cvat-ui/src/components/md-guide/styles.scss
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Fixed: Queued jobs are not considered in deferring logic (#7907)
  changelog.d/20240605_093600_boris_kill_worker.md
  cvat/apps/engine/utils.py
Due: cvat-server

Minor refactoring
  cvat/apps/engine/views.py
Due: cvat-server

start end in download csv, mp3 format, typo error
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/task.py
Due: cvat-server

Reworked permissions check
  cvat/apps/engine/views.py
Due: cvat-server

Save guide after change
  cvat/apps/engine/views.py
Due: cvat-server

Update datumaro format description
  site/content/en/docs/manual/advanced/formats/_index.md
  site/content/en/docs/manual/advanced/formats/format-datumaro.md
Due: none

comment removed
  cvat/apps/dataset_manager/task.py
Due: cvat-server

nomad job specs
  nomad/ai4-cvat.jobspec.nomad.hcl
Due: none

Increased healthcheck timeout
  cvat-core/src/api-implementation.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/config.tsx
Due: cvat-ui

Added changelog
  changelog.d/20240606_113512_boris_updated_healthcheck.md
Due: none

Updated healthcheck
  changelog.d/20240606_113512_boris_updated_healthcheck.md
Due: none

Reworked health check method
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Minor refactoring
  cvat-core/src/server-proxy.ts
Due: cvat-ui

return default chromeWebSecurity
  tests/cypress.base.config.js
Due: none

Fixed ImageBitmap memory leak
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/frames.ts
  cvat-data/src/ts/cvat-data.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Added changelog
  changelog.d/20240606_134734_boris_bitmap_memoryleak.md
Due: none

Renamed method
  cvat-core/src/frames.ts
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Fixed decoding
  cvat-canvas/package.json
  cvat-core/package.json
  cvat-data/package.json
Due: cvat-ui

Added initialization to constructor
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Aborted extra change
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Stabilized the cypress test for fix CI-nightly runs 2 (#7971)
  tests/cypress/support/commands_projects.js
Due: none

Update changelog.d/20240606_134734_boris_bitmap_memoryleak.md
  changelog.d/20240606_134734_boris_bitmap_memoryleak.md
Due: none

added feature to change agreement_score_threshold after task creation
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/components/task-page/consensus-configuration-editor.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

moved consensus_job_per_segment and agreement_score_threshold from Data model to Task model
  cvat-core/src/session.ts
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/engine/admin.py
  cvat/apps/engine/migrations/0089_remove_data_agreement_score_threshold_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-ui, cvat-server

setting the Task parameters consensus_job_per_segment and agreement_score_threshold which are set through extra configuration when creating task
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
Due: cvat-server

added consensus_job_per_segment to TaskWriteSerializer so it's value can be set through API call also when creating task initially
  cvat/apps/engine/serializers.py
Due: cvat-server

Fixed: Cannot read properties of null (reading 'draw')
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Added changelog
  changelog.d/20240606_194542_sekachev.bs_fixed_error.md
Due: none

Update 20240606_194542_sekachev.bs_fixed_error.md
  changelog.d/20240606_194542_sekachev.bs_fixed_error.md
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
