Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Add descriptions for annotations actions
  cvat-core/src/annotations-actions/base-action.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/annotations-actions/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/snap-tools-control.tsx
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

init refactor
  cvat/apps/consensus/merging_manager.py
  cvat/apps/dataset_manager/data_model/__init__.py
  cvat/apps/dataset_manager/data_model/adapters/__init__.py
  cvat/apps/dataset_manager/data_model/adapters/datumaro.py
  cvat/apps/dataset_manager/data_model/model.py
  cvat/apps/dataset_manager/tests/test_data_model.py
  cvat/apps/quality_control/annotation_matching.py
  cvat/apps/quality_control/backends/__init__.py
  cvat/apps/quality_control/backends/base.py
  cvat/apps/quality_control/backends/datumaro.py
  cvat/apps/quality_control/backends/factory.py
  cvat/apps/quality_control/data_providers.py
  cvat/apps/quality_control/datumaro_data_provider.py
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/matching.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/tests/test_quality_backends.py
  cvat/apps/quality_control/tests/test_quality_handlers.py
  cvat/apps/quality_control/tests/test_quality_reports.py
Due: cvat-server

updated implementation
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

updated implementation
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
Due: cvat-ui

updated implementation
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
Due: cvat-ui

changelog
  changelog.d/20260922_000000_grigorii777_data_model_abstraction.md
Due: none

Fix create audio task with advanced config
  cvat-core/src/session-implementation.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/audio/components/create-task-page/audio-create-task-content.tsx
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
Due: cvat-ui

simplified code
  cvat-core/src/annotations-actions/annotations-actions.ts
  cvat-core/src/annotations-actions/base-action.ts
Due: cvat-ui

Add descriptions for annotations actions (#11217)
  cvat-core/src/annotations-actions/base-action.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/annotations-actions/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/snap-tools-control.tsx
Due: cvat-ui

Add changelog
  changelog.d/20260922_162908_aleksey.zinovyev_fix_audio_task_advanced.md
Due: none

Optimize objects sidebar performance
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-buttons.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/utils/get-hidden-z-layers.ts
  cvat-ui/src/utils/objects-sidebar.ts
  yarn.lock
Due: cvat-ui

Audio workspace: fix jumping to viewport start when playback begins in the viewport (#11206)
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-playback.ts
  cvat-ui/src/reducers/audio-reducer.ts
  tests/cypress/e2e/audio_workspace/case_audio_31_interval_playback.js
Due: cvat-ui

Fix multi-selection click and menu behavior
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/selection-context-menu.tsx
  tests/cypress/e2e/features/multi_selection.js
Due: cvat-ui

Fix multi-selection menu and gesture edge cases
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/selection-context-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/containers/annotation-page/canvas/canvas-context-menu.tsx
  tests/cypress/e2e/features/multi_selection.js
Due: cvat-ui

Fix quality form reset after task creation
  changelog.d/20260923_000000_fix_task_creation_quality_reset.md
  cvat-ui/src/audio/components/create-task-page/audio-create-task-content.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
Due: cvat-ui

Add more images and gifs
  site/content/en/docs/annotation/audio-editor/controls-sidebar.md
  site/content/en/docs/annotation/audio-editor/navbar.md
  site/content/en/docs/annotation/audio-editor/workspace.md
  site/content/en/images/audio_editor_controls_10.gif
  site/content/en/images/audio_editor_controls_11.gif
  site/content/en/images/audio_editor_controls_12.gif
  site/content/en/images/audio_editor_navbar_02.webp
  site/content/en/images/audio_editor_navbar_03.webp
  site/content/en/images/audio_editor_navbar_04.webp
  site/content/en/images/audio_editor_navbar_05.webp
  site/content/en/images/audio_editor_navbar_06.webp
  site/content/en/images/audio_editor_navbar_07.webp
  site/content/en/images/audio_editor_navbar_08.webp
  site/content/en/images/audio_editor_navbar_09.webp
  site/content/en/images/audio_editor_navbar_10.webp
  site/content/en/images/audio_editor_navbar_11.webp
  site/content/en/images/audio_editor_navbar_12.webp
  site/content/en/images/audio_editor_navbar_13.webp
  site/content/en/images/audio_editor_navbar_14.webp
  site/content/en/images/audio_editor_navbar_15.webp
  site/content/en/images/audio_editor_navbar_16.webp
  site/content/en/images/audio_editor_navbar_17.webp
  site/content/en/images/audio_editor_navbar_18.webp
  site/content/en/images/audio_editor_navbar_19.gif
  site/content/en/images/audio_editor_workspace_05.gif
  site/content/en/images/audio_editor_workspace_05.webp
  site/content/en/images/audio_editor_workspace_06.webp
  site/content/en/images/audio_editor_workspace_11.webp
  site/content/en/images/audio_editor_workspace_13.gif
  site/content/en/images/audio_editor_workspace_14.gif
  site/content/en/images/audio_editor_workspace_15.gif
  site/content/en/images/audio_editor_workspace_16.gif
  site/content/en/images/audio_editor_workspace_17.gif
Due: none

Improve object list scroll alignment for virtualized rows
  canvas-optimization-performance.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

Revert hidden z-layer fallback memoization
  cvat-ui/src/utils/get-hidden-z-layers.ts
Due: cvat-ui

Remove performance report from optimization PR
  canvas-optimization-performance.md
Due: none

applied comments
  changelog.d/20260919_051029_sekachev.bs_cloud_storage_root_prefix.md
  cvat/apps/engine/cloud_provider.py
  site/content/en/docs/workspace/attach-cloud-storage.md
Due: cvat-server

Make object sidebar E2E checks virtualization-aware
  tests/cypress/e2e/actions_objects/case_37_object_make_copy.js
  tests/cypress/e2e/actions_objects/case_55_repeat_draw_feature.js
  tests/cypress/e2e/actions_objects/test_annotations_saving.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/support/commands.js
Due: none

Allow Cypress to scroll virtual list holder
  tests/cypress/support/commands.js
Due: none

Fix cloud storage listings with empty directory markers (#11201)
  changelog.d/20260919_051029_sekachev.bs_cloud_storage_root_prefix.md
  cvat/apps/engine/cloud_provider.py
  site/content/en/docs/workspace/attach-cloud-storage.md
Due: cvat-server

Fix step duration for long files
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-waveform.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-playback.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-viewport.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-player-navigation.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Docs for rotated rectangle/ellipse tools (#11207)
  site/content/en/docs/annotation/manual-annotation/shapes/annotation-with-ellipses.md
  site/content/en/docs/annotation/manual-annotation/shapes/annotation-with-rectangles.md
  site/content/en/images/change-orientation.webp
  site/content/en/images/create-rotated-ellipse.webp
  site/content/en/images/draw-rotated-ellipse.gif
  site/content/en/images/image134.jpg
  site/content/en/images/image134.webp
  site/content/en/images/image239.jpg
  site/content/en/images/image239.webp
  site/content/en/images/rectangle-control-rotated.webp
  site/content/en/images/rotated-box-draw.gif
Due: none

Add e2e test
  tests/cypress/e2e/audio_workspace/case_audio_42_player_navigation.js
Due: none

Keep current role in redux storage
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
  cvat-ui/src/actions/organization-actions.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/organizations-reducer.ts
Due: cvat-ui

Add changelog
  changelog.d/20260924_123158_aleksey.zinovyev_fix_step_duration.md
Due: none

Fix stale type import
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
Due: cvat-ui

Remove hardcoded image quality default at task level
  cvat-core/src/session-implementation.ts
  cvat-ui/src/actions/tasks-actions.ts
Due: cvat-ui

Fix registration survey user field types
  cvat-core/src/server-request-types.ts
Due: cvat-ui

applied comments
  cvat-core/src/index.ts
  cvat-ui/src/actions/organization-actions.ts
Due: cvat-ui

Update title
  cvat-ui/src/components/profile-page/profile-content/user-info-card.tsx
Due: cvat-ui

Align Layer stack jumps with shared scroll correction
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

comments
  changelog.d/20260922_000000_grigorii777_data_model_abstraction.md
  cvat/apps/consensus/intersect_merge.py
  cvat/apps/dataset_manager/data_model/__init__.py
  cvat/apps/dataset_manager/data_model/adapters/datumaro.py
  cvat/apps/dataset_manager/data_model/model.py
  cvat/apps/dataset_manager/tests/test_data_model.py
  cvat/apps/quality_control/backends/__init__.py
  cvat/apps/quality_control/backends/base.py
  cvat/apps/quality_control/backends/datumaro/__init__.py
  cvat/apps/quality_control/backends/datumaro/backend.py
  cvat/apps/quality_control/backends/datumaro/matching.py
  cvat/apps/quality_control/data_providers.py
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/tests/test_annotation_matching.py
  cvat/apps/quality_control/tests/test_quality_backends.py
  cvat/apps/quality_control/tests/test_quality_calculators.py
  cvat/apps/quality_control/tests/test_quality_handlers.py
Due: cvat-server

Keep current role in redux storage (#11222)
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
  cvat-ui/src/actions/organization-actions.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/organizations-reducer.ts
Due: cvat-ui

Fix registration survey changelog PR link
  changelog.d/20260922_000000_registration_survey_profile.md
Due: none

Virtualize object rows in Layer stack
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/draggable-object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/index.ts
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-section.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

fix(create-task): preserve validation mode after task creation(#11071) (#11176)
  changelog.d/20260923_000000_fix_task_creation_quality_reset.md
  cvat-ui/src/audio/components/create-task-page/audio-create-task-content.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
Due: cvat-ui
