Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fixed couple of tests
  tests/cypress/e2e/actions_objects2/case_9_cuboid_shape_track_label.js
  tests/cypress/e2e/actions_tasks2/case_101_opencv_basic_actions.js
Due: none

increased delta
  tests/cypress/e2e/actions_tasks2/case_101_opencv_basic_actions.js
Due: none

Update some python dependencies Update golang build image
  Dockerfile
  cvat/requirements/base.txt
Due: cvat-server

SDK: Fix certain uploads crashing instead of retrying on failed chunk (#10375)
  changelog.d/20260313_184640_roman_logger_crash.md
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat-sdk/cvat_sdk/core/uploading.py
  tests/python/rest_api/test_resource_import_export.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Cache OpenCV client in the browser for better UX (#10383)
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
  cvat-ui/src/utils/wait-for.ts
Due: cvat-ui

Fixed test
  tests/cypress/e2e/actions_users/issue_2524_2633_issue_not_reset_after_change_task_issue_point_firefox.js
Due: none

Apply suggestions
  cvat-canvas/src/typescript/shared.ts
  cvat-ui/package.json
  package.json
  yarn.lock
Due: cvat-ui

Apply comments
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/shared.ts
Due: cvat-ui

Add changelog
  changelog.d/20260317_161036_klakhov_polygon_join.md
Due: none

Refactoring observing logic
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/issue-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/control-visibility-observer.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-cuboid-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-ellipse-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-mask-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-points-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-polygon-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-polyline-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-rectangle-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-skeleton-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/fit-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/group-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/join-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/merge-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/move-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/resize-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/rotate-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/setup-tag-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/slice-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/split-control.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
Due: cvat-ui

refactored according to review
  ai-models/agents_deployment/templates/docker-compose/README.md
Due: none

Update draw handler
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/drawHandler.ts
Due: cvat-ui

tmp
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/autoborderHandler.ts
Due: cvat-ui

transformers compose + helm support for function name
  ai-models/agents_deployment/helm/templates/helpers.tpl
  ai-models/agents_deployment/helm/templates/job.yaml
  ai-models/agents_deployment/helm/values.yaml
  ai-models/agents_deployment/transformers/.env
  ai-models/agents_deployment/transformers/Dockerfile
  ai-models/agents_deployment/transformers/check_env.sh
  ai-models/agents_deployment/transformers/docker-compose.yaml
  ai-models/agents_deployment/transformers/entrypoint.sh
  ai-models/agents_deployment/transformers/function_deregistration.sh
  ai-models/agents_deployment/transformers/function_registration.sh
Due: none

first version, incomplete
  ai-models/agents_deployment/transformers/.env
  ai-models/agents_deployment/transformers/Dockerfile
  ai-models/agents_deployment/transformers/check_env.sh
  ai-models/agents_deployment/transformers/docker-compose.yaml
  ai-models/agents_deployment/transformers/entrypoint.sh
  ai-models/agents_deployment/transformers/function_deregistration.sh
  ai-models/agents_deployment/transformers/function_registration.sh
Due: none

changelog
  changelog.d/20260318_160408_petr.iosipov_DEV_815.md
Due: none

Fix #10331: persist cloud storage link after task data import
  changelog.d/20260318_162225_duarte.cruz_issue10331.md
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

Re-designed auto-bordering feature
  cvat-canvas/src/typescript/autoborderHandler.ts
Due: cvat-ui

Renamed setting
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
Due: cvat-ui

Fixed some issues and tests
  cvat-canvas/src/typescript/autoborderHandler.ts
  tests/cypress/e2e/actions_objects/case_59_edit_handler.js
  tests/cypress/e2e/actions_objects/case_60_autoborder_feature.js
Due: cvat-ui

[Helm] It is now possible to configure the image for the backend init container
  helm-chart/templates/_helpers.tpl
  helm-chart/values.yaml
Due: none

Refactor attribute handling in label form for improved reordering
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

Implement attribute reordering functionality in labels editor
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/styles.scss
  tests/.nyc_output/out.json
  tests/coverage/clover.xml
  tests/coverage/coverage-final.json
  tests/coverage/coverage-summary.json
  tests/coverage/lcov-report/base.css
  tests/coverage/lcov-report/block-navigation.js
  tests/coverage/lcov-report/favicon.png
  tests/coverage/lcov-report/index.html
  tests/coverage/lcov-report/prettify.css
  tests/coverage/lcov-report/prettify.js
  tests/coverage/lcov-report/sort-arrow-sprite.png
  tests/coverage/lcov-report/sorter.js
  tests/coverage/lcov.info
  tests/cypress/e2e/actions_tasks3/case_attribute_reordering.js
  tests/cypress/support/commands.js
  tests/cypress/videos/case_attribute_reordering.js.mp4
  tests/package-lock.json
  tests/yarn.lock
Due: cvat-ui

Enhance attribute ordering in object details and canvas view
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/utils/attributes.ts
Due: cvat-ui

Add selective display feature for object details
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
  cvat-ui/src/containers/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
  cvat-ui/src/utils/attributes.ts
Due: cvat-ui

Enhance selective display handling in CanvasView
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Refactor label form for improved attribute handling
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/utils/attributes.ts
Due: cvat-ui

Add selective display feature and related tests
  changelog.d/20250908_001415_selective_display_feature.md
  cvat-ui/src/actions/__tests__/settings-actions.selective-display.test.ts
  cvat-ui/src/reducers/__tests__/settings-reducer.selective-display.test.ts
  cvat-ui/src/utils/__tests__/attributes.test.ts
  docs/selective-display-feature.md
  tests/cypress/e2e/actions_tasks3/case_120_selective_display_feature.js
Due: cvat-ui

Replace arrow buttons with drag-and-drop for attribute reordering
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/styles.scss
Due: cvat-ui

Add display_order field for attribute ordering and clean up coverage files
  cvat-core/src/labels.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/__tests__/settings-actions.selective-display.test.ts
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/reducers/__tests__/settings-reducer.selective-display.test.ts
  cvat-ui/src/utils/__tests__/attributes.test.ts
  cvat/apps/engine/migrations/0099_attributespec_display_order.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/tests/test_rest_api.py
  tests/.nyc_output/out.json
  tests/coverage/clover.xml
  tests/coverage/coverage-final.json
  tests/coverage/coverage-summary.json
  tests/coverage/lcov-report/base.css
  tests/coverage/lcov-report/block-navigation.js
  tests/coverage/lcov-report/favicon.png
  tests/coverage/lcov-report/index.html
  tests/coverage/lcov-report/prettify.css
  tests/coverage/lcov-report/prettify.js
  tests/coverage/lcov-report/sort-arrow-sprite.png
  tests/coverage/lcov-report/sorter.js
  tests/coverage/lcov.info
  tests/cypress/videos/case_attribute_reordering.js.mp4
  tests/package-lock.json
Due: cvat-ui, cvat-server

Update ai-models/agents_deployment/helm/templates/helpers.tpl
  ai-models/agents_deployment/helm/templates/helpers.tpl
Due: none

[DEV-820] added FUNCTION_NAME support to sam2 and yolo compose
  ai-models/agents_deployment/sam2/.env
  ai-models/agents_deployment/sam2/check_env.sh
  ai-models/agents_deployment/sam2/docker-compose.yaml
  ai-models/agents_deployment/sam2/function_registration.sh
  ai-models/agents_deployment/yolo/.env
  ai-models/agents_deployment/yolo/check_env.sh
  ai-models/agents_deployment/yolo/docker-compose.yaml
  ai-models/agents_deployment/yolo/function_registration.sh
Due: none

Add support for multi-result
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

)
  ai-models/agents_deployment/sam2/check_env.sh
  ai-models/agents_deployment/yolo/check_env.sh
Due: none

prettify for sam2 params
  ai-models/agents_deployment/sam2/.env
  ai-models/agents_deployment/yolo/.env
Due: none

added supported models(transformers) as per Roman
  ai-models/agents_deployment/transformers/supported_models
Due: none

Removed unused arguments from cvat-core lambda
  cvat-core/src/api.ts
  cvat-core/src/lambda-manager.ts
  cvat-ui/src/actions/models-actions.ts
Due: cvat-ui

fix(serverless): remove Nuclio dashboard port binding
  components/serverless/docker-compose.serverless.yml
  site/content/en/docs/administration/community/advanced/installation_automatic_annotation.md
  site/content/en/docs/guides/serverless-tutorial.md
Due: none

Update join event to support multiple result objects
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

small fix
  cvat/apps/quality_control/quality_handlers.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
