Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Dual shortcuts
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-left-group.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-save-annotations-button.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/save-annotations-button.tsx
  cvat-ui/src/components/bulk-wrapper.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/shortcuts-reducer.ts
  cvat-ui/src/utils/platform-checker.ts
  cvat-ui/src/utils/shortcuts-migration.ts
Due: cvat-ui

Update changelog
  changelog.d/20260904_202026_aleksey.zinovyev_mod_shortcuts.md
Due: none

Updated UI base image to 1.31.5-alpine3.24-slim (#11156)
  Dockerfile.ui
Due: none

Single opacity for shapes and intervals
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-appearance-block.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-region-colors.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-recording.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-region-details.tsx
  cvat-ui/src/audio/utils/hex-color.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

comment fixes
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/statistics.py
  site/content/en/docs/qa-analytics/auto-qa.md
  tests/cypress/e2e/features2/quality_requirements_ui.js
  tests/cypress/support/commands.js
Due: cvat-ui, cvat-server

version to test redis migration (it works)
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/cvat_backend/initializer/job.yml
  helm-chart/values-maintenance.yaml
  helm-chart/values-override.yaml
  helm-chart/values.yaml
Due: none

[DEV-1054] final version for review
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/values-maintenance.yaml
  helm-chart/values-override.yaml
  helm-chart/values.yaml
  site/content/en/docs/administration/community/advanced/upgrade_guide.md
Due: none

remark
  site/content/en/docs/administration/community/advanced/upgrade_guide.md
Due: none

helm rest_api_ci debug
  .github/workflows/main.yml
Due: none

Audio workspace: change cursor and hover element in draw region mode (#11136)
  changelog.d/20260902_164854_aleksey.zinovyev_draw_mode_cursor.md
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-region-colors.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-interval-annotations.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_canvas.scss
  cvat-ui/src/audio/utils/hex-color.ts
  tests/cypress/e2e/audio_workspace/case_audio_05_create_via_button.js
  tests/cypress/e2e/audio_workspace/case_audio_07_create_cancel_esc.js
Due: cvat-ui

Add snap mode for audio intervals when drawing or resizing
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_canvas.scss
  tests/cypress/e2e/audio_workspace/case_audio_41_interval_snapping.js
Due: cvat-ui

Add changelog
  changelog.d/20260908_191327_aleksey.zinovyev_audio_draw_resize_snap.md
Due: none

debug tmate
  .github/workflows/main.yml
Due: none

Improve readability
  cvat-ui/src/utils/shortcuts-migration.ts
Due: cvat-ui

replaced tmate with upterm
  .github/workflows/main.yml
Due: none

fixed templating
  .github/workflows/main.yml
  helm-chart/templates/_helpers.tpl
  helm-chart/values.yaml
Due: none

Bump typos to 1.50.1
  _typos.toml
  cvat/apps/lambda_manager/tests/assets/tasks.json
  cvat/apps/lambda_manager/tests/test_lambda.py
  dev/requirements.txt
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/python/pytest.ini
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Simplify SDK recipes and address review feedback
  cvat-sdk/examples/README.md
  cvat-sdk/examples/dataset_bulk_export.py
  cvat-sdk/examples/dataset_incremental_download.py
  cvat-sdk/examples/project_data_lint.py
  cvat-sdk/examples/task_create_job_mapping.py
  site/content/en/docs/api_sdk/sdk/examples/annotations.md
  site/content/en/docs/api_sdk/sdk/examples/datasets.md
  site/content/en/docs/api_sdk/sdk/examples/tasks.md
  tests/python/sdk/test_examples.py
Due: cvat-server

fix requested changes
  cvat-sdk/examples/dataset_bulk_export.py
  cvat-sdk/examples/project_data_lint.py
  cvat-sdk/examples/task_create_job_mapping.py
Due: cvat-server

Idempotent migration
  cvat-ui/src/utils/shortcuts-migration.ts
Due: cvat-ui

Fixes
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

Add Cmd key in default shortcuts for common actions (#11155)
  changelog.d/20260904_202026_aleksey.zinovyev_mod_shortcuts.md
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-left-group.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-save-annotations-button.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/save-annotations-button.tsx
  cvat-ui/src/components/bulk-wrapper.tsx
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/shortcuts-reducer.ts
  cvat-ui/src/utils/key-code-mapper.ts
  cvat-ui/src/utils/platform-checker.ts
  cvat-ui/src/utils/shortcuts-migration.ts
  tests/cypress/e2e/actions_objects/case_37_object_make_copy.js
  tests/cypress/e2e/actions_objects/case_59_edit_handler.js
  tests/cypress/e2e/actions_objects2/case_108_rotated_bounding_boxes.js
  tests/cypress/e2e/actions_tasks/case_67_intelligent_polygon_cropping.js
  tests/cypress/e2e/actions_tasks2/case_27_undo_redo_feature.js
  tests/cypress/e2e/audio_workspace/case_audio_20_undo_create.js
  tests/cypress/e2e/audio_workspace/case_audio_21_undo_delete.js
  tests/cypress/e2e/canvas3d_functionality_2/case_80_canvas3d_functionality_cuboid_make_copy.js
  tests/cypress/e2e/features/masks_basics.js
  tests/cypress/e2e/features/skeletons_pipeline.js
  tests/cypress/e2e/issues_prs2/issue_1438_cancel_multiple_paste_ui_not_lock.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_audio.js
Due: cvat-ui

wait for annotation action only afer initialization
  tests/cypress/support/commands_annotations_actions.js
Due: none

Define min px/s, optimize timeline plugin rendering
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-adaptive-timeline.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-waveform.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-viewport.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/plugins/optimized-timeline-plugin.ts
  cvat-ui/src/audio/utils/waveform-geometry.ts
Due: cvat-ui

Bump typos to 1.50.1 (#11162)
  _typos.toml
  cvat/apps/lambda_manager/tests/assets/tasks.json
  cvat/apps/lambda_manager/tests/test_lambda.py
  dev/requirements.txt
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
  tests/python/pytest.ini
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Bump typos to 1.50.1 (#11162)
  _typos.toml
  cvat/apps/lambda_manager/tests/assets/tasks.json
  cvat/apps/lambda_manager/tests/test_lambda.py
  dev/requirements.txt
  tests/cypress/e2e/actions_users/registration_involved/case_4_assign_task_job_users.js
Due: cvat-server

revert changes to function
  cvat/apps/engine/task.py
Due: cvat-server

Revert "add pytest-repeat plugin"
  tests/python/requirements.txt
Due: none

fix spelling
  tests/python/pytest.ini
Due: none

Fix multi-selection interaction regressions
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-left-group.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/utils/multi-selection.ts
  tests/cypress/e2e/features/multi_selection.js
Due: cvat-ui

Fix toolbar undo behavior during mask drawing (#11142)
  changelog.d/20260902_120000_senketsukamui_fix_mask_undo.md
  cvat-canvas/src/typescript/canvas.ts
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/cvat-canvas-wrapper.ts
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/features/masks_basics.js
Due: cvat-ui

Code style, emit ready plugin event
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-adaptive-timeline.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-waveform.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/plugins/optimized-timeline-plugin.ts
Due: cvat-ui

use StorageMethodChoice sdk enum
  tests/python/pytest.ini
  tests/python/rest_api/_test_base.py
  tests/python/rest_api/test_resource_import_export.py
  tests/python/rest_api/test_task_data.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/data.py
  tests/python/shared/fixtures/params.py
  tests/python/shared/tasks/enums.py
Due: none

remove extra black line
  tests/python/shared/tasks/enums.py
Due: none

fix comment
  tests/python/shared/fixtures/params.py
Due: none

blacken
  tests/python/shared/fixtures/params.py
Due: none

isort
  tests/python/rest_api/_test_base.py
  tests/python/rest_api/test_task_data.py
  tests/python/shared/fixtures/params.py
Due: none

Add changelog
  changelog.d/20260909_172721_aleksey.zinovyev_improve_zoom_performance.md
Due: none

break line
  tests/python/shared/fixtures/params.py
Due: none

Quality metrics (#11072)
  changelog.d/20260819_152817_grigorii_quality_target_metrics.md
  cvat-core/src/quality/index.ts
  cvat-core/src/quality/quality-requirement-utils.ts
  cvat-core/src/quality/server-response-types.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-utils.ts
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/config.tsx
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/migrations/0013_alter_qualityrequirement_target_metric.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/statistics.py
  cvat/apps/quality_control/tests/test_quality_handlers.py
  cvat/schema.yml
  cvat/settings/base.py
  site/content/en/docs/qa-analytics/auto-qa.md
  tests/cypress/e2e/features2/quality_requirements_ui.js
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-ui, cvat-server
