Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added time period interface
  cvat-ui/src/components/analytics-report/analytics-report-content.tsx
  cvat-ui/src/components/analytics-report/analytics-report-page.tsx
  cvat-ui/src/components/analytics-report/index.ts
Due: cvat-ui

Add changelog note
  changelog.d/20250415_135027_andrey_store_user_agent.md
Due: none

Update test_user_without_rights_cannot_check_status_of_report_creation_in_org && test_user_without_rights_cannot_check_status_of_merge_in_org
  cvat/apps/engine/rq.py
  cvat/apps/redis_handler/rq.py
  tests/python/rest_api/test_consensus.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/utils.py
Due: cvat-server

Remove unused import
  tests/python/rest_api/test_consensus.py
Due: none

Fix type
  tests/python/rest_api/test_quality_control.py
Due: none

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Add User Agent info to server events (#9154)
  changelog.d/20250415_135027_andrey_store_user_agent.md
  cvat/apps/events/cache.py
  cvat/apps/events/event.py
  cvat/apps/events/handlers.py
Due: cvat-server

test_cant_import_annotations_as_project: revert expected exception back
  tests/python/rest_api/test_projects.py
Due: none

fix legacy events api
  cvat/apps/events/export.py
Due: cvat-server

Fix typo
  cvat/apps/engine/background.py
Due: cvat-server

Remove wrong validation
  cvat/apps/redis_handler/background.py
Due: cvat-server

Do not use spaces in rq job ids && fix test_list_requests_when_there_is_job_with_non_regular_or_corrupted_meta
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/models.py
  cvat/apps/redis_handler/rq.py
  tests/python/rest_api/test_requests.py
Due: cvat-server

take source type from the model
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

add comma
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

remove Market-1501 from testing formats, log formats
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

fix test YOLO Classification
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Patch Job.cancel method
  cvat/apps/engine/background.py
  cvat/apps/engine/serializers.py
  cvat/rq_patching.py
  cvat/settings/base.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Update test
  tests/python/rest_api/test_tasks.py
Due: none

Renamed custom to own, added tooltip
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Updated changelog
  changelog.d/20250218_192952_mzhiltso_project_quality.md
Due: none

Refactor analytics quality reports and settings API to use parameter types for better type safety
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
Due: cvat-ui

Refactor quality report metrics not to use *100
  cvat-core/src/quality-report.ts
Due: cvat-ui

Refactor orientation visibility handling in settings actions and reducers
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/appearance-block.tsx
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

fix cityscapes anno, remove from annotation checks, add comments
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Truncate rotation for existing shapes
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Added changelog
  changelog.d/20250417_121137_sekachev.bs_truncate_rotation.md
Due: none

Update 20250417_121137_sekachev.bs_truncate_rotation.md
  changelog.d/20250417_121137_sekachev.bs_truncate_rotation.md
Due: none

remove queue from ids && split parsed.id to target_id & id && declare supported actions for each queue in settings
  cvat/apps/consensus/merging_manager.py
  cvat/apps/engine/background.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/rq.py
  cvat/apps/engine/views.py
  cvat/apps/events/export.py
  cvat/apps/lambda_manager/views.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/background.py
  cvat/apps/redis_handler/permissions.py
  cvat/apps/redis_handler/rq.py
  cvat/apps/redis_handler/views.py
  cvat/settings/base.py
Due: cvat-server

Fixed rotation of shapes existing in CVAT before #9289 (#9337)
  changelog.d/20250417_121137_sekachev.bs_truncate_rotation.md
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Added orientation arrows for 3D canvas (#9312)
  changelog.d/20250415_092802_klakhov_add_orientation_arrows.md
  cvat-canvas3d/src/typescript/canvas3dModel.ts
  cvat-canvas3d/src/typescript/canvas3dView.ts
  cvat-canvas3d/src/typescript/cuboid.ts
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/appearance-block.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/cvat-canvas3d-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

updating datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

making var private
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Add search bar image and update documentation for search and filters
  site/content/en/docs/manual/advanced/filter.md
  site/content/en/docs/manual/advanced/projects.md
  site/content/en/docs/manual/advanced/search-and-filters.md
  site/content/en/docs/manual/advanced/search.md
  site/content/en/docs/manual/basics/cloud-storages.md
  site/content/en/docs/manual/basics/jobs-page.md
  site/content/en/docs/manual/basics/tasks-page.md
  site/content/en/images/image100_detrac.jpg
  site/content/en/images/search-bar.png
Due: none

buggy polygons in kitti, keep shapes only
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Added ResourceLink component and hooks to get instance type and instance id
  cvat-ui/src/components/common/resource-link.tsx
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Merged another patch
  cvat-core/src/enums.ts
  cvat-ui/src/actions/requests-async-actions.ts
  cvat-ui/src/components/analytics-report/analytics-page-header.tsx
  cvat-ui/src/components/analytics-report/analytics-report-page.tsx
  cvat-ui/src/components/common/resource-link.tsx
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Added ResourceLink component and hooks to get instance type and id (#9342)
  cvat-ui/src/components/common/resource-link.tsx
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

[consensus] drop outdated permissions
  cvat/apps/consensus/permissions.py
  cvat/apps/consensus/rules/consensus_merges.rego
Due: cvat-server

Support legacy requests formats
  cvat/apps/engine/background.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/rq.py
  cvat/apps/engine/views.py
  cvat/apps/events/export.py
  cvat/apps/quality_control/permissions.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/rq.py
  cvat/apps/redis_handler/views.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
