Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Small fixes in server schema
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

Reduce code duplication in tests && small fixes
  cvat/apps/engine/tests/utils.py
Due: cvat-server

[`engine/tests/test_rest_api.py`] Fix pylint warnings (#9199)
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

refactor to merge consensus job by id
  tests/cypress/e2e/features/consensus.js
  tests/cypress/support/commands.js
Due: none

refactor functions, remove redundant logic
  tests/cypress/e2e/features/consensus.js
Due: none

add .cvat-back-btn class to GoBackButton component
  cvat-ui/src/components/common/go-back-button.tsx
  tests/cypress/e2e/features/consensus.js
Due: cvat-ui

use headless function to create consensus tasks
  tests/cypress/e2e/features/consensus.js
Due: none

Rework startup of container processes
  backend_entrypoint.sh
  docker-compose.yml
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_analyticsreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_chunks/deployment.yml
  helm-chart/templates/cvat_backend/worker_consensus/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
  helm-chart/values.yaml
  supervisord/clamav_reusable.conf
  supervisord/rqscheduler_reusable.conf
  supervisord/server.conf
  supervisord/smokescreen_reusable.conf
  supervisord/supervisord_reusable.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.chunks.conf
  supervisord/worker.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: none

fix utils deployment
  helm-chart/templates/cvat_backend/utils/deployment.yml
Due: none

Add type annotation for project.tasks
  cvat/apps/engine/models.py
Due: cvat-server

Fix unit tests
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Cleanup code
  cvat/apps/engine/mixins.py
  cvat/apps/engine/permissions.py
Due: cvat-server

Fix redis migration
  cvat/apps/engine/redis_migrations/002_update_meta_in_export_related_jobs.py
Due: cvat-server

Fix tests
  tests/python/shared/fixtures/init.py
Due: none

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Refactor redis migration a bit
  cvat/apps/engine/redis_migrations/002_update_meta_in_export_related_jobs.py
Due: cvat-server

fix failing tests
  tests/python/sdk/fixtures.py
  tests/python/sdk/test_projects.py
  tests/python/sdk/test_tasks.py
Due: none

remove comment
  tests/cypress/e2e/features/consensus.js
Due: none

rename var
  tests/cypress/e2e/features/consensus.js
Due: none

revert serverFiles logic from command
  tests/cypress/support/commands.js
Due: none

fix variable
  tests/cypress/e2e/features/consensus.js
Due: none

Remove outdated comment
  cvat/apps/engine/views.py
Due: cvat-server

Helm: add args for backend
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/worker_analyticsreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_chunks/deployment.yml
  helm-chart/templates/cvat_backend/worker_consensus/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/templates/cvat_backend/worker_utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
  helm-chart/values.yaml
  tests/python/shared/fixtures/init.py
Due: none

1 worker for all queues in tests
  helm-chart/test.values.yaml
Due: none

Fixed styles on Consensus management page (#9178)
  changelog.d/20250306_111245_klakhov_fix_consensus_management.md
  cvat-ui/src/base.scss
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/consensus-management-page/consensus-settings-tab.tsx
  cvat-ui/src/components/consensus-management-page/styles.scss
  cvat-ui/src/components/consensus-management-page/task-consensus/consensus-settings-form.tsx
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat-ui/src/utils/validation.ts
Due: cvat-ui

update consensus management page test according to fix #9178
  tests/cypress/e2e/features/consensus.js
Due: none

Upgrade Traefik to v3
  changelog.d/20250312_181456_roman_upgrade_traefik.md
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/analytics/middlewares/forwardauth.yaml
  helm-chart/templates/analytics/middlewares/stripprefix.yaml
  site/content/en/docs/faq.md
Due: none

Update server api
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-server

Optimize report requests
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/views.py
Due: cvat-server

Create two different tasks for both test suites
  tests/cypress/e2e/features/consensus.js
Due: none

Implement report aggregation, job filters, update migrations
  cvat/apps/engine/filters.py
  cvat/apps/quality_control/migrations/0008_qualitysettings_job_filter.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-server

logs
  .github/workflows/main.yml
Due: none

update test settings
  helm-chart/test.values.yaml
Due: none

Add changelog note
  helm-chart/Chart.yaml
Due: none

rename
  docker-compose.external_db.yml
Due: none

same updates in tests
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/e2e/actions_tasks2/case_97_export_import_task.js
  tests/cypress/e2e/actions_users/issue_1810_login_logout.js
  tests/cypress/support/commands.js
Due: none

Remove <> from response
  cvat/apps/engine/views.py
Due: cvat-server

Revert "Create two different tasks for both test suites"
  tests/cypress/e2e/features/consensus.js
Due: none

Update description of deprecated query params
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server
