Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

refactor: use apps.is_installed for test app URL routing in urls.py
  cvat/urls.py
Due: cvat-server

add test app API for per-class annotation counts
  cvat/apps/test/__init__.py
  cvat/apps/test/apps.py
  cvat/apps/test/permissions.py
  cvat/apps/test/urls.py
  cvat/apps/test/views.py
  cvat/settings/base.py
  cvat/urls.py
Due: cvat-server

add class counts page that calls the analytics API
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  cvat-ui/src/components/class-counts-page/styles.scss
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
Due: cvat-ui

docs: add #10 decision record and close out DoD unfinished list
  docs/Definition-of-Done.md
  docs/Plan.md
Due: none

handle empty and error states on class-counts page
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  cvat-ui/src/components/class-counts-page/styles.scss
Due: cvat-ui

docs: link live WebSocket evidence and surface live-update toast
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  docs/Definition-of-Done.md
  docs/evidence/09-before-updating-labels.png
  docs/evidence/10-after-updating-labels.png
Due: cvat-ui

add live WebSocket class-counts updates with reconnect
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  cvat/apps/events/handlers.py
  cvat/apps/test/realtime.py
  cvat/apps/test/websocket.py
  cvat/asgi.py
  docs/Definition-of-Done.md
  docs/Plan.md
Due: cvat-ui, cvat-server

docs: tick floor item 4 and add DoD evidence screenshots
  docs/Definition-of-Done.md
  docs/evidence/01-job-boxes.png
  docs/evidence/02-api-class-counts.png
  docs/evidence/03-page-graph.png
  docs/evidence/04-empty-state.png
  docs/evidence/05-error-state.png
Due: none

docs: add auth evidence and completed latency objective
  docs/Definition-of-Done.md
  docs/Objectives.md
  docs/evidence/06-403-no-permission.png
  docs/evidence/07-401-no-login.png
Due: none

add job_id filter on class-counts API and UI
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  cvat-ui/src/components/class-counts-page/styles.scss
  cvat/apps/test/views.py
  docs/Definition-of-Done.md
  docs/Plan.md
  docs/evidence/08-filter-by-job-in-class-count.png
Due: cvat-ui, cvat-server

feat: add annotation type filter dropdown to task class analytics chart
  cvat-ui/src/components/task-class-analytics/task-class-analytics.tsx
Due: cvat-ui

update docs
  docs/Definition_of_Done.md
  docs/plan.md
Due: none

docs: update plan with project status and requirement 10 decision record
  docs/plan.md
Due: none

docs: clarify horizontal bar graph visualization in Definition of Done
  docs/Definition_of_Done.md
Due: none

add class-counts bar chart and update Definition of Done
  cvat-ui/src/components/class-counts-page/class-counts-page.tsx
  cvat-ui/src/components/class-counts-page/styles.scss
  docs/Definition-of-Done.md
Due: cvat-ui

refactor(ui): update Typography imports and timer typing for strict standards
  cvat-ui/src/components/analytics-report/task-annotation-analytics.tsx
  cvat-ui/tsconfig.json
Due: cvat-ui

Restore polygon simplification on its originating frame
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/containers/annotation-page/standard-workspace/poly-simplify-controller.tsx
  tests/cypress/e2e/actions_objects/simplify_polygons_feature.js
Due: cvat-ui

Fixed audio format listing
  README.md
Due: none

Fix copying and pasting skeleton tracks with attributes
  changelog.d/20261007_061007_sekachev.bs.md
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

Update 20261007_061007_sekachev.bs.md
  changelog.d/20261007_061007_sekachev.bs.md
Due: none

Fix keyboard shortcuts blocking native copy behavior
  changelog.d/20261007_065213_sekachev.bs_fixed_shortcuts.md
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/mousetrap-react.tsx
Due: cvat-ui

Update 20261007_065213_sekachev.bs_fixed_shortcuts.md
  changelog.d/20261007_065213_sekachev.bs_fixed_shortcuts.md
Due: none

Fixed shortcut conflicts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/draggable-object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-section.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/multi-selection.ts
Due: cvat-ui

Wait for organization initialization before loading models (#11266)
  changelog.d/20261006_000000_fix_model_loading_organization.md
  cvat-ui/src/components/cvat-app.tsx
Due: cvat-ui

Added changelog
  changelog.d/20261007_072434_sekachev.bs_fixed_shortcuts.md
Due: none

Fix copying and pasting skeleton tracks with attributes (#11279)
  changelog.d/20261007_061007_sekachev.bs.md
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

Update 20261007_072434_sekachev.bs_fixed_shortcuts.md
  changelog.d/20261007_072434_sekachev.bs_fixed_shortcuts.md
Due: none

Feedback for annotators (#11258)
  site/content/en/docs/qa-analytics/immediate-feedback.md
Due: none

Update changelog.d/20261007_065213_sekachev.bs_fixed_shortcuts.md
  changelog.d/20261007_065213_sekachev.bs_fixed_shortcuts.md
Due: none

Fix keyboard shortcuts blocking native copy behavior (#11280)
  changelog.d/20261007_065213_sekachev.bs_fixed_shortcuts.md
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/mousetrap-react.tsx
Due: cvat-ui

fixes
  changelog.d/20260928_100000_grigorii_audio_quality.md
  cvat-core/src/quality/quality-report.ts
  cvat-core/src/quality/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-constructor.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-utils.ts
  cvat-ui/src/components/quality-control/shared/settings/quality-settings-form.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat/apps/quality_control/backends/base.py
  cvat/apps/quality_control/backends/datumaro/backend.py
  cvat/apps/quality_control/backends/datumaro/matching.py
  cvat/apps/quality_control/backends/factory.py
  cvat/apps/quality_control/backends/interval.py
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/data_providers.py
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/interval_data_provider.py
  cvat/apps/quality_control/migrations/0014_audio_quality.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_calculators.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/queue_manager.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/tests/test_audio_quality_database.py
  cvat/apps/quality_control/tests/test_audio_quality_migrations.py
  cvat/apps/quality_control/tests/test_interval_quality.py
  cvat/apps/quality_control/tests/test_quality_backends.py
  cvat/apps/quality_control/tests/test_requirement_names.py
  cvat/apps/quality_control/utils.py
  cvat/apps/quality_control/validation.py
  cvat/apps/quality_control/views.py
  cvat/schema.yml
  site/content/en/docs/qa-analytics/quality-control.md
  tests/python/rest_api/test_audio_support.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/test_quality_requirements.py
Due: cvat-ui, cvat-server

import fix
  cvat/apps/quality_control/tests/test_quality_backends.py
Due: cvat-server

schema
  cvat/schema.yml
Due: cvat-server

Fix race condition in chunk job failure handling
  cvat/apps/engine/cache.py
  cvat/apps/engine/rq.py
  cvat/apps/engine/views.py
Due: cvat-server

added comment
  cvat/apps/engine/views.py
Due: cvat-server

Allow filtering tasks by created_date (#8992)
  cvat-ui/src/components/tasks-page/tasks-filter-configuration.ts
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Added documentation about plan expiration (#11240)
  site/content/en/docs/account_management/subscription-management/_index.md
  site/content/en/docs/account_management/subscription-management/plan-expiration.md
  site/content/en/images/subscription-payment-notice.webp
  site/content/en/images/subscription-restricted-mode.webp
Due: none

Add audio support to README.md (#11251)
  README.md
Due: none

Fix for DPR ne 1, fix initial render
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

Use shared macOS detection for multi-selection
  cvat-ui/src/utils/multi-selection.ts
Due: cvat-ui
