Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

fix: minor bug causing tests to fail
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/group-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/merge-control.tsx
Due: cvat-ui

fix: small revert because of a failing testcase
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
Due: cvat-ui

Implement task creation with honeypot
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/migrations/0079_validationparams_validationimage_and_more.py
  cvat/apps/engine/migrations/0080_image_is_placeholder.py
  cvat/apps/engine/migrations/0081_image_real_frame_id.py
  cvat/apps/engine/migrations/0084_image_is_placeholder_image_real_frame_id_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

chore: push test files via upload
  tests/cypress/e2e/features/shortcuts.js
Due: none

duplication fix
  tests/cypress/e2e/features/shortcuts.js
Due: none

fixed styles of paid placeholder
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/paid-feature-placeholder/styles.scss
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/styles.scss
Due: cvat-ui

added react resizible dep
  cvat-ui/package.json
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  yarn.lock
Due: cvat-ui

fixed types
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
Due: cvat-ui

Update shortcuts.md
  site/content/en/docs/manual/advanced/shortcuts.md
  site/content/en/images/shortcuts01.png
  site/content/en/images/shortcuts02.png
  site/content/en/images/shortcuts03.png
  site/content/en/images/shortcuts04.png
  site/content/en/images/shortcuts05.png
  site/content/en/images/shortcuts06.png
  site/content/en/images/shortcuts07.png
  site/content/en/images/shortcuts08.png
  site/content/en/images/shortcuts09.png
Due: none

Update shortcuts.md & add images
  site/content/en/docs/manual/advanced/shortcuts.md
  site/content/en/images/shortcuts01.png
  site/content/en/images/shortcuts02.png
  site/content/en/images/shortcuts03.png
  site/content/en/images/shortcuts04.png
  site/content/en/images/shortcuts05.png
  site/content/en/images/shortcuts06.png
  site/content/en/images/shortcuts07.png
  site/content/en/images/shortcuts08.png
  site/content/en/images/shortcuts09.png
Due: none

made keys symmetric in distance caching
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

added `line_thickness` param for LineMatcher
  cvat-core/src/consensus-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/analytics-page/task-consensus/consensus-settings-form.tsx
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/models.py
  cvat/apps/consensus/new_intersect_merge.py
  cvat/apps/consensus/serializers.py
Due: cvat-ui, cvat-server

removed `DistanceComparator` inheritance with `_distance_comparator` class object
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

added accessing private class objects through separate function
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

converted `OKS` to `oks`
  cvat/apps/consensus/new_intersect_merge.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

reformatted code
  cvat/apps/consensus/new_intersect_merge.py
Due: cvat-server

reformatted code
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/serializers.py
Due: cvat-server

added settings for paid placeholder
  cvat-ui/src/components/paid-feature-placeholder/paid-feature-placeholder.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-component.tsx
  cvat-ui/src/config.tsx
Due: cvat-ui

fixed eslint
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
Due: cvat-ui

fix some minor issues
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/utils/quality.ts
Due: cvat-ui

package & changelog
  changelog.d/20240826_093730_klakhov_support_quality_plugin.md
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

added plugin column
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

fixed linter
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/config.tsx
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

added plugin for management page
  cvat-ui/src/components/quality-control/task-quality/task-quality-magement-component.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

minor cleanup
  cvat-core/src/index.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/styles.scss
Due: cvat-ui

updated quality settings descriptions
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
Due: cvat-ui

minor bugfixes
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
Due: cvat-ui

applied coderabbit comments
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
  cvat-ui/src/components/quality-control/quality-settings.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-magement-component.tsx
Due: cvat-ui

fixed multitask bug
  cvat-ui/src/components/create-task-page/create-task-content.tsx
Due: cvat-ui

added plugin for sorting columns
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

Refactor code && add sdk tests to export job dataset to cloud storage
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  tests/python/sdk/common.py
  tests/python/sdk/test_jobs.py
  tests/python/sdk/test_projects.py
  tests/python/sdk/test_tasks.py
  tests/python/shared/utils/s3.py
Due: cvat-server

fix
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
Due: cvat-server

migrated changes with settings
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/analytics-page/shared/quality-settings-modal.tsx
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
  cvat-ui/src/components/analytics-page/task-quality/mean-quality.tsx
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-form.tsx
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/utils/quality-color.ts
  cvat-ui/src/utils/quality.ts
Due: cvat-ui

updated utils
  cvat-ui/src/components/analytics-page/task-quality/gt-conflicts.tsx
  cvat-ui/src/components/analytics-page/task-quality/issues.tsx
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
  cvat-ui/src/components/analytics-page/task-quality/mean-quality.tsx
  cvat-ui/src/components/analytics-page/utils/text-formatting.ts
Due: cvat-ui

added package & changelog
  changelog.d/20240826_171536_klakhov_update_quality_settings.md
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

Support task creation with GT job, add request validation
  cvat/apps/engine/cache.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/migrations/0084_image_is_placeholder_image_real_frame_id_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-server

Update server schema
  cvat/schema.yml
Due: cvat-server

Remove extra files
  cvat/apps/honeypots/__init__.py
  cvat/apps/honeypots/apps.py
  cvat/apps/honeypots/migrations/__init__.py
  cvat/apps/honeypots/pyproject.toml
  cvat/apps/honeypots/reports.py
  cvat/apps/honeypots/rules/honeypot_reports.rego
  cvat/apps/honeypots/rules/honeypot_settings.rego
  cvat/apps/honeypots/serializers.py
  cvat/apps/honeypots/urls.py
  cvat/apps/honeypots/views.py
Due: cvat-server

created a function to get quality and consensus conflicts, to reduce code duplication
  cvat-core/src/api-implementation.ts
Due: cvat-ui

applied comments
  changelog.d/20240826_171536_klakhov_update_quality_settings.md
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-form.tsx
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
  cvat-ui/src/utils/quality.ts
Due: cvat-ui
