Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Do not wait requests to be finished in tests
  cvat/apps/engine/tests/utils.py
Due: cvat-server

updated screenshots, fixed a couple mistakes
  site/content/en/docs/manual/advanced/organization.md
  site/content/en/images/create_organization_form.png
  site/content/en/images/image233.jpg
  site/content/en/images/image233_1.jpg
  site/content/en/images/image234.jpg
  site/content/en/images/image235.jpg
  site/content/en/images/image236.jpg
  site/content/en/images/image237.jpg
  site/content/en/images/invitation_to_org.jpg
  site/content/en/images/invitation_to_org.png
  site/content/en/images/invitations_list.jpg
  site/content/en/images/invitations_list.png
  site/content/en/images/invite_org_members.png
  site/content/en/images/invitemembers.jpg
  site/content/en/images/org_invite_form.png
  site/content/en/images/org_members.png
  site/content/en/images/org_page.png
  site/content/en/images/org_page_steps.png
  site/content/en/images/orgpage.jpg
  site/content/en/images/personal_account.jpg
  site/content/en/images/resend-remove-invitation.jpg
  site/content/en/images/resend_remove_invitation.png
  site/content/en/images/select_org.png
  site/content/en/images/switch_org.png
  site/content/en/images/user_menu_organization.png
  site/content/en/images/user_menu_organization_create.png
  site/content/en/images/user_menu_select_org.png
Due: none

fixed `filterFieldsToSnakeCase`
  cvat-core/src/common.ts
Due: cvat-ui

API to download export results (#9075)
  changelog.d/20250304_120308_maria_api_to_download_export_results.md
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/background.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/permissions.py
  cvat/apps/engine/redis_migrations/001_cleanup_scheduled_jobs.py
  cvat/apps/engine/redis_migrations/002_update_meta_in_export_related_jobs.py
  cvat/apps/engine/rq.py
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/test_rest_api_3D.py
  cvat/apps/engine/tests/utils.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/iam/rules/utils.rego
  cvat/apps/redis_handler/redis_migrations/__init__.py
  cvat/schema.yml
  tests/cypress/support/commands.js
  tests/python/rest_api/test_csrf_workaround.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_requests.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
  tests/python/shared/utils/resource_import_export.py
Due: cvat-ui, cvat-server

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

rephrazing changelog
  changelog.d/20250304_215108_dmitrii.lavrukhin_stream_export.md
Due: none

fix flaky form checks
  tests/cypress/e2e/features/consensus.js
Due: none

tasks use same spec and handled in separate cases
  tests/cypress/e2e/features/consensus.js
Due: none

Add asctime
  cvat/settings/base.py
Due: cvat-server

Move to production settings
  cvat/settings/base.py
  cvat/settings/production.py
Due: cvat-server

Update cvat/apps/engine/lazy_list.py
  cvat/apps/engine/lazy_list.py
Due: cvat-server

update datumaro (#9209)
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

Test consensus: merging, ver 2 (#9193)
  cvat-ui/src/components/common/go-back-button.tsx
  tests/cypress/e2e/features/consensus.js
  tests/cypress/e2e/issues_prs2/issue_8952_interpolation_impossible.js
  tests/cypress/plugins/createZipArchive/addPlugin.js
  tests/cypress/plugins/createZipArchive/createZipArchiveCommand.js
  tests/cypress/support/commands.js
  tests/cypress/support/utils.js
Due: cvat-ui

Helm: support adding backend environment variables from supercharts
  changelog.d/20250314_163649_roman_superchart_env.md
  helm-chart/templates/_helpers.tpl
  helm-chart/values.yaml
Due: none

Streaming export for YOLO and COCO formats (#9084)
  changelog.d/20250304_215108_dmitrii.lavrukhin_stream_export.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/engine/lazy_list.py
Due: cvat-server

Improve migration, remove dev stub
  cvat/apps/quality_control/migrations/0007_project_quality.py
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Dockerfile: fix an "undefined variable" warning
  Dockerfile
Due: none

All z layer tests passing
  tests/cypress/e2e/actions_objects2/case_18_z_order_buttons.js
Due: none

Optimize some request in report computation
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Fix Linting Issues
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  tests/cypress/e2e/actions_objects2/case_18_z_order_buttons.js
Due: cvat-ui

Updated organization documentation (#9207)
  site/content/en/docs/manual/advanced/organization.md
  site/content/en/images/create_organization_form.png
  site/content/en/images/image233.jpg
  site/content/en/images/image233_1.jpg
  site/content/en/images/image234.jpg
  site/content/en/images/image235.jpg
  site/content/en/images/image236.jpg
  site/content/en/images/image237.jpg
  site/content/en/images/invitation_to_org.jpg
  site/content/en/images/invitation_to_org.png
  site/content/en/images/invitations_list.jpg
  site/content/en/images/invitations_list.png
  site/content/en/images/invite_org_members.png
  site/content/en/images/invitemembers.jpg
  site/content/en/images/org_invite_form.png
  site/content/en/images/org_members.png
  site/content/en/images/org_page.png
  site/content/en/images/org_page_steps.png
  site/content/en/images/orgpage.jpg
  site/content/en/images/personal_account.jpg
  site/content/en/images/resend-remove-invitation.jpg
  site/content/en/images/resend_remove_invitation.png
  site/content/en/images/select_org.png
  site/content/en/images/switch_org.png
  site/content/en/images/user_menu_organization.png
  site/content/en/images/user_menu_organization_create.png
  site/content/en/images/user_menu_select_org.png
Due: none

removed excessive worker config from launch
  .vscode/launch.json
Due: none

update implementation on quality page
  cvat-ui/src/components/quality-control/quality-control-page.tsx
Due: cvat-ui

added changelog
  changelog.d/20250317_114443_klakhov_fix_extra_page_in_history.md
Due: none

removed one more excessive configuration
  .vscode/launch.json
Due: none

Dockerfile: fix an "undefined variable" warning (#9215)
  Dockerfile
Due: none

Add option to SDK allowing upload of annotation as masks instead of polygon (#8823)
  changelog.d/20241212_185016_knotekjaroslav_add_mask_poly_conv_param.md
  cvat-sdk/cvat_sdk/core/proxies/jobs.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  cvat-sdk/cvat_sdk/core/uploading.py
  tests/python/sdk/fixtures.py
  tests/python/sdk/test_jobs.py
  tests/python/sdk/test_projects.py
  tests/python/sdk/test_tasks.py
Due: cvat-server

Upgrade Traefik to v3 (#9202)
  changelog.d/20250312_181456_roman_upgrade_traefik.md
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/analytics/middlewares/forwardauth.yaml
  helm-chart/templates/analytics/middlewares/stripprefix.yaml
  site/content/en/docs/faq.md
Due: none

fixed actions menu
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/setup-webhook-pages/setup-webhook-content.tsx
  cvat-ui/src/components/tasks-page/actions-menu.tsx
Due: cvat-ui

Removed excessive worker config from launch (#9218)
  .vscode/launch.json
Due: none

update ui implementation
  cvat-core/src/api-implementation.ts
  cvat-core/src/quality-report.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session.ts
  cvat-ui/src/base.scss
  cvat-ui/src/components/common/filters/job-filter-configuration-base.ts
  cvat-ui/src/components/consensus-management-page/task-consensus/consensus-settings-form.tsx
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/actions-menu.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/quality-overview-tab.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/jobs-filter-configuration.ts
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat-ui/src/components/task-page/jobs-filter-configuration.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/hooks.ts
  cvat-ui/src/utils/quality.ts
  cvat-ui/webpack.config.js
Due: cvat-ui

fix linter
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/utils/quality.ts
Due: cvat-ui

Fix job size computation
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Refactor code
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Refactor
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Add missing confusion matrix values in task and project reports
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

iterating items once on project streaming export
  cvat/apps/dataset_manager/bindings.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Updated CVAT overview: added sections for key features and CVAT editions, improved grammar and style
  site/content/en/docs/getting_started/overview.md
Due: none
