Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Remove unused imports
  cvat/apps/iam/serializers.py
  cvat/apps/organizations/serializers.py
Due: cvat-server

Bulk actions for memberships
  cvat-ui/src/components/organization-page/actions-menu.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/member-role-selector.tsx
  cvat-ui/src/components/organization-page/members-list.tsx
  cvat-ui/src/components/organization-page/organization-page.tsx
  cvat-ui/src/components/organization-page/top-bar.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
Due: cvat-ui

Update membeships test
  cvat-ui/src/components/organization-page/actions-menu.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  tests/cypress/support/commands_organizations.js
Due: cvat-ui

Webhook bulk actions integration
  cvat-ui/src/actions/webhooks-actions.ts
  cvat-ui/src/components/webhooks-page/actions-menu.tsx
  cvat-ui/src/components/webhooks-page/top-bar.tsx
  cvat-ui/src/components/webhooks-page/webhook-item.tsx
  cvat-ui/src/components/webhooks-page/webhooks-list.tsx
  cvat-ui/src/components/webhooks-page/webhooks-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/webhooks-reducer.ts
Due: cvat-ui

Fix tests & couple of bugs
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/requests-page/actions-menu.tsx
  cvat-ui/src/components/requests-page/requests-page.tsx
  cvat-ui/src/components/tasks-page/bulk-wrapper.tsx
  tests/cypress/support/commands_organizations.js
Due: cvat-ui

Code prettificaton
  cvat-ui/src/actions/jobs-actions.ts
  cvat-ui/src/actions/selection-actions.ts
  cvat-ui/src/components/bulk-progress.tsx
  cvat-ui/src/components/bulk-wrapper.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storage-actions-menu.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storages-list.tsx
  cvat-ui/src/components/cloud-storages-page/top-bar.tsx
  cvat-ui/src/components/common/cvat-name-temlate-tooltip.tsx
  cvat-ui/src/components/common/label-with-count.tsx
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/actions-menu-items.tsx
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/jobs-page/jobs-content.tsx
  cvat-ui/src/components/models-page/deployed-models-list.tsx
  cvat-ui/src/components/organization-page/actions-menu.tsx
  cvat-ui/src/components/organization-page/members-list.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/projects-page/actions-menu-items.tsx
  cvat-ui/src/components/projects-page/project-list.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/components/tasks-page/actions-menu-items.tsx
  cvat-ui/src/components/tasks-page/task-list.tsx
  cvat-ui/src/components/webhooks-page/webhooks-list.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/selection-reducer.ts
Due: cvat-ui

Fixed some tests
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/webhooks-page/webhook-item.tsx
Due: cvat-ui

Rm Hugo 0.83 mentions
  .github/workflows/docs.yml
  site/README.md
Due: none

Rm comment and fix logic for saving versions
  site/build_docs.py
Due: none

Fix Black linter warning
  site/build_docs.py
Due: none

Small refactoring + fix for consensus
  cvat-ui/src/actions/selection-actions.ts
  cvat-ui/src/components/bulk-wrapper.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storages-page.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/models-page/models-page.tsx
  cvat-ui/src/components/organization-page/organization-page.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/projects-page/projects-page.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
  cvat-ui/src/components/webhooks-page/webhooks-page.tsx
  cvat-ui/src/reducers/selection-reducer.ts
Due: cvat-ui

Removed spinners & fixed job menu
  cvat-ui/src/components/cloud-storages-page/cloud-storages-page.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/models-page/models-page.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/projects-page/projects-page.tsx
  cvat-ui/src/components/task-page/task-page.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
  cvat-ui/src/components/webhooks-page/webhooks-page.tsx
Due: cvat-ui

better errors
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/registry.py
Due: cvat-server

Fix ValidationError exception handling in login flow
  cvat/apps/iam/views.py
Due: cvat-server

Add documentation for tracking functions
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
Due: none

remove zip files from ignore
  _typos.toml
Due: none

autofix typo
  CHANGELOG.md
Due: none

Fix Python runtime version and update installation commands in function configuration
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
Due: none

rename links from .md files to new file names
  site/content/en/docs/enterprise/shapes-converter.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/manual-qa.md
Due: none

Update changelog.d/20250701_144005_PercipioCorey_bump_SAM_python_version.md
  changelog.d/20250701_144005_PercipioCorey_bump_SAM_python_version.md
Due: none

Updated set of target browsers
  cvat-canvas/package.json
  cvat-canvas3d/package.json
  cvat-core/package.json
  cvat-data/package.json
  cvat-ui/package.json
  yarn.lock
Due: cvat-ui

Bump Python runtime version for Segment Anything interactor Nuclio function from 3.8 to 3.10 (#9593)
  changelog.d/20250701_144005_PercipioCorey_bump_SAM_python_version.md
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
Due: none

Updated set of target browsers (#9633)
  cvat-canvas/package.json
  cvat-canvas3d/package.json
  cvat-core/package.json
  cvat-data/package.json
  cvat-ui/package.json
  yarn.lock
Due: cvat-ui

update queue test name in allure report with env value for static cache
  tests/python/rest_api/test_queues.py
Due: none

Simplify test code
  tests/python/cli/test_cli_misc.py
  tests/python/cli/util.py
Due: none

Rename env var
  changelog.d/20250623_185705_mzhiltso_sdk_cli_pat_support.md
  cvat-cli/src/cvat_cli/_internal/common.py
  tests/python/cli/test_cli_misc.py
Due: cvat-server

Update test
  tests/python/cli/test_cli_misc.py
Due: none

Add tests for other auth env vars in cli
  cvat-cli/src/cvat_cli/_internal/common.py
  tests/python/cli/test_cli_misc.py
Due: cvat-server

increase task creation time to make the queue busy for longer
  tests/python/rest_api/test_queues.py
Due: none

isort
  tests/python/rest_api/test_queues.py
Due: none

blacken
  tests/python/rest_api/test_queues.py
Due: none

Add credential cleanup on login
  cvat-sdk/cvat_sdk/core/client.py
Due: cvat-server

Add support for pat auth in lowlevel sdk
  cvat-sdk/cvat_sdk/core/client.py
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
  cvat-sdk/gen/templates/openapi-generator/configuration.mustache
  tests/python/rest_api/test_auth.py
Due: cvat-server

try to launch queue test only once
  .github/workflows/main.yml
Due: none

Revert "increase task creation time to make the queue busy for longer"
  tests/python/rest_api/test_queues.py
Due: none

Update nginx to 1.28.0
  Dockerfile.ui
Due: none

Minor fixes
  tests/perf/docker-compose-perf-cpuset.yml
  tests/perf/docker-compose-perf.yml
  tests/perf/perfkit/k6_summary.py
  tests/perf/perfkit/main.py
  tests/perf/setup.py
Due: none

Remove perf workflow
  .github/workflows/perf.yml
Due: none
