Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Update docs
  site/content/en/docs/contributing/development-environment.md
Due: none

Install node dependencies on postcreate
  .devcontainer/postcreate.sh
Due: none

Don't run yarn install on UI launch config
  .vscode/launch.json
Due: none

Add docs regarding dependabot for devcontainer features
  site/content/en/docs/contributing/development-environment.md
Due: none

Fix typo in doc
  site/content/en/docs/contributing/development-environment.md
Due: none

Add docs regarding opa and nuclio cli applications
  site/content/en/docs/contributing/development-environment.md
Due: none

Always restart nuclio container
  .devcontainer/docker-compose.nuclio.yml
Due: none

Fix bug
  .devcontainer/postcreate.sh
Due: none

Fix typos in docs
  site/content/en/docs/contributing/development-environment.md
Due: none

bug fix
  cvat/apps/engine/migrations/0084_job_ai_audio_annotation_error_msg_and_more.py
  cvat/apps/engine/migrations/0085_alter_task_total_audio_duration.py
  cvat/apps/engine/migrations/0086_task_segment_duration.py
  cvat/apps/engine/migrations/__init__.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-server

Revert commit 8155dde79 and fix bug
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Fixed typescript issues in 'tools-control.tsx' (#7785)
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

fixed status message for queued
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

updated images and wording
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/add-vat.jpg
  site/content/en/images/add-vat.png
  site/content/en/images/sm-profile-upd-inf-2.png
Due: none

added pangination requests from ui
  cvat-core/src/server-proxy.ts
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

fixed sorting from new to old
  cvat-ui/src/components/requests-page/requests-list.tsx
Due: cvat-ui

[GSoC2024] Add Cypress tests for counting annotations, labels, and issues in CVAT (#7750)
  tests/cypress/e2e/features/issue_4662_Count_Annotations.js
Due: none

Refactored one test case
  tests/cypress/e2e/actions_objects/count_objects.js
Due: none

fixed not reseting page on opening Requests tab
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/components/requests-page/requests-page.tsx
Due: cvat-ui

Removed extra code from interactors
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/model_handler.py
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
  serverless/pytorch/saic-vul/fbrs/nuclio/main.py
  serverless/pytorch/saic-vul/fbrs/nuclio/model_handler.py
  serverless/pytorch/saic-vul/hrnet/nuclio/function-gpu.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/function.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/main.py
  serverless/pytorch/saic-vul/hrnet/nuclio/model_handler.py
  serverless/pytorch/shiyinzhang/iog/nuclio/function.yaml
  serverless/pytorch/shiyinzhang/iog/nuclio/main.py
  serverless/pytorch/shiyinzhang/iog/nuclio/model_handler.py
Due: none

Refactored one test case (#7791)
  tests/cypress/e2e/actions_objects/count_objects.js
Due: none

Refactor code layout && fix small bugs && normalize used RQ IDs
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/rq_job_handler.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/urls.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
  cvat/apps/lambda_manager/urls.py
  cvat/settings/base.py
Due: cvat-ui, cvat-server

Update server schema
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

Add changelog fragment
  changelog.d/20240422_133304_maria_optimize_retrieving_annotations.md
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Fix rq id parsing
  cvat/apps/engine/rq_job_handler.py
Due: cvat-server

Remove user id from rq id for import job
  cvat/apps/engine/views.py
Due: cvat-server

Fix pylint issues
  cvat/apps/engine/mixins.py
  cvat/apps/engine/rq_job_handler.py
  cvat/apps/engine/views.py
Due: cvat-server

Fixed fbrs
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
Due: none

Fixed two functions
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
  serverless/pytorch/shiyinzhang/iog/nuclio/function.yaml
Due: none

Fixed url
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
Due: none

More robust handling of adding result_url to meta
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
Due: cvat-server

Fix REST API tests
  cvat/apps/engine/backup.py
  tests/python/rest_api/test_remote_url.py
Due: cvat-server

Returned file id
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
Due: none

Minor refactoring
  cvat-core/src/analytics-report.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/analytics-page/analytics-page.tsx
Due: cvat-ui

Fix part of REST API tests
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
Due: cvat-server

Refactoring
  cvat-ui/src/components/analytics-page/analytics-page.tsx
Due: cvat-ui

Normailize viewset basename
  cvat/apps/engine/urls.py
  cvat/apps/iam/permissions.py
  cvat/settings/base.py
Due: cvat-server
