Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Fix linter issues
  site/content/en/docs/api_sdk/access_tokens.md
Due: none

select union for jobs POC
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/views.py
Due: cvat-server

publish helm (#9925)
  .github/workflows/publish-artifacts.yml
  changelog.d/20251021_112837_petr.iosipov_DEV_710.md
  dev/update_version.py
  helm-chart/Chart.yaml
Due: none

Fix cloud storage provider names in UI and documentation
  changelog.d/20251031_130617_roman_cloud_provider_names.md
  cvat-ui/src/components/cloud-storages-page/cloud-storages-filter-configuration.ts
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/components/create-cloud-storage-page/s3-region.tsx
  cvat-ui/src/config.tsx
  site/content/en/docs/administration/advanced/mounting_cloud_storages.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/cloud-storages.md
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_105_cloud_storage.js
  tests/cypress/e2e/actions_tasks4/cloud_storage/case_109_dummy_cloud_storage.js
  tests/cypress/support/commands_cloud_storages.js
Due: cvat-ui

Clean up the `ProjectAnnotationAndData` and `ProjectData` classes (#9958)
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/project.py
Due: cvat-server

Fix inconsistent `related_name`s and `related_query_name`s in `engine` models
  cvat/apps/engine/migrations/0095_fix_related_names.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Fix inconsistent `related_name`s and `related_query_name`s in `engine` models (#9621)
  cvat/apps/engine/migrations/0095_fix_related_names.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

POC count + page ids in a single query
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Update site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/cli/_index.md
Due: none

Add PAT usage documentation (#9959)
  site/content/en/docs/api_sdk/access_tokens.md
  site/content/en/docs/api_sdk/cli/_index.md
Due: none

wip: create and copy token, refactor before hooks for isolation
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
Due: none

Refactor code a little
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/views.py
Due: cvat-server

Refactor, implement for tasks as well
  cvat/apps/engine/mixins.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Refactor code
  cvat/apps/engine/mixins.py
  cvat/apps/engine/model_utils.py
  cvat/apps/engine/views.py
Due: cvat-server

Update deps
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Fix types
  cvat/apps/engine/mixins.py
  cvat/apps/engine/model_utils.py
Due: cvat-server

`create_thread`: remove the `is_dataset_import` parameter
  cvat/apps/dataset_manager/project.py
  cvat/apps/engine/task.py
Due: cvat-server

token is sent and copied case, apply clipboard ctx
  tests/cypress/e2e/actions_objects2/case_copy_frame_filename.js
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
Due: none

ensure modal is closed
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
Due: none

Squashed commit of the following:
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/chapter-menu.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-buttons.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

Mark prop as readonly
  cvat-ui/src/components/annotation-page/top-bar/chapter-menu.tsx
Due: cvat-ui

add cypress-repeat plugin for debugging
  tests/package.json
  tests/yarn.lock
Due: none

rework password change flow, remove self delete user
  cvat-ui/src/reducers/notifications-reducer.ts
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
  tests/cypress/support/commands.js
Due: cvat-ui

Sync engine migration name
  utils/ffmpeg_compatibility/switch_task_to_static_cache.py
Due: cvat-server

Move xml_format.md back to manual/advanced
  site/content/en/docs/other/xml_format.md
Due: none

Restore xml_format.md to manual/advanced
  site/content/en/docs/manual/advanced/xml_format.md
Due: none

refactor
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
Due: none

add first token test
  tests/cypress/e2e/actions_users/registration_involved/case_2_register_user_change_pass.js
Due: none

ApiTestBase._check_request_status: use a more detailed assert message
  cvat/apps/engine/tests/utils.py
Due: cvat-server

ApiTestBase._check_request_status: use a more detailed assert message (#9969)
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Improve performance of token editing page in admin panel
  cvat/apps/access_tokens/admin.py
Due: cvat-server

Update deps
  cvat/requirements/base.txt
Due: cvat-server

Fix formatting
  cvat/apps/access_tokens/admin.py
Due: cvat-server

Update changelog
  changelog.d/20251104_144314_mzhiltsov_fix_perf_of_admin_token_edit_page.md
Due: none

Move immediate-feedback.md to QA & Analytics section
  site/content/en/docs/account_management/organization.md
  site/content/en/docs/account_management/registration.md
  site/content/en/docs/account_management/social-accounts-configuration.md
  site/content/en/docs/account_management/sso.md
  site/content/en/docs/account_management/subscription-management.md
  site/content/en/docs/account_management/user-roles.md
  site/content/en/docs/getting_started/shortcuts.md
  site/content/en/docs/getting_started/vocabulary.md
  site/content/en/docs/manual/advanced/xml_format.md
  site/content/en/docs/other/introduction-to-cvat-and-datumaro.md
  site/content/en/docs/other/workflow-org.md
  site/content/en/docs/qa-analytics/immediate-feedback.md
  site/content/en/docs/workspace/attach-cloud-storage.md
  site/content/en/docs/workspace/cloud-storages.md
  site/content/en/docs/workspace/jobs-page.md
  site/content/en/docs/workspace/models.md
  site/content/en/docs/workspace/projects.md
  site/content/en/docs/workspace/requests-page.md
  site/content/en/docs/workspace/task-details.md
  site/content/en/docs/workspace/tasks-page.md
Due: none

add class names to elements under test
  cvat-ui/src/components/profile-page/security-content/api-token-created-modal.tsx
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

sync date formats between expiration date form and table view
  cvat-ui/src/components/profile-page/security-content/api-token-form.tsx
Due: cvat-ui

Improve performance of token editing page in admin panel (#9971)
  changelog.d/20251104_144314_mzhiltsov_fix_perf_of_admin_token_edit_page.md
  cvat/apps/access_tokens/admin.py
Due: cvat-server

Use independent subqueries for simple requests without joins
  cvat/apps/engine/mixins.py
Due: cvat-server
