Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Tests(py): rename runtime lifecycle commands
  site/content/en/docs/contributing/running-tests.md
  tests/python/README.md
  tests/python/conftest.py
  tests/python/infra/config.py
  tests/python/infra/instances/local_instance.py
  tests/python/infra/options.py
Due: none

Tests(py): satisfy CI isort ordering
  tests/python/conftest.py
Due: none

Simplify pytest runtime helper constants
  tests/python/conftest.py
  tests/python/infra/config.py
  tests/python/infra/instances/kube_legacy.py
  tests/python/infra/instances/local/compose.py
  tests/python/infra/instances/local/constants.py
  tests/python/infra/instances/local/docker.py
  tests/python/infra/instances/local/environment.py
  tests/python/infra/instances/local/instance.py
Due: none

Refine local runtime infrastructure
  tests/python/infra/DESIGN.md
  tests/python/infra/config.py
  tests/python/infra/instances/base_instance.py
  tests/python/infra/instances/local/__init__.py
  tests/python/infra/instances/local/compose.py
  tests/python/infra/instances/local/constants.py
  tests/python/infra/instances/local/docker.py
  tests/python/infra/instances/local/environment.py
  tests/python/infra/instances/local/instance.py
  tests/python/infra/instances/local/lifecycle.py
  tests/python/infra/instances/local/stack.py
  tests/python/infra/instances/local_instance.py
Due: none

Tests(py): centralize runtime request parsing
  tests/python/conftest.py
  tests/python/infra/config.py
  tests/python/infra/instances/base_instance.py
  tests/python/infra/instances/local_instance.py
Due: none

Tests(py): clarify runtime sanity lifecycle
  site/content/en/docs/contributing/running-tests.md
  tests/python/conftest.py
  tests/python/infra/config.py
  tests/python/infra/instances/base_instance.py
  tests/python/infra/instances/local_instance.py
  tests/python/infra/options.py
Due: none

Tests(py): restrict runtime port probe to loopback
  tests/python/infra/config.py
Due: none

Require Redis containers for local reuse
  tests/python/infra/instances/local/docker.py
Due: none

Refine pytest runtime lifecycle
  tests/docker-compose.minio.yml
  tests/python/conftest.py
  tests/python/infra/DESIGN.md
  tests/python/infra/__init__.py
  tests/python/infra/config.py
  tests/python/infra/health.py
  tests/python/infra/instances/__init__.py
  tests/python/infra/instances/base_instance.py
  tests/python/infra/instances/local_instance.py
  tests/python/infra/options.py
  tests/python/rest_api/test_check_objects_integrity.py
  tests/python/shared/fixtures/data.py
  tests/python/shared/fixtures/init.py
  tests/python/shared/utils/config.py
Due: none

Tests(py): bound health wait deadlines
  tests/python/infra/health.py
Due: none

Increase timeout for cloud storage task test
  tests/python/rest_api/test_tasks.py
Due: none

Tests(py): require workers before reuse
  tests/python/infra/instances/local_instance.py
Due: none

Add docs
  CLI_SDK_ persistent authentication.md
  CLI_SDK_persistent_authentication_implementation_plan.md
Due: none

Add task breakdown spec for CLI/SDK persistent auth feature
  docs/superpowers/specs/2026-06-07-cli-sdk-persistent-auth-task-breakdown-design.md
Due: none

Add docs
  CLI_SDK_persistent_authentication_implementation_plan.md
Due: none

Remove redundant exception
  cvat/apps/engine/views.py
Due: cvat-server

updated tests
  tests/cypress/e2e/audio_workspace/case_audio_13_select_region_canvas_click.js
  tests/cypress/e2e/audio_workspace/case_audio_15_region_details_content.js
  tests/cypress/support/commands_audio.js
Due: none

Basic filter implementation
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/quality-requirement-filter.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
Due: cvat-ui

Fixed command name
  tests/cypress/e2e/audio_workspace/case_audio_13_select_region_canvas_click.js
  tests/cypress/e2e/audio_workspace/case_audio_15_region_details_content.js
Due: none

minor fixes
  cvat-core/src/annotations-collection.ts
  cvat-core/src/session.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-regions.ts
Due: cvat-ui

minor fixes
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

minor fix in annotation saver
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

minor fix
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

sync
  cvat-ui/src/actions/import-actions.ts
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
Due: cvat-ui

Refresh audio interval regions after annotation import
  cvat-ui/src/actions/import-actions.ts
Due: cvat-ui

Accept .tsv files in the import dataset UI
  cvat-core/src/annotations.ts
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
Due: cvat-ui

Add e2e test for TSV transcription import
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
Due: none

sync after rebase
  cvat-ui/src/actions/import-actions.ts
Due: cvat-ui

attributes with value automatic are read only
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-attribute.tsx
Due: cvat-ui

Improve audio annotation statistics, filtering, and waveform controls
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-filter.ts
  cvat-core/src/annotations.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas-wrapper.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/zoom-control.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_canvas.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_region-details.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-statistics-modal.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/filter-audio-regions.ts
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
  cvat-ui/src/audio/utils/format-audio-time.ts
Due: cvat-ui

fixed export
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
Due: cvat-ui

Accept .tsv files in the import dataset UI (#10700)
  cvat-core/src/annotations.ts
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
  tests/cypress/e2e/audio_workspace/case_audio_29_import_tsv_annotations.js
Due: cvat-ui

[DEV-928] add terminationGracePeriodSeconds for webhook worker (#10664)
  helm-chart/templates/cvat_backend/worker_webhooks/deployment.yml
  helm-chart/values.yaml
Due: none

minor refactoring
  cvat-core/src/annotations-actions/base-collection-action.ts
  cvat-core/src/annotations-actions/base-shapes-action.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-filter.ts
  cvat-core/src/annotations.ts
  cvat-core/src/object-utils.ts
  cvat-core/src/session-implementation.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-statistics-modal.tsx
  cvat-ui/src/audio/utils/format-audio-time.ts
Due: cvat-ui

Hide annotations actions for audio jobs
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

attr with names starting by _ are hidden
  CHANGE_LOG.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-attribute.tsx
Due: cvat-ui

updated navigation
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-player-navigation.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
Due: cvat-ui

added control in workspace settings
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-attribute.tsx
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/containers/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

manage.py command to create a user
  cvat/apps/engine/management/commands/createuser.py
Due: cvat-server
