Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Update changelog
  changelog.d/20240704_201201_mzhiltso_track_last_assignee_update.md
Due: none

Fix merge
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove unnecessary f
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
Due: none

setting `consensus_settings` default value same as that of CLI merge command of datumaro
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/models.py
Due: cvat-server

Update test
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Fix failing tests
  cvat/apps/quality_control/views.py
  tests/python/rest_api/test_jobs.py
Due: cvat-server

fix: Resolve conflicts
  cvat-ui/src/components/job-item/job-actions-menu.tsx
Due: cvat-ui

Fixed unexpected deletion of log files of other processes that led to OSError: [Errno 116] Stale file handle error on NFS volumes
  supervisord/server.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: none

update types in export actions
  cvat-ui/src/actions/export-actions.ts
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

removed unnecessary file
  cvat-ui/src/utils/deep-copy.ts
Due: cvat-ui

Use job assignees from quality reports in quality ui
  cvat-core/src/quality-report.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
Due: cvat-ui

Update changelog
  changelog.d/20240705_121059_mzhiltso_assignee_from_quality_reports_in_ui.md
Due: none

fix test steps
  tests/cypress/e2e/features/skeletons_pipeline.js
Due: none

use default childlogdir
  supervisord/server.conf
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
Due: none

added pyproject.toml for black formating
  cvat/apps/consensus/pyproject.toml
Due: cvat-server

added `consensus_reports` and `consensus_conflict` in the backend thus API access available
  cvat/apps/consensus/consensus_reports.py
  cvat/apps/consensus/merge_consensus_jobs.py
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/consensus/models.py
  cvat/apps/consensus/new_intersect_merge.py
  cvat/apps/consensus/permissions.py
  cvat/apps/consensus/rules/conflicts.rego
  cvat/apps/consensus/rules/consensus_reports.rego
  cvat/apps/consensus/serializers.py
  cvat/apps/consensus/urls.py
  cvat/apps/consensus/views.py
Due: cvat-server

updated `schema.yml`
  cvat/schema.yml
Due: cvat-server

fix: conflicting changes
  cvat-ui/src/components/header/settings-modal/multiple-shortcuts-display.tsx
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
Due: cvat-ui

feat: update the existing shortcut scope in a way that the conflicts between the existing shortcuts is resolved
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/issue-control.tsx
  cvat-ui/src/components/annotation-page/single-shape-workspace/single-shape-sidebar/single-shape-sidebar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/cursor-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/group-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/join-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/merge-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/slice-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/split-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/shortcuts-select.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/tag-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-buttons.tsx
  cvat-ui/src/components/annotation-page/top-bar/player-navigation.tsx
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
  cvat-ui/src/components/layout-grid/layout-grid.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/utils/enums.tsx
Due: cvat-ui

fix typo
  site/content/en/docs/faq.md
Due: none

fix typos
  site/README.md
Due: none

updated reviewed changes
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/styles.scss
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

only store Object rotated state in updated array
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

added changelog
  changelog.d/20240707_002528_krishavrajsingh_execUpdate.md
Due: none

merged new multiple django app migrations into single migration
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/engine/migrations/0079_job_parent_job_id_task_consensus_jobs_per_segment_and_more.py
Due: cvat-server

updatede schema.yml
  cvat/schema.yml
Due: cvat-server

updated schema.yml
  cvat/schema.yml
Due: cvat-server

merged newly added multiple migration files into one
  cvat/apps/engine/migrations/0079_job_parent_job_id_task_consensus_jobs_per_normal_job_and_more.py
  cvat/apps/engine/migrations/0079_job_parent_job_id_task_consensus_jobs_per_segment.py
Due: cvat-server

changed `consensus_jobs_per_segment` to `consensus_jobs_per_normal_job`
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/create-task-page/consensus-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
Due: cvat-ui, cvat-server

changed `onSubmit` to `onChange` for `consensusBlock` in task creation
  cvat-core/src/session.ts
  cvat-ui/src/components/create-task-page/consensus-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
Due: cvat-ui

created a common validator to check for interger with the value filter
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/create-task-page/consensus-configuration-form.tsx
  cvat-ui/src/utils/validate-integer.ts
Due: cvat-ui

feat: add conflict warning and confirmation model, changed ctrl to control as the keyboard registers it as control key
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard3D-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/customizable-components/index.tsx
  cvat-ui/src/components/header/settings-modal/multiple-shortcuts-display.tsx
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
  cvat-ui/src/components/layout-grid/layout-grid.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/containers/header/settings-modal/shortcuts-settings.tsx
  cvat-ui/src/reducers/shortcuts-reducer.ts
Due: cvat-ui

added margin at top of consensus job view collapse block
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/job-item/styles.scss
Due: cvat-ui

Add changelog note
  changelog.d/20240708_103153_andrey_fix_logger_error.md
Due: none

fixed `schema.yml` conflicts after merging `consensus-job` branch
  cvat/schema.yml
Due: cvat-server

fixed migration files after merging `consensus-job` branch
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/engine/migrations/0079_job_parent_job_id_task_consensus_jobs_per_normal_job_and_more.py
  cvat/apps/engine/migrations/0079_job_parent_job_id_task_consensus_jobs_per_segment_and_more.py
Due: cvat-server

Add files via upload
  serverless/pytorch/mmpose/hrnet32/nuclio/function-gpu.yaml
Due: none

Update fragment.j2
  changelog.d/fragment.j2
Due: none

Fix typos (#8128)
  site/README.md
  site/content/en/docs/faq.md
Due: none

Improved types corresponding to `export actions` (#8122)
  cvat-ui/src/actions/export-actions.ts
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/deep-copy.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
