Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fixed license header
  cvat-ui/src/components/header/organizations-search.tsx
Due: cvat-ui

Inviting unregistered users by email (#6901)
  changelog.d/20231009_092646_invite_users.md
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/organization.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/user.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/actions/organization-actions.ts
  cvat-ui/src/components/accept-invitation-page/accept-invitation-page.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/members-list.tsx
  cvat-ui/src/components/organization-page/organization-page.tsx
  cvat-ui/src/components/register-page/register-form.tsx
  cvat-ui/src/components/register-page/register-page.tsx
  cvat-ui/src/components/signing-common/cvat-signing-input.tsx
  cvat-ui/src/components/signing-common/styles.scss
  cvat-ui/src/components/watchers/organization-watcher.tsx
  cvat-ui/src/containers/register-page/register-page.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat/apps/organizations/migrations/0002_invitation_sent_date.py
  cvat/apps/organizations/models.py
  cvat/apps/organizations/serializers.py
  cvat/apps/organizations/templates/invitation/invitation_message.html
  cvat/apps/organizations/templates/invitation/invitation_subject.txt
  cvat/apps/organizations/throttle.py
  cvat/apps/organizations/views.py
  cvat/schema.yml
  cvat/settings/base.py
Due: cvat-ui, cvat-server

Update lowlevel-api.md (#6989)
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
Due: none

add changelog entry
  changelog.d/20231016_131815_andrey_helm_update_clickouse_config.md
Due: none

Add changelog
  changelog.d/20231016_144002_maria_gcs_skip_manually_created_dirs.md
Due: none

Add lock for a user instead of a queue
  cvat/apps/engine/backup.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Add basic checks for changelog fragments to CI
  .github/workflows/main.yml
  dev/check_changelog_fragments.py
Due: none

Apply comments && fix bug
  changelog.d/20231009_103807_maria_add_aws_s3_prefix_support.md
  changelog.d/20231009_104112_maria_add_aws_s3_prefix_support.md
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  utils/dataset_manifest/core.py
Due: cvat-server

Disable zookeeper (#7003)
  changelog.d/20231016_131815_andrey_helm_update_clickouse_config.md
  helm-chart/Chart.yaml
  helm-chart/values.yaml
Due: none

[GCS] Skip manually created dirs (#7006)
  changelog.d/20231016_144002_maria_gcs_skip_manually_created_dirs.md
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Add support for Cloudflare R2 Buckets (#6701)
  changelog.d/20231013_104143_jonashiltl2003_secret_key_length.md
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Add a job for publishing Python packages upon release
  .github/workflows/publish-artifacts.yml
Due: none

Update changelog.d/20231006_152644_fix_6878.md
  changelog.d/20231006_152644_fix_6878.md
Due: none

add new links
  README.md
Due: none

Fixed refresh button
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

Fixed prefix alert
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

delete tracker on reinit, unmount
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
Due: cvat-ui

Fix possible double writing of the uploaded client files in Upload-Multiple requests (#6952)
  changelog.d/20231006_152644_fix_6878.md
  cvat/apps/engine/views.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Fix REST API tests and part of unit tests
  cvat/apps/engine/backup.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
Due: cvat-server

Implement build with version changes
  .github/workflows/main.yml
  site/build_docs.py
Due: none

Update readme
  site/README.md
Due: none

fix linter
  site/build_docs.py
Due: none

Add test
  tests/python/rest_api/test_cloud_storages.py
Due: none

Don't fetch existing annotations in `cvat_sdk.auto_annotation.annotate_task`
  changelog.d/20231017_194639_roman_auto_annotate_no_load.md
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/datasets/common.py
  cvat-sdk/cvat_sdk/datasets/task_dataset.py
  tests/python/sdk/test_datasets.py
Due: cvat-server

Added keypoints model
  serverless/pytorch/mmpose/ubody2d/nuclio/function.yaml
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Added face / feet points
  serverless/pytorch/mmpose/ubody2d/nuclio/function.yaml
Due: none

Adjusted label scheme
  serverless/pytorch/mmpose/ubody2d/nuclio/function.yaml
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Added type for skeleton elements
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Add new community links to the `Links` README section (#7014)
  README.md
Due: none

check ci
  .github/workflows/main.yml
  site/build_docs.py
Due: none

Fixed comments from the review.
  changelog.d/20231011_162748_nikita_fix_perf_issues.md
  tests/python/rest_api/test_labels.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/data.py
Due: none

Update cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/header/header.tsx
Due: cvat-ui

check ci
  site/build_docs.py
Due: none

Add basic checks for changelog fragments to CI (#7007)
  .github/workflows/main.yml
  dev/check_changelog_fragments.py
Due: none

slightly optimized creation of ServerFile objects
  cvat/apps/engine/serializers.py
Due: cvat-server

Fix the black linter
  tests/python/rest_api/test_labels.py
Due: none

restore ci steps
  .github/workflows/main.yml
  site/build_docs.py
Due: none

Add docs build vs code tasks
  .vscode/launch.json
Due: none

Finalize PR
  changelog.d/20231018_103441_maria_add_test_for_retrieving_bucket_content_with_manually_created_dirs.md
  tests/python/rest_api/test_cloud_storages.py
Due: none

fix race condition
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
