Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Improve cleanup job logging
  cvat/apps/api_tokens/cron.py
Due: cvat-server

Update Django to 4.2.24
  cvat/requirements/base.txt
Due: cvat-server

Update issue dialog condition
  cvat-ui/src/components/annotation-page/review/issue-dialog.tsx
Due: cvat-ui

Remove unused imports
  cvat-ui/src/utils/dayjs-wrapper.ts
Due: cvat-ui

Update Django to 4.2.24 (#9847)
  cvat/requirements/base.txt
Due: cvat-server

Support multiple plugins per base package
  cvat/apps/api_tokens/README.md
  cvat/apps/api_tokens/permissions.py
Due: cvat-server

Refactor some code
  cvat/apps/api_tokens/permissions.py
Due: cvat-server

add links to allow terminal links inside vscode
  .vscode/settings.json
Due: none

Update test assets
  tests/python/shared/assets/api_tokens.json
Due: none

Update tests
  cvat/apps/api_tokens/serializers.py
  tests/python/rest_api/test_api_tokens.py
  tests/python/shared/fixtures/data.py
Due: cvat-server

Update deps
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Improve connection reuse in aws client
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Try more than 1 header size
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Fix field access
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Migrate from `moment.js` to `dayjs` (#9835)
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/review/issue-dialog.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storage-item.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/components/models-page/models-page.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/top-bar.tsx
  cvat-ui/src/components/project-page/details.tsx
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/components/webhooks-page/webhook-item.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/utils/dayjs-wrapper.ts
  yarn.lock
Due: cvat-ui

Refactor some code
  cvat/apps/api_tokens/cron.py
  cvat/apps/api_tokens/models.py
  cvat/apps/api_tokens/permissions.py
Due: cvat-server

Add csv export button
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

Add a tooltip to table header
  cvat-ui/src/components/common/cvat-table.tsx
  cvat-ui/src/components/common/styles.scss
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
  cvat-ui/src/components/profile-page/styles.scss
Due: cvat-ui

Update tag colors
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

Add underline for never expiring keys
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

Improve form default fields
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/profile-page/security-content/api-token-form.tsx
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
  cvat-ui/src/reducers/auth-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Fill revoke button
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

Rename save fields
  cvat-core/src/api-token.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-request-types.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/user.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/profile-page/security-content/api-token-form.tsx
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

Change colors on save pop-up
  cvat-ui/src/components/profile-page/security-content/api-token-created-modal.tsx
Due: cvat-ui

Apply comments
  cvat-core/src/api-implementation.ts
  cvat-core/src/api-token.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/auth-reducer.ts
Due: cvat-ui

Add GPU-enabled Anomalib functions and deployment scripts
  CHANGELOG_DIGITALSENSE.md
  serverless/deploy_anomalib_gpu.sh
  serverless/pytorch/anomalib/Dockerfile-gpu
  serverless/pytorch/anomalib/models/nuclio/function-gpu_cfa.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_draem.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_dsr.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_efficient_ad.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_fastflow.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_fre.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_padim.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_patchcore.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_reverse_distillation.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_stfpm.yaml
  serverless/pytorch/anomalib/models/nuclio/function-gpu_uflow.yaml
  serverless/pytorch/anomalib/requirements-torch.txt
  startup-gpu.sh
Due: none

Fix promise rejections and onSuccess callbacks
  cvat-ui/src/actions/auth-actions.ts
Due: cvat-ui

Fix row key warning
  cvat-ui/src/components/profile-page/security-content/api-tokens-card.tsx
Due: cvat-ui

changelog entry
  changelog.d/20250925_135338_dmitrii.lavrukhin_switch_task_to_static.md
Due: none

Minor refactoring
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-ui/src/components/profile-page/security-content/api-token-form.tsx
Due: cvat-ui

leaving only support for one version of ffmpeg
  Dockerfile
  cvat/apps/engine/media_extractors.py
  utils/dataset_manifest/core.py
Due: cvat-server

updating av requirement
  cvat/requirements/base.in
Due: cvat-server

fixing a typo
  changelog.d/20250925_135338_dmitrii.lavrukhin_switch_task_to_static.md
Due: none

Update changelog.d/20250925_135338_dmitrii.lavrukhin_switch_task_to_static.md
  changelog.d/20250925_135338_dmitrii.lavrukhin_switch_task_to_static.md
Due: none

Fix styles for model card
  cvat-ui/src/components/models-page/styles.scss
Due: cvat-ui

Add changelog
  changelog.d/20250926_124417_klakhov_fix_model_card.md
Due: none

Use CVAT_ALLOW_STATIC_CACHE only for new tasks (#9831)
  changelog.d/20250925_135338_dmitrii.lavrukhin_switch_task_to_static.md
  cvat/apps/engine/frame_provider.py
Due: cvat-server

correctly processing qmin and qmax
  cvat/apps/engine/media_extractors.py
Due: cvat-server

upgrade guide for fixing tasks in case of problems
  site/content/en/docs/administration/advanced/upgrade_guide.md
  utils/switch_task_to_static/README.md
  utils/switch_task_to_static/docker-compose.yaml
  utils/switch_task_to_static/switch_task_to_static_cache.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
