Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Add task with frame step into test db
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: none

add corepack to yarn
  .github/workflows/full.yml
Due: none

Fix frame filtering for deleted_frames
  cvat/apps/engine/views.py
Due: cvat-server

Add more complex test cases for frame deletion
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/tasks/utils.py
Due: none

trigger ci
  .github/workflows/full.yml
Due: none

Move bulk error notification into bulk-progress
  cvat-ui/src/components/bulk-progress.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Update import style
  cvat-ui/src/components/bulk-progress.tsx
Due: cvat-ui

Combine use selectors
  cvat-ui/src/components/bulk-progress.tsx
Due: cvat-ui

Split and mark failing test
  tests/python/rest_api/test_tasks.py
Due: none

Update button to primary
  cvat-ui/src/components/bulk-progress.tsx
  cvat-ui/src/styles.scss
Due: cvat-ui

Update bulk action status
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Fix gt job frame numbers in backups
  cvat/apps/engine/backup.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Rename fetching members
  cvat-ui/src/components/organization-page/organization-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/organizations-reducer.ts
Due: cvat-ui

Fix payload type
  cvat-ui/src/actions/selection-actions.ts
Due: cvat-ui

Update tests
  tests/python/rest_api/test_tasks.py
Due: none

Update changelog
  changelog.d/20250801_184155_mzhiltso_fix_video_backups_with_gt_and_custom_params.md
Due: none

Skip failing test case
  tests/python/rest_api/test_tasks.py
Due: none

Remove test skip
  tests/python/rest_api/test_tasks.py
Due: none

Format code
  tests/python/rest_api/test_tasks.py
Due: none

Fix exportable resource permissions
  cvat/apps/engine/permissions.py
Due: cvat-server

"trigger ci 2"
  .github/workflows/full.yml
Due: none

streaming version for .group_by_frame and .to_shapes
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

Add blog information
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

Update references
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/advanced/automatic-annotation.md
Due: none

Update references
  site/content/en/docs/api_sdk/cli/_index.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

Fix linter warnings
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/advanced/automatic-annotation.md
Due: none

Fix linter warnings
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

Unify alerts
  site/content/en/docs/administration/advanced/analytics.md
  site/content/en/docs/administration/basics/installation.md
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  site/content/en/docs/api_sdk/sdk/lowlevel-api.md
  site/content/en/docs/enterprise/immediate-feedback.md
  site/content/en/docs/enterprise/subscription-management.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/consensus.md
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/docs/manual/advanced/dataset_manifest.md
  site/content/en/docs/manual/advanced/filter.md
  site/content/en/docs/manual/advanced/projects.md
  site/content/en/docs/manual/advanced/search.md
  site/content/en/docs/manual/basics/cloud-storages.md
  site/content/en/docs/manual/basics/jobs-page.md
  site/content/en/docs/manual/basics/quality-control.md
  site/content/en/docs/manual/basics/requests-page.md
  site/content/en/docs/manual/basics/tasks-page.md
Due: none

Fix changelog
  changelog.d/20250708_134458_klakhov_bulk_actions.md
  cvat-ui/src/changelog.d/20250708_134458_klakhov_bulk_actions.md
Due: cvat-ui

Fix typo
  cvat-ui/src/components/common/cvat-name-template-tooltip.tsx
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
Due: cvat-ui

Remove unused dependency
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
Due: cvat-ui

Update cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/actions/tasks-actions.ts
Due: cvat-ui

ui fixes
  cvat-ui/src/components/task-page/cloud-storage-editor.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/task-page.tsx
Due: cvat-ui

Refactoring for bulk error
  cvat-ui/src/components/bulk-progress.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

passing label to SelectCloudStorage
  cvat-ui/src/components/select-cloud-storage/select-cloud-storage.tsx
  cvat-ui/src/components/task-page/cloud-storage-editor.tsx
Due: cvat-ui

moved to list
  cvat/apps/engine/user_deletion.py
Due: cvat-server

Added user deletion manager that removes user together with all data (#9686)
  changelog.d/20250730_113447_sekachev.bs_user_deletion.md
  cvat/apps/engine/management/commands/deleteuser.py
  cvat/apps/engine/user_deletion.py
Due: cvat-server

Added reposition logic into issues (#9642)
  changelog.d/20250716_102252_klakhov_improve_issue_positioning.md
  cvat-canvas/src/typescript/canvas.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/review/create-issue-dialog.tsx
  cvat-ui/src/components/annotation-page/review/hidden-issue-label.tsx
  cvat-ui/src/components/annotation-page/review/issue-dialog.tsx
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
  cvat-ui/src/components/annotation-page/review/use-dialog-positioning.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
