Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Improve error message
  cvat/apps/engine/frame_provider.py
Due: cvat-server

Add field description in the api
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

modified analytics page to include the change in size props in `AnalyticsCard`
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/analytics-page/task-consensus/consensus-conflicts.tsx
  cvat-ui/src/components/analytics-page/task-consensus/issues.tsx
  cvat-ui/src/components/analytics-page/task-consensus/task-consensus-component.tsx
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
Due: cvat-ui

fixed migration issue when merging `develop` into `gsoc/consensus-feature`
  cvat/apps/consensus/migrations/0001_initial.py
  cvat/apps/engine/migrations/0084_job_parent_job_task_consensus_jobs_per_regular_job_and_more.py
Due: cvat-server

updated `schema.yml`
  cvat/schema.yml
Due: cvat-server

Enable automatic init for chunks_updated_date
  cvat/apps/engine/migrations/0085_segment_chunks_updated_date.py
  cvat/apps/engine/models.py
Due: cvat-server

Add validation mode filter to tasks
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

Remove extra import
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove `task_subsets` from `ProjectWriteSerializer`
  changelog.d/20241001_131450_roman.md
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

Fixed image tags
  .github/workflows/schedule.yml
Due: none

tmp datumaro dependency
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Add test for validation_mode filter
  tests/python/rest_api/test_tasks.py
Due: none

Add tests for chunk updates in jobs
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Add new headers into schema
  cvat/apps/engine/views.py
  cvat/schema.yml
Due: cvat-server

updated docs
  site/content/en/docs/manual/advanced/formats/format-yolov8-classification.md
Due: none

Harden access control in several PATCH endpoints
  cvat/apps/engine/permissions.py
  cvat/apps/iam/permissions.py
  cvat/apps/organizations/permissions.py
Due: cvat-server

Fix a broken test
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Remove `task_subsets` from `ProjectWriteSerializer` (#8492)
  changelog.d/20241001_131450_roman.md
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

Split rest and unit tests into different steps
  .github/workflows/schedule.yml
Due: none

Add changelog entry
  changelog.d/20241001_142106_roman_patch_scopes_hardening.md
Due: none

Fix failing tests
  tests/python/rest_api/test_tasks.py
Due: none

Add REST API tests to check access rights when changing source/target storage (#8479)
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_labels.py
  tests/python/rest_api/test_organizations.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/fixtures/data.py
Due: none

Add tests for patching unknown fields
  cvat/apps/engine/tests/test_rest_api.py
  tests/python/rest_api/test_memberships.py
Due: cvat-server

Merge test db with develop
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: none

Update test assets
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/tasks.json
Due: none

WIP Use exceptions instead of HTML responses with error statuses
  cvat/apps/engine/background.py
  cvat/apps/engine/views.py
  cvat/apps/iam/views.py
Due: cvat-server

Migrate to m2m relationship for related files
  cvat/apps/engine/cache.py
  cvat/apps/engine/migrations/0084_honeypot_support.py
  cvat/apps/engine/models.py
  cvat/apps/engine/task.py
Due: cvat-server

Update test db
  tests/python/shared/assets/cvat_db/data.json
Due: none

Clean up imports
  cvat/apps/engine/models.py
Due: cvat-server

Fix failing tests
  changelog.d/20240930_171153_mzhiltso_validation_management_core.md
  tests/python/rest_api/test_tasks.py
Due: none

Fix failing test
  tests/python/rest_api/test_quality_control.py
Due: none

Updated client part
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
Due: cvat-ui

Update test assets
  tests/python/shared/assets/cvat_db/data.json
Due: none

Fix test
  tests/python/rest_api/test_tasks.py
Due: none

Add handling for related images on honeypot changes
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Add related field declaration in Image and Data models
  cvat/apps/engine/models.py
Due: cvat-server

Fixed warning
  cvat-ui/src/components/create-task-page/quality-configuration-form.tsx
Due: cvat-ui

handled consensus score as `nan` scenario
  cvat/apps/consensus/consensus_reports.py
Due: cvat-server

Harden access control in several PATCH endpoints (#8493)
  changelog.d/20241001_142106_roman_patch_scopes_hardening.md
  cvat/apps/engine/permissions.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/iam/permissions.py
  cvat/apps/organizations/permissions.py
  tests/python/rest_api/test_memberships.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
