Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added error handling if organizations request is failed (#7063)
  changelog.d/20231026_141231_sekachev.bs_additional_org_receive_check.md
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/header/organizations-search.tsx
  cvat/apps/organizations/views.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Applied comments
  serverless/pytorch/mmpose/ubody2d/nuclio/function.yaml
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Updated changelog
  changelog.d/20231024_123046_boris_keypoints.md
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Fixed for grayscale, convert to bgr
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

improved rgb to bgr
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Add tests
  cvat/apps/engine/cloud_provider.py
  tests/python/rest_api/test_cloud_storages.py
  tests/python/rest_api/test_tasks.py
  utils/dataset_manifest/core.py
Due: cvat-server

Reformat code
  tests/python/rest_api/test_cloud_storages.py
Due: none

Add changelog fragment
  changelog.d/20231030_124607_maria_test_for_default_prefix.md
Due: none

Rewritten with clsas
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Removed extra import
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Code refactoring
  serverless/pytorch/mmpose/ubody2d/nuclio/function.yaml
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Removed extra comment
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

rewritten condition
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

chunk preparation optimization
  cvat/apps/engine/cache.py
  cvat/apps/engine/media_extractors.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
  cvat/settings/base.py
Due: cvat-server

fix pylint
  cvat/apps/engine/task.py
Due: cvat-server

handle center for missed skeleton elements
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat/apps/lambda_manager/views.py
Due: cvat-ui, cvat-server

removed some methods in lambda manager
  cvat-core/src/api-implementation.ts
  cvat-core/src/lambda-manager.ts
Due: cvat-ui

Documentation: Need help -> Support (#7070)
  site/content/en/images/change_password.jpg
  site/content/en/images/create_organization_webhook.gif
  site/content/en/images/image233.jpg
  site/content/en/images/image233_1.jpg
  site/content/en/images/image235.jpg
  site/content/en/images/personal_account.jpg
Due: none

updated
  site/content/en/docs/manual/basics/attach-cloud-storage.md
Due: none

fix unitests
  cvat/apps/engine/task.py
Due: cvat-server

Update site/content/en/docs/manual/basics/attach-cloud-storage.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
Due: none

updated based on review
  site/content/en/docs/manual/basics/attach-cloud-storage.md
Due: none

updated closing log, compress only sequential change frames
  cvat-core/src/logger-storage.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Update threshold
  serverless/pytorch/mmpose/ubody2d/nuclio/main.py
Due: none

Update changelog.d/20231024_123046_boris_keypoints.md
  changelog.d/20231024_123046_boris_keypoints.md
Due: none

Added controls
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/group-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/join-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/slice-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/shortcuts-reducer.ts
Due: cvat-ui

Update cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Removed unused field
  cvat-ui/src/components/shortcuts-dialog/shortcuts-dialog.tsx
  cvat-ui/src/reducers/shortcuts-reducer.ts
  cvat-ui/src/utils/mousetrap-react.tsx
Due: cvat-ui

removed save/delete methods
  cvat-core/src/ml-model.ts
Due: cvat-ui

removed contatier word
  site/content/en/docs/manual/basics/attach-cloud-storage.md
Due: none

removed methods
  cvat-core/src/api.ts
Due: cvat-ui

added types
  cvat-ui/src/components/plugins-entrypoint.tsx
Due: cvat-ui

top bar menu items
  cvat-ui/src/components/models-page/deployed-model-item.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

removed add button
  cvat-ui/src/components/models-page/styles.scss
  cvat-ui/src/components/models-page/top-bar.tsx
Due: cvat-ui

Updated canvas
  cvat-canvas/README.md
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/groupHandler.ts
  cvat-canvas/src/typescript/objectSelector.ts
  tests/cypress/e2e/actions_objects2/case_15_group_features.js
  tests/cypress/e2e/issues_prs/issue_2487_extra_instances_canvas_grouping.js
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
