Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Documentation: updated slice and join documentation (#7199)
  site/content/en/docs/manual/advanced/delete_frame.md
  site/content/en/docs/manual/advanced/slice-and-join.md
  site/content/en/docs/manual/basics/controls-sidebar.md
  site/content/en/images/join-masks-icon.jpg
  site/content/en/images/joining-tool-01.jpg
  site/content/en/images/joining-tool-02.gif
  site/content/en/images/slicing-tool-01.jpg
  site/content/en/images/slicing-tool-02.gif
  site/content/en/images/slicing-tool-icon.jpg
Due: none

Fixed couple of comments
  cvat-core/src/download.worker.ts
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
Due: cvat-ui

updated structure
  site/content/en/docs/manual/advanced/skeletons.md
Due: none

fixed invitations pagination, styles
  cvat-core/src/api-implementation.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/invitations-actions.ts
  cvat-ui/src/components/invitations-page/invitation-item.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/invitations-page.tsx
  cvat-ui/src/components/invitations-page/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/invitations-reducer.ts
Due: cvat-ui

Added duration validation
  cvat/apps/events/serializers.py
Due: cvat-server

Added changelog
  changelog.d/20231201_134050_sekachev.bs_duration_val.md
Due: none

Update changelog.d/20231201_134050_sekachev.bs_duration_val.md
  changelog.d/20231201_134050_sekachev.bs_duration_val.md
Due: none

type => isinstance
  cvat/apps/events/serializers.py
Due: cvat-server

Fix a SyntaxWarning in serverless/openvino/omz/intel/text-detection-0004 (#7177)
  serverless/openvino/omz/intel/text-detection-0004/nuclio/model_handler.py
Due: none

Fix issues related to rq job dependencies (#7139)
  changelog.d/20231123_130853_maria_fix_rq_issues.md
  cvat/apps/engine/backup.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/rq_patching.py
  cvat/settings/base.py
Due: cvat-server

Updated README
  cvat-data/src/ts/3rdparty/README.md
Due: cvat-ui

fixed notification classes
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

reworked the notifications
  cvat-ui/src/components/invitations-page/invitation-item.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/styles.scss
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/notifications-reducer.ts
Due: cvat-ui

Fix changelog markdown
  changelog.d/20231129_112732_canyigitozen_helm_chart_kube_version.md
Due: none

[Helm] Allow pre-release k8s versions to fix AWS EKS deployments (#7183)
  changelog.d/20231129_112732_canyigitozen_helm_chart_kube_version.md
  helm-chart/Chart.yaml
Due: none

fixed linter problems
  cvat/apps/organizations/serializers.py
  cvat/apps/organizations/views.py
Due: cvat-server

removed filter type
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

fixed eslint
  cvat-ui/src/components/invitations-page/invitations-page.tsx
Due: cvat-ui

changed text on decline invitation
  cvat-ui/src/components/invitations-page/invitation-item.tsx
Due: cvat-ui

minor eslint fix
  cvat-core/src/api-implementation.ts
Due: cvat-ui

YOLOv7: use the correct version of ONNX Runtime for GPU
  changelog.d/20231009_140340_roman_HEAD.md
  serverless/onnx/WongKinYiu/yolov7/nuclio/function-gpu.yaml
Due: none

fix: Dockerfile.ui to reduce vulnerabilities
  Dockerfile.ui
Due: none

YOLOv7: use the correct version of ONNX Runtime for GPU (#6940)
  changelog.d/20231009_140340_roman_HEAD.md
  serverless/onnx/WongKinYiu/yolov7/nuclio/function-gpu.yaml
Due: none

Documentation: Annotation skeletons (#7197)
  site/content/en/docs/manual/advanced/annotation-with-skeletons/_index.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/creating-the-skeleton.md
  site/content/en/docs/manual/advanced/annotation-with-skeletons/editing-the-skeleton.md
  site/content/en/docs/manual/advanced/projects.md
  site/content/en/docs/manual/advanced/skeletons.md
  site/content/en/images/auto-annot-sk-detectors.jpg
  site/content/en/images/auto-annot-sk.jpg
  site/content/en/images/image-draw-new-skeleton.gif
  site/content/en/images/image-draw-new-skeleton.jpg
  site/content/en/images/image-setup-skeleton-1.jpg
  site/content/en/images/image-skeleton-configurator-overview.jpg
  site/content/en/images/image-skeleton-drawn-example.jpg
  site/content/en/images/image-skeleton-point-setup.jpg
  site/content/en/images/point-properties.jpg
Due: none

fixed eslint
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Minor fixes
  cvat-core/src/annotation-formats.ts
  cvat-core/src/annotations-filter.ts
  cvat-core/src/labels.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

Enhanced filter
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
Due: cvat-ui

Fixed filter
  cvat-core/src/api-implementation.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Fixed response type
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

Use different tags for GPU versions of serverless functions
  changelog.d/20231204_124652_roman.md
  serverless/onnx/WongKinYiu/yolov7/nuclio/function-gpu.yaml
  serverless/pytorch/dschoerk/transt/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/detectron2/retinanet_r101/nuclio/function-gpu.yaml
  serverless/pytorch/facebookresearch/sam/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/function-gpu.yaml
  serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio/function-gpu.yaml
  serverless/tensorflow/matterport/mask_rcnn/nuclio/function-gpu.yaml
Due: none

Small fix
  cvat/apps/iam/signals.py
Due: cvat-server

Add mention about beta version
  site/content/en/docs/integration/toloka.md
Due: none

Added filtered link
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/config.tsx
Due: cvat-ui

Added action to remove filtered shapes on a range of frames
  cvat-core/src/annotations-actions.ts
Due: cvat-ui

Fixed jest tests
  cvat-core/tests/mocks/server-proxy.mock.cjs
Due: cvat-ui

Add tests for 6781 issue
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
Due: none

Fix typo
  tests/python/rest_api/test_tasks.py
Due: none

applied comments
  cvat-ui/src/actions/invitations-actions.ts
  cvat-ui/src/components/invitation-watcher/invitation-watcher.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/styles.scss
  cvat-ui/src/components/models-page/empty-list.tsx
Due: cvat-ui

added react.memo
  cvat-ui/src/components/invitations-page/empty-list.tsx
  cvat-ui/src/components/models-page/empty-list.tsx
Due: cvat-ui
