Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Open file help link in a new tab to prevent form data loss (#10969)
  changelog.d/20260730_000000_fix_file_share_help_link.md
  cvat-ui/src/components/file-manager/remote-browser.tsx
Due: cvat-ui

Restore current layer selection
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-header.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-section.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

Show current layer when creating objects
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

Add minimap timeline core
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-waveform.ts
Due: cvat-ui

Re-enable the `artipacked` zizmor check
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/finalize-release.yml
  .github/workflows/full.yml
  .github/workflows/generate-allure-report.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-artifacts.yml
  .github/workflows/schedule.yml
  .zizmor.yml
Due: none

Rename cloud storage "instances" to clients
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/signals.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
Due: cvat-server

Added some type annotations
  cvat/apps/engine/cloud_provider.py
Due: cvat-server

Invalidate all chunks of the updated segment on honeypot updates
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

Update changelog
  changelog.d/20260806_182110_mzhiltsov_fix_chunk_refresh_date_desync.md
Due: none

Re-enable the `artipacked` zizmor check (#11005)
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/finalize-release.yml
  .github/workflows/full.yml
  .github/workflows/generate-allure-report.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-artifacts.yml
  .github/workflows/schedule.yml
  .zizmor.yml
Due: none

hide tooltips where there is risk of obscuring crucial elements
  tests/cypress/e2e/actions_tasks2/case_101_opencv_basic_actions.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_opencv.js
Due: none

add setup health checks to prevent absent annotations
  tests/cypress/e2e/features/annotations_actions.js
Due: none

add chunks logs to rest api tests
  .github/workflows/main.yml
Due: none

Minimap timeline config
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-canvas.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-adaptive-timeline.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-waveform.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-viewport.ts
  cvat-ui/src/audio/utils/waveform-geometry.ts
Due: cvat-ui

Add changelog
  changelog.d/20260807_114604_aleksey.zinovyev_minimap_timeline.md
Due: none

Apply comments
  cvat-core/src/growth.ts
  cvat-core/src/server-request-types.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/github-star-prompt/github-star-modal.tsx
  cvat-ui/src/components/profile-page/profile-content/notifications-card.tsx
  cvat-ui/src/components/profile-page/profile-content/privacy-consent-card.tsx
  cvat-ui/src/components/profile-page/profile-page.tsx
  cvat-ui/src/components/profile-page/styles.scss
  cvat-ui/webpack.config.js
  cvat/apps/growth/migrations/0001_initial.py
  cvat/apps/growth/models.py
  cvat/apps/growth/policies.py
  cvat/apps/growth/serializers.py
  cvat/schema.yml
  tests/cypress/e2e/features2/github_star_prompt.js
  tests/python/rest_api/test_growth.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/growth.json
Due: cvat-ui, cvat-server

removed empty_is_annotated
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/migrations/0012_qualityrequirement_and_more.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_quality_requirements.py
  tests/python/shared/assets/quality_settings.json
Due: cvat-server

Refactor `cloud_provider.py` and its users (#11000)
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/signals.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/views.py
Due: cvat-server

Cleanup code, fix test fixture
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_task_data.py
Due: cvat-server

use workspace param to avoid racing in annotation mode dropdown
  tests/cypress/e2e/features2/ground_truth_jobs.js
Due: none

remove ll onlys
  tests/cypress/e2e/features2/ground_truth_jobs.js
Due: none

comment fixes
  cvat/apps/quality_control/annotation_matching.py
  cvat/apps/quality_control/comparison_report.py
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/views.py
Due: cvat-server

fix after empty is ann
  tests/python/rest_api/test_quality_requirements.py
Due: none

define intercept before window to avoid race
  tests/cypress/e2e/actions_users/registration_involved/email_system/check_email_verification_system.js
  tests/cypress/e2e/features/annotations_actions.js
Due: none

Revert "define intercept before window to avoid race"
  tests/cypress/e2e/actions_users/registration_involved/email_system/check_email_verification_system.js
  tests/cypress/e2e/features/annotations_actions.js
Due: none

define intercept again
  tests/cypress/e2e/features/annotations_actions.js
Due: none

get fix
  cvat/apps/quality_control/serializers.py
Due: cvat-server

Workaround pytest-cases fixture scope + parametrize conflict
  tests/python/conftest.py
Due: none

feat(sdk): delete THIRD_PARTY_NOTICES.md
  cvat-video-openh264/THIRD_PARTY_NOTICES.md
  cvat-video-openh264/pyproject.toml
  cvat-video-openh264/scripts/check_artifacts.py
  cvat-video-openh264/tests/test_artifact_checks.py
Due: none

feat(sdk): simplify fixture checker process
  cvat-video-openh264/MANIFEST.in
  cvat-video-openh264/README.md
  cvat-video-openh264/scripts/check_fixture_inventory.py
  cvat-video-openh264/tests/conftest.py
  cvat-video-openh264/tests/fixtures/NOTICE.md
  cvat-video-openh264/tests/fixtures/inventory.json
  cvat-video-openh264/tests/test_fixture_inventory.py
Due: none

main commit
  cvat-ui/src/actions/plugins-actions.ts
  cvat-ui/src/components/project-page/details.tsx
  cvat-ui/src/components/project-page/styles.scss
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
  cvat-ui/src/utils/event-recorder.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

updated webpack config
  cvat-ui/webpack.config.js
Due: cvat-ui

removed extra code
  cvat-ui/src/utils/event-recorder.ts
Due: cvat-ui

Remove empty_is_annotated field from ui
  cvat-core/src/quality/quality-requirement.ts
  cvat-core/src/quality/server-response-types.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-utils.ts
Due: cvat-ui

is_current_report_data fix
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_handlers.py
  cvat/apps/quality_control/utils.py
Due: cvat-server

Update styles a bit
  cvat-ui/src/components/github-star-prompt/github-star-modal.tsx
  cvat-ui/src/components/github-star-prompt/styles.scss
Due: cvat-ui

Add policy test
  cvat/apps/growth/tests/test_rest_api.py
Due: cvat-server

wrap async call to ensure command sequence
  tests/cypress/e2e/features/annotations_actions.js
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
