Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Add debug workflow for allure
  .github/workflows/allure-integration.yml
Due: none

Add pull request trigger
  .github/workflows/allure-integration.yml
Due: none

Modified nuclio function deploy bash files to take a list of function paths as argument
  serverless/deploy_array_cpu.sh
  serverless/deploy_array_gpu.sh
Due: none

Created function list files
  serverless/cpu_functions.txt
  serverless/gpu_functions.txt
Due: none

Created bash file that starts CVAT container and all nuclio functions indicated in serverless/cpu_functions.txt and serverless/gpu_functions.txt files
  startup.sh
Due: none

Modified changelog to document changes on PR #5
  CHANGELOG_DIGITALSENSE.md
Due: none

handle elements separately, with data copying. remove checks for empty dict()
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

ipdb basic settings (5 is a nicer ctx than 3)
  pyproject.toml
Due: none

linted, removed unused dep
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Include Allure reports generation
  .github/workflows/allure-integration.yml
  .github/workflows/main.yml
  tests/python/requirements.txt
Due: none

Add default-jre-headless installation before Allure deb installation
  .github/workflows/main.yml
Due: none

Fix syntax error
  tests/python/requirements.txt
Due: none

WIP: working with tables
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
  site/content/en/images/analytics/clear-filter-button.png
  site/content/en/images/analytics/export-button.png
Due: none

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

yolo import - use detected sources to search for annotation files (#9423)
  changelog.d/20250516_123329_dmitrii.lavrukhin_fixing_yolo_import_misstructured_archive.md
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
Due: cvat-server

Change links for logo and About in the header
  site/config.toml
  site/content/en/about/_index.html
  site/layouts/partials/navbar.html
Due: none

Rm About HTML page, fix link on 404 page
  site/content/en/about/_index.html
  site/content/en/page_404.html
Due: none

Add allure support for Cypress
  .github/workflows/main.yml
  tests/cypress.base.config.js
  tests/cypress/support/e2e.js
  tests/package.json
  tests/yarn.lock
Due: none

enabling streaming for datumaro and camvid
  cvat/apps/dataset_manager/formats/camvid.py
  cvat/apps/dataset_manager/formats/datumaro.py
Due: cvat-server

Documentation website: Change links for logo and About in the header (#9437)
  site/config.toml
  site/content/en/about/_index.html
  site/content/en/page_404.html
  site/layouts/partials/navbar.html
Due: none

ignoring draft in CI. TODO roll it back
  .github/workflows/main.yml
Due: none

RotatedBoxesToPolygons now convert annotations lazily
  cvat/apps/dataset_manager/formats/transformations.py
Due: cvat-server

Revert "ignoring draft in CI. TODO roll it back"
  .github/workflows/main.yml
Due: none

Fix compare line orientation prop api compitability
  cvat-core/src/quality-settings.ts
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
Due: cvat-ui

WIP: tables, new paragraph, interlinks
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics.md
Due: none

Fix syntax error in main.yml
  .github/workflows/main.yml
Due: none

Change import from CommonJS
  tests/cypress.base.config.js
Due: none

fixed incorrect get tasks function with aggreagate param
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Fix CommonJS import
  tests/cypress.base.config.js
Due: none
