Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

update sleep test case
  .github/workflows/helm.yml
Due: none

added changelog entry
  changelog.d/20240331_170807_vidit.agarwal.eee20_quality_report.md
Due: none

fixed implementation error while filter annotations which can have group
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

This commit implements drag and drop feature
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/styles.scss
Due: cvat-ui

updated the test db
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
Due: none

dumped json files after test db update
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

redumped the json as had accidently reverted a change
  tests/python/shared/assets/quality_reports.json
Due: none

added changelog
  changelog.d/20240401_121841_krishavrajsingh_drag_drop.md
Due: none

removed unnecessary change
  .vscode/launch.json
Due: none

Add test environment packages to devcontainer image
  .devcontainer/local/Dockerfile
  .devcontainer/local/devcontainer.json
  .vscode/settings.json
Due: none

chore: add change logs, and remove unintended change
  changelog.d/20240401_213256_tahamukhtar20_No_Shortcut.md
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/lambda-manager.ts
Due: cvat-ui

chore: remove unintended change
  cvat-canvas/src/typescript/objectSelector.ts
Due: cvat-ui

fixed the custom label matcher function to use class function
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

modified the output of frame result and computation of annotation_component to not include the annotation of type tag.
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

fixed misuse of overall pairwise distance instead of shape type pairwise distance
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

redumped the testing db by recomputing the quality report for task having tag annotations
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
Due: none

dumped json files for the updated testing db
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

Update cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Displayed total labels and issues
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

fix: cvat/requirements/base.txt to reduce vulnerabilities
  cvat/requirements/base.txt
Due: cvat-server

Export functionality
  cvat/apps/dataset_manager/formats/aud_common_voice.py
  cvat/apps/dataset_manager/formats/registry.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/urls.py
  cvat/apps/engine/views.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.in
  cvat/requirements/development.txt
  cvat/requirements/production.txt
Due: cvat-server

Modified Nginx /data path
  cvat/nginx.conf
Due: cvat-server

update Django and Pillow versions
  cvat-cli/requirements/base.txt
  cvat-sdk/requirements/base.txt
  cvat/requirements/base.in
  utils/dataset_manifest/requirements.in
Due: cvat-server

Fixed annotation menu for GT objects in GT job
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Updated version
  cvat-ui/package.json
Due: cvat-ui

Added changelog entry
  changelog.d/20240402_143458_boris.md
Due: none

Remove several fields from `DataSerializer` (#7663)
  changelog.d/20240322_193952_roman_clean_data_serializer.md
  cvat/apps/engine/backup.py
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-server

Update datumaro dep
  cvat/requirements/base.in
  cvat/requirements/base.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#7718)
  CHANGELOG.md
Due: none

Update site/content/en/docs/administration/advanced/analytics.md
  site/content/en/docs/administration/advanced/analytics.md
Due: none

Add files via upload
  check_users.py
  delete_users.py
  manage.py
Due: none

Update manage.py
  manage.py
Due: none

update quay.io/nuclio/dashboard version
  components/serverless/docker-compose.serverless.yml
Due: none

removed force click
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: none

redumped testing db and json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: none

Fix switch outside
  changelog.d/20240403_135916_yeek020407_switch_outside.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/tests/assets/annotations.json
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Update changelog.d/20240403_135916_yeek020407_switch_outside.md
  changelog.d/20240403_135916_yeek020407_switch_outside.md
Due: none
