Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

docs: add Chinese docs index and export script
  dev/export-docker-images.ps1
  docs/README_中文索引.md
  docs/交付与接力指南.md
  docs/使用说明_本地Docker启动与使用.md
Due: none

docs: add instructions for changing user password via Django admin
  site/content/en/docs/administration/community/basics/admin-account.md
Due: none

Refactor, add tests
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/statistics.py
  cvat/apps/quality_control/views.py
  cvat/schema.yml
  tests/python/rest_api/test_quality_control.py
Due: cvat-server

Update changelog
  changelog.d/20260109_192609_mzhiltsov_quality_report_csv.md
  cvat/apps/quality_control/export.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/views.py
Due: cvat-server

Update tests
  tests/python/rest_api/test_quality_control.py
Due: none

fix the test case to check image order
  tests/python/rest_api/test_tasks.py
Due: none

新增原始幀視圖和控制，並更新畫布佈局以支持原始幀比較功能
  cvat-ui/src/components/annotation-page/canvas/grid-layout/canvas-layout.conf.tsx
  cvat-ui/src/components/annotation-page/canvas/grid-layout/canvas-layout.tsx
  cvat-ui/src/components/annotation-page/canvas/grid-layout/styles.scss
  cvat-ui/src/components/annotation-page/canvas/views/raw-frame/raw-frame-view.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/raw-frame-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

新增 useEffect 以處理 disabled 狀態下的控制邏輯，並移除不必要的 keyMap 屬性
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/issue-control.tsx
  cvat-ui/src/components/annotation-page/review-workspace/controls-side-bar/raw-frame-control.tsx
Due: cvat-ui

button fetch logit
  cvat-ui/src/components/header/header.tsx
Due: cvat-ui

tests
  tests/python/rest_api/test_tasks.py
Due: none

docs: add instructions for changing user password via Django admin (#10176)
  site/content/en/docs/administration/community/basics/admin-account.md
Due: none

test fix
  cvat/apps/dataset_manager/tests/test_annotation.py
  cvat/apps/dataset_manager/tests/test_annotation_3D.py
Due: cvat-server

Fix assertion error during 3D annotation export
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Update command to use job id
  tests/cypress/support/commands.js
Due: none

[run ci] test commit 1
  tests/cypress/support/commands.js
Due: none

Fix score visualization
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/consts.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

Add virtual votes text
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Make next/prev object shortcuts global
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

[run ci] test commit 2
  tests/cypress/support/commands.js
Due: none

e2e consensus fix: scroll on 'more' button (#10142)
  tests/cypress/support/commands.js
Due: none

[DEV-786] updated opa to latest version
  docker-compose.yml
  helm-chart/values.yaml
Due: none

Update votes logic to be stored in object
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-filter.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/annotations.ts
  cvat-core/src/object-state.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

connecting to runner for debugging in minukube
  .github/workflows/main.yml
Due: none

linters
  changelog.d/20251229_140724_grigorio714_annotations_download_error.md
  cvat/apps/dataset_manager/tests/test_annotation.py
Due: cvat-server

trying to fix liveness for OPA
  docker-compose.yml
Due: none

seems OK for all tests except helm so fixing helm now
  .github/workflows/main.yml
  helm-chart/templates/cvat_opa/deployment.yml
Due: none

Updated --addr value to be same as in docs, added changelog
  changelog.d/20260113_130708_petr.iosipov_DEV_786.md
  docker-compose.yml
  helm-chart/templates/cvat_opa/deployment.yml
Due: none

Removed redundant PATCH meta requests from annotation view
  changelog.d/20260113_125421_sekachev.bs.md
  cvat-core/src/frames.ts
Due: cvat-ui

Update changelog with correct pull request link
  changelog.d/20260113_125421_sekachev.bs.md
Due: none

Clarify removal of redundant PATCH requests in changelog
  changelog.d/20260113_125421_sekachev.bs.md
Due: none

[DEV-786] updated opa to latest version (#10183)
  changelog.d/20260113_130708_petr.iosipov_DEV_786.md
  docker-compose.yml
  helm-chart/templates/cvat_opa/deployment.yml
  helm-chart/values.yaml
Due: none

Small fix
  cvat-core/src/frames.ts
Due: cvat-ui

Tmp
  cvat-core/src/frames.ts
Due: cvat-ui

removed extra await
  cvat-core/src/frames.ts
Due: cvat-ui

Remove extra save
  tests/cypress/e2e/issues_prs2/issue_8952_interpolation_impossible.js
Due: none

Fix typing-extensions<4.9 for transt to work with python3.8
  serverless/pytorch/dschoerk/transt/nuclio/function.yaml
Due: none

Update changelog
  CHANGELOG_DIGITALSENSE.md
Due: none

Added validation for number of assets per guide
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Increased number of assets
  cvat/settings/base.py
Due: cvat-server

Added changelog
  changelog.d/20260113_174651_sekachev.bs_updated_assets_count.md
Due: none
