Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Refined test case to align with updated UI behavior for label creation with empty names.
  tests/cypress/e2e/actions_tasks2/case_42_change_label_name_via_label_constructor.js
Due: none

fix ci and lint
  changelog.d/20240315_183623_avaicode.md
  tests/python/rest_api/test_tasks.py
Due: none

Add macro average precision/recall to quality reports
  changelog.d/20240321_141905_roman_macro_average.md
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Update python debugger configuration (#7634)
  .vscode/launch.json
Due: none

resolved issue #7636
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Redump the test data (#7650)
  tests/python/shared/assets/cvat_db/data.json
Due: none

quality_control: correct the per-class accuracy formula (#7640)
  changelog.d/20240319_183656_roman_accuracy_jaccard.md
  cvat/apps/quality_control/quality_reports.py
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
Due: cvat-server

resolved issue #7443
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
Due: cvat-ui

resolved issue #7443
  changelog.d/20240321_205232_kavikumarceo_resolved_issue_7443.md
Due: none

redumped testing db
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/users.json
Due: none

Fix annotation accuracy display in the UI
  changelog.d/20240321_153828_roman_fix_accuracy_display.md
  cvat-core/src/quality-report.ts
  cvat-core/src/server-response-types.ts
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/shared/assets/quality_reports.json
Due: cvat-ui, cvat-server

Fix annotation accuracy display in the UI (#7652)
  changelog.d/20240321_153828_roman_fix_accuracy_display.md
  cvat-core/src/quality-report.ts
  cvat-core/src/server-response-types.ts
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  tests/python/shared/assets/quality_reports.json
Due: cvat-ui, cvat-server

displayed total annotations
  changelog.d/20240317_194225_krishavrajsingh_down_Icon.md
  changelog.d/20240317_194305_krishavrajsingh_down_Icon.md
  changelog.d/20240317_194811_krishavrajsingh_down_Icon.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

added changelog.md
  changelog.d/20240317_194225_krishavrajsingh_down_Icon.md
  changelog.d/20240317_194305_krishavrajsingh_down_Icon.md
  changelog.d/20240317_194811_krishavrajsingh_down_Icon.md
  changelog.d/20240322_004121_krishavrajsingh_Count_Annotations.md
Due: none

re-dumped jsons and testing db after as Jaccard index added into confusion matrix
  .vscode/launch.json
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/quality_conflicts.json
  tests/python/shared/assets/quality_reports.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

fixed issue while resolving merge conflicts
  cvat-core/src/quality-report.ts
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/quality_reports.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: cvat-ui

removed restore_db_per_class in test which isn't changing testing db
  tests/python/rest_api/test_quality_control.py
Due: none

ensured that intended task is only used for TestQualityReportMetrics
  tests/python/rest_api/test_quality_control.py
Due: none

linted test_quality_control.py
  tests/python/rest_api/test_quality_control.py
Due: none

re-dumped quality_report.json to include total_count parameter
  tests/python/shared/assets/quality_reports.json
Due: none

Make Cloudstorage emptylist component position consistent
  cvat-ui/src/components/cloud-storages-page/cloud-storages-page.tsx
  cvat-ui/src/components/cloud-storages-page/empty-cloud-storages-list.tsx
  cvat-ui/src/components/cloud-storages-page/styles.scss
  cvat-ui/src/components/cloud-storages-page/top-bar.tsx
Due: cvat-ui

Improve emptylist tasks component
  cvat-ui/src/components/tasks-page/empty-list.tsx
Due: cvat-ui

Refined addNewSkeletonLabel test command to match expected UI behavior with empty input names
  tests/cypress/support/commands.js
Due: none

Update installation guide (#7601)
  site/content/en/docs/administration/basics/installation.md
  site/content/en/docs/contributing/development-environment.md
Due: none

resolved isseu #7443
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
Due: cvat-ui

move test to true path
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/e2e/issues_prs2/issue_7540_disable_submit_button_while_creating_gt_job.js
Due: none

close label editor on create
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

add wait for a delay request to finish
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

remove skip
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

add code type to code blocks
  site/content/en/docs/contributing/running-tests.md
Due: none

add note abour AirPlay Reciver for mac users
  site/content/en/docs/contributing/development-environment.md
Due: none

Update tests/cypress/e2e/actions_tasks2/case_118_create_label_with_empty_label_name.js
  tests/cypress/e2e/actions_tasks2/case_118_create_label_with_empty_label_name.js
Due: none

removed extra images
  site/content/en/images/cvat-readme-button.png
  site/content/en/images/cvat_poster_with_name.png
Due: none

some changes
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

[GSoC2024] Added Validations, testcases to Labels Constructor (#7627)
  changelog.d/20240318_195644_mann.compi_labels_constructor_issue_5729.md
  cvat-ui/src/components/labels-editor/label-form.tsx
  tests/cypress/e2e/actions_tasks2/case_118_create_label_with_empty_label_name.js
  tests/cypress/e2e/actions_tasks2/case_42_change_label_name_via_label_constructor.js
  tests/cypress/e2e/actions_tasks2/case_43_create_label_with_existing_label_name.js
  tests/cypress/support/commands.js
Due: cvat-ui

Remove the per-task `artifacts` directory (#7597)
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

fixed failing tests by correcting the task_id filter
  tests/python/rest_api/test_quality_control.py
Due: none

made required changes
  changelog.d/20240321_205232_kavikumarceo_resolved_issue_7443.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
