Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Updated webpack config to debug remotely
  cvat-ui/webpack.config.js
Due: cvat-ui

Aborted extra change
  cvat-ui/webpack.config.js
Due: cvat-ui

Fix field sending
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
Due: cvat-ui

Fix lambda function logic when all detections are filtered out (#8931)
  changelog.d/20250113_122208_roman_filter_out_all_detections.md
  cvat/apps/lambda_manager/tests/test_lambda.py
  cvat/apps/lambda_manager/views.py
Due: cvat-server

Introduce cron jobs to clean up the export cache (data/cache/export/) and temporary files/directories (data/tmp/) (#8804)
  changelog.d/20241224_150942_maria_clear_cache_cron_job.md
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/management/__init__.py
  cvat/apps/dataset_manager/management/commands/__init__.py
  cvat/apps/dataset_manager/management/commands/cleanuplegacyexportcache.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/background.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/management/commands/runperiodicjob.py
  cvat/apps/engine/management/commands/syncperiodicjobs.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
  cvat/apps/engine/views.py
  cvat/settings/base.py
  cvat/settings/testing.py
  dev/format_python_code.sh
Due: cvat-server

Add task creation and data access tests
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
Due: none

Update test assets
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: none

Add backup tests
  tests/python/rest_api/test_tasks.py
Due: none

Updated MIL tracker implementation
  cvat-core/src/frames.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/opencv-wrapper/annotations-actions/tracker-mil.ts
  cvat-ui/src/utils/opencv-wrapper/histogram-equalization.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
  cvat-ui/src/utils/opencv-wrapper/tracker-mil.ts
Due: cvat-ui

Updated license headers
  cvat-core/src/frames.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
Due: cvat-ui

Automate date truncation in test assets
  tests/python/shared/utils/dump_objects.py
Due: none

Update test assets
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/users.json
Due: none

Updated webpack config to debug remotely (#8941)
  cvat-ui/webpack.config.js
Due: cvat-ui

Fix python 3.9 compatibility
  tests/python/rest_api/utils.py
Due: none

Updated test
  tests/cypress/e2e/actions_tasks2/case_101_opencv_basic_actions.js
  tests/cypress/support/commands_opencv.js
Due: none

Added changelog entry
  changelog.d/20250115_125619_sekachev.bs_updated_mil.md
Due: none

Add annotations test for consensus task
  tests/python/rest_api/test_tasks.py
Due: none

Fix project backup import
  cvat/apps/engine/backup.py
Due: cvat-server

Fix SiamMask breakage due to a bad OpenCV version check
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
Due: none

Applied minor comments
  cvat-ui/src/utils/opencv-wrapper/annotations-actions/tracker-mil.ts
Due: cvat-ui

Move logic to a separate app
  cvat/apps/engine/management/commands/migrateredis.py
  cvat/apps/engine/models.py
  cvat/apps/engine/redis_migrations/__init__.py
  cvat/apps/redis_handler/__init__.py
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/management/__init__.py
  cvat/apps/redis_handler/management/commands/__init__.py
  cvat/apps/redis_handler/management/commands/migrateredis.py
  cvat/apps/redis_handler/migration_loader.py
  cvat/apps/redis_handler/migrations/0001_initial.py
  cvat/apps/redis_handler/migrations/__init__.py
  cvat/apps/redis_handler/models.py
  cvat/apps/redis_handler/redis_migrations/__init__.py
  cvat/settings/base.py
  dev/format_python_code.sh
Due: cvat-server

Fix honeypot task selection
  tests/python/rest_api/test_tasks.py
Due: none

Updated license year
  CITATION.cff
  LICENSE
Due: none

Fix linter issues
  cvat/apps/__init__.py
  cvat/apps/redis_handler/__init__.py
  cvat/apps/redis_handler/management/commands/__init__.py
  cvat/apps/redis_handler/management/commands/migrateredis.py
  cvat/apps/redis_handler/migration_loader.py
  cvat/apps/redis_handler/migrations/__init__.py
  cvat/apps/redis_handler/models.py
Due: cvat-server

Updated license year (#8946)
  CITATION.cff
  LICENSE
Due: none

Fix SiamMask breakage due to a bad OpenCV version check (#8945)
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
Due: none

Update 20250115_125619_sekachev.bs_updated_mil.md
  changelog.d/20250115_125619_sekachev.bs_updated_mil.md
Due: none

Add action before openCV initialization
  cvat-ui/src/utils/opencv-wrapper/annotations-actions/tracker-mil.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
Due: cvat-ui

Peg the UI version to the server version
  .github/PULL_REQUEST_TEMPLATE.md
  changelog.d/20250115_190017_roman_rm_ui_versions.md
  cvat-canvas/README.md
  cvat-canvas/src/typescript/canvas.ts
  cvat-canvas3d/README.md
  cvat-canvas3d/src/typescript/canvas3d.ts
  cvat-core/README.md
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-data/README.md
  cvat-ui/README.md
  cvat-ui/package.json
  cvat-ui/src/components/global-error-boundary/global-error-boundary.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/cvat-canvas-wrapper.ts
  cvat-ui/src/cvat-canvas3d-wrapper.ts
  cvat-ui/src/reducers/about-reducer.ts
  cvat-ui/src/reducers/index.ts
  dev/update_version.py
Due: cvat-ui

Add ui
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/consensus-settings.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/consensus-actions.ts
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
  cvat-ui/src/components/consensus-management-page/consensus-management-page.tsx
  cvat-ui/src/components/consensus-management-page/task-consensus/consensus-settings-form.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/task-page/top-bar.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/containers/actions-menu/actions-menu.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/consensus-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/reducers/root-reducer.ts
  cvat-ui/src/utils/consensus.ts
Due: cvat-ui

test to confirm coorect deletion after fix #8872
  tests/cypress/e2e/issues_prs2/issue_8872_delete_frame.js
  tests/cypress/support/utils_e2e.js
Due: none

Improve quality UX (#8865)
  changelog.d/20250114_123017_klakhov_improve_quality_ux.md
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-table-header.tsx
  cvat-ui/src/components/quality-control/task-quality/summary.tsx
  cvat-ui/src/utils/quality.ts
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
  site/content/en/docs/manual/basics/quality-control.md
  site/content/en/images/honeypot05.jpg
  site/content/en/images/honeypot05.png
  site/content/en/images/quality_download_report.png
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: cvat-ui

Updated MIL tracker implementation (#8942)
  changelog.d/20250115_125619_sekachev.bs_updated_mil.md
  cvat-core/src/frames.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/opencv-wrapper/annotations-actions/tracker-mil.ts
  cvat-ui/src/utils/opencv-wrapper/histogram-equalization.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
  cvat-ui/src/utils/opencv-wrapper/tracker-mil.ts
  tests/cypress/e2e/actions_tasks2/case_101_opencv_basic_actions.js
  tests/cypress/support/commands_opencv.js
Due: cvat-ui

Removed duplication of data structures, removed extra method to get deleted frames
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/annotations.ts
  cvat-core/src/frames.ts
  cvat-core/src/session-implementation.ts
Due: cvat-ui

Add test migration
  cvat/apps/engine/redis_migrations/001_cleanup_scheduled_jobs.py
  cvat/apps/engine/redis_migrations/__init__.py
  cvat/apps/redis_handler/management/commands/migrateredis.py
  cvat/apps/redis_handler/migration_loader.py
Due: cvat-server

Run migrateredis before syncperiodicjobs
  backend_entrypoint.sh
Due: none

linters
  cvat/apps/engine/redis_migrations/001_cleanup_scheduled_jobs.py
  cvat/apps/redis_handler/management/commands/migrateredis.py
Due: cvat-server

Notify if there are no migrations
  cvat/apps/redis_handler/management/commands/migrateredis.py
  cvat/apps/redis_handler/migration_loader.py
Due: cvat-server

Support Redis migrations from enterprise apps
  cvat/apps/__init__.py
  cvat/apps/redis_handler/migration_loader.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
