Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Disable test for static chunks, add issue link
  tests/python/rest_api/test_tasks.py
Due: none

update running automatic annotation
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/images/image120.jpg
  site/content/en/images/running_automatic_annotation.png
Due: none

fix linter
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Due: none

Refactor `_AnnotationMapper` (#9020)
  changelog.d/20250130_123343_roman_refactor_annotation_mapper.md
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/exceptions.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Extend test asset dump command
  tests/python/README.md
Due: none

Apply comments
  backend_entrypoint.sh
  cvat/apps/engine/redis_migrations/001_cleanup_scheduled_jobs.py
  cvat/apps/engine/redis_migrations/__init__.py
  cvat/apps/redis_handler/__init__.py
  cvat/apps/redis_handler/apps.py
  cvat/apps/redis_handler/management/__init__.py
  cvat/apps/redis_handler/management/commands/__init__.py
  cvat/apps/redis_handler/management/commands/migrateredis.py
  cvat/apps/redis_handler/migration_loader.py
  cvat/apps/redis_handler/redis_migrations/__init__.py
  tests/python/shared/fixtures/init.py
Due: cvat-server

Consensus task creation (#8939)
  changelog.d/20250113_203431_mzhiltso_consensus_tasks.md
  cvat-core/src/enums.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/common/cvat-tag.tsx
  cvat-ui/src/components/create-task-page/advanced-configuration-form.tsx
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/job-item/job-item.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/jobs-page/job-card.tsx
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
  cvat-ui/src/components/jobs-page/styles.scss
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/utils/validate-integer.ts
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/default_settings.py
  cvat/apps/engine/migrations/0088_consensus_jobs.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/schema.yml
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_tasks.py
  tests/python/rest_api/utils.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/labels.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
Due: cvat-ui, cvat-server

Update migration
  cvat/apps/consensus/migrations/0001_initial.py
Due: cvat-server

Update test data
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
Due: none

Remove extra excludes
  tests/python/README.md
Due: none

Extend test asset dump command (#9022)
  tests/python/README.md
Due: none

Prohibit wildcard import in pylint (#8893)
  .pylintrc
  cvat-sdk/cvat_sdk/models.py
  cvat/apps/engine/__init__.py
  cvat/settings/development.py
  cvat/settings/email_settings.py
  cvat/settings/production.py
  cvat/settings/testing.py
  cvat/settings/testing_rest.py
  tests/python/cli/conftest.py
  tests/python/conftest.py
  tests/python/sdk/conftest.py
Due: cvat-server

Refactor some code
  tests/python/rest_api/test_consensus.py
Due: none

Updated command to create headless objects in Cypress (supported tracks, tags)
  tests/cypress/e2e/actions_objects/regression_tests.js
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/e2e/features/requests_page.js
  tests/cypress/e2e/issues_prs2/issue_1568_cuboid_dump_annotation.js
  tests/cypress/support/commands.js
Due: none

Fixed argument
  tests/cypress/support/commands.js
Due: none

Rename action
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/containers/actions-menu/actions-menu.tsx
Due: cvat-ui

Remove extra file
  cvat/apps/consensus/pyproject.toml
Due: cvat-server

Update consensus job type uses
  cvat/apps/consensus/merging_manager.py
  tests/python/rest_api/test_consensus.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
Due: cvat-server

Refactor job actions menu, add modal on parent job merge
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/job-item/job-actions-menu.tsx
Due: cvat-ui

Remove extra code
  cvat-ui/src/reducers/consensus-reducer.ts
Due: cvat-ui

Remove extra changes
  tests/python/shared/assets/users.json
Due: none

Refactor job actions menu
  cvat-ui/src/components/job-item/job-actions-menu.tsx
Due: cvat-ui

Remove unused method
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Make symbols public
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Update rq job status handling
  cvat/apps/quality_control/views.py
Due: cvat-server

Update field name
  cvat/apps/quality_control/permissions.py
Due: cvat-server

Add type annotations
  cvat/apps/engine/models.py
  cvat/apps/engine/utils.py
Due: cvat-server

Updated call
  tests/cypress/e2e/actions_objects/regression_tests.js
Due: none

Format code
  tests/python/rest_api/test_tasks.py
Due: none

Update test
  tests/python/rest_api/test_check_objects_integrity.py
Due: none

Minor refactoring
  tests/cypress/e2e/actions_objects/regression_tests.js
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/e2e/features/requests_page.js
  tests/cypress/e2e/issues_prs2/issue_1568_cuboid_dump_annotation.js
Due: none

Removed minor outdated part of documentation
  .vscode/settings.json
  site/content/en/docs/contributing/development-environment.md
  site/content/en/docs/contributing/running-tests.md
Due: none

Removed minor outdated part of documentation (#9027)
  .vscode/settings.json
  site/content/en/docs/contributing/development-environment.md
  site/content/en/docs/contributing/running-tests.md
Due: none

Updated command to create headless objects in Cypress (#9024)
  tests/cypress/e2e/actions_objects/regression_tests.js
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/e2e/features/requests_page.js
  tests/cypress/e2e/issues_prs2/issue_1568_cuboid_dump_annotation.js
  tests/cypress/support/commands.js
Due: none

Remove duplicate settings from docker-compose.https.yml
  changelog.d/20250130_185457_roman.md
  docker-compose.https.yml
Due: none

update datumaro (#8954)
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/quality_control/quality_reports.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Add helm chart for consensus worker
  helm-chart/templates/cvat_backend/worker_consensus/deployment.yml
  helm-chart/values.yaml
Due: none

Fix .gitignore
  .gitignore
Due: none

add headless cmds; move shape creation to before() hook
  tests/cypress/e2e/issues_prs2/issue_xxxx_interpolation_impossible.js
  tests/cypress/support/commands.js
Due: none

Fix merge
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
