Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Allow empty items to be cached (#8890)
  cvat/apps/engine/cache.py
Due: cvat-server

correctly process export to yolo formats if both Train and default dataset are present (#8884)
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Remove unused function
  cvat/apps/engine/task_validation.py
Due: cvat-server

Bump pyyaml in test requirements
  tests/python/requirements.txt
Due: none

Optimize honeypot selection algorithm (#8857)
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task_validation.py
Due: cvat-server

Bump pyyaml in test requirements (#8900)
  tests/python/requirements.txt
Due: none

isort fix
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

Update cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

[Export logic] Use common tmp dir && create do not create tmp dir twice
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
Due: cvat-server

changelog entry
  changelog.d/20250107_163424_dmitrii.lavrukhin_yolo_tracks.md
Due: none

Sort imports
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/tests/utils.py
Due: cvat-server

Fix merging issues
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
Due: cvat-server

ultralytics yolo support for tracks (#8883)
  changelog.d/20250107_163424_dmitrii.lavrukhin_yolo_tracks.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/transformations.py
  cvat/apps/dataset_manager/formats/yolo.py
  cvat/apps/dataset_manager/tests/assets/annotations.json
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Remove reformatted apps from the black exclusion list
  pyproject.toml
Due: none

Remove duplicate code between clahe and histogram equalization
  cvat-ui/src/utils/opencv-wrapper/clahe.ts
  cvat-ui/src/utils/opencv-wrapper/histogram-equalization.ts
  cvat-ui/src/utils/opencv-wrapper/image-equalization.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
Due: cvat-ui

Extend changelog message
  changelog.d/20241229_221630_mzhiltso_empty_is_annotated.md
Due: none

Remove extra checks
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

changelog entry
  changelog.d/20250108_124804_dmitrii.lavrukhin_yolo_preserve_rotation.md
Due: none

updating requirements
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

Change match_empty_frames to empty_is_annotated (#8888)
  changelog.d/20241229_221630_mzhiltso_empty_is_annotated.md
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat/apps/quality_control/migrations/0006_rename_match_empty_frames_qualitysettings_empty_is_annotated.py
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/quality_reports.py
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
  site/content/en/docs/manual/advanced/analytics-and-monitoring/auto-qa.md
  tests/python/rest_api/test_quality_control.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: cvat-ui, cvat-server

Make it easier to execute commands in the server container from tests
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/init.py
Due: none

Add a management command to run a configured periodic job immediately
  cvat/apps/engine/management/commands/runperiodicjob.py
Due: cvat-server

Make it easier to execute commands in the server container from tests (#8908)
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/init.py
Due: none

preserving original rotation for export-import in yolo oriented boxes (#8891)
  changelog.d/20250108_124804_dmitrii.lavrukhin_yolo_preserve_rotation.md
  cvat/apps/dataset_manager/formats/cityscapes.py
  cvat/apps/dataset_manager/formats/coco.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/formats/kitti.py
  cvat/apps/dataset_manager/formats/openimages.py
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/production.txt
Due: cvat-server

Cron job to clean up tmp files/dirs && small fixes
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/settings/base.py
Due: cvat-server

updating imports
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/formats/icdar.py
  cvat/apps/dataset_manager/formats/market1501.py
  cvat/apps/dataset_manager/formats/mots.py
  cvat/apps/dataset_manager/formats/velodynepoint.py
  cvat/apps/dataset_manager/formats/yolo.py
Due: cvat-server

Add a management command to run a configured periodic job immediately (#8909)
  cvat/apps/engine/management/commands/runperiodicjob.py
Due: cvat-server

updating imports
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/formats/icdar.py
  cvat/apps/dataset_manager/formats/market1501.py
  cvat/apps/dataset_manager/formats/mots.py
  cvat/apps/dataset_manager/formats/velodynepoint.py
Due: cvat-server

Simplify the code formatting script
  cvat/apps/engine/management/commands/syncperiodicjobs.py
  cvat/apps/engine/rules/tests/generators/annotationguides_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/cloudstorages_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/comments_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/issues_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/jobs_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/projects_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/server_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/tasks_test.gen.rego.py
  cvat/apps/engine/rules/tests/generators/users_test.gen.rego.py
  dev/format_python_code.sh
  pyproject.toml
  site/content/en/docs/contributing/coding-style.md
Due: cvat-server

fix sonar issue
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
Due: cvat-ui

Add exportcachecleanup command
  cvat/apps/dataset_manager/management/__init__.py
  cvat/apps/dataset_manager/management/commands/__init__.py
  cvat/apps/dataset_manager/management/commands/exportcachecleanup.py
  site/content/en/docs/administration/advanced/upgrade_guide.md
Due: cvat-server

delete component
  cvat-ui/src/components/quality-control/task-quality/summary.tsx
Due: cvat-ui

Refactor a bit
  changelog.d/20241224_150942_maria_clear_cache_cron_job.md
  cvat/apps/dataset_manager/cron.py
  cvat/apps/dataset_manager/project.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/dataset_manager/util.py
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/settings/base.py
  dev/format_python_code.sh
Due: cvat-server

Fix imports sorting
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Remove todo
  cvat/apps/dataset_manager/cron.py
  cvat/apps/engine/views.py
Due: cvat-server

updating requirements
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
