Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added more types, updated interface, fixed issues
  cvat-core/src/lambda-manager.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/models-actions.ts
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/tasks-page/automatic-annotation-progress.tsx
Due: cvat-ui

typos
  _typos.toml
Due: none

testing
  cvat-ui/public/catalogue/README.md
  cvat-ui/public/catalogue/icons/.gitkeep
  cvat-ui/public/catalogue/road_signs.json
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/catalogue-reference-modal.scss
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/catalogue-reference-modal.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-attribute.tsx
  cvat-ui/webpack.config.js
Due: cvat-ui

consensus: remove unused Rego rules
  cvat/apps/consensus/rules/consensus_merges.rego
Due: cvat-server

Convert Rego filters from Forth-like to Lisp-like
  cvat/apps/access_tokens/rules/access_tokens.rego
  cvat/apps/consensus/rules/consensus_settings.rego
  cvat/apps/engine/rules/cloudstorages.rego
  cvat/apps/engine/rules/comments.rego
  cvat/apps/engine/rules/issues.rego
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/labels.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/rules/users.rego
  cvat/apps/events/rules/events.rego
  cvat/apps/iam/permissions.py
  cvat/apps/lambda_manager/rules/lambda.rego
  cvat/apps/organizations/rules/invitations.rego
  cvat/apps/organizations/rules/memberships.rego
  cvat/apps/organizations/rules/organizations.rego
  cvat/apps/quality_control/rules/conflicts.rego
  cvat/apps/quality_control/rules/quality_reports.rego
  cvat/apps/quality_control/rules/quality_settings.rego
  cvat/apps/webhooks/rules/webhooks.rego
Due: cvat-server

Factor out organization filters
  cvat/apps/consensus/rules/consensus_settings.rego
  cvat/apps/engine/rules/cloudstorages.rego
  cvat/apps/engine/rules/comments.rego
  cvat/apps/engine/rules/issues.rego
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/labels.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/rules/users.rego
  cvat/apps/events/rules/events.rego
  cvat/apps/iam/rules/utils.rego
  cvat/apps/lambda_manager/rules/lambda.rego
  cvat/apps/organizations/rules/invitations.rego
  cvat/apps/organizations/rules/memberships.rego
  cvat/apps/quality_control/rules/conflicts.rego
  cvat/apps/quality_control/rules/quality_reports.rego
  cvat/apps/quality_control/rules/quality_settings.rego
  cvat/apps/webhooks/rules/webhooks.rego
Due: cvat-server

Disable the external-reference Regal warning
  .regal/config.yaml
Due: none

Add changelog entry
  changelog.d/20260318_184858_roman_org_filter_rego.md
Due: none

Improve styles on different pages
  cvat-ui/src/base.scss
  cvat-ui/src/components/cloud-storages-page/top-bar.tsx
  cvat-ui/src/components/jobs-page/top-bar.tsx
  cvat-ui/src/components/projects-page/top-bar.tsx
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/components/task-page/styles.scss
  cvat-ui/src/components/tasks-page/styles.scss
  cvat-ui/src/components/tasks-page/top-bar.tsx
  cvat-ui/src/components/webhooks-page/top-bar.tsx
  cvat-ui/src/components/webhooks-page/webhooks-list.tsx
  cvat-ui/src/utils/dimensions.ts
Due: cvat-ui

Filters and Handler big refactoring
  cvat/apps/engine/filters.py
  cvat/apps/quality_control/filters.py
  cvat/apps/quality_control/quality_handlers.py
Due: cvat-server

Rearrange rules
  cvat/apps/consensus/rules/consensus_settings.rego
  cvat/apps/engine/rules/cloudstorages.rego
  cvat/apps/engine/rules/comments.rego
  cvat/apps/engine/rules/issues.rego
  cvat/apps/engine/rules/jobs.rego
  cvat/apps/engine/rules/labels.rego
  cvat/apps/engine/rules/projects.rego
  cvat/apps/engine/rules/tasks.rego
  cvat/apps/engine/rules/users.rego
  cvat/apps/events/rules/events.rego
  cvat/apps/lambda_manager/rules/lambda.rego
  cvat/apps/organizations/rules/invitations.rego
  cvat/apps/organizations/rules/memberships.rego
  cvat/apps/quality_control/rules/conflicts.rego
  cvat/apps/quality_control/rules/quality_reports.rego
  cvat/apps/quality_control/rules/quality_settings.rego
  cvat/apps/webhooks/rules/webhooks.rego
Due: cvat-server

utils/dicom_converter: bump NumPy version
  utils/dicom_converter/requirements.txt
Due: cvat-server

add wait for spinner, remove debug
  tests/cypress/e2e/issues_prs2/issue_8952_interpolation_impossible.js
Due: none

Fix #10297: double-click zoom does not dispatch canvas.zoom event
  changelog.d/20260323_194913_daniel.m.borges_issue_10297.md
  cvat-canvas/src/typescript/canvasView.ts
  tests/cypress/e2e/issues_prs2/issue_10297_zooming_in_onto_annotation_increases_issue_text_size.js
Due: cvat-ui

added two hotkeys
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/shortcuts-select.tsx
  cvat-ui/webpack.config.js
  package.json
  readme2.md
Due: cvat-ui

simplify message content for the reader
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
Due: cvat-ui

add changelog
  changelog.d/20260324_110428_oleg.valiulin_ui_remove_annos_msg.md
Due: none

remove comment
  changelog.d/20260324_110428_oleg.valiulin_ui_remove_annos_msg.md
Due: none

apply comments
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
Due: cvat-ui

Revert #10387 for events
  cvat/apps/events/rules/events.rego
Due: cvat-server

Update Delete button -> Remove
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  tests/cypress/support/commands.js
Due: cvat-ui

Revert "Update Delete button -> Remove"
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  tests/cypress/support/commands.js
Due: cvat-ui

revert accidental changes to docsy
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  tests/cypress/support/commands.js
Due: cvat-ui

add 'Rename' button to changelog
  changelog.d/20260324_110428_oleg.valiulin_ui_remove_annos_msg.md
Due: none

spellcheck
  changelog.d/20260324_110428_oleg.valiulin_ui_remove_annos_msg.md
Due: none

CVAT deployemtn
  .github/workflows/build-cvat-ui-image.yml
  k8s/cvat-ui/deployment.yaml
  k8s/cvat-ui/ingress.yaml
  k8s/cvat-ui/namespace.yaml
  k8s/cvat-ui/service.yaml
Due: none

Change how we decide to infer an operation's organization context from the object
  cvat/apps/access_tokens/views.py
  cvat/apps/engine/views.py
  cvat/apps/iam/permissions.py
  cvat/apps/lambda_manager/views.py
  cvat/apps/redis_handler/views.py
  cvat/settings/base.py
Due: cvat-server

Update changelog
  changelog.d/20260324_194701_mzhiltsov_fix_track_interpolation.md
Due: none

Update tests
  tests/python/rest_api/test_tasks.py
Due: none

Fix test location
  tests/python/rest_api/test_tasks.py
Due: none

Fix intermediate interval closing in tracks
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Refactor
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Split changelog
  changelog.d/20260324_194701_mzhiltsov_fix_track_interpolation.md
Due: none

Fix cuboid angle interpolation
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Update changelog
  changelog.d/20260324_194702_mzhiltsov_fix_cuboid_rotation_interpolation.md
Due: none

Update unit test
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Fix invalid test placement
  tests/python/rest_api/test_tasks.py
Due: none

Fix merge
  tests/python/rest_api/test_tasks.py
Due: none

Add tests
  cvat/apps/dataset_manager/tests/test_annotation.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
