Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Fix page fail on job status update
  cvat-ui/src/components/analytics-page/analytics-page.tsx
Due: cvat-ui

Major refactoring for task quality
  cvat-ui/src/actions/analytics-actions.ts
  cvat-ui/src/components/analytics-page/project-quality/coverage-summary.tsx
  cvat-ui/src/components/analytics-page/project-quality/project-quality-component.tsx
  cvat-ui/src/components/analytics-page/project-quality/quality-settings-modal.tsx
  cvat-ui/src/components/analytics-page/project-quality/task-list.tsx
  cvat-ui/src/components/analytics-page/task-quality/empty-job.tsx
  cvat-ui/src/components/analytics-page/task-quality/gt-conflicts.tsx
  cvat-ui/src/components/analytics-page/task-quality/issues.tsx
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
  cvat-ui/src/components/analytics-page/task-quality/mean-quality.tsx
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-form.tsx
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-modal.tsx
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
  cvat-ui/src/reducers/analytics-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/reducers/root-reducer.ts
  cvat-ui/src/utils/hooks.ts
Due: cvat-ui

Add parent hierarchy info in report response fields
  cvat/apps/quality_control/serializers.py
  cvat/schema.yml
Due: cvat-server

Extra space
  cvat-ui/src/components/analytics-page/project-quality/task-list.tsx
Due: cvat-ui

Fixed job reports
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
Due: cvat-ui

Simplify Python linter workflows (#6577)
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
Due: none

Fix accidental prebuilt PyAV usage in the Dockerfile (#6573)
  CHANGELOG.md
  Dockerfile
Due: none

Update test assets
  cvat/apps/quality_control/models.py
  cvat/apps/quality_control/serializers.py
  cvat/apps/quality_control/views.py
  cvat/schema.yml
  tests/python/shared/assets/quality_reports.json
Due: cvat-server

Extend reports api docs
  cvat/schema.yml
Due: cvat-server

Update views
  cvat/apps/quality_control/views.py
Due: cvat-server

Refactored styles, removed unused
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat-ui/src/components/analytics-page/project-quality/project-quality-component.tsx
  cvat-ui/src/components/analytics-page/project-quality/styles.scss
  cvat-ui/src/components/analytics-page/project-quality/task-list.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
Due: cvat-ui

Fix number precision in quality settings
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-form.tsx
Due: cvat-ui

Fix typo
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-modal.tsx
Due: cvat-ui

Allow gt job creation for the full task size
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-server

Using a separate event cache file for each process
  cvat/settings/base.py
  cvat/settings/testing.py
  supervisord/server.conf
Due: cvat-server

Improved project quality child components
  cvat-core/src/api-implementation.ts
  cvat-ui/src/components/analytics-page/project-quality/coverage-summary.tsx
  cvat-ui/src/components/analytics-page/project-quality/project-quality-component.tsx
  cvat-ui/src/components/analytics-page/project-quality/task-list.tsx
  cvat-ui/src/components/analytics-page/shared/mean-quality.tsx
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
Due: cvat-ui

Fixed changing state on unmounted component
  cvat-ui/src/components/analytics-page/project-quality/project-quality-component.tsx
Due: cvat-ui

Reduced one component
  cvat-ui/src/components/analytics-page/project-quality/project-quality-component.tsx
  cvat-ui/src/components/analytics-page/shared/mean-quality.tsx
  cvat-ui/src/components/analytics-page/shared/quality-settings-modal.tsx
  cvat-ui/src/components/analytics-page/task-quality/quality-settings-modal.tsx
  cvat-ui/src/components/analytics-page/task-quality/task-quality-component.tsx
Due: cvat-ui

Fix failing tests
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_quality_control.py
Due: none

REB3-11026. Added searching images in tasks on FE.
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/task-page/job-list.tsx
  cvat-ui/src/components/task-page/styles.scss
  cvat-ui/src/components/task-page/task-page.tsx
  cvat-ui/src/containers/task-page/job-list.tsx
  cvat-ui/src/containers/task-page/task-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/tasks-reducer.ts
Due: cvat-ui

REB3-11026. Fixed getting job filenames in the task list.
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Bump version: 1.24.0.78 -> 1.24.0.79
  .bumpversion
  VERSION
Due: none

performance docs updated
  site/content/en/docs/manual/advanced/analytics-and-monitoring/_index.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
  site/content/en/docs/manual/advanced/analytics-and-monitoring/annotation-quality.md
  site/content/en/images/openmenu.jpg
  site/content/en/images/performance_dashboard.jpg
  site/content/en/images/viewanalytics.jpg
Due: none

typo
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
Due: none

formatting
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
Due: none

index page updated
  site/content/en/docs/manual/advanced/analytics-and-monitoring/_index.md
Due: none

review update
  site/content/en/docs/manual/advanced/analytics-and-monitoring/analytics-in-cloud.md
Due: none

Fix filename for label in CamVid format
  site/content/en/docs/manual/advanced/formats/format-camvid.md
Due: none

Update CHANGELOG about 'fix label filename for CamVid format'
  CHANGELOG.md
Due: none

Add auto-annotation support to SDK and CLI
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  tests/python/cli/example_function.py
  tests/python/cli/test_cli.py
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Use the convenience factories in tests
  tests/python/cli/example_function.py
  tests/python/sdk/test_auto_annotation.py
Due: none

cvat_sdk.auto_annotation: add convenience factory functions for annotation-related models
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Add docstrings for the auto-annotation functionality
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
Due: cvat-server

Disallow unmatched labels by default
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Add progress reporting to auto-annotation
  cvat-cli/src/cvat_cli/cli.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/yolov8n.py
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Add a predefined annotation function based on YOLOv8n
  cvat-sdk/cvat_sdk/auto_annotation/functions/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/functions/yolov8n.py
  cvat-sdk/gen/templates/openapi-generator/setup.mustache
Due: cvat-server

Update changelog
  CHANGELOG.md
Due: none

Add the frame name to `DetectionFunctionContext`
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  cvat-sdk/cvat_sdk/datasets/common.py
  cvat-sdk/cvat_sdk/datasets/task_dataset.py
  tests/python/sdk/test_auto_annotation.py
  tests/python/sdk/test_datasets.py
Due: cvat-server

By default, don't clear existing annotations; add an option to do that instead
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  tests/python/sdk/test_auto_annotation.py
Due: cvat-server

Allow using a file path to specify the function
  cvat-cli/src/cvat_cli/cli.py
  cvat-cli/src/cvat_cli/parser.py
  tests/python/cli/test_cli.py
Due: cvat-server
