Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Added UI tests for Project/Task/Job analytics (performance tab) (#6669)
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
  cvat-ui/src/components/analytics-page/views/histogram-view.tsx
  tests/cypress/e2e/analytics/analytics_pipeline.js
Due: cvat-ui

Minor refactoring
  tests/cypress/e2e/analytics/ground_truth_jobs.js
  tests/cypress/e2e/issues_prs/issue_5381_empty_project_formats.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_projects.js
  tests/cypress/support/commands_webhooks.js
Due: none

Small fix
  tests/cypress/support/commands.js
Due: none

Tried to simplify a little bit
  tests/cypress/support/commands.js
Due: none

Minor Cypress tests refactoring (#6693)
  tests/cypress/e2e/analytics/ground_truth_jobs.js
  tests/cypress/e2e/issues_prs/issue_5381_empty_project_formats.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_projects.js
  tests/cypress/support/commands_webhooks.js
Due: none

Async throw plugins.ready event
  cvat-ui/src/components/plugins-entrypoint.tsx
Due: cvat-ui

Removed extras
  cvat-ui/webpack.config.js
  docker-compose.yml
  helm-chart/values.yaml
  site/content/en/docs/faq.md
Due: cvat-ui

Removed extra file
  cvat-ui/src/assets/rotate-icon (copy).svg
  cvat-ui/src/assets/rotate-icon.svg
Due: cvat-ui

Fixed icon
  cvat-ui/src/assets/rotate-icon.svg
Due: cvat-ui

new dashboards
  components/analytics/grafana/dashboards/management.json
Due: none

Changed user ids to user names
  components/analytics/grafana/dashboards/management.json
Due: none

Added simple prefetch analyzer
  cvat-core/src/frames.ts
Due: cvat-ui

Aborted extra change
  cvat-core/src/frames.ts
Due: cvat-ui

chore: typo in password type
  cvat-ui/src/components/signing-common/cvat-signing-input.tsx
Due: cvat-ui

AEYE-137: analytics improvements
  components/analytics/grafana/dashboards/management.json
Due: none

typo in password (#6696)
  cvat-ui/src/components/signing-common/cvat-signing-input.tsx
Due: cvat-ui

Update README to explicitly state the limitations of cvat.ai
  README.md
Due: none

check response status
  tests/python/rest_api/test_projects.py
Due: none

add test
  tests/python/rest_api/test_tasks.py
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

autoreformat with black
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
Due: none

isort
  tests/python/rest_api/test_tasks.py
Due: none

Remove --no-binary=av from requirements files (#6592)
  cvat/requirements/all.txt
  cvat/requirements/base.in
  cvat/requirements/base.txt
  cvat/requirements/development.txt
  cvat/requirements/production.txt
  cvat/requirements/testing.txt
  site/content/en/docs/contributing/development-environment.md
  utils/dataset_manifest/requirements.in
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Updated version and changelog
  CHANGELOG.md
  cvat-core/package.json
Due: cvat-ui

applied comments
  cvat-core/src/server-proxy.ts
  cvat-ui/src/components/watchers/organization-watcher.tsx
Due: cvat-ui

Add support for Cloudflare R2 Buckets
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

Improved task creation pipeline
  cvat-core/src/server-proxy.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/tasks-page/styles.scss
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
  cvat-ui/src/containers/tasks-page/task-item.tsx
  cvat-ui/src/containers/tasks-page/tasks-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/tasks-reducer.ts
Due: cvat-ui

Minor improvements
  cvat-core/src/server-proxy.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/components/create-task-page/create-task-content.tsx
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/cvat-core-wrapper.ts
Due: cvat-ui

Removed extra enum
  cvat-ui/src/actions/models-actions.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Improved messages
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat/apps/engine/task.py
Due: cvat-ui, cvat-server

Added one more notification you can close the window
  cvat-ui/src/components/create-task-page/create-task-content.tsx
Due: cvat-ui

Fixed tus progress for images set
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Some more improvements
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/create-task-page/create-task-content.tsx
Due: cvat-ui

Reduce number of status check requests
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/tasks-actions.ts
Due: cvat-ui

update api schema changes
  cvat/schema.yml
Due: cvat-server

Increased timeouts
  tests/cypress/e2e/actions_tasks2/test_annotations_export_hash.js
  tests/cypress/e2e/actions_tasks2/test_default_attribute.js
Due: none

Fixed case 107
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Fixed test 2524_2633
  cvat-ui/src/components/tasks-page/task-item.tsx
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
