Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix honeypot updating in a job
  cvat/apps/engine/views.py
Due: cvat-server

added test project with 2 subsets
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: none

update changelog
  changelog.d/20240716_095853_dlavrukhin_coco_export_folders.md
Due: none

create subfolders for subsets for coco
  cvat/apps/dataset_manager/formats/coco.py
  tests/python/rest_api/test_projects.py
Due: cvat-server

fixing tests
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/test_tasks.py
Due: none

updating changelog
  changelog.d/20240716_160243_dlavrukhin_apply_subset_name_on_task_export.md
Due: none

testing for subset folders in exported task
  tests/python/rest_api/test_tasks.py
Due: none

using subset name when exporting tasks
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

fixing tests - using subset in DatasetComparator
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

testing almost all formats whether they make folders for subsets
  tests/python/rest_api/test_projects.py
Due: none

Optimized removing jobs, tasks, projects
  cvat/apps/engine/migrations/0082_alter_labeledimageattributeval_image_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
Due: cvat-server

coco export subsets to different folders (#8171)
  changelog.d/20240716_095853_dlavrukhin_coco_export_folders.md
  cvat/apps/dataset_manager/formats/coco.py
  tests/python/rest_api/test_jobs.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_quality_control.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/annotations.json
  tests/python/shared/assets/cvat_db/cvat_data.tar.bz2
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/jobs.json
  tests/python/shared/assets/projects.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/assets/users.json
Due: cvat-server

improved sorter
  cvat-ui/src/components/analytics-page/task-quality/job-list.tsx
Due: cvat-ui

Use subset name on task export (#8176)
  changelog.d/20240716_160243_dlavrukhin_apply_subset_name_on_task_export.md
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/quality_control/quality_reports.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Minor refactoring
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/models.py
Due: cvat-server

moved quality tab to quality control page
  cvat-ui/src/components/actions-menu/actions-menu.tsx
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/shared/quality-settings-modal.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/empty-job.tsx
  cvat-ui/src/components/quality-control/task-quality/gt-conflicts.tsx
  cvat-ui/src/components/quality-control/task-quality/issues.tsx
  cvat-ui/src/components/quality-control/task-quality/job-list.tsx
  cvat-ui/src/components/quality-control/task-quality/mean-quality.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-settings-form.tsx
  cvat-ui/src/components/quality-control/task-quality/task-quality-component.tsx
  cvat-ui/src/components/quality-control/utils/text-formatting.ts
  cvat-ui/src/components/tasks-page/task-item.tsx
  cvat-ui/src/containers/actions-menu/actions-menu.tsx
Due: cvat-ui

Fixed ValueError: operands could not be broadcast together with shapes (0,) (6,)
  cvat/apps/dataset_manager/task.py
Due: cvat-server

Added changelog
  changelog.d/20240717_125734_boris_fixed_export_skeletons.md
Due: none

Extra fix on client
  cvat-core/src/annotations-objects.ts
  cvat/apps/dataset_manager/task.py
Due: cvat-ui, cvat-server

added support for plugin tabs
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

updated
  site/content/en/docs/enterprise/shapes-converter.md
  site/content/en/docs/manual/basics/CVAT-annotation-Interface/objects-sidebar.md
Due: none

t
  cvat/apps/honeypots/__init__.py
  cvat/apps/honeypots/apps.py
  cvat/apps/honeypots/migrations/__init__.py
  cvat/apps/honeypots/pyproject.toml
  cvat/apps/honeypots/reports.py
  cvat/apps/honeypots/rules/honeypot_reports.rego
  cvat/apps/honeypots/rules/honeypot_settings.rego
  cvat/apps/honeypots/serializers.py
  cvat/apps/honeypots/urls.py
  cvat/apps/honeypots/views.py
Due: cvat-server

Fixed importing skeletons in a specific scenario
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Corner case
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Fixed indent
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

Aborted extra change
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

fix: minor bug in scope filtering
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
Due: cvat-ui

chore: remove unnessassary clg
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
Due: cvat-ui

Fix scope defining
  cvat/apps/engine/permissions.py
Due: cvat-server

chore: update naming
  cvat-ui/src/components/header/settings-modal/shortcut-settings.tsx
Due: cvat-ui

updated reviewd changes
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/styles.scss
Due: cvat-ui

Fixed UI crash on project page when active export
  cvat-ui/src/components/project-page/project-page.tsx
Due: cvat-ui

Added changelog
  changelog.d/20240718_085228_boris_fixed_undefined_value.md
Due: none

Added Object.hasOwn to the list of required features
  cvat-ui/src/utils/platform-checker.ts
Due: cvat-ui

Fixed incorrect render
  cvat-ui/src/components/project-page/project-page.tsx
Due: cvat-ui

Update state correctly
  cvat-ui/src/reducers/projects-reducer.ts
Due: cvat-ui

Added Object.hasOwn to the list of required features (#8188)
  cvat-ui/src/utils/platform-checker.ts
Due: cvat-ui

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
