Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Update overview.md
  site/content/en/docs/getting_started/overview.md
Due: none

applied comments
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/support/commands.js
Due: none

Ground truth annotations is not injected to annotation job
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/annotations.ts
  cvat-core/src/enums.ts
  cvat-core/src/object-state.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Optimized action creators
  cvat-core/src/annotations.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/actions/boundaries-actions.ts
  cvat-ui/src/actions/import-actions.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/frame-tags.tsx
  cvat-ui/src/components/annotation-page/tag-annotation-workspace/tag-annotation-sidebar/tag-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/controls-side-bar/setup-tag-popover.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/top-bar/annotation-menu.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
  cvat-ui/src/utils/filter-annotations.ts
Due: cvat-ui

removed force
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/support/commands.js
Due: none

removed additional arg with initial position
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/support/commands.js
Due: none

Some fixes
  cvat-core/src/annotations-collection.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/object-state.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Opencv moved to config
  cvat-ui/src/config.tsx
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
Due: cvat-ui

Fixed save
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Added more types
  cvat-core/src/api-implementation.ts
  cvat-core/src/cloud-storage.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Use separate services for storing job queues and cache (#7245)
  Dockerfile
  changelog.d/20231215_165536_roman_split_redis.md
  cvat/settings/base.py
  docker-compose.dev.yml
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/cvat-redis-secret.yml
  helm-chart/values.yaml
  site/content/en/docs/contributing/development-environment.md
  supervisord/utils.conf
  supervisord/worker.analytics_reports.conf
  supervisord/worker.annotation.conf
  supervisord/worker.export.conf
  supervisord/worker.import.conf
  supervisord/worker.quality_reports.conf
  supervisord/worker.webhooks.conf
  tests/python/rest_api/test_queues.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/fixtures/init.py
  wait_for_deps.sh
Due: cvat-server

Fixed some issues with types
  cvat-core/src/api-implementation.ts
  cvat-core/src/labels.ts
  cvat-core/src/project.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Added cypress tests for slice/join (#7249)
  tests/cypress/e2e/features/slice_join.js
  tests/cypress/support/commands.js
Due: none

Global object counter to generate unique ids
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/api.ts
  cvat-core/src/config.ts
  cvat-core/src/index.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

More typings
  cvat-core/src/annotations-collection.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/core-types.ts
  cvat-core/src/index.ts
Due: cvat-ui

Minor fixes
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/containers/annotation-page/standard-workspace/controls-side-bar/setup-tag-popover.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Fixed undo/redo
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Fixed quality conflicts displaying
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

Fixed sever proxy mock
  cvat-core/tests/mocks/server-proxy.mock.cjs
Due: cvat-ui

Fixed opacity reducer
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Removed extra state update
  cvat-ui/src/reducers/settings-reducer.ts
Due: cvat-ui

Fixed mock
  cvat-core/tests/mocks/server-proxy.mock.cjs
Due: cvat-ui

Updated version, added changelog
  changelog.d/20231220_131717_boris_fix_gt_1.md
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

omit extra field
  cvat-core/src/api-implementation.ts
Due: cvat-ui

Added annotations action log
  cvat-core/src/annotations-actions.ts
  cvat-core/src/enums.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

Updated docs
  site/content/en/docs/administration/advanced/analytics.md
Due: none

Minor refactoring
  cvat-core/src/annotations-actions.ts
  cvat-core/src/enums.ts
Due: cvat-ui

Review pipeline divided into two parts
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: none

504 on save annotation, workaround
  cvat-core/src/annotations-saver.ts
  cvat-core/src/exceptions.ts
  cvat-core/src/server-proxy.ts
Due: cvat-ui

Added missing return
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

Missing return
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

Applied comments
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations.ts
  cvat-core/src/frames.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/actions/annotation-actions.ts
  tests/cypress/e2e/actions_users/registration_involved/case_28_review_pipeline_feature.js
Due: cvat-ui

Removed extra destructurization
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Removed extra code
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

More types
  cvat-core/src/annotations-saver.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

Better workaround wip
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

fix: Dockerfile.ui to reduce vulnerabilities
  Dockerfile.ui
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
