Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Update schema
  cvat/schema.yml
  cvat/settings/base.py
Due: cvat-server

added table
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

Stop creating linter report files in CI
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/eslint.yml
  .github/workflows/hadolint.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
  .github/workflows/remark.yml
  .github/workflows/stylelint.yml
  tests/json_to_html.py
Due: none

Update migrations
  cvat/apps/engine/migrations/0075_annotationguide_is_public.py
Due: cvat-server

fix: cvat/requirements/base.txt to reduce vulnerabilities
  cvat/requirements/base.txt
Due: cvat-server

Update site/content/en/docs/manual/advanced/annotation-quality.md
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

updated in accordance with comments
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

punctuation
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

typos
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

formatting
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

wording
  site/content/en/docs/manual/advanced/annotation-quality.md
Due: none

Stop creating linter report files in CI (#6560)
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/eslint.yml
  .github/workflows/hadolint.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
  .github/workflows/remark.yml
  .github/workflows/stylelint.yml
  tests/json_to_html.py
Due: none

honeypots documentation updated (#6559)
  site/content/en/docs/manual/advanced/annotation-quality.md
  site/content/en/images/honeypot01.jpg
  site/content/en/images/honeypot02.jpg
  site/content/en/images/honeypot03.jpg
  site/content/en/images/honeypot04.jpg
  site/content/en/images/honeypot05.jpg
  site/content/en/images/honeypot06.gif
  site/content/en/images/honeypot07.jpg
  site/content/en/images/honeypot08.jpg
Due: none

release notes update
  CHANGELOG.md
Due: none

line length change
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump version to 2.5.2
  CHANGELOG.md
  cvat/__init__.py
  cvat/schema.yml
  docker-compose.yml
  helm-chart/values.yaml
Due: cvat-server

Update version
  CHANGELOG.md
  cvat/__init__.py
  cvat/schema.yml
  docker-compose.yml
  helm-chart/values.yaml
Due: cvat-server

Get rid of resize observer
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Get rid of resize observer (#6572)
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Update develop (#6571)
  CHANGELOG.md
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
