Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

added refund policy
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

fix assert chainer type
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: none

Fixed issue with y-slider of objects sidebar (#7781)
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

Updated permissions
  cvat-core/src/server-proxy.ts
  cvat/apps/iam/permissions.py
  cvat/apps/iam/rules/analytics_reports.rego
Due: cvat-ui, cvat-server

Request report after creation
  cvat-ui/src/components/analytics-page/analytics-page.tsx
Due: cvat-ui

Check ground truth annotations in GT job (#7770)
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  tests/cypress/e2e/features/ground_truth_jobs.js
Due: cvat-ui

Fixed 504 gateway timeout on admin page (#7767)
  changelog.d/20240415_122324_boris_fixed_admin_504.md
  cvat/apps/engine/admin.py
  cvat/apps/organizations/admin.py
Due: cvat-server

[GSoC2024] add return types to fix typescript warnings (#7689)
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-core/src/annotations-objects.ts
  cvat-core/src/lambda-manager.ts
Due: cvat-ui

add complex coco annotations test
  tests/python/rest_api/test_tasks.py
Due: none

Fixed typescript issues in 'tools-control.tsx'
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
Due: cvat-ui

fixed serverFiles
  tests/cypress/e2e/features/issue_4662_Count_Annotations.js
Due: none

Correct usage of "authorized"/"authorization"
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-sdk/gen/templates/openapi-generator/api_doc.mustache
  cvat-sdk/gen/templates/openapi-generator/configuration.mustache
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/auth-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/views.py
  cvat/apps/iam/authentication.py
  cvat/schema.yml
  cvat/settings/testing_rest.py
  site/content/en/docs/administration/basics/REST_API_guide.md
  site/content/en/docs/enterprise/social-accounts-configuration.md
  site/content/en/docs/manual/basics/attach-cloud-storage.md
  tests/python/rest_api/test_server.py
Due: cvat-ui, cvat-server

update siammask deps
  serverless/pytorch/foolwood/siammask/nuclio/function.yaml
Due: none

update logs in doc
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Due: none

update gpu version
  serverless/pytorch/foolwood/siammask/nuclio/function-gpu.yaml
Due: none

Save container user data between rebuilds
  .devcontainer/local/docker-compose.yml
Due: none

Use bash shell for task and debug
  .devcontainer/local/devcontainer.json
Due: none

Move shape sorting into the shape validation function
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Refactor element shapes update
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Remove whitespace
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Update site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

updated documentation in accordance with latest changes
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/cancel-team.png
  site/content/en/images/switch-to-annual.png
  site/content/en/images/update_payment_solo.png
  site/content/en/images/yearly-plan.png
Due: none

fixed toc
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

updated plans description
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

linter updates
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

[GSoC2024] Fix import of outside track shapes in Datumaro-based formats (#7669)
  changelog.d/20240403_135916_yeek020407_switch_outside.md
  cvat/apps/dataset_manager/bindings.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

fixed bullet lists
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

changed the question to eliminate misleading
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

Update subscription-managment.md
  site/content/en/docs/enterprise/subscription-managment.md
Due: none

Exclude .vscode-server directories from being persisted enable re-install the extensions between rebuilds
  .devcontainer/local/Dockerfile
  .devcontainer/local/docker-compose.yml
Due: none

Remove unnecessary bind volume mount for ssh keys
  .devcontainer/local/devcontainer.json
Due: none

Make same devcontainer for codespace
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/codespaces/Dockerfile
  .devcontainer/codespaces/devcontainer.json
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/dist.env
  .devcontainer/docker-compose.rendered.yml
  .devcontainer/docker-compose.yml
  .devcontainer/init.sh
  .devcontainer/local/devcontainer-lock.json
  .devcontainer/local/dist.env
  .devcontainer/local/docker-compose.yml
  .devcontainer/local/init.sh
  .devcontainer/local/poststart.sh
  .devcontainer/postcreate.sh
  .devcontainer/poststart.sh
Due: none

Update gitignore files
  .devcontainer/docker-compose.rendered.yml
  .gitignore
Due: none

Bind mount host ssh into container
  .devcontainer/docker-compose.yml
Due: none

Update docs
  site/content/en/docs/contributing/development-environment.md
Due: none

Fix typo in devcontainer Dockerfile
  .devcontainer/Dockerfile
Due: none

Enable test-venv to be discoverable by python select interpreter command
  .devcontainer/devcontainer.json
Due: none
