Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Added test
  tests/cypress/e2e/actions_tasks/navigate_specific_frame.js
Due: none

Fixed: 3d job can not be opened in validation mode
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Updated changelog
  CHANGELOG.md
Due: none

Fixed: 3d job can not be opened in validation mode (#6507)
  CHANGELOG.md
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

No helm tests on edit (#6495)
  .github/workflows/helm.yml
Due: none

fixes
  cvat-canvas/src/typescript/shared.ts
  cvat-core/src/enums.ts
  cvat-core/src/object-state.ts
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/task.py
  cvat/apps/engine/migrations/0074_alter_labeledimage_source_alter_labeledshape_source_and_more.py
  cvat/apps/engine/models.py
  cvat/apps/engine/views.py
  cvat/apps/events/handlers.py
Due: cvat-ui, cvat-server

t
  cvat-core/src/analytics-report.ts
  cvat/apps/analytics_report/models.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Create cvat_sdk.datasets, a framework-agnostic version of cvat_sdk.pytorch (#6428)
  CHANGELOG.md
  cvat-sdk/cvat_sdk/datasets/__init__.py
  cvat-sdk/cvat_sdk/datasets/caching.py
  cvat-sdk/cvat_sdk/datasets/common.py
  cvat-sdk/cvat_sdk/datasets/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/__init__.py
  cvat-sdk/cvat_sdk/pytorch/common.py
  cvat-sdk/cvat_sdk/pytorch/project_dataset.py
  cvat-sdk/cvat_sdk/pytorch/task_dataset.py
  cvat-sdk/cvat_sdk/pytorch/transforms.py
  tests/python/sdk/test_datasets.py
  tests/python/sdk/test_pytorch.py
  tests/python/sdk/util.py
Due: cvat-server

apply comments
  CHANGELOG.md
  cvat/apps/engine/media_extractors.py
Due: cvat-server

t
  cvat/apps/analytics_report/views.py
  cvat/schema.yml
Due: cvat-server

t
  cvat/apps/analytics_report/serializers.py
  cvat/schema.yml
Due: cvat-server

Close av contaner after use (#6501)
  CHANGELOG.md
  cvat/apps/engine/media_extractors.py
Due: cvat-server

t
  cvat-core/src/analytics-report.ts
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

autoformat
  cvat/apps/analytics_report/models.py
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/serializers.py
Due: cvat-server

dataseries -> data_series
  cvat-core/src/analytics-report.ts
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_time.py
  cvat/apps/analytics_report/report/derived_metrics/objects.py
  cvat/apps/analytics_report/report/derived_metrics/total_annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/total_object_count.py
  cvat/apps/analytics_report/report/get.py
  cvat/apps/analytics_report/report/primary_metrics/annotation_speed.py
  cvat/apps/analytics_report/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Fixed sam plugin
  cvat-ui/plugins/sam_plugin/src/ts/index.tsx
Due: cvat-ui

t
  cvat/apps/analytics_report/report/derived_metrics/total_annotation_speed.py
  cvat/apps/analytics_report/report/get.py
Due: cvat-server

added computation time on the page
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
Due: cvat-ui

Reset default value when it is deleted, fixed issue with hidden right value
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

Fixed double tooltip
  cvat-ui/src/components/labels-editor/label-form.tsx
Due: cvat-ui

trying to fix helm check
  .github/workflows/helm.yml
Due: none

Fixed hash for shapes and tags
  cvat-core/src/annotations-collection.ts
Due: cvat-ui

Updated version of cvat-core
  cvat-core/package.json
Due: cvat-ui

Fix test data to conform to the API schema for attributes
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/lambda_manager/tests/assets/tasks.json
Due: cvat-server

Fix validation in `AttributeSerializer`
  CHANGELOG.md
  cvat/apps/engine/serializers.py
Due: cvat-server

title
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/styles.scss
Due: cvat-ui

[] moving all values files to the same directory
  .github/workflows/helm.yml
  helm-chart/cvat.values.yaml
  helm-chart/test.values.yaml
Due: none

Fixed export hash for skeletons
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Fixed calculating statistics in case with removed frames (#6493)
  CHANGELOG.md
  cvat-core/package.json
  cvat-core/src/annotations-collection.ts
  cvat-core/tests/api/annotations.js
Due: cvat-ui

Fixed using initial frame from query parameter (#6506)
  CHANGELOG.md
  cvat-ui/package.json
  cvat-ui/src/actions/annotation-actions.ts
  tests/cypress/e2e/actions_tasks/navigate_specific_frame.js
Due: cvat-ui

Update cvat-ui/plugins/sam_plugin/src/ts/index.tsx
  cvat-ui/plugins/sam_plugin/src/ts/index.tsx
Due: cvat-ui

Fixed default value for an attribute (RAW editor), refactored labels editor (#6474)
  CHANGELOG.md
  cvat-ui/package.json
  cvat-ui/src/components/labels-editor/label-form.tsx
  cvat-ui/src/components/labels-editor/labels-editor.tsx
Due: cvat-ui

Fixed SAM plugin (403 code for workers in organizations) (#6514)
  CHANGELOG.md
  cvat-ui/plugins/sam_plugin/src/ts/index.tsx
Due: cvat-ui

temporary remove distinct cache dir to check CI reaction
  helm-chart/templates/cvat_backend/server/deployment.yml
Due: none

Bump version to 2.5.1
  cvat/__init__.py
  cvat/schema.yml
  docker-compose.yml
  helm-chart/values.yaml
Due: cvat-server

Fix job minutes in dates
  cvat-ui/src/components/job-item/job-item.tsx
Due: cvat-ui

trying to trigger helm linter
  helm-chart/templates/cvat_backend/server/deployment.yml
Due: none
