Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

refactor openProject
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/support/commands_projects.js
Due: none

Minor fixes
  tests/perf/scripts/libs/api/auth.js
  tests/perf/scripts/libs/api/jobs.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/libs/api/tus.js
  tests/perf/scripts/libs/default-specs.js
  tests/perf/scripts/libs/fixtures/jobs.js
  tests/perf/scripts/libs/fixtures/tasks.js
  tests/perf/scripts/tests/regression/jobs.js
  tests/perf/scripts/tests/regression/tasks.js
  tests/perf/scripts/tests/warmup.js
  tests/perf/scripts/utils/random.js
Due: none

remove redundant checks
  tests/cypress/e2e/features/bulk_actions.js
Due: none

added more info on local registry + removed deprecated link
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
Due: none

lint
  site/content/en/docs/administration/advanced/k8s_deployment_with_helm.md
Due: none

eslint fixes
  tests/perf/scripts/libs/api/jobs.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/libs/api/tus.js
  tests/perf/scripts/libs/fixtures/tasks.js
  tests/perf/scripts/tests/regression/jobs.js
Due: none

minor fixes
  tests/perf/scripts/libs/fixtures/tasks.js
  tests/perf/scripts/tests/regression/tasks.js
Due: none

Fix formartting and linting
  tests/perf/perfkit/main.py
  tests/perf/scripts/libs/api/auth.js
  tests/perf/scripts/libs/api/jobs.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/utils/validation.js
Due: none

Add sleep after task creation
  tests/perf/perfkit/cluster.py
  tests/perf/scripts/tests/regression/tasks.js
  tests/perf/scripts/tests/warmup.js
Due: none

Add test
  tests/python/rest_api/_test_base.py
  tests/python/rest_api/test_task_data.py
  tests/python/shared/tasks/types.py
Due: none

update project, random module
  tests/perf/scripts/libs/api/projects.js
  tests/perf/scripts/libs/fixtures/const.js
  tests/perf/scripts/libs/fixtures/projects.js
  tests/perf/scripts/libs/fixtures/shape.js
  tests/perf/scripts/tests/regression/projects.js
  tests/perf/scripts/utils/random.js
Due: none

streaming shapes for tasks export
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/formats/cvat.py
  cvat/apps/dataset_manager/task.py
Due: cvat-server

small fixes
  cvat/apps/dataset_manager/annotation.py
Due: cvat-server

refactor: consolidate redux selectors (#9752)
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-editor.tsx
  cvat-ui/src/components/annotation-page/canvas/grid-layout/canvas-layout.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/canvas/views/context-image/context-image.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/issues-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/top-bar/filters-modal.tsx
  cvat-ui/src/components/annotation-page/top-bar/search-modal.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storage-item.tsx
  cvat-ui/src/components/cloud-storages-page/cloud-storages-page.tsx
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/header/settings-modal/settings-modal.tsx
  cvat-ui/src/components/import-backup/import-backup-modal.tsx
  cvat-ui/src/components/invitations-page/invitations-list.tsx
  cvat-ui/src/components/invitations-page/invitations-page.tsx
  cvat-ui/src/components/jobs-page/actions-menu.tsx
  cvat-ui/src/components/jobs-page/jobs-page.tsx
  cvat-ui/src/components/models-page/actions-menu.tsx
  cvat-ui/src/components/models-page/models-page.tsx
  cvat-ui/src/components/move-task-modal/move-task-modal.tsx
  cvat-ui/src/components/organization-page/actions-menu.tsx
  cvat-ui/src/components/organization-page/member-item.tsx
  cvat-ui/src/components/organization-page/members-list.tsx
  cvat-ui/src/components/organization-page/organization-page.tsx
  cvat-ui/src/components/project-page/project-page.tsx
  cvat-ui/src/components/projects-page/project-list.tsx
  cvat-ui/src/components/projects-page/projects-page.tsx
  cvat-ui/src/components/requests-page/actions-menu.tsx
  cvat-ui/src/components/requests-page/requests-list.tsx
  cvat-ui/src/components/select-organization-modal/select-organization-modal.tsx
  cvat-ui/src/components/tasks-page/tasks-page.tsx
  cvat-ui/src/components/webhooks-page/actions-menu.tsx
  cvat-ui/src/components/webhooks-page/webhooks-page.tsx
Due: cvat-ui

removing unused import
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

Fixed fields are non-disabled when the object is locked
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-buttons.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
Due: cvat-ui

Added changelog entry
  changelog.d/20250902_085444_sekachev.bs_fixed_locking_issue.md
Due: none

fixing some tests
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/tests/test_streaming_efficiency.py
  cvat/apps/dataset_manager/tests/utils.py
Due: cvat-server

removing unused import
  cvat/apps/dataset_manager/tests/utils.py
Due: cvat-server

fixing tag sort
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

Addressed copilot comments
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-buttons.tsx
Due: cvat-ui

ID -> Id in commands
  tests/cypress/e2e/actions_projects_models/markdown_base_pipeline.js
  tests/cypress/e2e/actions_tasks/task_changes_status_after_initial_save.js
  tests/cypress/e2e/actions_tasks2/test_default_attribute.js
  tests/cypress/e2e/features/bulk_actions.js
  tests/cypress/e2e/features/ground_truth_jobs.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands_projects.js
Due: none

fixing cvat
  cvat/apps/dataset_manager/formats/cvat.py
Due: cvat-server

lint
  tests/perf/scripts/tests/regression/projects.js
Due: none

Fixed ability to create wrong skeleton structure in constructor
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Added changelog
  changelog.d/20250902_105235_sekachev.bs_fixed_not_finished_skeleton.md
Due: none

Fixed fields are non-disabled when the object is locked (#9783)
  changelog.d/20250902_085444_sekachev.bs_fixed_locking_issue.md
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-buttons.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-element.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item-details.tsx
Due: cvat-ui

Update test scenarios for tasks endpoint (#9734)
  tests/perf/README.md
  tests/perf/docker-compose-perf.yml
  tests/perf/perfkit/cluster.py
  tests/perf/perfkit/main.py
  tests/perf/scripts/libs/api/auth.js
  tests/perf/scripts/libs/api/jobs.js
  tests/perf/scripts/libs/api/tasks.js
  tests/perf/scripts/libs/api/tus.js
  tests/perf/scripts/libs/default-specs.js
  tests/perf/scripts/libs/fixtures/jobs.js
  tests/perf/scripts/libs/fixtures/tasks.js
  tests/perf/scripts/tests/regression/jobs.js
  tests/perf/scripts/tests/regression/tasks.js
  tests/perf/scripts/tests/warmup.js
  tests/perf/scripts/utils/random.js
  tests/perf/scripts/utils/validation.js
  tests/perf/scripts/variables/constants.js
Due: none

added caching as well
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/eslint.yml
  .github/workflows/hadolint.yml
  .github/workflows/isort.yml
  .github/workflows/linters.yml
  .github/workflows/pylint.yml
  .github/workflows/regallint.yml
  .github/workflows/remark.yml
  .github/workflows/spell-check.yml
  .github/workflows/stylelint.yml
Due: none

anchors are not yet properly supported :(
  .github/workflows/linters.yml
Due: none

fix yarn cache
  .github/workflows/linters.yml
Due: none

fix yarn get cache path
  .github/workflows/linters.yml
Due: none

add root slash to visit
  tests/cypress/support/commands.js
Due: none

removed separate linter workflows
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/eslint.yml
  .github/workflows/hadolint.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
  .github/workflows/regallint.yml
  .github/workflows/remark.yml
  .github/workflows/spell-check.yml
  .github/workflows/stylelint.yml
Due: none

Refactored linters to be in single workflow + added cache to speed up runs (#9786)
  .github/workflows/bandit.yml
  .github/workflows/black.yml
  .github/workflows/eslint.yml
  .github/workflows/hadolint.yml
  .github/workflows/isort.yml
  .github/workflows/linters.yml
  .github/workflows/pylint.yml
  .github/workflows/regallint.yml
  .github/workflows/remark.yml
  .github/workflows/spell-check.yml
  .github/workflows/stylelint.yml
Due: none

Fixed ability to create wrong skeleton structure in constructor (#9784)
  changelog.d/20250902_105235_sekachev.bs_fixed_not_finished_skeleton.md
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Add an auto-annotation function for YOLO models (#9762)
  ai-models/detector/yolo/README.md
  ai-models/detector/yolo/func.py
  ai-models/detector/yolo/requirements.txt
Due: none

Initial implementation of user page
  cvat-core/src/server-proxy.ts
  cvat-core/src/user.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/components/change-password-modal/change-password-modal.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/profile-page/change-password-form.tsx
  cvat-ui/src/components/profile-page/profile-content.tsx
  cvat-ui/src/components/profile-page/profile-page.tsx
  cvat-ui/src/components/profile-page/security-content.tsx
  cvat-ui/src/components/profile-page/styles.scss
  cvat-ui/src/reducers/auth-reducer.ts
Due: cvat-ui

Decrease requests rate for all tasks scenarios
  tests/perf/scripts/tests/regression/tasks.js
Due: none

fixing frame_idx and tag sorting
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server
