Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

tmp
  cvat/apps/growth/migrations/0001_initial.py
  cvat/apps/iam/migrations/0003_move_user_content_type.py
  cvat/apps/quality_control/migrations/0012_qualityrequirement_and_more.py
  cvat/apps/webhooks/migrations/0006_migrate_legacy_event_keys.py
  cvat/apps/webhooks/migrations/0007_remove_retired_organization_delete_event.py
Due: cvat-server

Adjust tests
  cvat-ui/src/assets/play-range-icon.svg
  cvat-ui/src/assets/seek-to-end-icon.svg
  cvat-ui/src/assets/seek-to-start-icon.svg
  tests/cypress/e2e/audio_workspace/case_audio_37_interval_actions.js
Due: cvat-ui

Fix minimap playback cursor position after pause
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-playback.ts
Due: cvat-ui

Add changelog
  changelog.d/20260825_181905_aleksey.zinovyev_fix_minimap_playback_pos.md
Due: none

feat(sdk-examples): add annotation, label, stats, and webhook recipes
  changelog.d/20260825_143806_sdk_domain_examples_more_examples.md
  cvat-sdk/examples/README.md
  cvat-sdk/examples/project_add_labels.py
  cvat-sdk/examples/project_annotation_stats.py
  cvat-sdk/examples/task_edit_annotations.py
  cvat-sdk/examples/task_import_annotations.py
  cvat-sdk/examples/webhook_monitor.py
  cvat-sdk/examples/webhook_register.py
  site/content/en/docs/api_sdk/sdk/examples/annotations.md
  site/content/en/docs/api_sdk/sdk/examples/projects.md
  site/content/en/docs/api_sdk/sdk/examples/webhooks.md
  tests/python/sdk/test_examples.py
Due: cvat-server

Reliable region item clicks
  tests/cypress/e2e/audio_workspace/case_audio_08_delete_via_del.js
  tests/cypress/e2e/audio_workspace/case_audio_14_select_region_sidebar_click.js
  tests/cypress/e2e/audio_workspace/case_audio_21_undo_delete.js
  tests/cypress/e2e/audio_workspace/case_audio_31_interval_playback.js
  tests/cypress/e2e/audio_workspace/case_audio_32_navigation_and_overlap.js
  tests/cypress/e2e/audio_workspace/case_audio_33_change_label_defaults.js
  tests/cypress/e2e/audio_workspace/case_audio_34_change_label_save_persists.js
Due: none

Audio workspace: Fix minimap playback cursor position after pause (#11079)
  changelog.d/20260825_181905_aleksey.zinovyev_fix_minimap_playback_pos.md
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-playback.ts
Due: cvat-ui

Require clicks to activate objects during selection
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Improve multi-selection correctness
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-history.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/cvat-core-wrapper.ts
  cvat-ui/src/reducers/index.ts
Due: cvat-ui

Fix interval playback stop position
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-audio-interval-annotations.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-interval-playback.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-playback.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_interval-header.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_region-details.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_regions-list.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/audio-interval.ts
  cvat-ui/src/reducers/audio-reducer.ts
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/audio_workspace/case_audio_31_interval_playback.js
  tests/cypress/e2e/audio_workspace/case_audio_37_interval_actions.js
Due: cvat-ui

Add changelog
  changelog.d/20260826_102912_aleksey.zinovyev_fix_interval_stop.md
Due: none

Adjust import and export dialogs for 1D
  cvat-ui/src/components/export-dataset/export-dataset-modal.tsx
  cvat-ui/src/components/import-dataset/import-dataset-modal.tsx
Due: cvat-ui

Add changelog
  changelog.d/20260826_120153_aleksey.zinovyev_1d_import_export_opts.md
Due: none

Restore selections after frame navigation
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Display actual shortcuts in audio controls tooltips
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/loop-control.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-player-navigation.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/top-bar/audio-top-bar.tsx
Due: cvat-ui

Add changelog
  changelog.d/20260826_124341_aleksey.zinovyev_fix_audio_tooltips_shortcuts.md
Due: none

Refactor multi-selection helpers
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/draggable-object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-section.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/labels-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/utils/multi-selection.ts
Due: cvat-ui

Prevent corrupted chunks during resumed downloads
  changelog.d/20260826_120000_codex_validate_initial_chunk_size.md
  cvat-core/src/download.worker.ts
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Update 20260826_120000_codex_validate_initial_chunk_size.md
  changelog.d/20260826_120000_codex_validate_initial_chunk_size.md
Due: none

simplified implementation
  cvat-core/src/download.worker.ts
  cvat/apps/engine/views.py
Due: cvat-ui, cvat-server

Update dataset formats from version 1.0 to 1.1
  site/content/en/docs/dataset_management/formats/_index.md
Due: none

Add multi-selection changelog
  changelog.d/20260826_000000_glebpotapov_multi_object_selection.md
Due: none

removed f1_score
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-utils.ts
Due: cvat-ui

Support backing cloud storage for videos
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/management/commands/movetasktobackingcs.py
  cvat/apps/engine/models.py
  cvat/apps/engine/task.py
Due: cvat-server

Disable backing CS for video tasks without manifests
  cvat/apps/engine/models.py
Due: cvat-server

Create a generic `Data.get_openable` method
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/models.py
  cvat/apps/engine/tests/test_rest_api.py
Due: cvat-server

Update images
  site/content/en/docs/qa-analytics/auto-qa.md
  site/content/en/docs/qa-analytics/quality-control.md
  site/content/en/images/create-child-requirement.webp
  site/content/en/images/honeypot01.jpg
  site/content/en/images/honeypot02.jpg
  site/content/en/images/honeypot03.jpg
  site/content/en/images/honeypot04.jpg
  site/content/en/images/honeypot04.webp
  site/content/en/images/honeypot10.jpg
  site/content/en/images/requirement-annotations-filter.webp
  site/content/en/images/requirement-attribute-configuration.webp
  site/content/en/images/requirement-form.webp
  site/content/en/images/requirement-jobs-table.webp
  site/content/en/images/requirement-table.webp
  site/content/en/images/requirement_table.webp
  site/content/en/images/requirements-confusion-matrix.webp
  site/content/en/images/requirements-result-table.webp
Due: none

headlessLogin
  tests/cypress/support/commands.js
Due: none

updated cypress tests
  tests/cypress/e2e/actions_tasks/chunk_download_retry.js
Due: none

Disable automatic moving to backing CS for video tasks
  cvat/apps/engine/task.py
Due: cvat-server

Add changelog entry
  changelog.d/20260826_131916_roman_video_in_backing_cs.md
Due: none

Add tests
  cvat/apps/engine/tests/test_rest_api.py
  tests/python/rest_api/_test_base.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

fixed potential issues with cache
  tests/cypress/e2e/actions_tasks/chunk_download_retry.js
Due: none

Correct 'Pascal VOC ZIP 1.1' to 'PASCAL VOC 1.1'
  site/content/en/docs/dataset_management/formats/format-voc.md
Due: none

applied comment
  tests/cypress/e2e/actions_tasks/chunk_download_retry.js
Due: none

Fix dragging blocked regions
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-bulk-boundaries-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-selection.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-regions.ts
  tests/cypress/e2e/audio_workspace/case_audio_32_navigation_and_overlap.js
Due: cvat-ui

feat(sdk-examples): fix pylint
  changelog.d/20260825_143806_sdk_domain_examples_more_examples.md
  cvat-sdk/examples/webhook_monitor.py
Due: cvat-server

feat(sdk-examples): fix pylint
  cvat-sdk/examples/webhook_monitor.py
Due: cvat-server

Add changelog
  changelog.d/20260826_155912_aleksey.zinovyev_fix_overlap_drag.md
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
