Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

trying to trigger helm linter
  helm-chart/values.yaml
Due: none

Restore unicode chars in filenames
  cvat/apps/engine/utils.py
Due: cvat-server

Clean imports
  cvat/apps/engine/utils.py
Due: cvat-server

fix
  cvat/apps/dataset_manager/task.py
Due: cvat-server

linter
  cvat/apps/analytics_report/report/get.py
Due: cvat-server

Fix job minutes in dates (#6519)
  cvat-ui/src/components/job-item/job-item.tsx
Due: cvat-ui

disable silk progiler for unit tests, adjust disk utilization threshold for rest tests
  cvat/settings/testing.py
  cvat/settings/testing_rest.py
Due: cvat-server

Fix typo
  cvat/apps/iam/rules/memberships.rego
Due: cvat-server

Fix missing variable
  cvat/settings/base.py
Due: cvat-server

Added default value test, refactored tests
  tests/cypress/e2e/actions_objects/case_99_save_filtered_object_in_AAM.js
  tests/cypress/e2e/actions_objects2/case_10_polygon_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_11_polylines_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_12_points_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/actions_objects2/case_8_rectangle_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_9_cuboid_shape_track_label.js
  tests/cypress/e2e/actions_projects_models/registration_involved/base_actions_project_task_user.js
  tests/cypress/e2e/actions_tasks/case_61_create_task_set_issue_tracker.js
  tests/cypress/e2e/actions_tasks/case_66_rename_label_raw_editor.js
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
  tests/cypress/e2e/actions_tasks/mutable_attributes.js
  tests/cypress/e2e/actions_tasks2/case_31_label_constructor_color_name_label.js
  tests/cypress/e2e/actions_tasks2/case_40_create_task_without_necessary_arguments.js
  tests/cypress/e2e/actions_tasks2/case_76_try_create_task_incorrect_dataset_repo.js
  tests/cypress/e2e/actions_tasks2/case_97_export_import_task.js
  tests/cypress/e2e/actions_tasks2/test_default_attribute.js
  tests/cypress/e2e/actions_tasks3/case_107_connected_file_share.js
  tests/cypress/e2e/actions_tasks3/case_118_multi_tasks.js
  tests/cypress/e2e/actions_tasks3/case_18_filters_functionality.js
  tests/cypress/e2e/actions_tasks3/case_1_create_delete_task_label_color.js
  tests/cypress/e2e/actions_tasks3/case_44_changing_default_value_for_attribute.js
  tests/cypress/e2e/actions_tasks3/case_46_create_task_with_files_from_remote_sources.js
  tests/cypress/e2e/canvas3d_functionality/case_89_canvas3d_functionality_filters.js
  tests/cypress/e2e/canvas3d_functionality_2/case_78_canvas3d_functionality_cuboid_label.js
  tests/cypress/e2e/canvas3d_functionality_2/case_80_canvas3d_functionality_cuboid_make_copy.js
  tests/cypress/e2e/issues_prs2/issue_1429_check_new_label.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
  tests/cypress/support/const_project.js
Due: none

Updated license headers
  tests/cypress/e2e/actions_objects/case_99_save_filtered_object_in_AAM.js
  tests/cypress/e2e/actions_objects2/case_10_polygon_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_11_polylines_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_12_points_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/actions_objects2/case_8_rectangle_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_9_cuboid_shape_track_label.js
  tests/cypress/e2e/actions_projects_models/registration_involved/base_actions_project_task_user.js
  tests/cypress/e2e/actions_tasks/case_61_create_task_set_issue_tracker.js
  tests/cypress/e2e/actions_tasks/case_66_rename_label_raw_editor.js
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
  tests/cypress/e2e/actions_tasks2/case_31_label_constructor_color_name_label.js
  tests/cypress/e2e/actions_tasks2/case_40_create_task_without_necessary_arguments.js
  tests/cypress/e2e/actions_tasks2/case_76_try_create_task_incorrect_dataset_repo.js
  tests/cypress/e2e/actions_tasks2/case_97_export_import_task.js
  tests/cypress/e2e/actions_tasks3/case_18_filters_functionality.js
  tests/cypress/e2e/actions_tasks3/case_1_create_delete_task_label_color.js
  tests/cypress/e2e/actions_tasks3/case_44_changing_default_value_for_attribute.js
  tests/cypress/e2e/actions_tasks3/case_46_create_task_with_files_from_remote_sources.js
  tests/cypress/e2e/canvas3d_functionality/case_89_canvas3d_functionality_filters.js
  tests/cypress/e2e/canvas3d_functionality_2/case_78_canvas3d_functionality_cuboid_label.js
  tests/cypress/e2e/canvas3d_functionality_2/case_80_canvas3d_functionality_cuboid_make_copy.js
  tests/cypress/e2e/issues_prs2/issue_1429_check_new_label.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
  tests/cypress/support/const_project.js
Due: none

trying to fix kubectl cp
  helm-chart/templates/cvat_backend/storage.yml
  helm-chart/test.values.yaml
  helm-chart/values.yaml
Due: none

Release v2.5.1 (#6520)
  CHANGELOG.md
  cvat/__init__.py
  cvat/apps/engine/media_extractors.py
  cvat/schema.yml
  docker-compose.yml
  helm-chart/values.yaml
Due: cvat-server

Update develop (release 2.5.1) (#6521)
  CHANGELOG.md
Due: none

fix default access mode for storage
  helm-chart/templates/cvat_backend/storage.yml
Due: none

Update main.py
  serverless/pytorch/ultralytics/yolov8/nuclio/main.py
Due: none

v9.3.0
  cvat-core/package.json
Due: cvat-ui

v1.54.0
  cvat-ui/package.json
Due: cvat-ui

update changelog
  CHANGELOG.md
Due: none

fix add switch to turn off all cache dirs
  helm-chart/templates/cvat_backend/server/deployment.yml
  helm-chart/templates/cvat_backend/utils/deployment.yml
  helm-chart/templates/cvat_backend/worker_annotation/deployment.yml
  helm-chart/templates/cvat_backend/worker_export/deployment.yml
  helm-chart/templates/cvat_backend/worker_import/deployment.yml
  helm-chart/templates/cvat_backend/worker_qualityreports/deployment.yml
  helm-chart/test.values.yaml
  helm-chart/values.yaml
Due: none

Fix validation in `AttributeSerializer` (#6447)
  CHANGELOG.md
  cvat/apps/dataset_manager/tests/test_formats.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/lambda_manager/tests/assets/tasks.json
Due: cvat-server

Fix formatting
  tests/python/rest_api/test_tasks.py
  tests/python/shared/utils/helpers.py
Due: none

Fixed hash for shapes, tags and skeletons (#6517)
  CHANGELOG.md
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Added cypress test to check export hash
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
  tests/cypress/e2e/actions_tasks2/test_annotations_export_hash.js
  tests/cypress/e2e/actions_tasks3/case_18_filters_functionality.js
  tests/cypress/e2e/actions_tasks3/case_48_issue_2663_annotations_statistics.js
  tests/cypress/e2e/skeletons/skeletons_pipeline.js
  tests/cypress/support/commands.js
Due: none

Minor CI improvements (#6527)
  cvat/settings/testing.py
  cvat/settings/testing_rest.py
Due: cvat-server

fixes
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_projects.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

update tests
  cvat/apps/engine/views.py
  tests/python/rest_api/test_labels.py
Due: cvat-server

apply comments
  cvat/apps/analytics_report/report/create.py
  cvat/apps/analytics_report/report/derived_metrics/annotation_speed.py
  cvat/apps/analytics_report/report/derived_metrics/objects.py
  cvat/apps/analytics_report/report/primary_metrics/objects.py
  cvat/apps/analytics_report/serializers.py
  cvat/schema.yml
Due: cvat-server

Added default value test, refactored tests (#6529)
  tests/cypress/e2e/actions_objects/case_99_save_filtered_object_in_AAM.js
  tests/cypress/e2e/actions_objects2/case_10_polygon_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_11_polylines_shape_track_label_points.js
  tests/cypress/e2e/actions_objects2/case_12_points_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_17_lock_hide_features.js
  tests/cypress/e2e/actions_objects2/case_8_rectangle_shape_track_label.js
  tests/cypress/e2e/actions_objects2/case_9_cuboid_shape_track_label.js
  tests/cypress/e2e/actions_projects_models/registration_involved/base_actions_project_task_user.js
  tests/cypress/e2e/actions_tasks/case_61_create_task_set_issue_tracker.js
  tests/cypress/e2e/actions_tasks/case_66_rename_label_raw_editor.js
  tests/cypress/e2e/actions_tasks/case_72_hotkeys_change_labels.js
  tests/cypress/e2e/actions_tasks/mutable_attributes.js
  tests/cypress/e2e/actions_tasks2/case_31_label_constructor_color_name_label.js
  tests/cypress/e2e/actions_tasks2/case_40_create_task_without_necessary_arguments.js
  tests/cypress/e2e/actions_tasks2/case_76_try_create_task_incorrect_dataset_repo.js
  tests/cypress/e2e/actions_tasks2/case_97_export_import_task.js
  tests/cypress/e2e/actions_tasks2/test_default_attribute.js
  tests/cypress/e2e/actions_tasks3/case_107_connected_file_share.js
  tests/cypress/e2e/actions_tasks3/case_118_multi_tasks.js
  tests/cypress/e2e/actions_tasks3/case_18_filters_functionality.js
  tests/cypress/e2e/actions_tasks3/case_1_create_delete_task_label_color.js
  tests/cypress/e2e/actions_tasks3/case_44_changing_default_value_for_attribute.js
  tests/cypress/e2e/actions_tasks3/case_46_create_task_with_files_from_remote_sources.js
  tests/cypress/e2e/canvas3d_functionality/case_89_canvas3d_functionality_filters.js
  tests/cypress/e2e/canvas3d_functionality_2/case_78_canvas3d_functionality_cuboid_label.js
  tests/cypress/e2e/canvas3d_functionality_2/case_80_canvas3d_functionality_cuboid_make_copy.js
  tests/cypress/e2e/issues_prs2/issue_1429_check_new_label.js
  tests/cypress/support/commands.js
  tests/cypress/support/const.js
  tests/cypress/support/const_project.js
Due: none

Adjusted plugin registration way
  cvat-ui/plugins/sam_plugin/src/ts/index.tsx
Due: cvat-ui

Adjusted plugin registration way (#6533)
  cvat-ui/plugins/sam_plugin/src/ts/index.tsx
Due: cvat-ui

updated accordingly with latest comments
  site/content/en/docs/manual/advanced/automatic-annotation.md
Due: none

Fixed object
  tests/cypress/e2e/actions_objects/case_37_object_make_copy.js
Due: none

wording
  site/content/en/docs/manual/advanced/automatic-annotation.md
Due: none

Added e2e test to check export hash (#6532)
  tests/cypress/e2e/actions_objects/case_37_object_make_copy.js
  tests/cypress/e2e/actions_objects2/case_115_ellipse_shape_track_label.js
  tests/cypress/e2e/actions_tasks2/test_annotations_export_hash.js
  tests/cypress/e2e/actions_tasks3/case_18_filters_functionality.js
  tests/cypress/e2e/actions_tasks3/case_48_issue_2663_annotations_statistics.js
  tests/cypress/e2e/skeletons/skeletons_pipeline.js
  tests/cypress/support/commands.js
Due: none

automatic annotation documentation updated (#6409)
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/images/gif014_detrac.gif
  site/content/en/images/gif015_detrac.gif
  site/content/en/images/image120.jpg
  site/content/en/images/image133.jpg
Due: none

Extend cleaning for downloaded file names (#6492)
  CHANGELOG.md
  cvat/apps/engine/backup.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/events/export.py
  cvat/apps/lambda_manager/views.py
  cvat/apps/opencv/views.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
