Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Replaced example.com with mock server URL
  tests/python/rest_api/test_webhooks.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/webhooks.json
Due: none

Fix linting and formatting
  tests/python/rest_api/test_webhooks_sender.py
Due: none

av==14.4.0 in dataset/requirements.txt
  utils/dataset_manifest/requirements.txt
Due: cvat-server

av==13.1.0
  Dockerfile
  utils/dataset_manifest/requirements.txt
Due: cvat-server

remove extra enable yarn, move corepack to higher layer
  Dockerfile.ui
Due: none

Node 25 corepack notice
  .github/workflows/main.yml
Due: none

av==14.1.0
  Dockerfile
  utils/dataset_manifest/requirements.txt
Due: cvat-server

feat: Add always show polygon direction setting
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/canvasView.ts
  cvat-ui/index.d.ts
  cvat-ui/src/actions/settings-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/containers/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/settings-reducer.ts
  cvat-ui/src/types/modules.d.ts
  cvat-ui/src/types/redux-augmentation.d.ts
  cvat-ui/tsconfig.json
Due: cvat-ui

Remove redundant dispatch_uid parameters
  cvat/apps/consensus/signals.py
  cvat/apps/engine/signals.py
  cvat/apps/events/signals.py
  cvat/apps/iam/signals.py
  cvat/apps/quality_control/signals.py
  cvat/apps/webhooks/signals.py
Due: cvat-server

Update k8s test launch
  tests/python/shared/fixtures/init.py
Due: none

t
  tests/python/shared/fixtures/init.py
Due: none

Update styles for cloud storage selector
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/styles.scss
Due: cvat-ui

Update lightweight label
  cvat-ui/src/components/requests-page/request-card.tsx
Due: cvat-ui

some fixes for av>=14
  cvat/apps/engine/media_extractors.py
  utils/dataset_manifest/core.py
Due: cvat-server

linter fix
  utils/dataset_manifest/core.py
Due: cvat-server

av==14.4.0
  Dockerfile
  utils/dataset_manifest/core.py
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Added support to remove users having organizations with other members (#9702)
  cvat/apps/engine/user_deletion.py
Due: cvat-server

Remove alias
  docker-compose.yml
Due: none

install corepack, yarn enabled automatically
  site/content/en/docs/contributing/development-environment.md
Due: none

fixing rotation
  utils/dataset_manifest/core.py
Due: cvat-server

av==15.0.0
  Dockerfile
  utils/dataset_manifest/requirements.txt
Due: cvat-server

Add more tests
  cvat-sdk/gen/templates/openapi-generator/api_client.mustache
  tests/python/rest_api/test_api_tokens.py
  tests/python/rest_api/utils.py
  tests/python/shared/assets/api_tokens.json
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/fixtures/data.py
  tests/python/shared/utils/dump_objects.py
Due: cvat-server

add more tests
  cvat/apps/api_tokens/rules/api_token_plugin.jobs.rego
  cvat/apps/api_tokens/rules/api_token_plugin.projects.rego
  cvat/apps/api_tokens/rules/api_token_plugin.tasks.rego
  tests/python/rest_api/test_analytics.py
  tests/python/rest_api/test_api_tokens.py
  tests/python/rest_api/utils.py
Due: cvat-server

Update changelog.d/20250801_184155_mzhiltso_fix_video_backups_with_gt_and_custom_params.md
  changelog.d/20250801_184155_mzhiltso_fix_video_backups_with_gt_and_custom_params.md
Due: none

Fix aliases option. Fix metrics averaging
  tests/perf/perfkit/baselines.py
  tests/perf/perfkit/k6_summary.py
  tests/perf/perfkit/main.py
  tests/perf/perfkit/tests/test_k6_summary.py
  tests/perf/requirements.txt
Due: none

Fix video task backups with simple GT jobs (#9695)
  changelog.d/20250801_184155_mzhiltso_fix_video_backups_with_gt_and_custom_params.md
  cvat/apps/engine/backup.py
  cvat/apps/engine/serializers.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Fix test
  tests/python/rest_api/test_check_objects_integrity.py
Due: none

Minor format fixe
  tests/perf/README.md
  tests/perf/perfkit/baselines.py
  tests/perf/perfkit/cluster.py
  tests/perf/perfkit/comparison_report.py
  tests/perf/perfkit/console_print.py
  tests/perf/perfkit/k6_profile.py
  tests/perf/perfkit/k6_summary.py
  tests/perf/perfkit/main.py
  tests/perf/perfkit/metrics_watcher.py
  tests/perf/perfkit/tests/test_k6_summary.py
  tests/perf/setup.py
Due: none

Add test
  tests/python/rest_api/test_api_tokens.py
Due: none

Fix bugs
  tests/perf/perfkit/comparison_report.py
  tests/perf/perfkit/main.py
Due: none

Fix webhook tests (#9708)
  tests/allow_webhooks_receiver.sh
  tests/docker-compose.test_servers.yml
  tests/python/rest_api/test_webhooks.py
  tests/python/rest_api/test_webhooks_sender.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/webhooks.json
  tests/python/webhook_receiver/.env
Due: none

Lightweight backups for cloud storage based tasks (#9535)
  cvat-core/src/enums.ts
  cvat-core/src/frames.ts
  cvat-core/src/project-implementation.ts
  cvat-core/src/project.ts
  cvat-core/src/request.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-ui/src/actions/export-actions.ts
  cvat-ui/src/actions/tasks-actions.ts
  cvat-ui/src/components/export-backup/export-backup-modal.tsx
  cvat-ui/src/components/requests-page/request-card.tsx
  cvat-ui/src/components/select-cloud-storage/select-cloud-storage.tsx
  cvat-ui/src/components/task-page/cloud-storage-editor.tsx
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/styles.scss
  cvat-ui/src/components/task-page/task-page.tsx
  cvat/apps/dataset_manager/util.py
  cvat/apps/engine/background.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/cache.py
  cvat/apps/engine/exceptions.py
  cvat/apps/engine/frame_provider.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/rq.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/tests/test_rest_api.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  cvat/apps/redis_handler/serializers.py
  cvat/schema.yml
  tests/python/rest_api/test_tasks.py
Due: cvat-ui, cvat-server

Remove the HRNet and f-BRS Nuclio functions
  README.md
  serverless/pytorch/saic-vul/fbrs/nuclio/function.yaml
  serverless/pytorch/saic-vul/fbrs/nuclio/main.py
  serverless/pytorch/saic-vul/fbrs/nuclio/model_handler.py
  serverless/pytorch/saic-vul/hrnet/nuclio/function-gpu.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/function.yaml
  serverless/pytorch/saic-vul/hrnet/nuclio/main.py
  serverless/pytorch/saic-vul/hrnet/nuclio/model_handler.py
  site/content/en/docs/getting_started/overview.md
  site/content/en/docs/manual/advanced/ai-tools.md
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Due: none

Updated assets
  tests/python/shared/assets/tasks.json
Due: none
