Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

fixed pylint issues in `test_consensus.py`
  tests/python/rest_api/test_consensus.py
Due: none

Merge commit from fork
  changelog.d/20240902_144949_roman_sec_webhooks_access_control.md
  cvat/apps/webhooks/permissions.py
  tests/python/rest_api/test_webhooks_sender.py
Due: cvat-server

Some code refactoring
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-overview-tab.tsx
  cvat-ui/src/components/task-page/styles.scss
  tests/cypress/support/commands_review_pipeline.js
Due: cvat-ui

fixing skeleton track project export
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/tests/assets/annotations.json
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

changelog entry
  changelog.d/20240910_134547_dmitrii.lavrukhin_fix_skeleton_project_export.md
Due: none

fix and small refactoring
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Use GH_REPO env variable instead of --repo argument
  .github/workflows/trigger-dependent-repo-update.yml
Due: none

fix
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

`*Permission.get_scopes`: don't tolerate unknown actions
  cvat/apps/analytics_report/permissions.py
  cvat/apps/engine/permissions.py
  cvat/apps/events/permissions.py
  cvat/apps/lambda_manager/permissions.py
  cvat/apps/log_viewer/permissions.py
  cvat/apps/organizations/permissions.py
  cvat/apps/quality_control/permissions.py
  cvat/apps/webhooks/permissions.py
  cvat/apps/webhooks/views.py
Due: cvat-server

Added trigger dependent repo update workflow (#8389)
  .github/workflows/trigger-dependent-repo-update.yml
Due: none

Update backup guide (#8405)
  site/content/en/docs/administration/advanced/backup_guide.md
Due: none

Upgrade GitHub Actions to remove dependencies on Node 12/16
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  .github/workflows/full.yml
  .github/workflows/helm.yml
  .github/workflows/main.yml
  .github/workflows/schedule.yml
Due: none

`*Permission.get_scopes`: don't tolerate unknown actions (#8426)
  cvat/apps/analytics_report/permissions.py
  cvat/apps/engine/permissions.py
  cvat/apps/events/permissions.py
  cvat/apps/lambda_manager/permissions.py
  cvat/apps/log_viewer/permissions.py
  cvat/apps/organizations/permissions.py
  cvat/apps/quality_control/permissions.py
  cvat/apps/webhooks/permissions.py
  cvat/apps/webhooks/views.py
Due: cvat-server

Upgrade GitHub Actions to remove dependencies on Node 12/16 (#7459)
  .github/workflows/cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  .github/workflows/full.yml
  .github/workflows/helm.yml
  .github/workflows/main.yml
  .github/workflows/schedule.yml
Due: none

Fix frame retrieval in UI
  cvat-core/src/frames.ts
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

Fix gt job segment type for honeypot gt jobs
  cvat/apps/engine/task.py
Due: cvat-server

Fix chunk availability check
  cvat/apps/engine/cache.py
Due: cvat-server

Adjusted for plugin
  cvat-ui/src/components/customizable-components/index.tsx
  cvat-ui/src/components/quality-control/styles.scss
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-overview-tab.tsx
Due: cvat-ui

Add a separate immediate quality reports queue
  .vscode/launch.json
  cvat/settings/base.py
  docker-compose.dev.yml
  docker-compose.external_db.yml
  docker-compose.yml
  helm-chart/templates/cvat_backend/worker_immediatequalityreports/deployment.yml
  supervisord/worker.immediate_quality_reports.conf
Due: cvat-server

Add data access tests with honeypot tasks
  cvat/apps/engine/models.py
  tests/python/rest_api/test_tasks.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/tasks.json
  tests/python/shared/fixtures/init.py
Due: cvat-server

Fix linter errors
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/engine/field_validation.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/utils.py
Due: cvat-server

added test for downloading only annotated images
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  tests/python/sdk/fixtures.py
  tests/python/sdk/test_tasks.py
Due: cvat-server

Customizable components now handled via store
  cvat-ui/src/actions/plugins-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/save-annotations-button.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/components/customizable-components/index.tsx
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/paid-feature-placeholder/paid-feature-placeholder.tsx
  cvat-ui/src/components/paid-feature-placeholder/styles.scss
  cvat-ui/src/components/plugins-entrypoint.tsx
  cvat-ui/src/components/projects-page/project-item.tsx
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-magement-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/quality-overview-tab.tsx
  cvat-ui/src/components/quality-control/task-quality/summary.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

Added minor comment
  cvat-ui/src/reducers/plugins-reducer.ts
Due: cvat-ui

Removed extra code
  cvat-ui/src/components/customizable-components/index.tsx
Due: cvat-ui

Fixed callbacks
  cvat-ui/src/actions/plugins-actions.ts
  cvat-ui/src/components/annotation-page/top-bar/save-annotations-button.tsx
Due: cvat-ui

Improve grammar in the email invitation
  cvat/apps/organizations/templates/invitation/invitation_message.html
  cvat/apps/organizations/templates/invitation/invitation_subject.txt
Due: cvat-server

Improve sentence grammar
  cvat/apps/organizations/templates/invitation/invitation_message.html
Due: cvat-server

added removing of the restored project
  tests/cypress/e2e/features/requests_page.js
Due: none

fixes
  changelog.d/20240910_134547_dmitrii.lavrukhin_fix_skeleton_project_export.md
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Fixed test
  tests/cypress/e2e/features/shortcuts.js
Due: none

Fixing skeleton track project export (#8423)
  changelog.d/20240910_134547_dmitrii.lavrukhin_fix_skeleton_project_export.md
  cvat/apps/dataset_manager/annotation.py
  cvat/apps/dataset_manager/bindings.py
  cvat/apps/dataset_manager/tests/assets/annotations.json
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

Add task creation tests
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Remove array comparisons
  cvat-core/src/frames.ts
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Update validateFrameNumbers
  cvat-data/src/ts/cvat-data.ts
Due: cvat-ui

Use builtins for range and binary search, convert frame step into a cached field
  cvat-core/src/frames.ts
Due: cvat-ui

fixed lines execeeding 120 words per line limit
  site/content/en/docs/manual/advanced/consensus.md
Due: none

Disallow manual validation frame selection for gt job when task is created from video
  cvat/apps/engine/task.py
Due: cvat-server

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
