Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Updated package versions
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

Removed extra imports
  tests/python/rest_api/test_tasks.py
Due: none

removed excessive action type
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

fixed one more `if`
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Fixed first issue
  cvat-canvas/src/typescript/canvas.ts
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/shared.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/quality-conflict.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/review-reducer.ts
Due: cvat-ui

Added comment
  cvat-ui/src/reducers/annotation-reducer.ts
Due: cvat-ui

Added changelog entry
  changelog.d/20231228_131558_boris_fixed_couple_of_gt_bugs.md
Due: none

Update changelog.d/20231228_131558_boris_fixed_couple_of_gt_bugs.md
  changelog.d/20231228_131558_boris_fixed_couple_of_gt_bugs.md
Due: none

Minor fix
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

Updated version
  cvat-core/package.json
  cvat-ui/package.json
Due: cvat-ui

Fixed context menu in review
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-context-menu.tsx
Due: cvat-ui

Update changelog.d/20231227_100059_boris_update_pillow.md
  changelog.d/20231227_100059_boris_update_pillow.md
Due: none

Updated pillow, unlocked test (#7100)
  changelog.d/20231227_100059_boris_update_pillow.md
  cvat-cli/requirements/base.txt
  cvat-sdk/requirements/base.txt
  cvat/apps/engine/media_extractors.py
  cvat/requirements/base.in
  tests/python/requirements.txt
  tests/python/rest_api/test_tasks.py
  utils/dataset_manifest/requirements.in
  utils/dataset_manifest/requirements.txt
  utils/dicom_converter/requirements.txt
Due: cvat-server

Update LICENSE
  LICENSE
Due: none

Update LICENSE (#7301)
  LICENSE
Due: none

Add absent skeleton elements automatically in cvat-core
  cvat-core/src/annotations-objects.ts
  cvat-core/src/labels.ts
  cvat-core/src/server-response-types.ts
Due: cvat-ui

fixed notification text
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
Due: cvat-ui

undo redo for underlying pixels
  cvat-core/src/annotations-collection.ts
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Applied review comments
  cvat-canvas/src/typescript/shared.ts
  cvat-core/src/api-implementation.ts
  cvat-core/src/quality-conflict.ts
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
Due: cvat-ui

moved check to checkNumberOfPoints
  cvat-core/src/annotations-objects.ts
  cvat-core/src/object-utils.ts
Due: cvat-ui

Minor styling fixes
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/skeleton-element-context-menu.tsx
  package.json
  yarn.lock
Due: cvat-ui

Fixed two issues with GT annotations (#7299)
  changelog.d/20231228_131558_boris_fixed_couple_of_gt_bugs.md
  cvat-canvas/src/typescript/canvas.ts
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-core/package.json
  cvat-core/src/api-implementation.ts
  cvat-core/src/quality-conflict.ts
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-context-menu.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/review-reducer.ts
Due: cvat-ui

invite users to org updated
  site/content/en/docs/manual/advanced/organization.md
  site/content/en/images/image233.jpg
  site/content/en/images/image233_1.jpg
  site/content/en/images/image235.jpg
  site/content/en/images/image237.jpg
  site/content/en/images/invitations_list.jpg
  site/content/en/images/invitemembers.jpg
  site/content/en/images/orgpage.jpg
  site/content/en/images/personal_account.jpg
  site/content/en/images/recend-remove-invitation.jpg
Due: none

Adjusted skeleton constructor
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
  cvat-ui/src/components/labels-editor/skeleton-element-context-menu.tsx
  cvat-ui/src/components/labels-editor/styles.scss
Due: cvat-ui

Fixed transition
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Fixed outside
  cvat-core/src/annotations-objects.ts
  cvat-ui/src/components/labels-editor/skeleton-element-context-menu.tsx
Due: cvat-ui

Added missing end of file character
  cvat-ui/src/components/job-item/styles.scss
Due: cvat-ui

Improved skeleton upload/download
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Updated label headers
  cvat-core/src/annotations-objects.ts
  cvat-core/src/labels.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
  cvat-ui/src/components/labels-editor/styles.scss
Due: cvat-ui

Accept only svg files when upload template
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Fixed conditions, avoid division by 0
  cvat-core/src/annotations-objects.ts
Due: cvat-ui

Fixed console warning
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

Added changelog fragment
  changelog.d/20240103_112843_boris_skeletons_autofill.md
Due: none

Updated versions
  cvat-canvas/package.json
  cvat-core/package.json
Due: cvat-ui

Adjusted text color for label matcher
  cvat-ui/src/components/labels-editor/constructor-viewer-item.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
  cvat-ui/src/utils/compute-text-color.ts
Due: cvat-ui

Adjusted text color for label matcher (#7309)
  cvat-ui/src/components/labels-editor/constructor-viewer-item.tsx
  cvat-ui/src/components/model-runner-modal/object-mapper.tsx
  cvat-ui/src/utils/compute-text-color.ts
Due: cvat-ui

Add absent skeleton elements automatically in cvat-core (#7302)
  changelog.d/20240103_112843_boris_skeletons_autofill.md
  cvat-canvas/package.json
  cvat-canvas/src/typescript/canvasView.ts
  cvat-core/package.json
  cvat-core/src/annotations-objects.ts
  cvat-core/src/labels.ts
  cvat-core/src/server-response-types.ts
  cvat-ui/src/components/job-item/job-actions-menu.tsx
  cvat-ui/src/components/job-item/styles.scss
  cvat-ui/src/components/labels-editor/common.ts
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
  cvat-ui/src/components/labels-editor/skeleton-element-context-menu.tsx
  cvat-ui/src/components/labels-editor/styles.scss
  package.json
  yarn.lock
Due: cvat-ui

Add dotenv for docker compose
  .env
Due: none
