Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Add meta when enqueuing jobs to prepare events
  cvat/apps/events/export.py
Due: cvat-server

black code
  cvat/apps/engine/rq.py
Due: cvat-server

Bump the version of pytest-cases (#9235)
  tests/python/requirements.txt
Due: none

fixed filter, added reset of inherit switch
  cvat-ui/src/components/common/filters/job-filter-configuration-base.ts
  cvat-ui/src/components/jobs-page/jobs-filter-configuration.ts
  cvat-ui/src/components/quality-control/quality-control-page.tsx
  cvat-ui/src/components/quality-control/quality-settings-tab.tsx
Due: cvat-ui

Merge pip install commands in tests and documentation
  .github/workflows/main.yml
  .github/workflows/schedule.yml
  site/content/en/docs/api_sdk/sdk/developer-guide.md
  site/content/en/docs/contributing/running-tests.md
Due: none

Add changelog fragment
  changelog.d/20250320_144532_maria_fix_500_status_code_in_requests_api.md
Due: none

sort imports
  cvat/apps/events/export.py
Due: cvat-server

Merge pip install commands in tests and documentation (#9237)
  .github/workflows/main.yml
  .github/workflows/schedule.yml
  site/content/en/docs/api_sdk/sdk/developer-guide.md
  site/content/en/docs/contributing/running-tests.md
Due: none

Implement agent support for real-time notifications
  cvat-cli/requirements/base.txt
  cvat-cli/src/cvat_cli/_internal/agent.py
Due: cvat-server

Add unit tests for event stream parsing
  cvat-cli/src/cvat_cli/_internal/agent.py
  tests/python/cli/test_cli_misc.py
Due: cvat-server

Revert the urllib3 version bump
  cvat-cli/requirements/base.txt
  cvat-cli/src/cvat_cli/_internal/agent.py
Due: cvat-server

fixing requirements
  cvat/requirements/base.txt
Due: cvat-server

Add consensus documentation
  site/content/en/docs/manual/advanced/analytics-and-monitoring/consensus.md
  site/content/en/images/consensus-merge-job-actions.jpg
  site/content/en/images/consensus-merge-job-dialog.jpg
  site/content/en/images/consensus-merge-task-dialog.jpg
  site/content/en/images/consensus-merge-task-jobs-button.jpg
  site/content/en/images/consensus-replicas-list-task.jpg
  site/content/en/images/consensus-replicas-task-parameter.jpg
  site/content/en/images/consensus-settings.jpg
Due: none

Fix remark issues
  site/content/en/docs/manual/advanced/analytics-and-monitoring/consensus.md
Due: none

fixing requirements (#9238)
  cvat/requirements/base.txt
Due: cvat-server

update datumaro
  cvat/requirements/base.in
  cvat/requirements/base.txt
Due: cvat-server

Apply suggestions from code review
  changelog.d/20250304_215707_dmitrii.lavrukhin_stream_export_project.md
  cvat/apps/dataset_manager/bindings.py
Due: cvat-server

refactored shortcuts list test for more stability
  tests/cypress/e2e/features/shortcuts.js
Due: none

Add changelog fragment
  changelog.d/20250321_100527_maria_add_timestamp_to_uvicorn_stdout_logs.md
Due: none

Allow empty string in job filter expression
  cvat/apps/quality_control/serializers.py
Due: cvat-server

Add asctime to uvicorn stdout logs (#9210)
  changelog.d/20250321_100527_maria_add_timestamp_to_uvicorn_stdout_logs.md
  cvat/settings/production.py
Due: cvat-server

Added robots.txt file
  Dockerfile.ui
  cvat-ui/robots.txt
Due: cvat-ui

Update cvat-ui/robots.txt
  cvat-ui/robots.txt
Due: cvat-ui

Add changelog note
  changelog.d/20250321_142154_andrey_add_robots_txt.md
Due: none

changelog entry
  changelog.d/20250321_123407_dmitrii.lavrukhin_optimise_ram_on_backup_import.md
Due: none

changelog entry
  changelog.d/20250321_125005_dmitrii.lavrukhin_memory_optimization_for_task_import.md
Due: none

Fix attrs 25.3.0 compatibility
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

Fix deepcopy support
  cvat/apps/quality_control/quality_reports.py
Due: cvat-server

dont use ram while extracting backup files from zip (#9227)
  changelog.d/20250321_123407_dmitrii.lavrukhin_optimise_ram_on_backup_import.md
  cvat/apps/engine/backup.py
Due: cvat-server

Added robots.txt file (#9241)
  Dockerfile.ui
  changelog.d/20250321_142154_andrey_add_robots_txt.md
  cvat-ui/robots.txt
Due: cvat-ui

move page load checks to headlessLogin command
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/support/commands.js
Due: none

fix typo in class name and others
  cvat-ui/src/components/organization-page/styles.scss
  cvat-ui/src/components/organization-page/top-bar.tsx
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/support/commands_organizations.js
Due: cvat-ui

wip: headless create org command
  tests/cypress/support/commands_organizations.js
Due: none

add cookies reset to tearDown function
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

use headless functions to create users + tear down in before()
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/support/commands.js
Due: none

optimize logging in as users
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
  tests/cypress/support/commands.js
Due: none

remove extra arg
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

finish test for search and filters
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

wip: search within orgnization test cases
  tests/cypress/e2e/features/case_113_new_organization_pipeline.js
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
