Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Correct updating server ID after patching annotations
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

Correct updating server ID after patching annotations (#7315)
  cvat-core/src/annotations-saver.ts
Due: cvat-ui

Fix export to cloud storage && fix enqueuing dependents after canceling rq job
  cvat-core/src/server-proxy.ts
  cvat/apps/engine/backup.py
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/utils.py
  cvat/apps/engine/views.py
  tests/python/rest_api/utils.py
Due: cvat-ui, cvat-server

Remove dependency on distutils module
  Dockerfile
  cvat-cli/src/cvat_cli/parser.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/apps/iam/apps.py
  cvat/apps/organizations/serializers.py
  cvat/settings/base.py
  utils/utils.py
Due: cvat-server

Fix default port for localhost
  cvat-cli/src/cvat_cli/parser.py
  cvat-sdk/cvat_sdk/core/client.py
Due: cvat-server

Add query command draft
  samples/api_client.py
Due: none

Update schema && fix black/pylint issues
  cvat/apps/engine/cloud_provider.py
  cvat/apps/engine/utils.py
  cvat/schema.yml
  tests/python/rest_api/utils.py
Due: cvat-server

Update cypress tests
  tests/cypress/support/commands_projects.js
Due: none

Fix one more cypress test
  tests/cypress/e2e/actions_projects_models/case_103_project_export.js
Due: none

Add changelog
  changelog.d/20240108_231721_maria_fix_export_to_cloud_storage.md
Due: none

v14.0.1
  cvat-core/package.json
Due: cvat-ui

v14.0.4
  cvat-core/package.json
Due: cvat-ui

Use attrs.converters.to_bool
  cvat-cli/src/cvat_cli/parser.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/views.py
  cvat/apps/iam/apps.py
  cvat/apps/organizations/serializers.py
  cvat/settings/base.py
  utils/utils.py
Due: cvat-server

Fix import order
  cvat-cli/src/cvat_cli/parser.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/views.py
  cvat/apps/iam/apps.py
  cvat/settings/base.py
Due: cvat-server

Unify defaults
  cvat/apps/engine/mixins.py
  cvat/apps/engine/views.py
  cvat/apps/iam/apps.py
  cvat/settings/base.py
Due: cvat-server

do not fire `drawn` and `edited` events if mask is empty
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

reset eraser, polygon-minus on start
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
Due: cvat-ui

Make API rate limits configurable with environment variables
  changelog.d/20240109_121612_roman_add_rate_limit_vars.md
  cvat/settings/base.py
Due: cvat-server

Fix updating azure connection string && increase credentials max_length
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat/apps/engine/migrations/0078_alter_cloudstorage_credentials.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
Due: cvat-ui, cvat-server

Add changelog fragment
  changelog.d/20240109_115955_maria_fix_issue_with_azure_connection_str.md
Due: none

Update server schema
  cvat/schema.yml
Due: cvat-server

Remove dependency on distutils module (#7318)
  Dockerfile
  cvat-cli/src/cvat_cli/parser.py
  cvat/apps/engine/backup.py
  cvat/apps/engine/mixins.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
  cvat/apps/iam/apps.py
  cvat/apps/organizations/serializers.py
  cvat/settings/base.py
Due: cvat-server

Remove unused imports
  cvat/apps/engine/backup.py
Due: cvat-server

Fix updating Azure connection string && increase credentials max_length (#7336)
  changelog.d/20240109_115955_maria_fix_issue_with_azure_connection_str.md
  cvat-ui/src/components/create-cloud-storage-page/cloud-storage-form.tsx
  cvat/apps/engine/migrations/0078_alter_cloudstorage_credentials.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/schema.yml
Due: cvat-ui, cvat-server

Update README.md
  README.md
Due: none

Fixed CI badge URL (#7337)
  README.md
Due: none

Replace keydb with kvrocks
  docker-compose.dev.yml
  docker-compose.yml
  helm-chart/Chart.yaml
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/cvat-keydb-secret.yml
  helm-chart/templates/cvat_kvrocks/deployment.yml
  helm-chart/templates/cvat_kvrocks/secret.yml
  helm-chart/templates/cvat_kvrocks/service.yml
  helm-chart/templates/cvat_kvrocks/storage.yml
  helm-chart/values.yaml
  tests/python/shared/fixtures/init.py
Due: none

fix tests
  tests/python/shared/fixtures/init.py
Due: none

fix black
  tests/python/shared/fixtures/init.py
Due: none

update pod selector
  tests/python/shared/fixtures/init.py
Due: none

fixed cancel event on edit done
  cvat-canvas/src/typescript/canvasView.ts
Due: cvat-ui

added blocking of eraser&poly-minus tools
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/masksHandler.ts
  cvat-core/package.json
  cvat-ui/package.json
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-toolbox-styles.scss
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/brush-tools.tsx
  package.json
  yarn.lock
Due: cvat-ui

Store server configuration info in a state && render several auth components based on server API
  cvat-core/src/api-implementation.ts
  cvat-core/src/api.ts
  cvat-core/src/index.ts
  cvat-core/src/server-proxy.ts
  cvat-ui/src/actions/auth-actions.ts
  cvat-ui/src/actions/server-actions.ts
  cvat-ui/src/components/cvat-app.tsx
  cvat-ui/src/components/header/header.tsx
  cvat-ui/src/components/login-page/login-form.tsx
  cvat-ui/src/components/login-page/login-page.tsx
  cvat-ui/src/containers/login-page/login-page.tsx
  cvat-ui/src/index.tsx
  cvat-ui/src/reducers/auth-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/notifications-reducer.ts
  cvat-ui/src/reducers/root-reducer.ts
  cvat-ui/src/reducers/server-api-reducer.ts
Due: cvat-ui

fix: cvat/requirements/base.txt to reduce vulnerabilities
  cvat/requirements/base.txt
Due: cvat-server

v14.1.0
  cvat-core/package.json
Due: cvat-ui

v1.62.0
  cvat-ui/package.json
Due: cvat-ui

Small fixes
  cvat/apps/engine/backup.py
  cvat/apps/engine/views.py
Due: cvat-server

removed excessive proxy method
  cvat-canvas/src/typescript/masksHandler.ts
Due: cvat-ui

fixed eslint
  cvat-core/.eslintrc.cjs
Due: cvat-ui
