Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: cvat-ui
      name: cvat-ui
      paths:
        - cvat-canvas/**
        - cvat-core/**
        - cvat-data/**
        - cvat-ui/**
    - component_id: cvat-server
      name: cvat-server
      paths:
        - cvat/**
        - cvat-cli/**
        - cvat-sdk/**
        - utils/**

Fix staged enabled is not carried to the form
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form.tsx
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirements-constructor.tsx
  cvat-ui/src/components/quality-control/shared/settings/quality-settings-form.tsx
Due: cvat-ui

Fix conflits overlap with appearance
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
Due: cvat-ui

docs: update layer visibility demo
  site/content/en/images/showing-hiding-layers.gif
Due: none

Use different icon for attr menu
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-attribute-rules.tsx
Due: cvat-ui

Fix base requirement match attr field
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-form-utils.ts
Due: cvat-ui

Add task and project detail extension points for UI plugins (#11018)
  cvat-ui/src/actions/plugins-actions.ts
  cvat-ui/src/components/project-page/details.tsx
  cvat-ui/src/components/project-page/styles.scss
  cvat-ui/src/components/task-page/details.tsx
  cvat-ui/src/components/task-page/styles.scss
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
  cvat-ui/src/utils/hooks.ts
  cvat-ui/webpack.config.js
Due: cvat-ui

Fix icon gap
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-filter.tsx
  cvat-ui/src/components/quality-control/styles.scss
Due: cvat-ui

Adjust tests
  tests/cypress/e2e/audio_workspace/case_audio_36_region_drag_auto_scroll.js
Due: none

Fix hidden layer selector fallback
  cvat-ui/src/utils/get-hidden-z-layers.ts
Due: cvat-ui

order-less checks
  tests/cypress/support/commands_organizations.js
Due: none

Add layer visibility shortcut hint
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-header.tsx
Due: cvat-ui

Improve canvas layer visibility controls (#10989)
  changelog.d/20260805_000000_glebpotapov_layer_visibility_controls.md
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/attribute-annotation-workspace/attribute-annotation-sidebar/attribute-annotation-sidebar.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/components/annotation-page/canvas/views/canvas3d/canvas-wrapper3D.tsx
  cvat-ui/src/components/annotation-page/review/issues-aggregator.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/tools-control.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-header.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/drag-and-drop/layer-section.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/components/annotation-page/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/objects-list.tsx
  cvat-ui/src/reducers/annotation-reducer.ts
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/utils/get-hidden-z-layers.ts
  site/content/en/docs/annotation/annotation-editor/layers.md
  site/content/en/docs/annotation/annotation-editor/main screen.md
  site/content/en/images/showing-hiding-layers.gif
  tests/cypress/e2e/actions_objects/case_20_objects_ordering_feature.js
Due: cvat-ui

Remove sublabel from label selector
  cvat-ui/src/components/quality-control/shared/requirements/quality-requirement-filter.tsx
Due: cvat-ui

Add auto scroll incremental velocity scale
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/region-resize-auto-scroll.ts
Due: cvat-ui

Restrict max attribute name length in function label mapping
  cvat/apps/lambda_manager/serializers.py
  cvat/schema.yml
Due: cvat-server

Fix comment
  cvat/apps/dataset_manager/util.py
Due: cvat-server

Support moving and refining object selections
  cvat-canvas/src/scss/canvas.scss
  cvat-canvas/src/typescript/canvasView.ts
  cvat-canvas/src/typescript/objectSelector.ts
  cvat-canvas/src/typescript/selectHandler.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
Due: cvat-ui

Fix undo after deleting object selection
  cvat-ui/src/actions/annotation-actions.ts
  cvat-ui/src/components/annotation-page/canvas/views/canvas2d/canvas-wrapper.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
Due: cvat-ui

reports
  cvat/apps/quality_control/views.py
  tests/python/rest_api/test_quality_control.py
Due: cvat-server

import
  cvat/apps/events/handlers.py
Due: cvat-server

Audio: fix cursor position after moving/resizing a region (#11002)
  changelog.d/20260806_104738_aleksey.zinovyev_fix_cursor_position.md
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-regions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-waveform-viewport.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/styles/_canvas.scss
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/region-auto-scroll.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/utils/region-resize-auto-scroll.ts
  tests/cypress/e2e/audio_workspace/case_audio_35_viewport_positioning.js
  tests/cypress/e2e/audio_workspace/case_audio_36_region_drag_auto_scroll.js
  tests/cypress/support/commands_audio.js
Due: cvat-ui

Merge edit mode into cursor
  cvat-ui/src/assets/interval-edit-icon.svg
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/controls-side-bar.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/controls-side-bar/edit-region-control.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/components/annotation-page/standard-workspace/styles.scss
  cvat-ui/src/icons.tsx
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/audio_workspace/case_audio_10_edit_mode_hotkey.js
  tests/cypress/e2e/audio_workspace/case_audio_11_edit_mode_cancel_esc.js
  tests/cypress/e2e/audio_workspace/case_audio_12_cancel_returns_cursor.js
  tests/cypress/e2e/audio_workspace/case_audio_22_workspace_default_for_1d.js
Due: cvat-ui

Add changelog
  changelog.d/20260813_150513_aleksey.zinovyev_remove_edit_mode.md
Due: none

Track interacted interval
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/reducers/audio-reducer.ts
  cvat-ui/src/reducers/index.ts
  tests/cypress/e2e/audio_workspace/case_audio_36_region_drag_auto_scroll.js
Due: cvat-ui

Expand changelog
  changelog.d/20260813_150513_aleksey.zinovyev_remove_edit_mode.md
Due: none

Improve readability
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
Due: cvat-ui

Add pin ability to audio intervals
  cvat-core/src/annotations-objects/audio-interval-state.ts
  cvat-core/src/annotations-objects/audio-interval.ts
  cvat-core/src/annotations-objects/drawn.ts
  cvat-core/src/annotations-objects/pinnable.ts
  cvat-core/src/annotations-objects/scored.ts
  cvat-core/src/annotations-objects/types.ts
  cvat-ui/src/actions/audio-actions.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list-header.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/audio-regions-list.tsx
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-editing.ts
  cvat-ui/src/audio/components/annotation-page/audio-workspace/hooks/use-region-projection.ts
  cvat-ui/src/audio/containers/annotation-page/audio-workspace/audio-regions-list.tsx
Due: cvat-ui

Update changelog
  changelog.d/20260813_145620_mzhiltsov_update_schema.md
Due: none

Restrict max attribute name length in function label mapping (#11033)
  changelog.d/20260813_145620_mzhiltsov_update_schema.md
  cvat/apps/lambda_manager/serializers.py
  cvat/schema.yml
Due: cvat-server

dump
  tests/python/rest_api/test_check_objects_integrity.py
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
  tests/python/shared/utils/dump_test_db.py
Due: none

empty are ann
  tests/python/shared/assets/cvat_db/data.json
  tests/python/shared/assets/quality_settings.json
Due: none

feat(ui): add rotated shapes drawing PoC 1
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-canvas/src/typescript/drawHandler.ts
  cvat-core/src/opencv/opencv-interface.ts
  cvat-ui/src/assets/opencv_4.8.0.js
  cvat-ui/src/assets/opencv_5.0.0.js
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/draw-shape-popover.tsx
  cvat-ui/src/components/annotation-page/top-bar/left-group.tsx
  cvat-ui/src/components/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/config.tsx
  cvat-ui/src/containers/annotation-page/standard-workspace/controls-side-bar/draw-shape-popover.tsx
  cvat-ui/src/containers/annotation-page/top-bar/top-bar.tsx
  cvat-ui/src/utils/drawing.ts
  cvat-ui/src/utils/opencv-wrapper/opencv-wrapper.ts
  cvat-ui/webpack.config.js
Due: cvat-ui

Add orientation menu
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-basics.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item-menu.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/objects-side-bar/styles.scss
  cvat-ui/src/containers/annotation-page/standard-workspace/objects-side-bar/object-item.tsx
Due: cvat-ui

Add a feat 'top is closest to the first point'
  cvat-canvas/src/typescript/drawHandler.ts
Due: cvat-ui

Fix points size
  cvat-canvas/src/typescript/drawHandler.ts
Due: cvat-ui

Fix shift +N drawing method
  cvat-ui/src/actions/annotation-actions.ts
Due: cvat-ui

docs: clarify RWX requirement for existing PVCs
  site/content/en/docs/administration/community/advanced/k8s_deployment_with_helm.md
Due: none

Fixed height of list with labels mapping
  cvat-ui/src/components/model-runner-modal/styles.scss
Due: cvat-ui

added changelog
  changelog.d/20260814_082117_sekachev.bs_fixed_10228.md
Due: none
