Repository cvat-ai/cvat: changes, and which Codecov flags are due for each by the changed paths.
All: cvat-ui, cvat-server

Fix grammar
  site/content/en/docs/api_sdk/cli/_index.md
Due: none

Add test for --bug_tracker
  tests/python/cli/test_cli_projects.py
Due: none

Add tests for project commands
  tests/python/cli/test_cli_projects.py
Due: none

Add a test for legacy aliases
  tests/python/cli/test_cli_tasks.py
Due: none

Split CLI tests into two files
  tests/python/cli/test_cli_misc.py
  tests/python/cli/test_cli_tasks.py
  tests/python/cli/util.py
Due: none

Fixed frame initialization for base collection action
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

Make the CLI hierarchical (#8787)
  changelog.d/20241206_184906_roman_cli_hierarchy.md
  cvat-cli/README.md
  cvat-cli/src/cvat_cli/__main__.py
  cvat-cli/src/cvat_cli/_internal/command_base.py
  cvat-cli/src/cvat_cli/_internal/commands_all.py
  cvat-cli/src/cvat_cli/_internal/commands_projects.py
  cvat-cli/src/cvat_cli/_internal/commands_tasks.py
  cvat-sdk/cvat_sdk/core/proxies/model_proxy.py
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/proxies/tasks.py
  site/content/en/docs/api_sdk/cli/_index.md
  tests/python/cli/conftest.py
  tests/python/cli/test_cli_misc.py
  tests/python/cli/test_cli_projects.py
  tests/python/cli/test_cli_tasks.py
  tests/python/cli/util.py
Due: cvat-server

Improved working with the storage in annotations actions component
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

Add [.]venv to .gitignore to ignore local root python environment
  .gitignore
Due: none

Removed unnecessary progress update
  cvat-core/src/annotations-actions/base-collection-action.ts
  cvat-core/src/annotations-actions/base-shapes-action.ts
Due: cvat-ui

Allow data.validation_layout be None when validation layout is not configured for a task
  cvat/apps/engine/migrations/0087_alter_validationlayout_task_data.py
  cvat/apps/engine/models.py
Due: cvat-server

Normalize GET/PATCH /api/tasks|jobs/id/validation_layout API responses when a task does not have a validation layout associated with
  cvat/apps/engine/serializers.py
  cvat/apps/engine/views.py
Due: cvat-server

Update server schema
  cvat/schema.yml
Due: cvat-server

getattr|hasattr -> just access attr
  cvat/apps/engine/backup.py
  cvat/apps/engine/models.py
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/views.py
Due: cvat-server

Added documentation for SAM2 tracker
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
  site/content/en/docs/enterprise/social-accounts-configuration.md
  site/content/en/images/sam2_tracker_run_action.png
  site/content/en/images/sam2_tracker_run_action_modal.png
  site/content/en/images/sam2_tracker_run_action_modal_progress.png
  site/content/en/images/sam2_tracker_run_shape_action.png
  site/content/en/images/sam2_tracker_run_shape_action_modal.png
  site/content/en/images/sam2_tracker_run_shape_action_modal_progress.png
Due: none

Fixed frame initialization for base collection action (#8814)
  cvat-core/src/annotations-actions/base-collection-action.ts
  cvat-core/src/annotations-actions/base-shapes-action.ts
  cvat-ui/src/components/annotation-page/annotations-actions/annotations-actions-modal.tsx
Due: cvat-ui

Minor fix
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

added missing the
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

rephrased
  site/content/en/docs/enterprise/segment-anything-2-tracker.md
Due: none

Update test_concurrent_export_and_cleanup
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

reusing existing events endpoint
  cvat/apps/events/serializers.py
  cvat/apps/events/views.py
  cvat/schema.yml
Due: cvat-server

removing unnecesary changes
  cvat/apps/events/permissions.py
  cvat/apps/events/views.py
Due: cvat-server

Reset some rq meta fields when retrying rq job (#8719)
  cvat/apps/dataset_manager/views.py
  cvat/apps/engine/rq_job_handler.py
Due: cvat-server

Add [.]venv to .gitignore to ignore local root python environments (#8815)
  .gitignore
Due: none

Fix frame cache use
  cvat/apps/engine/serializers.py
Due: cvat-server

Rename file
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/task_validation.py
Due: cvat-server

Update formatting script
  dev/format_python_code.sh
Due: none

Improve validation frame distribution in tasks with honeypots (#8776)
  changelog.d/20241205_161129_mzhiltso_update_honeypot_selection.md
  cvat/apps/engine/serializers.py
  cvat/apps/engine/task.py
  cvat/apps/engine/task_validation.py
  dev/format_python_code.sh
  tests/python/rest_api/test_tasks.py
Due: cvat-server

Move import
  cvat/apps/engine/serializers.py
Due: cvat-server

Remove extra sorting
  cvat/apps/engine/serializers.py
Due: cvat-server

Add sorting
  cvat/apps/engine/serializers.py
Due: cvat-server

Fix merge
  cvat/apps/engine/quality_control.py
  cvat/apps/engine/task.py
  cvat/apps/engine/task_validation.py
Due: cvat-server

Fixed uploading a skeleton template in configurator
  changelog.d/20241212_202223_sekachev.bs_fixed_skeleton_upload.md
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Update 20241212_202223_sekachev.bs_fixed_skeleton_upload.md
  changelog.d/20241212_202223_sekachev.bs_fixed_skeleton_upload.md
Due: none

Adjusted condition
  cvat-ui/src/components/labels-editor/skeleton-configurator.tsx
Due: cvat-ui

Update test_initiate_concurrent_export_by_different_users
  cvat/apps/dataset_manager/tests/test_rest_api_formats.py
Due: cvat-server

add conv_mask_to_poly parameter to dataset upload
  changelog.d/20241212_185016_knotekjaroslav_add_mask_poly_conv_param.md
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/uploading.py
Due: cvat-server

fix typos
  cvat-sdk/cvat_sdk/core/proxies/projects.py
  cvat-sdk/cvat_sdk/core/uploading.py
Due: cvat-server

fix PR changelog according to bots recommendation
  changelog.d/20241212_185016_knotekjaroslav_add_mask_poly_conv_param.md
Due: none

Path conditions:
  cvat-ui: any of: cvat-canvas/**, cvat-core/**, cvat-data/**, cvat-ui/**
  cvat-server: any of: cvat/**, cvat-cli/**, cvat-sdk/**, utils/**
